
 {% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}

 <div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget ">
<div class="widget-header">
<i class="icon-user"></i>
<h3>信用异常代码客户 

<a class="btn {%if not mmtag%}btn-primary {%end%} btn-sm  customer_new  "  href="/customer?tag=customer_list_uid" >采集对比异常列表</a> 
<a class="btn {%if  mmtag=="1"%}btn-primary {%end%} btn-sm  customer_new  "  href="/customer?tag=customer_list_uid&mmtag=1" >无社会信用代码</a> 
<a class="btn {%if  mmtag=="2"%}btn-primary {%end%} btn-sm  customer_new  "  href="/customer?tag=customer_list_uid&mmtag=2" >社会信用代码非18位</a> 
<a class="btn {%if  mmtag=="2"%}btn-primary {%end%} btn-sm  customer_new  "  href="/customer?tag=customer_list_uid&mmtag=3" >社会信用代码重复</a> 
<a class="btn {%if  mmtag=="2"%}btn-primary {%end%} btn-sm  customer_new  "  href="/customer?tag=customer_list_uid&mmtag=5" >公司名称重复</a> 
</h3>
</div> <!-- /widget-header -->
<div class="widget-content">
<div class="tab-content">
<div class="tab-pane active" id="formcontrols">

<fieldset>

<form class="form-search" id="query_form">
  <input type="text" value="{{keyword}}" name="keyword" class="input-medium search-query" placeholder="公司名称/电话/姓名">

  <select name="qtype">
    
        <option value="company" {%if qtype=="company"%}selected{%end%}>公司名称</option>
        <option value="lname" {%if qtype=="lname"%}selected{%end%}>联系人姓名</option>
              <option value="tel" {%if qtype=="tel"%}selected{%end%}>电话</option>
  </select>
  <input type="text" name="kj" class="input-medium" style="width:80px;" placeholder="会计" value="{%if kj %}{{kj}}{%end%}">
  <input type="checkbox" value="记账" name="jz" {%if jz%}checked{%end%}/> 记账
    <input type="checkbox" value="楼盘"  name="lp" {%if lp%}checked{%end%}/> 楼盘客户

    
  <select name="tyctype">
     <option value="0" {%if tyctype=="0"%}selected{%end%}>请选择状态类型</option>
        <option value="1" {%if tyctype=="1"%}selected{%end%}>已采集</option>
        <option value="3" {%if tyctype=="3"%}selected{%end%}>公司名不一致, 可能异常</option>

        <option value="5" {%if tyctype=="5"%}selected{%end%}>已二次核对正确</option>
        <option value="6" {%if tyctype=="6"%}selected{%end%}>已二次核名称可能不一致</option>
        <option value="7" {%if tyctype=="7"%}selected{%end%}>已二次核名称失败,等待重新核对</option>
        <option value="8" {%if tyctype=="8"%}selected{%end%}> 天眼差没有代码</option>
    <option value="9" {%if tyctype=="9"%}selected{%end%}> 人工标记代码正确</option>
  </select>


  <button type="submit" class="btn">检 索</button>
  <input type="hidden" value="{{tag}}" name="tag"/>
  {%if my%}
  <input type="hidden" value="{{my}}" name="my"/>
{%end%}
 <input type="hidden" value="{{mmtag}}" name="mmtag"/>
</form>

{%if keyword%}
<div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>  共找到 {{pagination.total_count}} 条记录</strong> 
          </div>

{%end%}

{%if mmtag=="3"%}
<table class="table">
<tr>
    <th>信用代码</th>    <th>重复数量</th>
</tr>
{%for item in t_customer_some_group%}
    <tr>
        <td><a href ="?tag=customer_list_uid&mmtag=4&show_tag={{item.company_reguid}}" target="_blank">{{item.company_reguid}}</a></td>   <td> {{item.count}}</td>
    </tr>

{%end%}
</table>
{%end%}

{%if mmtag=="5"%}
<table class="table">
<tr>
    <th>信用代码</th>    <th>重复数量</th>
</tr>
{%for item in t_customer_some_group%}
    <tr>
        <td><a href ="?tag=customer_list_uid&mmtag=6&show_tag={{item.company}}" target="_blank">{{item.company}}</a></td>   <td> {{item.count}}</td>
    </tr>

{%end%}
</table>
{%end%}

 {%if customers  and mmtag!="3" and mmtag!="5"%}
                    
              <table class="table" style="margin:5px;">
                     <thead>
                             
                                <tr style="background-color: black; color:#fff;">
                         
                                 
                                <th style="min-width:60px;">编号</th>
                                <th style="min-width:180px;">公司名称</th>
                                         <th style="min-width:180px;">天眼查公司名称</th>
                                            <th>系统社会信用代码</th>
                                     
                                      <th>采集社会信用代码</th>
                              
                                <th style="min-width:100px;">状态</th>
                             
                                </tr>
                            </thead>
                <tbody>
    
     {%for customer in customers%}
                    <tr>
                           
                       <td>{{customer.id}}</td>
                        <td><a  target="_blank" href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}">{{customer.company}}</a>
                        
                        
                             <a href="https://www.tianyancha.com/search?key={{customer.company}}" target="_blank" style="height:16px;line-height:20px;display: inline-block;
                                           border-radius: 5px;
                                           background-color: #4db0d2;
                                           color: #fff;
                                           width: 40px;
                                          
                                           border: 1px solid #439bb9;
                                     
                                           text-align: center;">天眼查</a>
                        </td>
  <td>{{customer.tyc_name}}</td>

                              <td>
                         <input type="text" onkeyup="this.value=this.value.toUpperCase()" value="{%if customer.company_reguid%}{{customer.company_reguid}}{%end%}" id="company_uid_{{customer.id}}" customer_id="{{customer.id}}" class="company_reguid"/>
                        <a href='javascript:void(0)' id="btn_company_uid_{{customer.id}}"  customer_id="{{customer.id}}"  class=" btn btn-primary btn_company_uid" style="margin-bottom:9px;">保存</a>
                          
                      <button customer_id="{{customer.id}}"  class=" btn_ok btn btn-primary" style="margin-bottom:9px;">标记已处理</button>
                        <span style="color:green" id="company_uid_msg_{{customer.id}}"></span>


                        </td>
                        <td>
                          {{customer.company_reguid_new}}
                        </td>
                        <td>
                            {%if customer.is_get==1%}
                                    已采集
                            {%elif customer.is_get==3%}
                                    公司名不一致, 可能异常
                            {%elif customer.is_get==4%}

                                    已审核
                            {%elif customer.is_get==5%}

                                已二次核对正确
                            {%elif customer.is_get==6%}
                                已二次核名称可能不一致
               {%elif customer.is_get==7%}
                                已二次核名称失败,天眼差重新核对
    {%elif customer.is_get==8%}
                                天眼差没有代码,
    {%elif customer.is_get==9%}
                                人工标记代码正确

                            {%else%}
                                    待采集
                          

                            {%end%}
                    
                        </td>
                       
                     
                    </tr>
                    {%end%}

              
                
                </tbody>
              </table>
       
          
                    
            
                              <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            {%if kj%}
                            <li><a href="/customer?tag={{tag}}{%if mmtag%}&mmtag={{mmtag}}{%end%}{%if tyctype%}&tyctype={{tyctype}}{%end%}&page={{ pagination.page - 1}}{%if my%}&my={{my}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}">&laquo; 上页</a></li>
                            {%else%}
                            <li><a href="/customer?tag={{tag}}{%if mmtag%}&mmtag={{mmtag}}{%end%}{%if tyctype%}&tyctype={{tyctype}}{%end%}&page={{ pagination.page - 1}}{%if my%}&my={{my}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}">&laquo; 上页</a></li> {% end %}
                            {%end%}
                            {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            {%if kj%}
                            <li>
                                    <a href="/customer?tag={{tag}}{%if mmtag%}&mmtag={{mmtag}}{%end%}{%if tyctype%}&tyctype={{tyctype}}{%end%}&page={{ page }}{%if my%}&my={{my}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}">{{ page }}</a></li>
                            {%else%}
                            <li> 
                                <a href="/customer?tag={{tag}}{%if mmtag%}&mmtag={{mmtag}}{%end%}{%if tyctype%}&tyctype={{tyctype}}{%end%}&page={{ page }}{%if my%}&my={{my}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}">{{ page }}</a></li>
                            {%end%}
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            {%if kj%}
                            <li><a href="/customer?tag={{tag}}{%if mmtag%}&mmtag={{mmtag}}{%end%}{%if tyctype%}&tyctype={{tyctype}}{%end%}&page={{pagination.page+1}}{%if my%}&my={{my}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}">下页 &raquo;</a></li>
                            {%else%}
                            <li><a href="/customer?tag={{tag}}{%if mmtag%}&mmtag={{mmtag}}{%end%}{%if tyctype%}&tyctype={{tyctype}}{%end%}&page={{pagination.page+1}}{%if my%}&my={{my}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}">下页 &raquo;</a></li>
                            {%end%}
                            {% end %}
                        </ul>
                    </div>         
                               
                    {%end%}
</fieldset>
<div id="a_add_trans_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel_trans">批量修改客服会计</h3> 
        </div>
        <div class="modal-body">
          <div class="control-group">
            <label class="control-label" for="lastname">选择客服名称</label>
            <div class="controls">
            <select name="kj_name">
                <option value="0">请选择客服会计</option>
                {%for item in t_user%}
                <option value="{{item.id}}">{{item.name}}</option>
         {%end%}
            </select>
            </div>
            <!-- /controls -->
          </div>
    
        </div>
      
      
      
      
      
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
          <button class="btn btn-primary" id="btn_save_kj">保存</button>
        </div>
      </div>
</div>
   

               
</div>
</div>
</div> <!-- /widget-content -->
</div> <!-- /widget -->
</div> <!-- /span8 -->
</div> <!-- /row -->
</div> <!-- /container -->
 </div>

 

    {%end%} 

    {%block js%}

<script>

$(function () {
    _xsrf = getCookie("_xsrf")
	{%if my%}
            $("#my_customer").attr('class',"active")
    {%else%}
            $("#all_customer").attr('class',"active")
    {%end%}


    $(".btn_company_uid").on("click",function(){
  
        customer_id = $(this).attr('customer_id')
        company_uid = $("#company_uid_"+customer_id).val()


       
     $.post(
            'customer?tag=modify_company_uid',
            {
                "_xsrf":_xsrf,
                "customer_id":customer_id,
                     "company_uid":company_uid,
            },function (result) { 
                 $("#company_uid_msg_"+customer_id).text(result)
               
             }
        )  


    })

    $(".btn_ok").on("click",function(){
         customer_id = $(this).attr('customer_id')

        $.post(
            'customer?tag=set_ok9',
            {
                "_xsrf":_xsrf,
                "customer_id":customer_id
            },function (result) { 
                location.reload()
             }
        )  
         


    })
    $('#submit_check').on('click',function (param) { 
        var id_array=new Array();  
        $('input[id="check"]:checked').each(function(){  
        id_array.push($(this).val());//向数组中添加元素  
            });  
        var idstr=id_array.join(',');//将数组元素连接起来以构建一个字符串  
        $.post(
            'customer?tag=add_relation',
            {
                "_xsrf":_xsrf,
                "idstr":idstr
            },function (result) { 
                alert('添加成功')
             }
        )  
     })
     $('#choose_all').on('change',function () { 
         $('input[name=check_customer]').not(this).prop('checked',this.checked);
      })
    $('.change_kj').on('click',function () {
        $('#a_add_trans_modal').modal('show')
     })
    $('#btn_save_kj').on('click',function () { 
        var kj_id=$('select[name=kj_name]').val()
        var kj_name=$('select[name=kj_name] option:selected').text()
        customer_ids=[] 
        $('input[name=check_customer]:checked').each(function () { 
            customer_ids.push($(this).val())
         })
         customer_ids=customer_ids.join(',')
         if(kj_id=='0'){
             alert('请选择客服会计')
         }
         else if(customer_ids.length<1){
             alert('请选择需要修改的编号')
         }
         else{
         $.post(
             '/customer?tag=add_kj',
             {
                    '_xsrf':_xsrf,
                    'customer_ids':customer_ids,
                    'kj_id':kj_id,
                    'kj_name':kj_name
             },function (result) { 
                 location.reload()
              }
         )
         }
     })

});

</script>


    {%end%}