
 {% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}
<style>
#myTab li a {color: #555; text-decoration: none;}
.nav-tabs>.active>a {border-bottom-color: #ddd;}
.nav-tabs>.active>a:hover {border-bottom-color: #ddd; }
.nav-tabs .active>a .badge {background-color: red;}
.es-xuank {height: 35px; border-bottom: 1px solid #ddd; margin-bottom: 20px;}
.es-xuank a {line-height: 35px; display: inline-block; width: 107px; height: 35px; text-align: center; color: #8d8d8d;}
.es-xuank .es-xuanz {border:1px solid #ddd;  border-radius: 3px; background-color: #fff; border-bottom:2px solid #fff; display: inline-block; color: #4aaacc; font-weight: 600;}

.form-search {overflow: hidden;}
.es-gsmc {border-radius: 2px;}
.hanggao {display: inline-block; line-height: 28px;}
.hanggao span {margin-top: 2px; display: inline-block;}

ul li {list-style-type:none; }
.es-table {margin-top: 15px; font-size: 12px;}
.es-top {height: 47px;  background-color: #000; color: #fff; margin: 0;}
.es-top li {float: left; line-height: 47px; padding-left: 5px; box-sizing: border-box; overflow: hidden;}
.es-hang {border-bottom: 1px solid #ddd; overflow: hidden;}
.es-hang ul {margin: 0;overflow: hidden; height: 58px;}
.es-hang ul li {float: left; padding-left: 5px; padding-right: 5px; box-sizing: border-box; padding-top: 20px;}
.es-hanga {border-bottom: 1px solid #ddd; overflow: hidden;}
.es-hanga ul {margin: 0;overflow: hidden; height: 80px;}
.es-hanga ul li {float: left; padding-left: 5px; padding-right: 5px; box-sizing: border-box; padding-top: 20px;}
.eslabel {font-size: 12px;}
.eslabel a {display: inline-block; background-color: #4db0d2; margin: 2px; color: #fff; padding: 2px; font-size: 12px;}
.caoz {width: 35px; height: 35px;  float: left; line-height: 14px; padding: 2px;  border: 1px solid #a5a5a5;  display: inline-block; text-align: center; border-radius: 5px; margin: 1px; box-sizing: border-box; color: #a5a5a5;}
.caoz:hover {border:1px solid #4db0d2; color: #4db0d2;}
.es-skr {height: 25px; }
.es-skr .p1 {float:left; text-align: center; {%if is_manager=='1' and not my %} padding-left: 15px;width: 260px;{%else%}width:220px;{%end%} font-size: 12px; line-height: 10px;}
.es-skr .p2 {float: right; color: #4db0d2; margin-top: 5px; font-size: 12px;}
.es-skr .p2 span {margin-right: 15px;}
.genj {display: inline-block; border-radius: 5px; background-color: #4db0d2; color: #fff; width: 50px; height: 25px; border:1px solid #439bb9; line-height: 25px; text-align: center;}
.genj:hover {color: #fff;}
.eslantable{
    width:1138px;
}
.gudi {width: 1172px; height:28px; background-color: #fff;  position: fixed; bottom: 20px; left: 50%; margin-left: -586px;}
.gudi-left {float: left; font-size:14px;}
.gudi-right {float: right; font-size:14px;}
.gudi-right select {width: 40px;}
</style>
 <div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget ">
<div class="widget-header">
<i class="icon-user"></i>
<h3>



{%if t_user_relation and check_under %}下属会计{%elif kj and  kj=="100000"%}待分配{%elif my%}{{name}}{%else%}全部{%end%}的客户
    {%if t_user_relation %}
    {%if check_under%}
    <a class="btn btn-info btn-sm  customer_new "  href="/customer?my=1" >返回我的客户</a>
    {%else%}
    <a class="btn btn-info  customer_new "  href="/customer?check_under=1" >查看部门客户</a>
    {%end%}
    {%end%}
    {%if department_name=='销售部' or '302' in role_list%}

      <a class="btn btn-primary btn-sm"  href="/payment?tag=assist_list">应收协助</a>

  {%end%}


     <a class="btn {%if not   tag_parent_id and  not  params['etax']%}btn-primary btn-sm{%end%}"  href="/customer?tag=all&new_tag=1{%if my%}&my={{my}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}">全部</a>
     <a class="btn {%if  tag_parent_id=="1"%}btn-primary btn-sm{%end%}"  href="/customer?tag=all&new_tag=1&tag_parent_id=1{%if my%}&my={{my}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}">记账</a>
          <a class="btn {%if  tag_parent_id=="2"%}btn-primary btn-sm{%end%}"  href="/customer?tag=all&new_tag=1&tag_parent_id=2{%if my%}&my={{my}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}">非记账</a>
          <a class="btn {%if  params['etax']%}btn-primary btn-sm{%end%}"  href="/customer?tag=all&new_tag=1{%if my%}&my={{my}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}&etax=1&tag_id=1">未申报</a>


</h3>
</div> <!-- /widget-header -->
<div class="widget-content">
<div class="tab-content">
<div class="tab-pane active" id="formcontrols">
{%if not new_tag%}
    <ul class="nav nav-tabs" id="myTab">

        <li {%if  not by_tag%} class="active" {%end%}>
            <a href="/customer?tag=all{%if page_count%}&page_count={{page_count}}{%end%}&show_tag=1{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}" id="customer_tab">全部<span class="badge badge-danger">
{{type_count_map[0][1]}}</span></a>
        </li>


     {%for item in t_customer_type%}
        <li {%if  by_tag==item.name %} class="active" {%end%}>
            <a href="/customer?tag=all{%if page_count%}&page_count={{page_count}}{%end%}&by_tag={{item.name}}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}"
            id="customer_tab">{{item.name}}<span class="badge badge-danger">{{type_count_map[item.id][1]}}</span></a>
        </li>
    {%end%}

    </ul>
{%else%}

    <ul class="nav nav-tabs" id="myTab">

        <li {%if  not tag_id%} class="active" {%end%}>
            <a href="/customer?tag=all{%if page_count%}&page_count={{page_count}}{%end%}&show_tag=1{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%end%}" id="customer_tab">全部<span class="badge badge-primary">{{type_count_map[0][1]}}</span></a>
        </li>


     {%for item in t_customer_tags%}
        <li {%if  tag_id==item.order_int %} class="active" {%end%}>
            <a href="/customer?tag=all{%if page_count%}&page_count={{page_count}}{%end%}&tag_id={{item.order_int}}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}"
            id="customer_tab">{{item.name}}<span class="badge badge-danger">{{type_count_map[item.order_int][1]}}</span></a>
        </li>
    {%end%}
    </ul>
{%end%}

    
<fieldset>

<form class="form-search" >
  <input type="text" value="{{keyword}}" name="keyword"  placeholder="公司/曾用名/姓名/信用代码/编号">



  <input type="text" name="tel"  style="width:150px;"    placeholder="客户电话" value="{%if tel %}{{tel}}{%end%}">
  {%if check_under%}
  <select name="check_kj" style="width:90px;" >
      <option value="">选择会计</option>
      {%for item in t_user_relation %}
      <option value="{{item.uid_name}}" {%if check_kj==item.uid_name%}selected{%end%}>{{item.uid_name}}</option>
      {%end%}
  </select>
  {%elif not my%}
  <input type="text" name="kj"  style="width:90px;"  placeholder="会计" value="{%if kj and kj!="100000" %}{{kj}}{%end%}">
  <input type="text" name="notin_kjs"  style="width:90px;"  placeholder="不包含会计" value="{%if notin_kjs%}{{notin_kjs}}{%end%}">
  {%end%}
  <input type="hidden" value="{{tag_id}}" name="tag_id"/>
  <input type="hidden" value="{{new_tag}}" name="new_tag"/>
  <input type="hidden" value="{{tag_parent_id}}" name="tag_parent_id"/>
  <select name="s_is_general" style="width:90px;">
      <option value="" {%if s_is_general==""%}selected{%end%}>纳税类型</option>
    <option value="1" {%if s_is_general=="1"%}selected{%end%}>一般纳税人</option>
    <option value="0" {%if s_is_general=="0"%}selected{%end%}>小规模</option>

  </select>
    <select name="s_is_check" style="width:90px;">
      <option value="" {%if s_is_check==""%}selected{%end%}>有无税种</option>

    <option value="1" {%if s_is_check=="1"%}selected{%end%}>核定</option>
    <option value="2" {%if s_is_check=="2"%}selected{%end%}>查账</option>
    <option value="0" {%if s_is_check=="0"%}selected{%end%}>无</option>
  </select>
<select name="s_is_building" style="width:90px">
<option value="">是否楼盘</option>
<option value="1" {%if s_is_building=='1'%}selected{%end%} >楼盘</option>
<option value="0" {%if s_is_building=='0'%}selected{%end%}>非楼盘</option>
</select>

  
  
  




  <button type="submit" class="btn"> <i class="icon-large icon-search
"></i></button>
  <input type="hidden" value="{{tag}}" name="tag"/>
  {%if page_count%}
  <input type="hidden" name="page_count" value="{{page_count}}">
  {%end%}
  {%if by_tag%}
  <input type="hidden" name="by_tag" value="{{by_tag}}">
{%end%}
  {%if my%}
  <input type="hidden" value="{{my}}" name="my"/>
{%end%}
{%if  params['etax']%}
<input type="hidden" value="{{params['etax']}}" name='etax' />

{%end%}

{%if check_under%}
<input type="hidden" value="{{check_under}}" name="check_under">
{%end%}






</form>


<div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>  当前共 {{pagination.total_count}} 条客户记录</strong>
          </div>





                      
                        {%if is_manager=='1' and not my%}
                        <a class="btn btn-info btn-sm change_kj"><i class="icon-large icon-hdd
"></i> 批量修改客服会计</a>

                        <a href="/customer?kj=100000&jz=记账&tag=all&tag_parent_id=1"   target="_blank" class="btn btn-info btn-sm "><i class="icon-large icon-hdd
"></i> 记账待分配客户</a>
                      
                      
                        <a href="/customer?tag=customer_list_except" target="_blank" class="btn btn-info btn-sm "><i class="icon-large icon-hdd
"></i> 异常分配会计客户</a>
                      
                             {%if is_manager=='1' and not my%}
                            <a href="/customer?tag=customer_list_uid"  target="_blank" class="btn btn-info btn-sm "><i class="icon-large icon-hdd
"></i> 信用代码异常客户</a>
                            {%end%}
     

{%if role=='3' or role=='8'%}
<a href="/customer?tag={{tag}}&output=1&page={{pagination.page+1}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}"  target="_blank" class="btn btn-primary" ><i class="icon-large icon-arrow-down
"></i> 
导出当前记录</a>
{%end%}
                        {%end%}


{% if role=='8' or uid=='10' %}
<a href="/customer?tag={{tag}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}&err_msg=password_err" class="btn  {%if params['err_msg']=='password_err'%} {%else%}btn-primary{%end%}">税局密码异常</a>
<a href="/customer?tag={{tag}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}&err_msg=account_err" class="btn {%if params['err_msg']=='account_err'%}{%else%}btn-primary{%end%}">税局账号异常</a>
<a href="/customer?tag={{tag}}{%for k,v in params.items()%}{%if k=="etax" or k=="tag_id"%}{%continue%}{%end%}{%if v%}&{{k}}={{v}}{%end%}{%end%}&etax=1&tag_id=1" class="btn  {%if params['etax']=='1'%} {%else%}btn-primary{%end%}">已到申报期</a>
<a href="/customer?tag={{tag}}{%for k,v in params.items()%}{%if k=="etax" or k=="tag_id"%}{%continue%}{%end%}{%if v%}&{{k}}={{v}}{%end%}{%end%}&etax=2&tag_id=1" class="btn {%if params['etax']=='2'%}{%else%}btn-primary{%end%}">未到申报期</a>



{%end%}  {%if customers%}
                        <div class="es-table">
                               
                            <div  class="eslantable">
                                <ul class="es-top" style='background-color:#989898'>
                                        {%if is_manager=='1' and not my %}
                                    <li style="width: 40px;"><input type="checkbox" id="choose_all"></li>{%end%}
                                    
                                    <li style="width: 39px;">编号</li>
                                    <li style="width: 225px;">公司名称/社会信用代码</li>

                                    {%if params['etax']%}
                                    <li style="width: 50px;">序号</li>
                                    <li style="width: 175px;">征收项目</li>
                                    <li style="width: 175px;">征收品目</li>
                                    <li style="width: 95px;">税款所属期起</li>
                                    <li style="width: 95px;">税款所属期止</li>
                                    <li style="width: 95px;">申报期限</li>
                                    <li style="width: 95px;">申报日期</li>
                                    {%else%}
                                    <li style="width: 70px;">纳税类型</li>
                                    <li style="width: 66px;">会计标记</li>
                                    <li style="width: 66px;">地址类型</li>
                                    <li style="width: 66px;">客服会计</li>
                                    <li style="width: 66px;">有无税种</li>
                                    <li style="width: 41px;">社保</li>
                                    <li style="width: 86px;">2018年收入</li>
                                    <li style="width: 107px;">首要联系人</li>
                                    <li style="width: 77px;">注备</li>
                                    <li style="width: 66px;">跟进记录</li>
                                    <li style="width: 122px;">操作</li>
                                    {%end%}
                                </ul>
                            </div>
                            <div style="overflow: hidden;">

                                    {%for customer in customers%}
                                    {%if params['etax']%}
                                    <div class="es-hanga">
                                        <ul id="{{customer.id}}">
                                        
                                            <div style=" float: left;">
                                                {%if is_manager=='1' and not my%}
                                                <li style="width: 40px;">
                                                <input type="checkbox"  value="{{customer.id}}" name="check_customer"></li>
                                                {%end%}
                                        
                                                <li style="width: 39px;">{{customer.id}}</li>
                                                <li style="width: 225px;">
                                                    <a target="_blank" 
                                                     href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if not new_tag%}&old_tag=1{%end%}">
                                                        {{customer.company}}</a> 
                                                        {%raw get_etax_info(customer.id,"/customer?tag=show&id={0}&guid={1}&to_tag=etax".format(customer.id,customer.guid))%}
                                                    <br>
                                                    <!-- <p class="eslabel" style="margin: 0;">
                                                        <a href="http://192.168.2.177:9999/customer?tag=all&amp;new_tag=1#">记账</a>
                                                        <a href="http://192.168.2.177:9999/customer?tag=all&amp;new_tag=1#">非逾期</a>
                                                    </p> -->
                                                    {%if new_tag%}
                                                    <p class="eslabel" style="margin: 0;">
                                                  {%if customer.tag_parent_id_name!=customer.tag_id_name%}
                                                  
                                                    <a href="#">{{customer.tag_parent_id_name}}</a> 
                                                   {%end%}
                                                    {%if customer.tag_id_name%}
                                                   <a href="#">{{customer.tag_id_name}}</a> 
                                                   {%end%}
                                                  
                                                     {%if customer.is_building%}
                                                   <a href="#">楼盘</a> 
                                                   {%end%}
                                                    
                                                     {%if customer.is_year%}
                                                   <a href="#">工商年检</a> 
                                                   {%end%}
                                                   
                                                    
                                                     {%if customer.is_clearly%}
                                                   <a href="#">汇算清缴</a> 
                                                   {%end%}
                                                   
                                                  
                                                   </p> 
                                            {%else%}
                                                {% if customer.customer_type_name%}
                                                <p class="eslabel">
                                            
                                                标签：
                                                {%for item in customer.customer_type_name.split(',')%}
                                                {%if item!=''%}
                                                <a href="#">{{item}}</a>
                                                {%end%}
                                                {%end%}
    
                                            {%end%}
                                            </p>
                                            {%end%}
                                                    <p style="margin:0; ">{%if customer.company_reguid%}{{customer.company_reguid}}{%end%}</p>
                                                </li>
                                            </div>
                                        <style>
                                            .no-tax-box {margin-top: 10px;}
                                            .no-tax div {float: left; margin-top: 5px; height: 18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
                                        </style>
                                            <div class="no-tax-box" style=" float: left;">
                                               {%if get_etax_wfm(customer.id,etax)%}
                                               {%set t_etax_wfm=get_etax_wfm(customer.id,etax)%}
                                               {%for idx,item in enumerate(t_etax_wfm)%}
                                               <div class="no-tax" style="width: 100%;height: 15px;">
                                                    <div style="width: 50px;">{{idx+1}}</div>
                                                    <div style="width: 175px;">{{item.zsxmMc}}</div>
                                                    <div style="width: 175px;">{{item.zspmMc}}</div>
                                                    <div style="width: 95px;">{{item.skssqQ}}</div>
                                                    <div style="width: 95px;">{{item.skssqZ}}</div>
                                                    <div style="width: 95px;">{{item.sbqx}}</div>
                                                    <div style="width: 95px;">{{item.sbrq}}</div>
                                                </div>
                                                {%end%}
                                                {%end%}
                                            </div>
                                            <li style="width: 35px; margin-top: 20px;">
                                                    {%if get_etax_wfm(customer.id,etax)%}
                                                    {%if len(get_etax_wfm(customer.id,etax))>3%}
                                                <a href="javascript:void(0)" class="caoz genduoa" style="line-height: 24px;" customer_id="{{customer.id}}">更多</a>
                                                {%end%}    
                                                {%end%}
                                            </li>
                                        </ul>
                                        <div class="es-skr">
                                        <div class="p1">
                                        </div>
                                        
                                        <div class="p2"><a href="http://192.168.2.177:9999/customer?tag=show&amp;id=5494&amp;guid=eb047881-f47b-42a0-a8fa-5f62e4bfc673&amp;to_tag=etax" target="_blank" style="font-size:13px; color:blue;"></a></div>
                                        <div class="p2"></div>
                                        </div>
                                        </div>
                                    {%else%}
                                    <div class="es-hang">
                                       
                                    <ul id="{{customer.id}}">
                                            {%if is_manager=='1' and not my%}
                                        <li style="width: 40px;">
                                        <input type="checkbox"  value="{{customer.id}}" name="check_customer"></li>
                                        {%end%}
                                        <li style="width: 39px;">{{customer.id}}</li>
                                        <li style="width: 226px;"><a target="_blank" href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if not new_tag%}&old_tag=1{%end%}">{{customer.company}}</a> 
                                            {%raw get_etax_info(customer.id,"/customer?tag=show&id={0}&guid={1}&to_tag=etax".format(customer.id,customer.guid))%}
                                            <br>

                                            {%if new_tag%}


  <p class="eslabel">
{%if customer.tag_parent_id_name!=customer.tag_id_name%}

  <a href="#">{{customer.tag_parent_id_name}}</a> 
 {%end%}
  {%if customer.tag_id_name%}
 <a href="#">{{customer.tag_id_name}}</a> 
 {%end%}

   {%if customer.is_building%}
 <a href="#">楼盘</a> 
 {%end%}
  
   {%if customer.is_year%}
 <a href="#">工商年检</a> 
 {%end%}
 
  
   {%if customer.is_clearly%}
 <a href="#">汇算清缴</a> 
 {%end%}
 

 </p>




                                        {%else%}
                                            {% if customer.customer_type_name%}
                                            <p class="eslabel">
                                         
                                            标签：
                                            {%for item in customer.customer_type_name.split(',')%}
                                            {%if item!=''%}
                                            <a href="#">{{item}}</a>
                                            {%end%}
                                            {%end%}

                                        {%end%}
                                        </p>
                                        {%end%}
                                        </li>

                                        <li style="width: 70px;">{%if customer.is_general%}<span style="color:#439bb9">一般纳税人</span>{%end%}
                                            {%if uid=='153'%}
                                           <a href="https://www.tianyancha.com/search?key={{customer.company}}" target="_blank" style="height:16px;line-height:20px;display: inline-block;
                                           border-radius: 5px;
                                           background-color: #4db0d2;
                                           color: #fff;
                                           width: 26px;
                                          
                                           border: 1px solid #439bb9;
                                     
                                           text-align: center;">公司</a>
                                           {%if customer.company_reguid%}
                                           <a href="https://www.tianyancha.com/search?key={{customer.company_reguid}}" target="_blank" style="height:16px;line-height:20px;display: inline-block;
                                           border-radius: 5px;
                                           background-color: #4db0d2;
                                           color: #fff;
                                           width: 26px;
                                          
                                           border: 1px solid #439bb9;
                                     
                                           text-align: center;">代码</a>
                                           {%end%}
                                            {%end%}
                                        </li>
                                        <li style="width: 66px;">
                                    
                                            {%if customer.kj_label_names%}
                                            {%for item in customer.kj_label_names.split(',')%}
                                            {{item}}<br>
                                            {%end%}
                                            {%end%}
                                            
                                        </li>
                                        <li style="width: 66px;">{{customer.addr_type}}</li>
                                        <li style="width: 66px;"> {%if customer.acc_uid_name%}{{customer.acc_uid_name}}{%end%}</li>
                                        <li style="width: 66px;">{%if customer.is_check1%}{%if customer.is_check1==0%}否{%elif customer.is_check1==1%}是({%if customer.btype_id_1%}核定{%else%}查账{%end%}){%end%}{%end%}</li>
                                        <li style="width: 41px;">{%if customer.ss_num1%}{{customer.ss_num1}}{%end%}</li>
                                        <li style="width: 86px;">{%if customer.income%}{{customer.income}}{%end%}</li>
                                        <li style="width: 107px;">{%if customer.tel%}{{customer.name}}<br>{{customer.tel}}{%end%}</li>
                                        <li style="width: 77px;"></li>
                                        <li style="width: 66px;"><a href="#" class="genj">跟进</a></li>
                                        <li style="width: 122px;">
                                            <a href="#" class="caoz">报税登记</a>
                                            <a href="#" class="caoz">记账登记</a>
                                            <a href="javascript:void(0)" class="caoz genduo" style="line-height: 24px;" customer_id="{{customer.id}}">更多</a>
                                            
                                            {%if '250' in role_list or role=="3" %}
                                            <a href="/payment?tag=assist_list" class="caoz">发起协助</a>
                                            {%else%}
                                            <a href="#" class="caoz" title="fq">发起协助</a>
                                            {%end%}
                                            <a href="#" class="caoz">推荐业务</a>
                                            <a href="/project?tag=todo_arrange&comp={{customer.company}}" target="_blank" class="caoz">事项安排</a>
                                            <a href="/project?tag=my&customer_company={{customer.company}}&show_model=1" target="_blank" class="caoz">收取款项</a>
                                            <a href="#" class="caoz">客户标记</a>
                                            <a href="#" class="caoz" style="line-height: 24px;">审批</a>
                                        </li>
                                    </ul>    
                                    
                                    <div class="es-skr">
                                        <div class="p1">{%if customer.company_reguid%}<br>{{customer.company_reguid}}{%end%}
                                    
                                        </div>
                                        {%if params['err_msg']%}
                                        <div style="float: left;
                                       ;
                                        padding-left: 30px;
                                        width: 260px;
                                        font-size: 12px;
                                        line-height: 14px;margin-top: 9px;">
                                            {{customer.err_msg}}
                                        </div>{%end%}
                                      
                                   
                                        <div class="p2">（付款方式：<span>{{customer.paytype_id_name}}</span>  月服务费：<span>{{customer.service_amount_month}}</span>  账册费：<span>{{customer.book_amount}}</span> {%raw get_payment_info(customer.id) %})</div>
                                   
                                   
                                    </div>
                                   
                                </div>
                                {%end%}
                          
                                {%end%}
                            </div>
                        </div>

                        <div class="gudi">
                            <div class="gudi-left">
                                <select name="page_count" id="page_count">
                                    {%for item in ['20','50','100','200']%}
                                    <option value="{{item}}" {%if page_count==item%}selected{%end%}>每页显示{{item}}个客户</option>
                                    {%end%}
                                </select>
                            </div>
                            <div class="gudi-right">共{{pagination.pages}}页/{{pagination.total_count}}条记录  

                           
                                    {% if pagination.has_prev %}
                                    {%if kj%}
                                    <a href="/customer?tag={{tag}}&page={{ pagination.page - 1}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}">&laquo; 上页</a>
                                    {%else%}
                                    <a href="/customer?tag={{tag}}&page={{ pagination.page - 1}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}">&laquo; 上页</a> {% end %}
                                    {%end%}
                                    {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                                    {%if kj%}
                                  
                                            <a href="/customer?tag={{tag}}&page={{ page }}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}">[{{ page }}]</a>
                                    {%else%}
                                    
                                        <a href="/customer?tag={{tag}}&page={{ page }}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}">[{{ page }}]</a>
                                    {%end%}
                                    {% else %}
                                   <span class="active"><a href="#">{{ page }}</a></span>
                                    {% end %} {% else %}
                                    <span class="active"><a href="#">....</a></span>
                                    {% end %} {%end %} {% if pagination.has_next %}
                                    {%if kj%}
                                    <a href="/customer?tag={{tag}}&page={{pagination.page+1}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}">下页 &raquo;</a>
                                    {%else%}
                                    <a href="/customer?tag={{tag}}&page={{pagination.page+1}}{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}">下页 &raquo;</a>
                                    {%end%}
                                    {% end %}
                               
                                <input name="input_page" style="width:25px;height:9px;margin-top:5px;" placeholder="页数">
                                 
                            </div>
                        </div>

                    {%else%}
                    <br/><br/>
                    <div class="alert alert-info">
                        还没有客户哦。
                    </div>
                    {%end%}


                              <!-- <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            {%if kj%}
                            <li><a href="/customer?tag={{tag}}&page={{ pagination.page - 1}}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}">&laquo; 上页</a></li>
                            {%else%}
                            <li><a href="/customer?tag={{tag}}&page={{ pagination.page - 1}}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%} {%if check_under%}&check_under={{check_under}}{%end%}{%if check_kj%}&check_kj={{check_kj}}{%end%}">&laquo; 上页</a></li> {% end %}
                            {%end%}
                            {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            {%if kj%}
                            <li>
                                    <a href="/customer?tag={{tag}}&page={{ page }}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}">{{ page }}</a></li>
                            {%else%}
                            <li>
                                <a href="/customer?tag={{tag}}&page={{ page }}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}{%if check_kj%}&check_kj={{check_kj}}{%end%}">{{ page }}</a></li>
                            {%end%}
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            {%if kj%}
                            <li><a href="/customer?tag={{tag}}&page={{pagination.page+1}}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}">下页 &raquo;</a></li>
                            {%else%}
                            <li><a href="/customer?tag={{tag}}&page={{pagination.page+1}}{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}{%if check_kj%}&check_kj={{check_kj}}{%end%}">下页 &raquo;</a></li>
                            {%end%}
                            {% end %}
                        </ul>
                    </div> -->
</fieldset>
<div id="a_add_trans_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel_trans">批量修改客服会计</h3>
        </div>
        <div class="modal-body">
          <div class="control-group">
            <label class="control-label" for="lastname">选择客服名称</label>
            <div class="controls">
            <select name="kj_name">
                <option value="0">请选择客服会计</option>
                {%for item in t_user%}
                <option value="{{item.id}}">{{item.name}}</option>
         {%end%}
            </select>
            </div>
            <!-- /controls -->
          </div>

        </div>





        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
          <button class="btn btn-primary" id="btn_save_kj">保存</button>
        </div>
      </div>
</div>



</div>
</div>
</div> <!-- /widget-content -->
</div> <!-- /widget -->
</div> <!-- /span8 -->
</div> <!-- /row -->
</div> <!-- /container -->
 </div>



    {%end%}

    {%block js%}

<script>

$(function () {
    _xsrf = getCookie("_xsrf")
	{%if my%}
            $("#my_customer").attr('class',"active")
    {%else%}
            $("#all_customer").attr('class',"active")
    {%end%}

    $('#submit_check').on('click',function (param) {
        var id_array=new Array();
        $('input[id="check"]:checked').each(function(){
        id_array.push($(this).val());//向数组中添加元素
            });
        var idstr=id_array.join(',');//将数组元素连接起来以构建一个字符串
        $.post(
            'customer?tag=add_relation',
            {
                "_xsrf":_xsrf,
                "idstr":idstr
            },function (result) {
                alert('添加成功')
             }
        )
     })
     $('#choose_all').on('change',function () {
         $('input[name=check_customer]').not(this).prop('checked',this.checked);
      })
    $('.change_kj').on('click',function () {
        $('#a_add_trans_modal').modal('show')
     })
    $('#btn_save_kj').on('click',function () {
        var kj_id=$('select[name=kj_name]').val()
        var kj_name=$('select[name=kj_name] option:selected').text()
        customer_ids=[]
        $('input[name=check_customer]:checked').each(function () {
            customer_ids.push($(this).val())
         })
         customer_ids=customer_ids.join(',')
         if(kj_id=='0'){
             alert('请选择客服会计')
         }
         else if(customer_ids.length<1){
             alert('请选择需要修改的编号')
         }
         else{
         $.post(
             '/customer?tag=add_kj',
             {
                    '_xsrf':_xsrf,
                    'customer_ids':customer_ids,
                    'kj_id':kj_id,
                    'kj_name':kj_name
             },function (result) {
                 location.reload()
              }
         )
         }
     })
    $('#export_data').click(function () {
        if(confirm('确认导出？')){
        keyword=$(this).attr('keyword')
        qtype=$(this).attr('qtype')
        kj=$(this).attr('kj')
        lp=$(this).attr('lp')
        jz=$(this).attr('jz')
        $.post('/customer?tag=export_customer',{
            '_xsrf':_xsrf,
            'keyword':keyword,
            'qtype':qtype,
            'kj':kj,
            'lp':lp,
            'jz':jz,
            'tag_id':"{{tag_id}}",
            'new_tag_id':"{{new_tag}}",
            'by_tag':"{{by_tag}}",
            'my':"{{my}}",
            "tag_parent_id":"{{tag_parent_id}}"
        },function (data) {
            location.href=data['output_path']
         })
        }

     })
     $('.caoz[href=#]').click(function () { 
         if($(this).attr('title')=='fq'){
             alert('无权限')
         }else{
         alert('开发中')
         }
      })
      $('.genj').click(function () { 
          alert('开发中')
       })
       $("#page_count").on('change',function () { 
        location.href='/customer?tag={{tag}}&page_count='+$(this).val()+'{%if params['etax']%}&etax={{params['etax']}}{%end%}{%if my%}&my={{my}}{%end%}{%if tag_parent_id%}&tag_parent_id={{tag_parent_id}}{%end%}{%if new_tag%}&new_tag={{new_tag}}{%if tag_id%}&tag_id={{tag_id}}{%end%}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if kj%}&kj={{kj}}{%end%}{%if jz%}&jz={{jz}}{%end%}{%if lp%}&lp={{lp}}{%end%}{%if check_under%}&check_under={{check_under}}{%end%}'
        })
        $(document).keyup(function(event){
        if(event.keyCode ==13){
            input_page=$('input[name=input_page]').val()
            if(input_page!='' && !isNaN(input_page)){
                if( parseInt(input_page)==0){
                    alert('页数不为0')
                }else if(parseInt(input_page)>parseInt('{{pagination.pages}}')){
                    alert('页数过大')
                }else{
           
                    location.href='/customer?tag={{tag}}&page='+input_page+'{%for k,v in params.items()%}{%if v%}&{{k}}={{v}}{%end%}{%end%}'
                }
            }
  }
});
    $(window).scroll(function(){
        if ($(window).scrollTop()>=367) {
            $(".eslantable").css({
                "position":"fixed",
                "top":"0px",
                "left":"50%",
                "margin-left":"-569px",
                "z-index":"99"
                
            })
        } else{
            $(".eslantable").removeAttr("style")
        }
    });

});

$(function(){
    $(".genduo").click(function(){
        customer_id=$(this).attr('customer_id')
        height1=$(".es-hang ul[id="+customer_id+"]").height()
        
		if (height1=='58') {
			$(".es-hang ul[id="+customer_id+"]").animate({height:"164px"});
			
		} else {
			$(".es-hang ul[id="+customer_id+"]").animate({height:"58px"});
		
		}
	})
    $(".genduoa").click(function(){
customer_id=$(this).attr('customer_id')
height1=$(".es-hanga ul[id="+customer_id+"]").height()
if (height1=='80') {
$(".es-hanga ul[id="+customer_id+"]").animate({height:"164px"});
} else {
$(".es-hanga ul[id="+customer_id+"]").animate({height:"80px"});
}
})
})

</script>


    {%end%}