
 {% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}

 <div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget ">
<div class="widget-header">
<i class="icon-user"></i>
<h3>{{name}}的客户 <a class="btn btn-primary btn-sm  customer_new "  href="customer?tag=add" >新建客户</a> </h3>
</div> <!-- /widget-header -->
<div class="widget-content">
<div class="tab-content">
<div class="tab-pane active" id="formcontrols">

<fieldset>

<form class="form-search" id="query_form" action="customer?tag=query">
  <input type="text" value="{{keyword}}" name="keyword" class="input-medium search-query" placeholder="公司名称/电话/姓名">
  <input type="checkbox" value="记账" name="jz"/> 记账
    <input type="checkbox" value="楼盘"  name="lp" /> 楼盘客户
  <button type="submit" class="btn">检 索</button>
  <input type="hidden" value="query" name="tag"/>
    <input type="hidden" value="{{tag}}" name="from_tag"/>
</form>



                        {%if customers%}
              <table class="table" style="margin:5px;">
                     <thead>
                                <tr style="background-color: black; color:#fff;">
                                <th style="min-width:60px;">编号</th>
                                <th style="min-width:180px;">公司名称</th>
                                            <th>客户类型</th>
                                     
                                      <th>地址类型</th>
                                <th style="min-width:150px;">注册区域</th>
                                <th style="min-width:60px;">社会信用代码</th>
                             
                         
                          
                              
                                <th>客服会计</th>
                                <th style="min-width:100px;">创建时间</th>
                                <th></th>
                                </tr>
                            </thead>
                <tbody>
    
     {%for customer in customers%}
                    <tr>
                       <td>{{customer.id}}</td>
                        <td>{{customer.company}}</td>
                              <td>
                          {{customer.customer_type_name}}
                        </td>
                        <td>
                          {{customer.addr_type}}
                        </td>
                        <td>{{customer.zone}}</td>
                        <td>{{customer.company_reguid}}</td>
                    
           
                   
                        <td>
                          {{customer.acc_uid_name}}
                        </td>
                        <td>{{customer.created_at.strftime("%Y-%m-%d")}}</td>
                        <td><a class="btn customer_detail btn-sm control"  type='button' href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}">查看</a></td>

                     
                    </tr>
                    {%end%}

              
                
                </tbody>
              </table>
       
                    {%else%}
                        还没有客户哦。
                               
                    {%end%}
                              <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            <li><a href="/customer?tag={{tag}}&page={{ pagination.page - 1}}">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li>
                                <a href="/customer?tag={{tag}}&page={{ page }}">{{ page }}</a></li>
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li><a href="/customer?tag={{tag}}&page={{pagination.page+1}}">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>       
</fieldset>

</div>
   

               
</div>
</div>
</div> <!-- /widget-content -->
</div> <!-- /widget -->
</div> <!-- /span8 -->
</div> <!-- /row -->
</div> <!-- /container -->
 </div>

 

    {%end%} 

    {%block js%}

<script>

$(function () {
	

});

</script>


    {%end%}