
 {% extends "../base.html" %} {%block title%}办理进度统计分析{%end%} {% block body %}


      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          主面板
        </li>
        <li class="breadcrumb-item active">办理进度统计分析 {{user_name}} </li>
      </ol>


     
<div class="row" style="padding:10px;">

  <div class="col-lg-6">
  <form>
        <div class="input-group">

    <input type="text" class="form-control" style="width:100%" placeholder="姓名/公司名" name="key" value="{%if key%}{{key}}{%end%}"
    />
    <input type="hidden" value="building" name="tag" />
    <span class="input-group-btn">
        <button type="submit" class="btn btn-default">搜索</button>
    </span>
    </div>
  </form>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
</div>





<div class="alert alert-secondary" role="alert">
 共 {{pagination.total_count}} 条记录
</div>

<table id="right_table2" class="table table-bordered" >
<thead class="thead-dark">
  <tr class="active">
    <th>楼盘名称</th>
    <th>公司名称</th>
    <th>客户姓名</th>
    <!--
							<th data-options="frozen:true,field:'birth'">出生日期</th> -->
    {%if False%}<th>客户电话</th>{%end%}
    <th>签单日期</th>
    <th>办理时长</th>
   <th>核名时长</th>
    <th>执照已领取</th>
    <th>公章备案</th>
    <th>已开户</th>
    <th>领取基本户</th>


  </tr>
</thead>

<tbody>
  {%if not t_customers%}
    <tr>
        <td colspan="11">没有相关数据哦.</td>

    </tr>

  {%else%}
     {%for item in t_customers%}
    <tr>
      <td>{{item.building_name}}</td>
      <td><a href="/view?customer_id={{item.customer_id}}&g={{item.customer_guid}}">{{item.company}}</a></td>

      <td>{{item.name}}</td>
       {%if False%} <td>{{item.tel}}</td>{%end%}
      <td>{{item.start_date.strftime("%Y-%m-%d")}}</td>
      <td>


{%if not item.get_openaccount_day_date%}
{{workdays(item.start_date.date(),dt.today())}}

{%else%}
 {{workdays(item.start_date.date(),item.get_openaccount_day_date.date())}}

 {%end%}

      </td>
    <td>
        {%if not item.check_name_day_date%} {%elif not item.start_date%} {%else%} {{(item.check_name_day_date-item.start_date).days}}
         {%end%}
      </td>
      <td> {%if not item.get_day_date%} {%elif not item.start_date%} {%else%}
        <!--{{(item.get_day_date-item.start_date).days}} -->

         {{workdays(item.start_date.date(),item.get_day_date.date())}}


        {%end%}</td>

      <td>{%if not item.kez_day_date%} {%elif not item.start_date%} {%else%} {{(item.kez_day_date-item.start_date).days}}  {%end%}</td>
      <td>{%if not item.openaccount_day_date%} {%elif not item.start_date%} {%else%} {{(item.openaccount_day_date-item.start_date).days}}
         {%end%}</td>
      <td>{%if not item.get_openaccount_day_date%} {%elif not item.start_date%} {%else%} {{(item.get_openaccount_day_date-item.start_date).days}}
         {%end%}</td>
    </tr>
     {%end%}{%end%}
    </tbody>

      </table>



      <ul class="pagination">
    {% if pagination.has_prev %}
         <li class="paginate_button page-item previous " id="dataTable_previous">
         <a href="/statis?tag=cq_trans&page={{ pagination.page - 1}}{%if params["key"]%}&key=params["key"]{%end%}{%if params["start"]%}&start=params["start"]{%end%}{%if params["end"]%}&end=params["end"]{%end%}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo; 上页</a></li>



        {% end %}
        {%for page in pagination.iter_pages() %}
         {% if page %}
         {% if page != pagination.page %}
         <li class="paginate_button page-item "><a href="/statis?tag=cq_trans&page={{page}}{%if params["key"]%}&key=params["key"]{%end%}{%if params["start"]%}&start=params["start"]{%end%}{%if params["end"]%}&end=params["end"]{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
         {% else %}
          <li class="paginate_button page-item active">
            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page }}</a></li>
          {% end %}
           {% else %}
          <li class="paginate_button page-item "><span class="active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">....</a></span></li>
          {% end %}
          {% end %} 

         {% if pagination.has_next %}
         <li class="paginate_button page-item next" id="dataTable_next"><a href="/statis?tag=cq_trans&page={{pagination.page+1}}{%if params["key"]%}&key=params["key"]{%end%}{%if params["start"]%}&start=params["start"]{%end%}{%if params["end"]%}&end=params["end"]{%end%}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">下页 &raquo;</a></li>
     {% end %} </ul>
   </div>
</div>                

         </div>   </div>   
      {% end %} 
      
      {%block js%}
<script>
     _xsrf = getCookie("_xsrf");
     $(function(){
    
   $("#start").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
language: 'zh-CN',initialDate: new Date()});
    $("#end").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
language: 'zh-CN',initialDate: new Date()});

     })

    
</script>
{%end%}