{%extends "../base.html" %}{%block title%}汇算清缴统计{%end%}{%block body%}

<style>

  .faye-btn {padding: 0.1rem 0.2rem; background-color: #9ec6ef; margin-left: 20px; border-radius: 2px;}
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index:9999;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item g1">
        汇算清缴列表
    </li>
    <li class="g1 g1-left">
            
        <a href="/statis?tag=customer_clearly_count"  style="{%if  params['show_tag']%}background-color: #9ec6ef;{%end%}" class="btn {%if not params['show_tag']%}btn-primary{%else%}btn-default{%end%} btn-sm">汇算跟进记录</a>
    </li>
    <li class="g1 g1-left">    
    <div class="dropdown">
                <a href="javascript:void(0)" class="btn {%if params['show_tag']=='record'%}btn-primary{%else%}btn-default{%end%} btn-sm" 
                 style="{%if params['show_tag']!='record'%}background-color: #9ec6ef;{%end%}" id='project_btn'>查看统计(跟进记录)
                <span class="fa fa-caret-down"></span>  
                </a>
                
                <div class="dropdown-content">
                  <a href="statis?tag=customer_clearly_count&show_tag=record&way=day" >按日统计 </a>
                  <a href="statis?tag=customer_clearly_count&show_tag=record&way=month">按月统计 </a>
                  <a href="statis?tag=customer_clearly_count&show_tag=record&way=week">按周统计</a>
                </div>
              </div>
    </li>
    <li class="g1 g1-left">
              <div class="dropdown">
                    <a href="javascript:void(0)"  style="{%if params['show_tag']!='customer'%}background-color:#9ec6ef;{%end%}" class="btn {%if params['show_tag']=='customer'%}btn-primary{%else%}btn-default{%end%} btn-sm" id='project_btn'>查看统计(客户量)
                    <span class="fa fa-caret-down"></span>  
                    </a>
                    
                    <div class="dropdown-content">
                      <a href="statis?tag=customer_clearly_count&show_tag=customer&way=day" >按日统计 </a>
                      <a href="statis?tag=customer_clearly_count&show_tag=customer&way=month">按月统计 </a>
                      <a href="statis?tag=customer_clearly_count&show_tag=customer&way=week">按周统计</a>
                    </div>
                  </div>
</li>

  </ol>

<div class="card mb-3">
    <div class="card-body">

   
      <div class="table-responsive">
        {%if params['way']%}
          <table class="table table-bordered fayetable" id="dataTable">
              <thead class="table_class">
                <tr>
                    <th >日期</th>
                    <th>合计</th>
                    {%for item in every_count%}
                    <th>{{item.uid_name}}</th>
                    {%end%}
                </tr>
              </thead>
              <tbody>
                  {% if t_customer_clearly %}
                    <tr>
                        <td>合计</td>
                        <td>{{count.all_count}}</td>
                        {%for item in every_count%}
                        <td>{{item.count}}</td>
                        {%end%}
                    </tr>
                    {%for item in t_customer_clearly%}
                        <tr>
                            <td>{{item.df}}</td>
                            <td>{{item.ssc}}</td>
                           
                            {%for row in every_count%}
                            <td>
                            {%for m in item.gc.split(',')%}
                          
                                {%if m.split('|')[0]==row.uid_name %}
                                {{m.split('|')[1]}}
                                {%end%}
                           
                            {%end%}
                        </td>
                            {%end%}
                        </tr>
                    {%end%}
                    {%else%}
                    <tr>
                        <td colspan="20">还没有哦~</td>
                    </tr>
                    {%end%}
                </tbody>
          </table>

      {%else%}
 

            <table class="table table-bordered fayetable" id="dataTable"  cellspacing="0" >
                <thead class="table_class">

                    <tr>
                     
                        <th width='200'>公司名称</th>
                        <th width='300'>跟进内容</th>
                        <th width='100'>跟进人</th>
                        <th width='150'>跟进时间</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in t_customer_clearly %}
                    <tr>
                        <td>
                            {{item.company}}
                        </td>
                        <td>
                            {{item.ass_msg}}
                        </td>
                        <td>
                            {{item.uid_name}}
                        </td>
                        <td>{{item.uid_at}}</td>
                    </tr>
                {%end%}
                </tbody>
            </table>
            {%end%}
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        {% if pagination.has_prev %}
                        <li class="paginate_button page-item previous " id="dataTable_previous">
                        <a href="statis?tag=customer_clearly_count{%if params['show_tag']%}&show_tag={{params['show_tag']}}{%end%}{%if params['way']%}&way={{params['way']}}{%end%}&page={{ pagination.page - 1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                        <li class="paginate_button page-item ">
                            <a href="statis?tag=customer_clearly_count{%if params['show_tag']%}&show_tag={{params['show_tag']}}{%end%}{%if params['way']%}&way={{params['way']}}{%end%}&page={{ page }}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                        {% else %}
                        <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                        {% end %} {% else %}
                        <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                        {% end %} {%end %} {% if pagination.has_next %}
                        <li class="paginate_button page-item next" id="dataTable_next"><a href="statis?tag=customer_clearly_count{%if params['show_tag']%}&show_tag={{params['show_tag']}}{%end%}{%if params['way']%}&way={{params['way']}}{%end%}&page={{pagination.page+1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>
  





    </div>
</div>
<div class="modal fade" id="modal_chengjiao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projects_note">成交事项</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

  <div class="modal-body form-horizontal" id="site_mod">


        <div class="card-body py-2 " id='projects_note_confirm_content'>


      <div class="form-group" id='projects_note_content'>
      <label for="inputEmail3" class="col-sm-3 control-label" id="projects_lab">成交内容
        </label>
   
      <div class="col-sm-10">
        <textarea id='chengjiao_content' class="form-control" type="text" name="chengjiao_content"></textarea>
      </div>
    
    
    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="btn_del_modal_chengjiao">删除</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                   <button class="btn btn-primary modal_note_btn" target="_blank" id="btn_save_modal_chengjiao">保 存</button>

        </div>
      </div>
    </div>
  </div>
</div>
{%end%}
{%block js%}
<script>
$(function () { 
    _xsrf =  getCookie("_xsrf")
    $("#m_statis").click()

    $("#start_time").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    
    $("#start_time_fp").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    $("#end_time_fp").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 23:59:59',
    language: 'zh-CN',initialDate: new Date()});
    $("#end_time").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 23:59:59',
    language: 'zh-CN',initialDate: new Date()});
    $('#jd_day').keyup(function () { 
      if(isNaN($(this).val())){
        $(this).css('background-color','#E60012')
        $("#search_btn").attr('disabled','true')
      }
      else{
        $(this).css('background-color','#fff')
        $("#search_btn").removeAttr('disabled')
      }
     })
 })
</script>
{%end%}