{% extends "../base.html" %} {%block title%}应收统计列表{%end%} {% block body %}

<style>

    .faye-btn {padding: 0.1rem 0.2rem; background-color: #9ec6ef; margin-left: 20px; border-radius: 2px;}

</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        主面板
    </li>
    <li class="breadcrumb-item active">应收统计
     
    </li>
</ol>
<div class="table-responsive">

        <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr class="active">
                        <th width="120">客服会计</th>
                        <th width="100">月初应收总额</th>    
                        <th  width="100">本月新增</th>
                        <th width="100">应收总额</th>
                        <th width="100">收回金额</th>
                        <th width='100'>待收金额</th>
                        <th width='100'>回款率</th>
                        </tr>
                </thead>
                <tbody>
            
                    {%for item in customers%}
                    <tr>
                        <td>{{item.acc_uid_name}}</td>
                        <td>{%if item.wait_pay_amount_bef%}{{item.wait_pay_amount_bef}}{%end%}</td>
                        <td>{%if item.wait_pay_amount_now%}{{item.wait_pay_amount_now}}{%end%}</td>
                        <td>{{item.wait_pay_amount_bef+item.wait_pay_amount_now}}</td>
                        <td>{%if item.income_list%}{{item.income_list}}{%end%}</td>
                        <td>{{item.wait_pay_amount_now-item.income_list}}</td>
                        <td>{{format(item.income_list_all/(item.wait_pay_amount_bef+item.wait_pay_amount_now),'.0%')}}</td>
                    </tr>
                    {%end%}
                </tbody>
                       
            </table>

            <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                            <li class="paginate_button page-item previous " id="dataTable_previous">
                                <a href="/statis?tag=payment_count_list&page={{ pagination.page - 1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li class="paginate_button page-item ">
                                <a href="/statis?tag=payment_count_list&page={{ page }}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% end %} {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li class="paginate_button page-item next" id="dataTable_next">
                            <a href="/statis?tag=payment_count_list&page={{pagination.page+1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>
                </div>

</div>
</div>

</div>
</div>
{% end %} {%block js%}
<script>
    _xsrf = getCookie("_xsrf");
    $(function () {

            $("#m_statis").click()
        $("#start").datetimepicker({
            minView: 2, pickTime: false, todayBtn: true, autoclose: true, format: 'yyyy-mm-dd 00:00:00',
            language: 'zh-CN', initialDate: new Date()
        });
        $("#end").datetimepicker({
            minView: 2, pickTime: false, todayBtn: true, autoclose: true, format: 'yyyy-mm-dd 23:59:59',
            language: 'zh-CN', initialDate: new Date()
        });

    })


</script> {%end%}