{% extends "../base.html" %} {%block title%}到款结算{%end%} {% block body %}

<style>

    .faye-btn {padding: 0.1rem 0.2rem; background-color: #9ec6ef; margin-left: 20px; border-radius: 2px;}

</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        主面板
    </li>
    <li class="breadcrumb-item active">到款结算
      
            {%if  projects_income_title and ( params['project_id'] or (params['daokuan_start'] and params['daokuan_end']) 
            or params['sale'] or params['kf'])%}
                <a href="javascript:void(0);" id='income_output' params="{{params}}"  class="btn btn-primary btn-sm">点击下载数据（Excel格式）</a>
            {%end%}
    </li>
</ol>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link {%if params['step']=='1'%}active{%end%}" id="nav-home-tab"
        href="/statis?tag=projects_income_title&step=1" >业务到款
        <span class="badge badge-danger"></span>
    </a>
      <a class="nav-item nav-link {%if params['step']=='2'%}active{%end%}"
    href="/statis?tag=projects_income_title&step=2" style="font-size:13px;">中转到款
        <span class="badge badge-danger"></span>
        </a>

</div>
</nav>
<br>
<form>
    <table>
        <thead>
            <tr>
                <th>订单号</th>
                <th>到款日期</th>
                <th></th>
                <th></th>
                <th>销售顾问</th>
                <th>客服顾问</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input {%if params['project_id']%}value="{{params['project_id']}}"{%end%} type="text" placeholder="订单号" name="project_id" id="project_id" class="form-control"></td>
                <td><input {%if params['daokuan_start']%}value="{{params['daokuan_start']}}"{%end%} type="text" placeholder="到款开始日期" name="daokuan_start" id="daokuan_start" class="form-control"></td>
                <td>至</td>
                <td><input {%if params['daokuan_end']%}value="{{params['daokuan_end']}}"{%end%} type="text" placeholder="到款结束日期" name="daokuan_end" id="daokuan_end" class="form-control"></td>
                <td><input {%if params['sale']%}value="{{params['sale']}}"{%end%} type="text" placeholder="销售顾问" name="sale" id="sale" class="form-control"></td>
                <td><input {%if params['kf']%}value="{{params['kf']}}"{%end%} type="text" placeholder="客服顾问" name="kf" id="kf" class="form-control"></td>
                <td>
                    <input name="tag" value="{{tag}}" hidden>
                    <input name="step" value="{{params['step']}}" hidden>
                    <input type="submit" value="检 索"></td>
            </tr>
        </tbody>
    </table>
</form>
<div class="table-responsive">

<table class="table table-bordered"  style="width:1500px">
    <thead class="thead-dark">
        <tr class="active">
            <th width="50">订单号</th>
          <th width="150">业务内容</th>
          <th width="100">到款日期</th>
          <th width="180">公司名称</th>
          <th width="100">客户姓名</th>
          <th width="100">到款内容</th>
          <th width="100">到款金额</th>
          <th width="80">销售顾问</th>
          <th width="80">客服顾问</th>
        </tr>


    </thead>
    <tbody>
            {%for item in projects_income_title%}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.project_name}}</td>
                <td>{{item.income_at.strftime('%Y-%m-%d')}}</td>
                <td>{{item.customer_company}}</td>
                <td>{{item.customer_name}}</td>
                <td>{{item.income_name}}</td>
                <td>{{item.income_money}}</td>
                <td>{{item.sale_name}}</td>
                <td>{{item.kf_name}}</td>
            </tr>
            {%end%}
    </tbody>
</table>

<ul class="pagination">
    {% if pagination.has_prev %}
    <li class="paginate_button page-item previous " id="dataTable_previous">
        <a href="/statis?tag=projects_income_title{%if params['step']%}&step={{params['step']}}{%end%}{%if params['project_id']%}&project_id={{params['project_id']}}{%end%}{%if params['daokuan_start']%}&daokuan_start={{params['daokuan_start']}}{%end%}{%if params['daokuan_end']%}&daokuan_end={{params['daokuan_end']}}{%end%}{%if params['sale']%}&sale={{params['sale']}}{%end%}{%if params['kf']%}&kf={{params['kf']}}{%end%}&page={{ pagination.page - 1}}"
            aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo; 上页</a></li>

    {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
    <li class="paginate_button page-item ">
        <a href="/statis?tag=projects_income_title{%if params['step']%}&step={{params['step']}}{%end%}{%if params['project_id']%}&project_id={{params['project_id']}}{%end%}{%if params['daokuan_start']%}&daokuan_start={{params['daokuan_start']}}{%end%}{%if params['daokuan_end']%}&daokuan_end={{params['daokuan_end']}}{%end%}{%if params['sale']%}&sale={{params['sale']}}{%end%}{%if params['kf']%}&kf={{params['kf']}}{%end%}&page={{page}}" aria-controls="dataTable"
            data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
    {% else %}
    <li class="paginate_button page-item active">
        <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page }}</a></li>
    {% end %} {% else %}
    <li class="paginate_button page-item "><span class="active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0"
                class="page-link">....</a></span></li>
    {% end %} {% end %} {% if pagination.has_next %}
    <li class="paginate_button page-item next" id="dataTable_next"><a href="statis?tag=projects_income_title{%if params['step']%}&step={{params['step']}}{%end%}{%if params['project_id']%}&project_id={{params['project_id']}}{%end%}{%if params['daokuan_start']%}&daokuan_start={{params['daokuan_start']}}{%end%}{%if params['daokuan_end']%}&daokuan_end={{params['daokuan_end']}}{%end%}{%if params['sale']%}&sale={{params['sale']}}{%end%}{%if params['kf']%}&kf={{params['kf']}}{%end%}&page={{pagination.page+1}}"
            aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">下页 &raquo;</a></li>
    {% end %}
</ul>

</div>
</div>

</div>
</div>
{% end %} {%block js%}
<script>
    _xsrf = getCookie("_xsrf");
    $(function () {

            $("#m_statis").click()
        $("#daokuan_start").datetimepicker({
            minView: 2, pickTime: false, todayBtn: true, autoclose: true, format: 'yyyy-mm-dd 00:00:00',
            language: 'zh-CN', initialDate: new Date()
        });
        $("#daokuan_end").datetimepicker({
            minView: 2, pickTime: false, todayBtn: true, autoclose: true, format: 'yyyy-mm-dd 23:59:59',
            language: 'zh-CN', initialDate: new Date()
        });
        
    $('#sale').typeahead({
source: function (query, process) {
return $.post('/api', { query: query ,"_xsrf":_xsrf}, function (data) {
return process(JSON.parse(data));
});
}
});

    $('#kf').typeahead({
    source: function (query, process) {
    return $.post('/api', { query: query ,"_xsrf":_xsrf}, function (data) {
    return process(JSON.parse(data));
    });
    }
    });


$('#income_output').on('click',function () { 
    var params=$(this).attr('params')
    $.get('/statis?tag=income_output',
    {
        'params':params
    },function (res) { 
        location.href=res['output_path']
     })
})
    })



</script> {%end%}