
 {% extends "../base.html" %} {%block title%}办结管理{%end%} {% block body %}

	 <style>
	 /* Timeline */
	.timeline {position: relative;}
	.timeline-line{position:absolute;width:4px;display:block;background:currentColor;top:60px;bottom:10px;margin-left:-18px}
	.timeline-line::before{top:-4px}
	.timeline-line::after{bottom:-4px}
	.timeline-line::after,.timeline-line::before{content:'';position:absolute;left:-4px;width:12px;height:12px;display:block;border-radius:50%;background:currentColor}
	.timeline-separator{border-top:2px solid currentColor;padding:15px 5px 10px 40px;margin-left:-15px;margin-top:40px}
	.timeline-separator h3{margin-left:-18px}
	.timeline-icon{margin: 10px 0 0 -7px;height:1.8em;width:1.8em}
	.card-header{border-bottom:5px solid}
	 </style>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          主面板
        </li>
        <li class="breadcrumb-item active">办结管理</li>
      </ol>

      <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    
    {%for idx,item in enumerate(project_btypes)%}
    <a class="nav-item nav-link {%if item.id==project_milepost_item.id%}active{%end%}" btype_id="{{item.id}}" btype_name="{{item.income_name}}" id="nav-home-tab{{item.id}}"
      href="/milepost?tag=milepost_project&guid={{t_project.guid}}&id={{t_project.id}}&btypeid={{item.id}}" >{{item.income_name}}</a>
    {%end%}
     </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    
    {%if project_milepost_item %}

  <div class="tab-pane fade show  active " id="nav-home_{{project_milepost_item.id}}" role="tabpanel" aria-labelledby="nav-home_tab{{project_milepost_item.id}}">
  
   

    <main role="main" class="container py-5 timeline">	
		  
			<h3 class="version text-capitalize" id="unreleased">{{project_milepost_item.income_name}}办结</h3>
		
		<!-- Line component -->
		<div class="timeline-line text-muted"></div>



		<div class='row'>
			<div class="card-group mx-2 mx-md-0 w-100">
				<svg class='timeline-icon text-secondary pull-left d-none d-md-block' xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path d="M0 0v8l4-4-4-4z" style="fill:#868E96;" transform="translate(2)" /></svg>
				<div class="card">
					<h6 class='card-header border-success font-italic text-capitalize'>状态更新</h6>
					<ul class='list-group list-group-flush small'>




{%for idx,item in enumerate(project_milepost_type)%}

                {%if project_milepost_type[idx].created_at%}
                        <li class='list-group-item'>  {{item.income_name}}
                                
                        <button class=" btn_cq_rec_order" type_id="{{item.id}}" name="btn_cq_rec_order">确认{{item.income_name}}</button>
                        </li>
                {%else%}
                        <li class='list-group-item'> 流程{{idx+1}}:  {{item.income_name}}
                                
                        <button class=" btn_cq_rec_order" type_id="{{item.id}}" name="btn_cq_rec_order">确认{{item.income_name}}</button>
                        </li>
                {%end%}
           

{%end %}







					
					</ul>
				</div>
			</div><!--card-group-->
		</div><!--row-->
		<div class="timeline-separator">
			<h3 class='version text-capitalize' id='0-2-0'>
            告知交接
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="fill:#333333" viewBox="0 0 8 8"><path d="M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z" transform="translate(1)" /></svg> 
			
			</h3>
		</div>
        <div class='row'>
			<div class="card-group mx-2 mx-md-0 w-100">
				<svg class='timeline-icon text-secondary pull-left d-none d-md-block' xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path d="M0 0v8l4-4-4-4z" style="fill:#868E96;" transform="translate(2)" /></svg>
				<div class="card">
					<h6 class='card-header border-success font-italic text-capitalize'>跟单员</h6>
					<ul class='list-group list-group-flush small'>
                        <li class='list-group-item'>
                        
                           2018-5-11 通知仓管开始该业务已办结
                           <button>告知交接人</button>
                        </li>
						<li class='list-group-item'>江嘉琳(仓管)
                        
                           2018-5-11 已告知开始该业务开始交接
                        
                        </li>
                   
					</ul>
				</div>
			</div><!--card-group-->
		</div><!--row-->

		
		<div class="timeline-separator">
			<h3 class='version text-capitalize' id='0-1-0'>交接情况
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="fill:#333333" viewBox="0 0 8 8"><path d="M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z" transform="translate(1)" /></svg> 
			
			</h3>
		</div>
				<div class='row'>
			<div class="card-group mx-2 mx-md-0 w-100">
				<svg class='timeline-icon text-secondary pull-left d-none d-md-block' xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path d="M0 0v8l4-4-4-4z" style="fill:#868E96;" transform="translate(2)" /></svg>
				<div class="card">
					<h6 class='card-header border-success font-italic text-capitalize'>跟单员</h6>
					<ul class='list-group list-group-flush small'>
						<li class='list-group-item'>江嘉琳
                        
                           2018-5-11 已告知开始该业务
                           <button>开始交接</button>
                        </li>
                        <li class='list-group-item'>庄培润
                        
                           2018-5-16 开始交接业务
                           <button>完成交接</button>
                        </li>
                        <li class='list-group-item'>庄培润
                        
                           2018-5-20 完成交接业务
                         
                        </li>
					</ul>
				</div>
			</div><!--card-group-->
		</div><!--row-->
	
		<div class="timeline-separator">
			<h3 class='version text-capitalize' id='0-1-0'>交接结束
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" style="fill:#333333" viewBox="0 0 8 8"><path d="M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z" transform="translate(1)" /></svg> 
			
			</h3>
		</div>
				<div class='row'>
			<div class="card-group mx-2 mx-md-0 w-100">
				<svg class='timeline-icon text-secondary pull-left d-none d-md-block' xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path d="M0 0v8l4-4-4-4z" style="fill:#868E96;" transform="translate(2)" /></svg>
				<div class="card">
					<h6 class='card-header border-success font-italic text-capitalize'>跟单员</h6>
					<ul class='list-group list-group-flush small'>
						<li class='list-group-item'>江嘉琳
                        
                           2018-5-11 确认交接完成
                           <button>确认交接完成</button>
                        </li>
                   
					</ul>
				</div>
			</div><!--card-group-->
		</div><!--row-->

	</main><!-- /.container -->
           
  
  
  
  
  </div>
 {%end%}
</div>

   {%end%}

   {%block js%}
        <script>
        $(function(){

            $(".btn_cq_rec_order").on("click",function(){
                alert("hi")
            })
        })

        </script>

   {%end%}