<!DOCTYPE HTML>
<html>

<head>
    <title>{{template_row.site_title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/theme/h78/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/theme/h78/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/static/theme/h78/css/prettyPhoto.css">

    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/jqup/jquery.fileupload.css">
    <!--preview-->
    <link rel="stylesheet" href="/static/js/dist/jquery.contextMenu.min.css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     <link href="/static/js/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/js/css/froala_style.min.css" rel="stylesheet" type="text/css" />




    <style>
    .tag {
        font-size: 14px;
        font-family: 'Droid Serif';
        text-align: center;
        color: #FFF;
        margin-left: 15px;
        padding: 6px;
        background-color: red;
        float: right;
        z-index: 100000;
        display: block;
        position: fixed;

    }

    #tag {
    position: fixed;
    top: 1em;
    right: 1em;
}
    </style>
    <!--previewend-->
</head>

<body>
           <!--preview--> <div class="tag rightmenu">配置</div><!--previewend-->
    <div class="header fy_bg_img" style="background:url(/static/theme/h78/images/bg.jpg);" id="img_backgroundimage">

        <header id="home">
            <div class="bg_mask">
                <div class="wrap clearfix ">
                    <div class="logo1"><img class="rightmenu_img "  id="img_top_logo"  src="/static/theme/h78/images/logo.png" alt="title" title="mod_1" /></div>
                    <h1 > <div class="text_editor" title="mod_2">Free Responsive Mobile Website </div></h1>
                    <p class="text_editor" title="mod_3">Lorem Ipsum is simply dummy text of the printing and </p>
                    <h6> </h6>
                    <a href="#about" class="button scroll "><img src="/static/theme/h78/images/down.png" alt="了解更多关于我们"></a>
                    <div class="clear"> </div>
                </div>
            </div>
        </header>
    </div>
    <nav class="nav_wrapper">

        <div class="wrap">
            <div class="logo"><img class="rightmenu_img" id="img_logo" src="/static/theme/h78/images/logo1.png" alt="logo" /></div>
            <a href="#" class="header_toggle">Menu</a>
            <ul class="navigation" id="fy_navigation">
                <li class="scroll"><a href="#home">Home</a></li>
                <li class="scroll"><a href="#about">About</a></li>
                <li class="scroll"><a href="#services">Service</a></li>
                <li class="scroll"><a href="#team">Team</a></li>
                <li class="scroll"><a href="#contact">Contact</a></li>
                <div class="clear"> </div>
            </ul>
            <div class="social_icons">
                <ul>
                    <li class="in"><a href="#"><span> </span></a></li>
                    <li class="pro"><a href="#"><span> </span></a></li>
                    <li class="twitter"><a href="#"><span> </span></a></li>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </nav>
    <!------nav_js scripts---->
    <script src="/static/js/jquery.min.1.3.js"></script>
    <script type="text/javascript" src="/static/theme/h78/js/modernizr.js"></script>
    <script type="text/javascript" src="/static/theme/h78/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="/static/theme/h78/js/jquery.singlePageNav.js"></script>
    <script type="text/javascript" src="/static/theme/h78/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="/static/theme/h78/js/scripts.js"></script>
    <!-----end nav js------>
    <!-----start-about------>
    <div class="about" id="about">
        <div class="wrap">
            <div class="text_editor" title="tag_about_h2"><h2>About Roran</h2></div>
            <div class="text_editor" title="tag_about_h4"> <h4>Lorem Ipsum is simply</h4></div>
            <h6> </h6>
            <div class="text_editor" title="tag_about_desc"><p class="para_a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, vulputate,vehicula nisi vitae,lobortis ante.praesent sodales iaculis ultricies</p></div>
            <!---strat-top-grids---->
            <div class="top-grids">
                <div class="top-grid">
                    <a class="icon monitor" href="#"> </a>
                     <div class="text_editor" title="tag_about_6"><a href="#">Some fancy</a></div>
                     <div class="text_editor" title="tag_about_7"><p>Lorem ipsum dolor sit amet, consctetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                </div>
                <div class="top-grid">
                    <a class="icon target" href="#"> </a>
                    <div class="text_editor" title="tag_about_8"><a href="#">Enough <span>coffee breaks</span></a></div><div class="text_editor" title="tag_about_9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                </div>
                <div class="top-grid">
                    <a class="icon event" href="#"> </a>
                   <div class="text_editor" title="tag_about_10"> <a href="#">A little bit of <span>magic</span></a></div>
                   <div class="text_editor" title="tag_about_11">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                </div>
                <div class="clear"> </div>
            </div>
            <!---End-top-grids---->
        </div>
        <div class="grids-of_4">
            <div class="wrap">
                <div class="grid_of_1">
                    <a class=" icon cup" href="#"> </a>
                    <div class="sub_grid">
                       <div class="text_editor" title="tag_total_1">  <span>1085</span></div>
                        <div class="text_editor" title="tag_total_2"> <p>Empty cup</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid_of_1">
                    <a class=" icon smill" href="#"> </a>
                    <div class="sub_grid">
                       <div class="text_editor" title="tag_total_3"> <span>1085</span></div>
                        <div class="text_editor" title="tag_total_4">  <p>Empty cup</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid_of_1">
                    <a class=" icon meeting" href="#"> </a>
                    <div class="sub_grid">
                         <div class="text_editor" title="tag_total_5"><span>1085</span></div>
                       <div class="text_editor" title="tag_total_6">  <p>Empty cup</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid_of_1">
                    <a class=" icon parties" href="#"> </a>
                    <div class="sub_grid">
                       <div class="text_editor" title="tag_total_7">  <span>1085</span></div>
                       <div class="text_editor" title="tag_total_8">  <p>Empty cup</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="clients">
            <div class="bg_mask1">
                <div class="wrap">
                      <div class="text_editor" title="tag_clients_1"><h3>Some of our clients</h3></div>
                     <div class="text_editor" title="tag_clients_2"><h4>Weevery single one</h4></div>
                    <h6> </h6>
                    <div class="clients_img">
                        <ul id="flexiselDemo3">
                            <li><img src="/static/theme/h78/images/client1.png" /></li>
                            <li><img src="/static/theme/h78/images/client2.png" /></li>
                            <li><img src="/static/theme/h78/images/client3.png" /></li>
                            <li><img src="/static/theme/h78/images/client4.png" /></li>
                            <li><img src="/static/theme/h78/images/client1.png" /></li>
                            <li><img src="/static/theme/h78/images/client2.png" /></li>
                            <li><img src="/static/theme/h78/images/client3.png" /></li>
                        </ul>
                        <script type="text/javascript" src="/static/theme/h78/js/jquery.flexisel.js"></script>
                        <script type="text/javascript">
                        $(window).load(function() {
                            $("#flexiselDemo3").flexisel({
                                visibleItems: 5,
                                animationSpeed: 1000,
                                autoPlay: true,
                                autoPlaySpeed: 3000,
                                pauseOnHover: true,
                                enableResponsiveBreakpoints: true,
                                responsiveBreakpoints: {

                                    portrait: {
                                        changePoint: 480,
                                        visibleItems: 1
                                    },
                                    landscape: {
                                        changePoint: 640,
                                        visibleItems: 2
                                    },
                                    tablet: {
                                        changePoint: 768,
                                        visibleItems: 3
                                    }
                                }
                            });

                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----end-about--------->
    <!----start-team-------->
    <div class="services" id="services">
        <div class="text_editor" title="tag_service_1"><h3 class="heading"> Our Services</h3></div>
        <div class="text_editor" title="tag_service_2"><p class="desc">With Passion & Experience</p></div>
        <h6> </h6>
        <div class="wrap">
            <div class="service_grids">
                <div class="grid1">
                    <a class="icon system" href="#"> </a>
                    <div class="grid_sub">
                        <div class="text_editor" title="tag_service_3"><h3>Dictum tincidunt<span>diam</span></h3></div>
                        <h6> </h6>
                        <div class="text_editor" title="tag_service_4"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid1">
                    <a class="icon tools" href="#"> </a>
                    <div class="grid_sub">
                        <div class="text_editor" title="tag_service_5"> <h3>Dictum tincidunt<span>diam</span></h3></div>
                        <h6> </h6>
                        <div class="text_editor" title="tag_service_6">  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid1">
                    <a class="icon mobile" href="#"> </a>
                    <div class="grid_sub">
                       <div class="text_editor" title="tag_service_7"> <h3>Dictum tincidunt<span>diam</span></h3></div>
                        <h6> </h6>
                       <div class="text_editor" title="tag_service_8"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid1">
                    <a class="icon monitor" href="#"> </a>
                    <div class="grid_sub">
                       <div class="text_editor" title="tag_service_9"> <h3>Dictum tincidunt<span>diam</span></h3></div>
                        <h6> </h6>
                       <div class="text_editor" title="tag_service_10"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid1">
                    <a class="icon smonitor" href="#"> </a>
                    <div class="grid_sub">
                        <div class="text_editor" title="tag_service_11"> <h3>Dictum tincidunt<span>diam</span></h3></div>
                        <h6> </h6>
                        <div class="text_editor" title="tag_service_12"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="grid1">
                    <a class="icon radio" href="#"> </a>
                    <div class="grid_sub">
                       <div class="text_editor" title="tag_service_13">  <h3>Dictum tincidunt<span>diam</span></h3></div>
                        <h6> </h6>
                       <div class="text_editor" title="tag_service_14">  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <div class="slider2">
            <div class=" bg_mask1 bg_mask2">
                <div class="wrap">
                    <div class="text_editor" title="tag_smask_1"> <p><img src="/static/theme/h78/images/lg.png">Lorem ipsum dolor sit amet, <span>consectetur adipisicing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <span>minim veniam</span>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <img src="/static/theme/h78/images/lg.png"> </p></div>
                    <h6> </h6>
                   <div class="text_editor" title="tag_smask_2">  <h4>Lorem ipsum</h4></div>
                </div>
            </div>
        </div>
    </div>


    <div class="team" id="team">
         <div class="text_editor" title="tag_team_1"><h3 class="heading"> Meet...the Team</h3></div>
         <div class="text_editor" title="tag_team_2"><p class="desc">They are really nice</p></div>
        <h6> </h6>

    </div>

    <!--end-mfp -->
    <div class="team_members">
        <div class="wrap">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/1.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left " title="tag_smask_3">
                                    <h4><a href="#">Hondddg Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/2.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Hong Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/3.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Hong Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/4.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Hong Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/5.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Hong Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                         <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/6.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Hong Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
                <div class="item">
                    <div class="carousel">
                        <a class="popup-with-zoom-anim" href="#small-dialog1">
                        <img src="/static/theme/h78/images/3.jpg" alt="Image 1"/>
                        </a>
                        <!----place-caption-info---->
                        <div class="caption-info">
                            <div class="caption-info-head">
                                <div class="caption-info-head-left">
                                    <h4><a href="#">Hong Kong &amp; Macau</a></h4>
                                    <span>Bonus Extras!</span>
                                </div>
                                <div class="caption-info-head-right">
                                    <ul>
                                        <li class="twitter"><a href="#"><span> </span></a></li>
                                        <li class="facebook"><a href="#"><span> </span></a></li>
                                        <div class="clear"> </div>
                                    </ul>
                                </div>
                                <div class="clear"> </div>
                            </div>
                        </div>
                        <!----//place-caption-info---->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Owl Carousel Assets -->
    <link href="/static/theme/h78/css/owl.carousel.css" rel="stylesheet">
    <!-- Owl Carousel Assets -->
    <!-- Prettify -->
    <script src="/static/theme/h78/js/owl.carousel.js"></script>
    <script>
    $(document).ready(function() {

        $("#owl-demo").owlCarousel({
            items: 3,
            lazyLoad: true,
            autoPlay: true,
            navigation: true,
            navigationText: ["", ""],
            rewindNav: false,
            scrollPerPage: false,
            pagination: true,
            paginationNumbers: false,
        });

    });
    </script>
    <!-- //Owl Carousel Assets -->


            </div>
            <!--end:typo1-->
        </div>

    <div class="contact" id="contact">
        <p><br/>
       <div class="text_editor" title="tag_contact_title"> <h3 class="heading">Contact</h3></div>
        <div class="text_editor" title="tag_contact_context"><p class="desc">we would really love to hear from you</p></div>
        <h6> </h6>
    </p>
        <div class="contact-bg">
            <div class="tool_tip">
                <a href="#"><img src="/static/theme/h78/images/logo1.png"/></a>
            </div>
            <div class="wrap">
                <div class="form">
                    <div class="contact-form">
                        <form method="post" action="contact-post.html">
                            <div>
                              <span><label>姓名</label></span>
                                <span><input name="userName" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>邮箱/电话</label></span>
                                <span><input name="userEmail" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>主题</label></span>
                                <span><input name="userPhone" type="text" class="textbox"></span>
                            </div>
                            <div>
                                <span><label>内容</label></span>
                                <span><textarea name="userMsg"> </textarea></span>
                            </div>
                            <div>
                                <span><input type="submit" value="提交"></span>
                            </div>
                        </form>
                    </div>
                    <div class="address">
                        <div class="text_editor" title="tag_contact_info1"><h3 class="heading">联系我们</h3></div>
                       <div class="text_editor" title="tag_contact_info2"> <p>无论您是想咨询信息，解决问题，或者是对我们的服务提出建议，您都可以用多种方式联系我们。我们会尽我们所能为您服务！</p></div>

                      <!--   <div class="c_grids text_editor" title="tag_contact_info3">
                            <a class=" icon contact-img" href="#"> </a>
                            <p>拨打400-800-2345</p>
                            <p>我们将竭诚为您服务。</p>
                            <div class="clear"> </div>
                        </div> -->
             <!--            <div class="c_grids text_editor" title="tag_contact_info5">
                            <a class=" icon website" href="#"> </a>
                            <p>发邮件联系我们</p>
                            <p>我们将在48小时内回复。
</p>
                            <div class="clear"> </div>
                        </div> -->
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <div class="copy">
                    <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http//www.zjf88.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                </div>
            </div>
            <div class="social_icons social">
                <ul>
                    <li class="in"><a href="#"><span> </span></a></li>
                    <li class="pro"><a href="#"><span> </span></a></li>
                    <li class="twitter"><a href="#"><span> </span></a></li>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
   <div id="changebackground_mfp" class="mfp-hide">
        <div class="pop_up">
            <div class="member-content clearfix">
                <div class="flx-skill-widget widget">
                    <p>
                        <h3 class="widget-title">更换多媒体文件<span></span></h3>
                        <div class="flx-skill clearfix">
                         <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>点击选择本地文件...</span>
        <!-- The file input field used as target for the file upload widget -->

        <input id="fileupload" type="file" name="files_my[]" data-url="/upload_img" >

    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <br>



                        </div>
                    </p>
                </div>
                <div class="flx-skill clearfix">
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>

        <div id="change_menu" class="mfp-hide">
            <div class="pop_up">
                <div class="member-content clearfix">
                    <div class="flx-skill-widget widget">
                        <p>
           <h3 class="widget-title">菜单配置 <input type="button" id="btn_save_menu" value="保 存"/></span></h3>
                            <div class="flx-skill clearfix">
            <table class="table" style="width: 80%">
                <thead>
                <tr>
                    <td>名称</td>
                    <td>连接</td>

                </tr>
                </thead>
                <tbody id="tb_menu">

                </tbody>
            </table>

            </div></p>
                    </div>
                    <div class="flx-skill clearfix">
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>



        <input type="hidden" value="" id="fileupload_type"/>
        <script type="text/javascript" src="/static/theme/h78/js/move-top.js"></script>
        <script type="text/javascript" src="/static/theme/h78/js/easing.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
        </script>
        <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
        </script>
 <!--preview-->
        <script>
        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }


        $(function() {


            $("#btn_save_menu").on("click",function(){
                 $(".navigation").html("")
                 $('.txt_name').each(function(i, obj) {

                    txt_name = $(this).val()
                    txt_link = $(".txt_link").eq(i).val()

                    console.log(txt_link)
                    $(".navigation").append('<li class="scroll"><a href="'+txt_link+'">'+txt_name+'</a></li>')
                  });

                 $.magnificPopup.close()

               $.post("/edittemplate",{"key_name":"fy_navigation","key_value": $("#fy_navigation").html(),"_xsrf":getCookie("_xsrf"),"site_id":{{template_row.id}}},function(result){
                    // alert(result)
                    console.log(result)
                })


                // $.post("/edittemplate",{"key_name":"page_menu","key_value": $(".navigation").html(),"_xsrf":getCookie("_xsrf"),"site_id":{{template_row.id}}},function(result){
                //     // alert(result)
                //     console.log(result)
                // })



            })
           $('#fileupload').fileupload({
                autoUpload: true,
                formData: {_xsrf: getCookie("_xsrf"),"fileupload_type":$("#fileupload_type").val()},
                type:"post",
                done: function (e, data) {
                    // alert(data.result)
                    $.magnificPopup.close()
                    // $.each(data.result.files, function (index, file) {
                    //     $('<p/>').text(file.name).appendTo(document.body);
                    // });
                    // alert(data)
                    fileupload_id = $("#fileupload_type").val()
                    // alert(fileupload_id)
                    if(fileupload_id=="img_backgroundimage"){
                      $("#"+fileupload_id).css('background-image', 'url("'+data.result+'")');

                    }else
                    {
                        // alert($("#"+fileupload_id).attr("src"))
                         $("#"+fileupload_id).attr("src",""+data.result+"");
                    }


                $.post("/edittemplate",{"key_name":fileupload_id,"key_value":data.result,"_xsrf":getCookie("_xsrf"),"site_id":{{template_row.id}}},function(result){
                    // alert(result)
                    console.log(result)
                })



                },
                fail: function(e, data) {
                  alert('Fail!');
                }

            });


            $(".text_editor").froalaEditor({
                zIndex: 10000,
                language: 'zh_cn',
                toolbarInline: true,
                charCounterCount: false,
                initOnClick: true,
                toolbarButtons: ['Bord', 'italic', 'underline', 'strikeThrough', 'color', 'emoticons', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'indent', 'outdent', '-', 'insertImage', 'insertLink', 'insertFile', 'insertVideo', 'undo', 'redo']
            })


            $('.text_editor').on('froalaEditor.blur', function (e, editor) {
              // Do something here.
                _xsrf = getCookie("_xsrf");
                key_name =  $(this).attr("title")
                key_value = $(this).text()
                $.post("/edittemplate",{"key_name":key_name,"key_value":key_value,"_xsrf":_xsrf,"site_id":{{template_row.id}}},function(result){
                    // alert(result)
                    console.log(result)
                })
            });

            $.contextMenu({
                selector: '.rightmenu_menu',
                trigger: 'left',
                callback: function(key, options) {
                    id = options.$trigger.attr("id");
                    $('[data-fancybox]').fancybox({
                        protect: true
                    });

                    var m = "clicked: " + key;
                    window.console && console.log(m) || alert(m);
                },
                items: {
                    "edit": { name: "修改logo", icon: "edit" },
                    "cut": { name: "修改菜单", icon: "cut" },
                    "copy": { name: "修改社交工具", icon: "copy" },
                    "sep1": "---------",
                    "quit": {
                        name: "Quit",
                        icon: function() {
                            return 'context-menu-icon context-menu-icon-quit';
                        }
                    }
                }
            });

            $.contextMenu({
                selector: '.rightmenu_img',
                trigger: 'left',
                callback: function(key, options) {
                    if(key=="m_img_top_logo"){

                        id_name = $(this).attr("id")
                        $("#fileupload_type").val(id_name)

                        // alert($("#fileupload_type").val())
                        $.magnificPopup.open({
                            items: {
                                src: '#changebackground_mfp'
                            },
                            type: 'inline'
                        }, 0);
                    }
                    // id = options.$trigger.attr("id");
                    // $('[data-fancybox]').fancybox({
                    //     protect: true
                    // });

                    // var m = "clicked: " + key;
                    // window.console && console.log(m) || alert(m);
                },
                items: {
                    "m_img_top_logo": { name: "更换图片", icon: "edit" },
                    "sep1": "---------",
                    "quit": {
                        name: "Quit",
                        icon: function() {
                            return 'context-menu-icon context-menu-icon-quit';
                        }
                    }
                }
            });
            $.contextMenu({
                trigger: 'left',
                selector: '.rightmenu',
                callback: function(key, options) {
                    id = options.$trigger.attr("id");
                    console.log(options)
                    console.log(key)
                    var m = "clicked: " + key + $() + id;
                    window.console && console.log(m);
                   if(key=="set_default"){
                        _xsrf = getCookie("_xsrf");
                        $('.text_editor').each(function(i, obj) {
                               key_name =  $(this).attr("title")
                                key_value = $(this).text()
                                $.post("/set_temp_key",{
                                    "key_name":key_name,
                                    "key_value":key_value,
                                     "_xsrf":_xsrf,
                                     "temp_id":{{template_row.temp_id}}},
                                function(result){
                                   console.log(result)
                                })
                         });
                        $('.rightmenu_img').each(function(i, obj) {
                               key_name =  $(this).attr("id")
                                key_value = $(this).attr("src")
                                $.post("/set_temp_key",{
                                    "key_name":key_name,
                                    "key_value":key_value,
                                     "_xsrf":_xsrf,
                                     "temp_id":{{template_row.temp_id}}},
                                function(result){
                                   console.log(result)
                                })
                         });
                        $('.fy_bg_img').each(function(i, obj) {
                               key_name =  $(this).attr("id")
                               img =$(this).css("background-image")
                               var reg = /.+?\:\/\/.+?(\/.+?)(?:#|\?|$)/;
                               var url_full_img =img.replace(/(url\(|\)|")/g, '');
                               var key_value = reg.exec(url_full_img)[1];

                                $.post("/set_temp_key",{
                                    "key_name":key_name,
                                    "key_value":key_value,
                                     "_xsrf":_xsrf,
                                     "temp_id":{{template_row.temp_id}}},
                                function(result){
                                   console.log(result)
                                })
                         });


                    $('.navigation').each(function(i, obj) {
                        alert($(this).html())
                               $.post("/set_temp_key",{"key_name":$(this).attr("id"),"key_value": $(this).html(),"_xsrf":getCookie("_xsrf"),"temp_id":{{template_row.temp_id}}},function(result){
                            // alert(result)
                            console.log(result)
                        })


                    })


                   }else if (key == "changebackground") {
                        $("#fileupload_type").val("img_backgroundimage")
                        // alert($("#fileupload_type").val())
                        $.magnificPopup.open({
                            items: {
                                src: '#changebackground_mfp'
                            },
                            type: 'inline'
                        }, 0);
                    }else if(key=="change_menu"){
                         $("#tb_menu").html("")
                          $(".navigation li").each(function(i,obj){
                            title = $(this).children("a").text()
                            link = $(this).children("a").attr("href")
                            str = '<tr><td><input type="input" id="txt_name_'+i+'" value="'+title+'" class="txt_name"/></td> <td><input type="input" value="'+link+'" class="txt_link" id="txt_link_'+i+'"/></td> <td></tr>'

                            $("#tb_menu").append(str)

                                 console.log($(this).children("a").attr("href"))
                             })

                          $("#tb_menu").append('<div class="clear"> </div>')
                          $.magnificPopup.open({
                            items: {
                                src: '#change_menu'
                            },
                            type: 'inline'
                        }, 0);
                    }else if (key== "save_page"){
                       _xsrf = getCookie("_xsrf");
                        $('.text_editor').each(function(i, obj) {
                               key_name =  $(this).attr("title")
                                key_value = $(this).text()
                                $.post("/edittemplate",{
                                    "key_name":key_name,
                                    "key_value":key_value,
                                     "_xsrf":_xsrf,
                                     "site_id":{{template_row.id}}},
                                function(result){
                                   console.log(result)
                                })
                         });
                    }
                },
                items: {
                    "changebackground": { name: "修改背景", icon: "edit" },
                    "sep1": "---------",
                    "changebackground1": { name: "站点配置", icon: "edit" },
                    "sep1": "---------",
                    "change_menu": { name: "菜单配置", icon: "edit" },
                    "save_page": { name: "发布", icon: "save" },
                    "sep1": "---------",
                    "set_default": { name: "设为默认系统模板", icon: "edit" },
                    "save_page": { name: "发布", icon: "save" },
                    "quit": {
                        name: "Quit",
                        icon: function() {
                            return 'context-menu-icon context-menu-icon-quit';
                        }
                    }
                }
            });

        })
        </script>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
    </div>

<script src="/static/theme/h78/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="/static/jqup/vendor/jquery.ui.widget.js"></script>
<script src="/static/jqup/jquery.iframe-transport.js"></script>
<script src="/static/jqup/jquery.fileupload.js"></script>
<script src="/static/js/dist/jquery.contextmenu.js"></script>
<script type="text/javascript" src="/static/js/froala_editor.pkgd.min.js"></script>
</body>
</html>