


 
 {% extends "../base.html" %} {%block title%}收入管理{%end%} {% block body %}

 <ol class="breadcrumb">
   <li class="breadcrumb-item g1">
    主面板
   </li>
   <li class="breadcrumb-item g1">新增用户</li>

 </ol>

 <div class="container">
    {% if error%}
    <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">
                &times;
            </a>
            <strong>
                    {{error}}
            </strong>
        </div>
        {%end%}
      
    {%if t_user%}
    <form>
      {% raw xsrf_form_html() %}
      <div class="form-group">
        <div class="form-row">
            <div class="col-md-3">
                <label for="name"><span style="color:red;">*</span>用户名:</label>
                <input  class="form-control" name="name"  {%if t_user%}value="{{t_user.name}}"{%end%}
                id="name" type="text" aria-describedby="nameHelp" placeholder="用户名" required>
              </div>
          <div class="col-md-3">
                <label for="email">邮箱:</label>
                <input   {%if t_user%}{%if t_user.email%}value="{{t_user.email}}"{%end%}{%end%} class="form-control" 
                id="email" name="email" type="text" aria-describedby="nameHelp" placeholder="邮箱">
              </div>
              <div class="col-md-3">
                  <label for="phone">工作电话:</label>
                  <input {%if t_user%} {%if t_user.phone%}value="{{t_user.phone}}"{%end%}{%end%} class="form-control" 
                        id="phone" name="phone" type="text" aria-describedby="nameHelp" placeholder="工作电话">
                  </div>
                  <div class="col-md-3">
                    <label for="phone">私人电话:</label>
                    <input {%if t_user%}{%if t_user.person_phone%}value="{{t_user.person_phone}}"{%end%}{%end%} class="form-control" 
                          id="person_phone" name="person_phone" type="text" aria-describedby="nameHelp" placeholder="私人电话">
                    </div>
        </div>
      </div>
      <div class="form-group" style="margin-top: 35px; ">
          <div class="form-row">
      
     
     
          
           
                <div class="col-md-3">
                    <label class="col-form-label" for='role'>
                        <span style="color:red">*</span>选择用户权限：
                      </label>
                  <select name="role" id="role" required class="custom-select" onmouseover="openSelect(this);">
                              <option value="">==请选择用户权限==</option>                 
                              {%for item in t_user_group%}
                              <option value="{{item.id}}" {%if t_user%}{%if t_user.role==item.id%}selected{%end%}{%end%}>{{item.name}}</option>
                              {%end%}
                            </select>
             </div>
             <div class="col-md-3"> 
                <label for="staticEmail" class="col-form-label">  <span style="color:red">*</span>选择部门:</label> 
            <select name="department_name" class="custom-select" required>
                <option value="">==请选择部门==</option>
                {%for item in t_user_department%}
                {%if item.parent_id==0%}
                <option value="{{item.name}}" id='{{item.id}}' {%if t_user%}{%if t_user.department_name==item.name%}selected{%end%}{%end%} >{{item.name}}</option>
                {%end%}
                {%end%}
              </select>
           
        </div>
    
           
            <div class="col-md-3" >
                <label for="staticEmail" class="col-form-label"> 选择子部门:</label>
            <select name="department_childs" class="custom-select">
              <option value="">==请选择子部门==</option>
            </select>
         
      </div>
      <div class="col-md-3" >
        <label for="staticEmail" class="col-form-label">职位:</label>
    <input {%if t_user%}{%if t_user.title_name%}value="{{t_user.title_name}}"{%end%}{%end%} placeholder="职位" name="title_name" id="title_name" class="form-control">
</div> 
        </div>
      </div>
      <div class="form-group">

          <div class="form-row" style="margin-top: 35px;">
            
                  

          
 
        <div class="col-md-3" style="margin-top:35px;">
          <label for="is_lock"><span style="color:red">*</span>是否锁定用户登录:</label>
          <br>
          <input   id="is_lock"
           name="is_lock" type="radio" value="1" required {%if t_user%}{%if t_user.is_lock==1%}checked{%end%}{%end%}>是
           <input   id="is_lock" style="margin-left: 20px;"
           name="is_lock" type="radio" value="0" required {%if t_user%}{%if t_user.is_lock==0%}checked{%end%}{%end%}>否
        </div>
            
                <div class="col-md-6" >
                    <label for="staticEmail" class="col-form-label">备注:</label>
                <textarea rows="3" placeholder="备注" name="remark" id="remark" class="form-control">{%if t_user%}{%if t_user.remark%}{{t_user.remark}}{%end%}{%end%} </textarea>
            </div>
            </div>
            </div>
            <!-- <div class="form-group">
              <div class="form-row">
              
                  <div class="col-md-3" style="margin-top: 35px;">
                      <label for="is_first"><span style="color:red">*</span>是否第一次登陆:</label><br>
                        <input id="is_first" {%if t_user%}{%if t_user.is_first==0%}checked{%end%}{%end%}
                            name="is_first" type="radio"  value="0" required>是
                        <input  id="is_first" {%if t_user%}{%if t_user.is_first==1%}checked{%end%}{%end%}
                            name="is_first" type="radio" style="margin-left: 20px;"  value="1" required>否
                        </div>
                {%if role=='8'%}        
                <div class="col-md-3" style="margin-top: 35px;">
                  <label for="is_admin">管理员:</label><br>
                    <input id="is_admin" {%if t_user%}{%if t_user.is_admin==1%}checked{%end%}{%end%}
                        name="is_admin" type="radio" " value="1">是
                    <input  id="is_admin" {%if t_user%}{%if t_user.is_admin==0%}checked{%end%}{%end%}
                        name="is_admin" type="radio" style="margin-left: 20px;" value="0">否
                    </div>
                  {%end%}

          <div class="col-md-3" style="margin-top: 35px;">
            <label for="qc"><span style="color:red">*</span>是否为跟单分配权限：</label><br>
            <input id="qc" {%if t_user%}{%if t_user.qc==1%}checked{%end%}{%end%}
            name="qc" type="radio"  value="1" required>是
         <input   id="qc" {%if t_user%}{%if t_user.qc==0%}checked{%end%}{%end%}
            name="qc" type="radio" style="margin-left: 20px;" value="0" required>否
          </div>
        </div>
      </div> -->
      <div style="text-align:center;margin-top: 30px;"> 
        <input type="hidden" name="user_id" value="{{user_id}}">
      <input type="button" id='submit_user' value="提交" class="btn btn-primary" style="text-align: center;margin-bottom: 10px;">
  </div>     
    </form>
    {%else%}

    <form>
        {% raw xsrf_form_html() %}
        <div class="form-group">
          <div class="form-row">
              <div class="col-md-3">
                  <label for="name"><span style="color:red;">*</span>用户名:</label>
                  <input  class="form-control" name="name"  {%if t_user%}value="{{t_user.name}}"{%end%}
                  id="name" type="text" aria-describedby="nameHelp" placeholder="用户名" required>
                </div>
            
            <div class="col-md-3">
              <label for="password"><span style="color:red">*</span>密码:</label>
              <input  class="form-control" name="password" 
              id="password" type="password" aria-describedby="nameHelp" placeholder="密码" required>
            </div>
            <div class="col-md-3">
                  <label for="email">邮箱:</label>
                  <input   {%if t_user%}{%if t_user.email%}value="{{t_user.email}}"{%end%}{%end%} class="form-control" 
                  id="email" name="email" type="text" aria-describedby="nameHelp" placeholder="邮箱">
                </div>
                <div class="col-md-3">
                    <label for="phone">工作电话:</label>
                    <input {%if t_user%} {%if t_user.phone%}value="{{t_user.phone}}"{%end%}{%end%} class="form-control" 
                          id="phone" name="phone" type="text" aria-describedby="nameHelp" placeholder="工作电话">
                    </div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 35px; ">
            <div class="form-row">
        
          <div class="col-md-3">
              <label for="phone">私人电话:</label>
              <input {%if t_user%}{%if t_user.person_phone%}value="{{t_user.person_phone}}"{%end%}{%end%} class="form-control" 
                    id="person_phone" name="person_phone" type="text" aria-describedby="nameHelp" placeholder="私人电话">
              </div>
       
            
             
                  <div class="col-md-3">
                      <label class="col-form-label">
                          <span style="color:red">*</span>选择用户权限：
                        </label>
                    <select name="role" id='role' required class="custom-select"
                    >
                                <option value="">==请选择用户权限==</option>                 
                                {%for item in t_user_group%}
                                <option value="{{item.id}}" {%if t_user%}{%if t_user.role==item.id%}selected{%end%}{%end%}>{{item.name}}</option>
                                {%end%}
                              </select>
               </div>
               <div class="col-md-3"> 
                  <label for="staticEmail" class="col-form-label">  <span style="color:red">*</span>选择部门:</label> 
              <select name="department_name" class="custom-select" required>
                  <option value="">==请选择部门==</option>
                  {%for item in t_user_department%}
                  {%if item.parent_id==0%}
                  <option value="{{item.name}}" id='{{item.id}}' {%if t_user%}{%if t_user.department_name==item.name%}selected{%end%}{%end%} >{{item.name}}</option>
                  {%end%}
                  {%end%}
                </select>
             
          </div>
      
             
              <div class="col-md-3" >
                  <label for="staticEmail" class="col-form-label"> 选择子部门:</label>
              <select name="department_childs" class="custom-select">
                <option value="">==请选择子部门==</option>
              </select>
           
        </div>
               
          </div>
        </div>
        <div class="form-group">

            <div class="form-row" style="margin-top: 35px;">
              
                    

            
              <div class="col-md-3" >
                  <label for="staticEmail" class="col-form-label">职位:</label>
              <input {%if t_user%}{%if t_user.title_name%}value="{{t_user.title_name}}"{%end%}{%end%} placeholder="职位" name="title_name" id="title_name" class="form-control">
          </div>
          <div class="col-md-3" style="margin-top:35px;">
            <label for="is_lock"><span style="color:red">*</span>是否锁定用户登录:</label>
            <br>
            <input   id="is_lock"
             name="is_lock" type="radio" value="1" required {%if t_user%}{%if t_user.is_lock==1%}checked{%end%}{%end%}>是
             <input   id="is_lock" style="margin-left: 20px;"
             name="is_lock" type="radio" value="0" required {%if t_user%}{%if t_user.is_lock==0%}checked{%end%}{%end%}>否
          </div>
              
                  <div class="col-md-6" >
                      <label for="staticEmail" class="col-form-label">备注:</label>
                  <textarea rows="3" placeholder="备注" name="remark" id="remark" class="form-control">{%if t_user%}{%if t_user.remark%}{{t_user.remark}}{%end%}{%end%} </textarea>
              </div>
              </div>
              </div>
              <!-- <div class="form-group">
                <div class="form-row">
                
                    <div class="col-md-3" style="margin-top: 35px;">
                        <label for="is_first"><span style="color:red">*</span>是否第一次登陆:</label><br>
                          <input id="is_first" {%if t_user%}{%if t_user.is_first==0%}checked{%end%}{%end%}
                              name="is_first" type="radio"  value="0" required>是
                          <input  id="is_first" {%if t_user%}{%if t_user.is_first==1%}checked{%end%}{%end%}
                              name="is_first" type="radio" style="margin-left: 20px;"  value="1" required>否
                          </div>
                  {%if role=='8'%}        
                  <div class="col-md-3" style="margin-top: 35px;">
                    <label for="is_admin">管理员:</label><br>
                      <input id="is_admin" {%if t_user%}{%if t_user.is_admin==1%}checked{%end%}{%end%}
                          name="is_admin" type="radio" " value="1">是
                      <input  id="is_admin" {%if t_user%}{%if t_user.is_admin==0%}checked{%end%}{%end%}
                          name="is_admin" type="radio" style="margin-left: 20px;" value="0">否
                      </div>
                    {%end%}

            <div class="col-md-3" style="margin-top: 35px;">
              <label for="qc"><span style="color:red">*</span>是否为跟单分配权限：</label><br>
              <input id="qc" {%if t_user%}{%if t_user.qc==1%}checked{%end%}{%end%}
              name="qc" type="radio"  value="1" required>是
           <input   id="qc" {%if t_user%}{%if t_user.qc==0%}checked{%end%}{%end%}
              name="qc" type="radio" style="margin-left: 20px;" value="0" required>否
            </div>
          </div>
        </div> -->
        <div style="text-align:center;margin-top: 30px;"> 
          <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="button" id="submit_user" value="提交" class="btn btn-primary" style="text-align: center;margin-bottom: 10px;">
    </div>     
      </form>
    {%end%}
   <div class="card-footer small text-muted"></div>
 </div>
<!-- Modal -->


<!-- Modal -->




{% end %}


{%block js%}

<script>
$(function () {
_xsrf =  getCookie("_xsrf")

parent_id=$('select[name=department_name]').children('option:selected').attr('id')
  $.post('/insertuser?tag=select_child',{
    '_xsrf':_xsrf,
    'parent_id':parent_id
  },function (data) {
    $('select[name=department_childs] option').remove()
    $('select[name=department_childs]').append('<option value="">==请选择子部门==</option>')
    {%if t_user%}
    var department_id={{t_user.department_id}}{%end%}
    for(var i=0;i<data['data'].length;i++){
      $('select[name=department_childs]').append('<option value="'+data['data'][i].id.toString()+'_'+data['data'][i].name+'">'+data['data'][i].name+'</option>')
      if(department_id==data['data'][i].id){
        $('select[name=department_childs]').val(data['data'][i].id.toString()+'_'+data['data'][i].name)
      }
    }
    })


$('select[name=department_name]').change(function () { 
  parent_id=$(this).children('option:selected').attr('id')
  $.post('/insertuser?tag=select_child',{
    '_xsrf':_xsrf,
    'parent_id':parent_id
  },function (data) {
    $('select[name=department_childs] option').remove()
    $('select[name=department_childs]').append('<option value="">==请选择子部门==</option>')
  
    for(var i=0;i<data['data'].length;i++){
      $('select[name=department_childs]').append('<option value="'+data['data'][i].id.toString()+'_'+data['data'][i].name+'">'+data['data'][i].name+'</option>')
    }
    
    })
 })

 function demo(){ 
cboSort.focus(); 
varWshShell=newActiveXObject("Wscript.Shell"); 
try{ 
WshShell.SendKeys("%{DOWN}"); 
} 
catch(e){} 
WshShell.Quit; 
} 

 $('#submit_user').click(function () { 
    name=$('#name').val()
    password=$('#password').val()
    email=$('#email').val()
    phone=$('#phone').val()
    person_phone=$('#person_phone').val()
    role=$('select[name=role]').val()
    department_name=$('select[name=department_name]').val()
    department_childs=$('select[name=department_childs]').val()
    title_name=$('#title_name').val()
    is_lock=$('#is_lock:checked').val()
    remark=$("#remark").val()
    action="/insertuser"
    {%if t_user%}
      action="/changeuser?user_id={{user_id}}"
    {%end%}
    if(name==''){
      $('#name').focus()
      alert('未填写用户名')
     
    }
    {%if not t_user%}
    else if(password==''){
      $('#password').focus()
      alert('未填写密码') 
    }
    {%end%}
    else if(role==''){
      alert('未选择用户权限')
    }else if(department_name==''){
      alert('未选择部门')
    }
    else if(is_lock==undefined){
      $('input[name=is_lock][value=0]').focus()
      alert('未选择是否锁定用户')
      
    }
    else{
    $.post(action,{
      '_xsrf':_xsrf,
      'name':name,
      'password':password,
      'email':email,
      'phone':phone,
      'person_phone':person_phone,
      'role':role,
      'department_name':department_name,
      'department_childs':department_childs,
      'title_name':title_name,
      'is_lock':is_lock,
      'remark':remark,
      'member_page':"{{member_page}}"

    },function (data) {
      if(data=='-1'){
        alert('用户名存在')
      }else{
        location.href=data
      } 
     })
    }
  })

   })
</script>

{%end%}