
 {% extends "../base.html" %} {%block title%}收入管理{%end%} {% block body %}


 <ol class="breadcrumb">
   <li class="breadcrumb-item g1">
    主面板
   </li>
   <li class="breadcrumb-item g1">用户管理
   {% if is_admin_user=='1' or role=='14'%}
   <a class="btn btn-primary btn-sm"  id="add_kj" style="margin-left: 20px;" href="javascript:;">新增管理会计</a>
{%if tag=='kj_manage'%}

<a href="manageuser" style="margin-left: 20px;" class="btn btn-primary btn-sm">用户管理</a>
{%else%}
<a class="btn btn-primary btn-sm"  style="margin-left: 20px;" href="/insertuser?member_page={{page1}}">新增用户</a>
<!-- <a href="manageuser?tag=kj_manage" style="margin-left: 20px;" class="btn btn-primary btn-sm">会计管理</a> -->
{%end%}
</li>
{%end%}
 </ol>
{%if tag=='manageuser'%}
<form >
  <table>
    <tbody>
      <tr>
        <td>
          <input style="height: calc(2rem + 0px);" type="text" name="user_name" placeholder="用户名" class="form-control" value="{{params['user_name']}}">
        </td>
        <td>
          <input  style="height: calc(2rem + 0px);" type="text" name="phone" placeholder="电话" class="form-control" value="{{params['phone']}}">
        </td>
        <td>
          
          <input type="submit" class="btn btn-primary btn-sm"  value="检索"></td>
      </tr>
    </tbody>
  </table>
</form>
{%end%}
<div class="card mb-3">
   <div class="card-body">
     <div class="table-responsive">
             <table class="table table-bordered" id="dataTable"  cellspacing="0">
               <thead class="table_class">
                {%if tag=='kj_manage'%}
                <tr>
                  <th width="60">部门</th>
                  <th width="60">用户名</th>
              
                  <th width="60">工作电话</th>
                
                  <th width="60">个人电话</th>
                  <th width="60">职位</th>
                  <th width="60"></th>
                </tr>
                {%else%}
                <tr>
                    <th width="60">用户名</th>
                     <th width="50">邮箱</th>
                    <th width="50">电话</th>
                    <th width="150">是否锁定(禁用)用户登录</th>
                    <th width='80'>用户类型</th>
                        <th width="80">创建时间</th>
                          <th width="200">备注</th>
                            <th width="110">是否第一次登录</th>
                            <th width='60'>管理员</th>
                                <th width="140">是否为跟单分配权限</th>
                                {% if is_admin_user=='1' or role=='14'%}
                                    <th width="50">操作</th>
                                    <th width="50">操作</th>
                                    <th width="50">操作</th>
                                {%end%}
                   </tr>
                   {%end%}
               </thead>
               <tbody>
                 {%if tag=='kj_manage'%}
                 {% for user in all_users%}
                <tr>
                  <td>{{user.department_name}}</td>
                  <td>{{user.uid_name}}</td>
                  <td>{%if user.work_tel%}{{user.work_tel}}{%end%}</td>
                  <td>{%if user.per_tel%}{{user.per_tel}}{%end%}</td>
                  <td>{{user.title_name}}</td>
                  <td>
                    <a href="javascript:;" class="btn btn-sm btn-primary edit_kj"
                    id="{{user.id}}" title_name="{{user.title_name}}" department_id="{{user.department_id}}"
                    kj_name="{{user.uid_name}}"
                    >修改</a>
                  </td>
                </tr>
                 {%end%}
                 {%else%}
                    {% for user in all_users%}
                    <tr id={{user.id}}>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{%if user.phone%}{{user.phone}}{%end%}</td>
                        <td class="lock">
                            {%if user.is_lock==1%}
                            是
                          {%else%}
                            否
                          {%end%}
                          </td>
                        <td>
                          {{user.role_name}}
                        </td>

                        <td>{{user.reg_time}}</td>
                        <td>
                          {%if user.remark!=None%}
                          {{user.remark}}
                          {% end %}
                      </td>
                        <td>
                          {%if user.is_first==0%}
                          是
                          {%else%}
                          否
                          {%end%}
                        </td>
                        <td>
                          {%if user.is_admin==1%}
                            是
                          {%else%}
                            否
                          {%end%}
                        </td>
                        <td>
                            {%if user.qc==1%}
                            是
                          {%else%}
                            否
                          {%end%}
                         </td>
                        {% if is_admin_user=='1' or role=='14'%}
                         {% if user.is_lock==0%}
                        <td><a  class="btn btn-primary btn-sm l lock_user" style="color: #fff"  id="{{user.id}}" >锁定用户</a></td>
                        {%else%}
                        <td><a  class="btn btn-primary btn-sm l unlock_user" style="color: #000000;cursor: crosshair;"  id="{{user.id}}" >解锁用户</a></td>
                        {%end%}
                        <td><a class="btn btn-primary btn-sm"    id="change_user" href="/changeuser?user_id={{user.id}}&member_page={{page1}}" >修改用户</a></td>
                        <td><a class="btn btn-primary btn-sm"   id="admin_change_password" href="/adminchangepassword/{{user.id}}" >修改密码</a></td>
                        {%end%}
                        </tr>
                    {%end%}
                    {%end%}
               </tbody>
           </table>
           </div>
<div class="col-sm-12 col-md-7">
<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
 <ul class="pagination"  style="float: left;" >
{% if pagination.has_prev %}
    <li class="paginate_button page-item previous " id="dataTable_previous">
    <a href="?page={{ pagination.page - 1}}{%if tag%}&tag={{tag}}{%end%}{%if params['user_name']%}&user_name={{params['user_name']}}{%end%}{%if params['phone']%}&phone={{params['phone']}}{%end%}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo; 上页</a></li>



   {% end %}
   {%for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}
    <li class="paginate_button page-item "><a href="?page={{page}}{%if tag%}&tag={{tag}}{%end%}{%if params['user_name']%}&user_name={{params['user_name']}}{%end%}{%if params['phone']%}&phone={{params['phone']}}{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
    {% else %}
     <li class="paginate_button page-item active">
       <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page }}</a></li>
     {% end %}
     {% end %} {%end %}

    {% if pagination.has_next %}
    <li class="paginate_button page-item next" id="dataTable_next"><a href="/manageuser?page={{pagination.page+1}}{%if tag%}&tag={{tag}}{%end%}{%if params['user_name']%}&user_name={{params['user_name']}}{%end%}{%if params['phone']%}&phone={{params['phone']}}{%end%}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">下页 &raquo;</a></li>
{% end %} </ul>
</div>
</div>

    </div>
   </div>
   <div class="card-footer small text-muted"></div>
 </div>
<!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="add_kj_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

<div class="modal-dialog" role="document" >
<div class="modal-content">
 <div class="modal-header">
   <h5 class="modal-title" id="exampleModalLongTitle_license">会计管理 </h5>
   <button type="button" class="clcreated_atose" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
<div class="modal-body form-horizontal">
<div class="form-group">
  <div class="row">
      <div class="col-sm-3">
          <label for="">部门</label>
        <select class="form-control" name="department_name" id="department_name">
          <option value="">选择部门</option>
          {%for item in department_names%}
          <option value="{{item.department_id}}">{{item.department_name}}</option>
          {%end%}
        </select>
      </div>
    <div class="col-sm-3">
        <label for="">会计</label>
        <input class="form-control" type="text" name="kj_name" id="kj_name" placeholder="会计">
    </div>
    <div class="col-sm-4">
        <label for="">职位</label>
        <input class="form-control" type="text" name="title_name" id="title_name" placeholder="职位">
    </div>
<div class="col-sm-2">
    <label for="">&nbsp;</label>
    <button class="btn btn-primary btn_save_kj">保 存</button>
</div>
  </div>

</div>
<div class="form-group" >
  <div class="col-sm-12" id="kj_box">

  </div>
</div>
</div>
 <div class="modal-footer">
    <button class="btn btn-danger btn_delete_kj" id="btn_delete_kj">删 除</button>

 </div>
</div>
</div>
</div>




{% end %}

{%block js%}
<script>
$(function () {
_xsrf =  getCookie("_xsrf")
$("select[name=department_name]").change(function () { 
  $.get('/manageuser?tag=find_kj',{
    'department_id':$(this).val()
  },function (data) { 
    txt='<form><table class="table table-bordered" id="dataTable"  cellspacing="0">'+
        '<thead class="table_class"><tr><th >部门</th><th>会计</th><th>职位</th><th></th></tr></thead><tbody>'
    for(var i=0;i<data['kj'].length;i++){
      txt+='<tr><td  id="department_name_'+i.toString()+'" >'+data['kj'][i].department_name+'</td>'+
      '<td id="uid_name_'+i.toString()+'">'+data['kj'][i].uid_name+'</td>'+
      '<td id="title_name_'+i.toString()+'">'+data['kj'][i].title_name+'</td>'+
      '<td style="width:113px;"><a class="btn btn-sm btn-primary edit_kj1"'+
       'index="'+i.toString()+'" department_id="'+data['kj'][i].department_id+
       '" kj_name="'+data['kj'][i].uid_name+'" title_name="'+data['kj'][i].title_name+'"  relation_id="'+data['kj'][i].id+
      '">修改</a> <a class="btn btn-sm btn-primary  btn_save_kj1" relation_id="'+data['kj'][i].id+'" style="display:none;" index="'+i.toString()+'">保存</a> '+
      '<a class="btn btn-sm btn-danger btn_delete_kj" delete_id="'+data['kj'][i].id+'">移出</a></td></tr>'
    }
    txt+='</tbody></table></form>'
    $("#kj_box").html(txt)
   })
 })

$("#add_kj").click(function () { 
  $("#kj_box").show()
  $("#kj_name").val('')
  $("#title_name").val('')
  $(".btn_save_kj").removeAttr('relation_id')
  $("#btn_delete_kj").hide()
 
  $("#kj_name").attr('readonly',false)
  $("#add_kj_modal").modal('show')
 })
 $(".edit_kj").click(function () {
   $("#kj_box").hide() 
  $("#btn_delete_kj").show()
  $("#btn_delete_kj").attr('delete_id',$(this).attr('id'))
  $(".btn_save_kj").attr('relation_id',$(this).attr('id'))
   $("#kj_name").attr('readonly',true)
   $("#kj_name").val($(this).attr('kj_name'))
   $("#title_name").val($(this).attr('title_name'))
   $("#department_name option[value='"+$(this).attr('department_id')+"']").prop('selected',true)
   $("#add_kj_modal").modal('show')
  })
$("body").on('click','.edit_kj1',function () { 
  index=$(this).attr('index')
  department_id=$(this).attr('department_id')
  kj_name=$(this).attr('kj_name')
  title_name=$(this).attr('title_name')
  relation_id=$(this).attr('relation_id')
  select='<select style="width:88px;" class="form-control" name="department_name'+index+'" id="department_name'+index+'">'+
          '<option value="">选择部门</option>{%for item in department_names%}<option value="{{item.department_id}}">{{item.department_name}}</option>{%end%}</select>'
  input1='<input readonly class="form-control" value="'+kj_name+'" type="text" name="kj_name" id="kj_name'+index+'" placeholder="会计">'
  input2='<input class="form-control" value="'+title_name+'" type="text" name="title_name" id="title_name'+index+'" placeholder="职位">'
  $("#department_name_"+index).html(select)
  $("#department_name"+index).find('option[value="'+department_id+'"]').prop('selected',true)
  $("#uid_name_"+index).html(input1)
  $("#title_name_"+index).html(input2)
  $('.btn_save_kj1[index='+index+']').show()
  $(this).hide()
 })
 $('body').on('click','.btn_save_kj1',function () { 
  index=$(this).attr('index')
  kj_name=$("#kj_name"+index).val()
  department_id= $("select[name=department_name"+index+"]").val()

  department_name=  $("select[name=department_name"+index+"]").find("option:selected").text()
  title_name=$("#title_name"+index).val()
  if(kj_name==''|| department_id=='' ){
    alert('未填写会计或部门')
    return false
  }
  $.post('/manageuser?tag=kj_manage',{
    '_xsrf':_xsrf,
    'kj_name':kj_name,
    'department_id':department_id,
    'department_name':department_name,
    'title_name':title_name,
    'relation_id':$(this).attr('relation_id')
  },function (data) { 
    if(data=='-1'){
      alert('会计不存在')
    }
    else if(data=='-2'){
      alert('会计已存在')
    }

   })
  $.get('/manageuser?tag=find_kj',{
    'department_id':$("#department_name").val()
  },function (data) { 
    txt='<form><table class="table table-bordered" id="dataTable"  cellspacing="0">'+
        '<thead class="table_class"><tr><th>部门</th><th>会计</th><th>职位</th><th></th></tr></thead><tbody>'
    for(var i=0;i<data['kj'].length;i++){
      txt+='<tr><td id="department_name_'+i.toString()+'" >'+data['kj'][i].department_name+'</td>'+
      '<td id="uid_name_'+i.toString()+'">'+data['kj'][i].uid_name+'</td>'+
      '<td id="title_name_'+i.toString()+'">'+data['kj'][i].title_name+'</td>'+
      '<td style="width:113px;"><a class="btn btn-sm btn-primary edit_kj1"'+
       'index="'+i.toString()+'" department_id="'+data['kj'][i].department_id+
       '" kj_name="'+data['kj'][i].uid_name+'" title_name="'+data['kj'][i].title_name+'"  relation_id="'+data['kj'][i].id+
      '">修改</a> <a class="btn btn-sm btn-primary  btn_save_kj1" relation_id="'+data['kj'][i].id+'" style="display:none;" index="'+i.toString()+'">保存</a> '+
      '<a class="btn btn-sm btn-danger btn_delete_kj" delete_id="'+data['kj'][i].id+'">移出</a></td></tr>'
    }
    txt+='</tbody></table></form>'
    $("#kj_box").html(txt)
   })
  })
$('body').on('click',".btn_delete_kj",function () { 
  if(confirm('确定移出?')){
  delete_id=$(this).attr('delete_id')
  kj_name=$("#kj_name").val()
  department_id=$("select[name=department_name]").val()
  department_name=$("select[name=department_name]").find("option:selected").text()
  title_name=$("#title_name").val()

  $.post('/manageuser?tag=kj_manage',{
    '_xsrf':_xsrf,
    'kj_name':kj_name,
    'department_id':department_id,
    'department_name':department_name,
    'title_name':title_name,
    'delete_id':delete_id
  },function (data) { 
    if(data=='-1'){
      alert('会计不存在')
    }
    else if(data=='-2'){
      alert('会计已存在')
    }
    else{
      $.get('/manageuser?tag=find_kj',{
    'department_id':$("#department_name").val()
  },function (data) { 
    txt='<form><table class="table table-bordered" id="dataTable"  cellspacing="0">'+
        '<thead class="table_class"><tr><th>部门</th><th>会计</th><th>职位</th><th></th></tr></thead><tbody>'
    for(var i=0;i<data['kj'].length;i++){
      txt+='<tr><td id="department_name_'+i.toString()+'" >'+data['kj'][i].department_name+'</td>'+
      '<td id="uid_name_'+i.toString()+'">'+data['kj'][i].uid_name+'</td>'+
      '<td id="title_name_'+i.toString()+'">'+data['kj'][i].title_name+'</td>'+
      '<td style="width:113px;"><a class="btn btn-sm btn-primary edit_kj1"'+
       'index="'+i.toString()+'" department_id="'+data['kj'][i].department_id+
       '" kj_name="'+data['kj'][i].uid_name+'" title_name="'+data['kj'][i].title_name+'"  relation_id="'+data['kj'][i].id+
      '">修改</a> <a class="btn btn-sm btn-primary  btn_save_kj1" relation_id="'+data['kj'][i].id+'" style="display:none;" index="'+i.toString()+'">保存</a> '+
      '<a class="btn btn-sm btn-danger btn_delete_kj" delete_id="'+data['kj'][i].id+'">移出</a></td></tr>'
    }
    txt+='</tbody></table></form>'
    $("#kj_box").html(txt)
   })
    }
  
 })
  }
 })
$('.l').click(function(){
  var id=$(this).attr('id');
  var lock_user=$(this);
  var cont=$(this).text();
  if(cont=='锁定用户'){
      $.get(
        '/lockuser/'+id,
        function (data) { 
          $('tr[id='+id+'] .lock').text('是');
          lock_user.removeClass('lock_user');
          lock_user.addClass('unlock_user');
          lock_user.css({'color':'#000000','cursor':'crosshair'});
          lock_user.text('解锁用户');
         }
      )
}else{
      $.get(
        '/unlockuser/'+id,
        function (data) { 
          $('tr[id='+id+'] .lock').text('否');
          lock_user.removeClass('unlock_user');
          lock_user.addClass('lock_user');
          lock_user.css({'color':'#fff','cursor':'pointer'});
          lock_user.text('锁定用户');
         }
      )
}
    })
$('#kj_name').typeahead({
 source: function (query, process) {
   return $.post('/api', { query: query ,"_xsrf":_xsrf}, function (data) {
       return process(JSON.parse(data));
   });
}
});
$('#addr_type').typeahead({
 source: function (query, process) {
   return $.post('/api', { query: query ,"_xsrf":_xsrf,"tag":"addr"}, function (data) {
       return process(JSON.parse(data));
   });
}
});


$("#div_building").hide()
$("#div_recommend_by").hide()
$("#div_recommend_staff").hide()

   $("#btn_add").on("click",function(){
       $("#new_project_modal").modal("show")

   })

     $(document).on("change", 'input[name=busniess_from]',function(){

             bf_value = $(this).val().split('|')[0]

         if (bf_value=="2"){
             $("#div_from_word").show()
             $("#div_building").hide()
             $("#div_recommend_by").hide()
             $("#div_recommend_staff").hide()
         }else if(bf_value=="3"){
             $("#div_from_word").hide()
             $("#div_building").hide()
             $("#div_recommend_by").show()
              $("#div_recommend_staff").show()
               $("#msg_inner_re").text("")
         }else if(bf_value=="4"){
             $("#div_from_word").hide()
             $("#div_building").show()
             $("#div_recommend_by").hide()
              $("#div_recommend_staff").hide()

         } else if(bf_value=="81"){
             $("#div_from_word").hide()
             $("#div_building").hide()
             $("#div_recommend_by").hide()
            $("#div_recommend_staff").show()
            $("#msg_inner_re").text("（必填）")

         }
         else{
              $("#div_from_word").hide()
              $("#div_building").hide()
              $("#div_recommend_by").hide()
               $("#div_recommend_staff").hide()

         }



     })

$(".btn_save_kj").click(function () { 
  kj_name=$("#kj_name").val()
  department_id=$("select[name=department_name]").val()
  department_name=$("select[name=department_name]").find("option:selected").text()
  title_name=$("#title_name").val()
  if(kj_name==''|| department_id=='' ){
    alert('未填写会计或部门')
    return false
  }
  $.post('/manageuser?tag=kj_manage',{
    '_xsrf':_xsrf,
    'kj_name':kj_name,
    'department_id':department_id,
    'department_name':department_name,
    'title_name':title_name,
    'relation_id':$(this).attr('relation_id')
  },function (data) { 
    if(data=='-1'){
      alert('会计不存在')
    }
    else if(data=='-2'){
      alert('会计已存在')
    }else if(data['result']>0){
      $.get('/manageuser?tag=find_kj',{
    'department_id':$("#department_name").val()
  },function (data) { 
    txt='<form><table class="table table-bordered" id="dataTable"  cellspacing="0">'+
        '<thead class="table_class"><tr><th>部门</th><th>会计</th><th>职位</th><th></th></tr></thead><tbody>'
    for(var i=0;i<data['kj'].length;i++){
      txt+='<tr><td id="department_name_'+i.toString()+'" >'+data['kj'][i].department_name+'</td>'+
      '<td id="uid_name_'+i.toString()+'">'+data['kj'][i].uid_name+'</td>'+
      '<td id="title_name_'+i.toString()+'">'+data['kj'][i].title_name+'</td>'+
      '<td style="width:113px;"><a class="btn btn-sm btn-primary edit_kj1"'+
       'index="'+i.toString()+'" department_id="'+data['kj'][i].department_id+
       '" kj_name="'+data['kj'][i].uid_name+'" title_name="'+data['kj'][i].title_name+'"  relation_id="'+data['kj'][i].id+
      '">修改</a> <a class="btn btn-sm btn-primary  btn_save_kj1" relation_id="'+data['kj'][i].id+'" style="display:none;" index="'+i.toString()+'">保存</a> '+
      '<a class="btn btn-sm btn-danger btn_delete_kj" delete_id="'+data['kj'][i].id+'">移出</a></td></tr>'
    }
    txt+='</tbody></table></form>'
    $("#kj_box").html(txt)
   })
    }
    else{
      location.reload()
    }
   })
 })


       $("#btn_save_project").on("click",function(){
           all_income = $("#all_income")
           pre_income = $("#pre_income")
           project_name = $("#project_name")
           customer_name=$("#customer_name")
           busniess_from = $("input[name=busniess_from]:checked")
           new_contract_type_id = $("input[name=new_contract_type_id]:checked")
           recommend_by =$("#recommend_by")
           deal_day = $("#deal_day")
           recommend_staff = $("#recommend_staff")
           b = $.isNumeric(pre_income.val())
           b_all_income = $.isNumeric(all_income.val())
           b_deal_day= $.isNumeric(deal_day.val())
           console.log(busniess_from)
           bf_value = busniess_from.val().split('|')[0]
           business_channel= $("input[name=business_channel]:checked")
           customer_company = $("#customer_company")
           customer_tel = $("#customer_tel")
           true_income = $("#true_income")
           sign_type_id = $("input[name=sign_type_id]:checked")
           remark = $("#remark")
           talk_type = $("input[name=talk_type]:checked")
           from_word = $("#from_word")
           company = $("input[name=company]:checked")
           is_finance = $("input[name=is_finance]:checked")
           building_id = $("#building_id")
           addr_type = $("#addr_type")
           kf_id = $("#kf_id")
           console.log(bf_value)
           console.log(recommend_staff.val())
         
           if (company.val()=="0" || company.val()==undefined){
             $("#pcompanyHelpInline").text("请选择业务所属公司哦。")
             $("#company").focus()
              console.log("hi1")
             return false;
           }
           else if (busniess_from=="2" && (business_channel.val()=="0" || business_channel.val()==undefined)){
             $("#business_channelHelpInline").text("请选择来源渠道哦。")
             $("input[name=business_channel]:first").focus()
              console.log("hi2")
             return false;
           }

           else if(bf_value=="2" && kf_id.val()=="0"){
              console.log("hi7")
               
               $("#kf_idHelpInline").text("在线客服人员必选哦！")
               kf_id.focus()
              $("input[name=kf_id]:first").focus()

               return false
           }
         else if(bf_value=="3" && recommend_by.val()==""){
            console.log("hi8")
          
               $("#recommend_byHelpInline").text("客户推荐人必填哦")

               recommend_by.focus()
               return false
           }
           else if(bf_value=="81" && recommend_staff.val()==""){
              console.log("hi9")
               
               $("#recommend_staffHelpInline").text("内部推荐人必填哦")

               recommend_staff.focus()
               return false
           } 
           else if(bf_value=="4" && building_id.val()=="0" || building_id.val()==undefined){
              console.log("hi9")
               
               $("#building_idHelpInline").text("内部推荐人必填哦")

               building_id.focus()
               return false
           } 
           else if (sign_type_id.val()=="0" || sign_type_id.val()==undefined){
             $("#sign_type_idHelpInline").text("请选择签约方式哦。")
           
             $("input[name=sign_type_id]:first").focus()
              console.log("hi3")
             return false;
           }
         else if (talk_type.val()=="0" || talk_type.val()==undefined){
             $("#talk_typeHelpInline").text("请选择来源方式哦。")
            
              $("input[name=talk_type]:first").focus()
               console.log("hi4")
             return false;
           }
           else if ( is_finance.val()==undefined){
             $("#is_financeHelpInline").text("请选择是否记账。")
               console.log("hi5")
            $("input[name=is_finance]:first").focus()
             return false;
           }
           else if (new_contract_type_id.val()=="0" || new_contract_type_id.val()==undefined){
              console.log("hi6")
             $("#new_contract_type_idHelpInline").text("请选择合同情况")
       
             $("input[name=new_contract_type_id]:first").focus()
             return false;
           }


           
           

           else if (deal_day.val()==""){
              console.log("hi10")
                $("#deal_dayHelpInline").text("成交周期不能为空哦！")
                deal_day.focus()
               return false
           }
           else if(b_deal_day==false){
                console.log("hi11")
               $("#deal_dayHelpInline").text("成交周期的天数必须是数值哦！")
               deal_day.focus()

               return false
           }
           else if(b==false){
              console.log("hi")
               //alert("预计合同定金必须是数值哦！")
                $("#pre_incomeHelpInline").text("预计合同定金必须是数值哦！")
               pre_income.focus()
               return false
           }
           else if(addr_type.val()==""){
              console.log("hi")
               $("#addr_typeHelpInline").text("地址类型不能为空哦,可以试试输入 地址")
               addr_type.focus()
             return false
           }
           else if(project_name.val()==""){
              console.log("hi")
               $("#project_nameHelpInline").text("业务名称不能为空哦")
               project_name.focus()
             return false
           }
           else if(customer_name.val()==""){
              console.log("hi")
               $("#customer_nameHelpInline").text("客户名称不能为空哦")
               customer_name.focus()
             return false
           } else{
               $(this).attr("disabled","disabled")
              $(this).text("保存中...")
          
               $.post("/project?tag=new",{
                   "kf_id":kf_id.val(),
                   "all_income":all_income.val(),
                   "pre_income":pre_income.val(),
                   "project_name":project_name.val(),
                   "customer_name":customer_name.val(),
                   "busniess_from":busniess_from.val(),
                   "recommend_by":recommend_by.val(),
                   "deal_day":deal_day.val(),
                   "business_channel":business_channel.val(),
                   "customer_company":customer_company.val(),
                   "true_income":true_income.val(),
                   "customer_tel":customer_tel.val(),
                   "remark":remark.val(),
                   "sign_type_id":sign_type_id.val(),
                   "talk_type":talk_type.val(),
                   "from_word":from_word.val(),
                   "company":company.val(),
                   "is_finance":is_finance.val(),
                   "building_id":building_id.val(),
                   "new_contract_type_id":new_contract_type_id.val(),
                   "addr_type":addr_type.val(),
                   "recommend_staff":recommend_staff.val(),"_xsrf":_xsrf},function(result){
                       console.log("result"+result)
                       location.href =result
                       
                   })

           }
       })
   })

  
</script>

{%end%}