<!DOCTYPE html>
<html>
<head>
<title>{{item.title}}|{%if t_user_site.site_title%}{{t_user_site.site_title}}{%else%}{{t_user_site.site_name}}{%end%}|文章列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="{{item.keyword}}" />
<meta name="description" content="{{item.description}}" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/theme/default/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/theme/default/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- js -->
<script src="/static/theme/default/js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/theme/default/js/move-top.js"></script>
<script type="text/javascript" src="/static/theme/default/js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".scroll").click(function(event){
        event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
});
});
</script>
<!-- start-smoth-scrolling -->
</head>
    <body>
        <div class="container">
                 <ol class="breadcrumb">
                  <li><a href="/">首页</a></li>
                      <li class="">新闻资讯</li>

                    <li class="">{{item.title}}</li>
                 </ol>
        </div>
        <!-- blog -->
        <div class="blog">
            <!-- container -->
            <div class="container">
                <div class="col-md-8 blog-top-left-grid">
                    <div class="left-blog left-single">
                        <div class="blog-left">
                            <div class="blog-text">
                                <h3>{{item.title}}</h3>
                            </div>
                            <div class="single-left-left">
                                <p>发布人: <a href="#">{{item.post_by}}</a> &nbsp;&nbsp; {{item.created_at}} &nbsp;&nbsp; </p>
                            </div>
                            <div class="blog-left-bottom">
                                <P>

                                    {%raw item.content%}
                                </P>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 blog-top-right-grid">
                  <div class="Categories">
                        <h3>热门文章</h3>
                        <ul>
                            {%for row in articles_random%}
                            <li> <a href="post_{{row.id}}.html">{{row.title}}</a></li>
                            {%end%}
                        </ul>
                    </div>
                         <div class="Categories">
                        <h3>最新发布</h3>
                        <ul>
                            {%for row in articles_new%}
                            <li> <a href="post_{{row.id}}.html">{{row.title}}</a></li>
                            {%end%}
                        </ul>
                    </div>
                </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- //container -->
        </div>
        <!-- //blog -->
        <script type="text/javascript">
                                    $(document).ready(function() {
                                        /*
                                        var defaults = {
                                            containerID: 'toTop', // fading element id
                                            containerHoverID: 'toTopHover', // fading element hover id
                                            scrollSpeed: 1200,
                                            easingType: 'linear'
                                        };
                                        */

                                        $().UItoTop({ easingType: 'easeOutQuart' });

                                    });
                                </script>
                                    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- content-Get-in-touch -->
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https'){
           bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
          }
          else{
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
          }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>
    </body>
</html>