{% extends "../mobile_base.html" %} {%block title%}收入管理{%end%} 
{% block body1 %}
<div class="weui-navbar">
    <a class="weui-navbar__item "  href="/mtransition?tag=list_todo">
      全部
    </a>
  <a class="weui-navbar__item " href="/mtransition?tag=list_todo&todo=1">
    待接单<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">{{nums.a}}</span>
  </a>
  <a class="weui-navbar__item " href="/mtransition?tag=list_todo&todo=2">
    办理中<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">{{nums.b}}</span>
  </a>
  <a class="weui-navbar__item" href="/mtransition?tag=list_todo&todo=3">
    已办结<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">{{nums.c}}</span>
  </a>
  <a class="weui-navbar__item {%if tag=='search_todo'%}weui-btn_disabled weui-btn_default{%end%}" href="/mtransition?tag=search_todo">
    <i class="weui-icon-search"></i>搜索
  </a>
</div>
{% if result%}
<div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
    {%if not  todo_arranges%}
    没有数据哦.
    {%else%}
    {%for item in todo_arranges%}
    <div class="weui-form-preview">
      <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">公司名称</label>
        <em class="weui-form-preview__value">{%if item.company%}{{item.company}}{%else%}&nbsp;{%end%}</em>
      </div>
      <div class="weui-form-preview__bd">
         
      
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">办事区域</label>
          <span class="weui-form-preview__value">{{item.bs_area}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">办事地点</label>
          <span class="weui-form-preview__value">{{item.bs_address}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">办理日期</label>
          <span class="weui-form-preview__value">{{item.bl_date.strftime("%Y-%m-%d")}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">办理时段</label>
          <span class="weui-form-preview__value">{{str(item.start_time)[:-3]}}-{{str(item.end_time)[:-3]}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">办理事项</label>
          <span class="weui-form-preview__value">{{item.project_name}}</span>
        </div>
            <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">办理总结</label>
          <span class="weui-form-preview__value">{{item.project_zj}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">负责部门</label>
          <span class="weui-form-preview__value">{{item.department_name}}</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">负责人</label>
            <span class="weui-form-preview__value">{{item.responsible_per}}</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">负责电话</label>
            <span class="weui-form-preview__value">{{item.phone_fz}}</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">办事人</label>
            <span class="weui-form-preview__value">{{item.banshi_per}}</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">办事人电话</label>
            <span class="weui-form-preview__value">{{item.phone_bs}}</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">备注</label>
            <span class="weui-form-preview__value">{{item.remark}}</span>
          </div>
          <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">办理状态</label>
            <span class="weui-form-preview__value">
                {%if not item.bs_created_at %}
                待接单：待办事人{{item.banshi_per}}接单
                {%elif  item.bs_created_at and item.project_zj and not item.fz_updated_at%}
                待确认：待负责人{{item.responsible_per}}确认
                {%elif  item.bs_created_at and item.project_zj and  item.fz_updated_at%}
                已办结
                {%else%}
                办理中：办事人{{item.banshi_per}}办理中...
                {%end%}
            </span>
          </div>
        </div>
        <div class="weui-cells__title project_zj{{item.id}}" style="display:none;">填写办理总结</div>
    <div class="weui-cells project_zj{{item.id}}" style="display:none;">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <input class="weui-input" id="project_zj{{item.id}}" name="project_zj" type="text" placeholder="请输入总结内容">
          <button class="weui-btn weui-btn_primary  weui-btn_mini project_zj_sub"  href="javascript:void(0)" todo_id='{{item.id}}'>保存</button>
        </div>
      </div>
    </div>
        <div class="weui-form-preview__ft">
            {%if not item.bs_created_at and item.banshi_per==name %}
             <button class="weui-btn weui-btn_primary  weui-btn_mini confirm" bs_name="{{item.banshi_per}}" href="javascript:void(0)" id='{{item.id}}'>接单</button>
             {%elif item.bs_created_at and item.banshi_per==name and not item.project_zj%}
             <button class="weui-btn weui-btn_primary  weui-btn_mini project_zj_btn" bs_name="{{item.banshi_per}}" href="javascript:void(0)" id='{{item.id}}'>填写办理总结</button>
            {%elif  item.bs_created_at and item.project_zj and not item.fz_updated_at and item.responsible_per==name %}
           <button class="weui-btn weui-btn_primary  weui-btn_mini fz_confirm" fz_name="{{item.responsible_per}}" href="javascript:void(0)" id='{{item.id}}'>确认</button>
           {%end%}
            
    </div>
      </div>
      {%end%}
      {%end%}
     
          {%if pagination%}
          <br>
         {% if pagination.has_prev %}
              <a href="/mtransition?tag=search_todo&result=1&page={{ pagination.page - 1}}
              &bs_area={{params['bs_area']}}&company={{params['company']}}&bs_addr={{params['bs_address']}}
              &start={{params['start_time']}}&end={{params['end_time']}}&project={{params['project_name']}}&department={{params['department_name']}}
              &fz_per={{params['fz_name']}}&bs_per={{params['bs_name']}}"
               class="weui-btn weui-btn_mini weui-btn_default">&laquo; 上页</a>
      
             {% end %}
             {%for page in pagination.iter_pages() %}
              {% if page %}
              {% if page != pagination.page %}
             <a href="/mtransition?tag=search_todo&result=1&page={{page}}
             &bs_area={{params['bs_area']}}&company={{params['company']}}&bs_addr={{params['bs_address']}}
             &start={{params['start_time']}}&end={{params['end_time']}}&project={{params['project_name']}}&department={{params['department_name']}}
             &fz_per={{params['fz_name']}}&bs_per={{params['bs_name']}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" 
             class="weui-btn weui-btn_mini weui-btn_default">{{ page }}</a>
              {% else %}
                 <a href="#"  class="{%if page==page1%}weui-btn weui-btn_mini weui-btn_primary{%else%}weui-btn weui-btn_mini weui-btn_default{%end%}">{{ page }}</a>
               {% end %}
               {% else %}
               
                <a href="#" class="weui-btn weui-btn_mini weui-btn_default">....</a>
               {% end %} 
               
               {%end %}
      
              {% if pagination.has_next %}
            <a href="/mtransition?tag=search_todo&result=1&page={{pagination.page+1}}
            &bs_area={{params['bs_area']}}&company={{params['company']}}&bs_addr={{params['bs_address']}}
            &start={{params['start_time']}}&end={{params['end_time']}}&project={{params['project_name']}}&department={{params['department_name']}}
            &fz_per={{params['fz_name']}}&bs_per={{params['bs_name']}}"  class="weui-btn weui-btn_mini weui-btn_default">下页 &raquo;</a>
          {% end %} 
          {%end%}
          <br><br><br><br>
    </div>
   
    </div>


{%else%}
<br><br>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">公司名称</label></div>
      <div class="weui-cell__bd">
        <input name="company" id="company" class="weui-input" type="text"  placeholder="请输入公司名称">
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label">办事区域</label>
      </div>
      <div class="weui-cell__bd">
        <select class="weui-select" name="bs_area">
            <option selected="" value="">请选择办事区域</option>
            {% for item in area_type%}
            <option value="{{item.income_name}}">{{item.income_name}}</option>
            {%end%}
          </select>
      </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">办事地点</label></div>
        <div class="weui-cell__bd">
          <input name="bs_addr" id="bs_addr" class="weui-input" type="text"  placeholder="办事地点">
        </div>
      </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label for="" class="weui-label">办理日期</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" id="start" name="start" type="date" value="" placeholder="开始时间">
    </div>
        <div class="weui-cell__bd">至</div>
        <div class="weui-cell__bd">
        <input class="weui-input" id="end" name="end" type="date" value="" placeholder="结束时间">
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd"><label class="weui-label">办理事项</label></div>
      <div class="weui-cell__bd">
        <input  class="weui-input" id="project" name="project" type="text" placeholder="办理事项">
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
<div class="weui-cell__hd"><label class="weui-label">部门</label></div>
    <div class="weui-cell__bd">
      <select class="weui-select" name="department">
          <option selected="" value="">选择部门</option>
          {% for item in departments%}
          <option value="{{item.name}}">{{item.name}}</option>
          {%end%}
        </select>
    </div>
  </div>
  <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd"><label class="weui-label">负责人</label></div>
      <div class="weui-cell__bd">
        <input name="fz_per" id="fz_per" class="weui-input" type="text" placeholder="负责人">
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd"><label class="weui-label">办事人</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="bs_per" name="bs_per" type="text" placeholder="办事人">
        </div>
      </div>
  <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a href="javascript:;" class="weui-btn weui-btn_primary" id="search_todo">搜索</a>
      </p>
    </div>
{%end%}
      {%end%}

      {%block js%}

      <script>
        $(function(){
          _xsrf =  getCookie("_xsrf")
           
        $('#search_todo').on('click',function () { 
            var company=$('#company').val()
            var bs_area=$('select[name=bs_area').val()
            var bs_addr=$('#bs_addr').val()
            var start=$('#start').val()
            var end=$('#end').val()
            var project=$('#project').val()
            var department=$('select[name=department]').val()
            var fz_per=$('#fz_per').val()
            var bs_per=$('#bs_per').val()

            $.get(
              '/mtransition?tag=search_todo&result=1',
              {
                'company':company,
                'bs_area':bs_area,
                'bs_addr':bs_addr,
                'start':start,
                'end':end,
                'project':project,
                'department':department,
                'fz_per':fz_per,
                'bs_per':bs_per
              },function (res) { 
                location.href="/mtransition?tag=search_todo&result=1&bs_area="+bs_area+'&company='+
                company+'&bs_addr='+bs_addr+'&start='+start+'&end='+end+'&project='+project+'&department='+department
                +'&fz_per='+fz_per+'&bs_per='+bs_per
            
               }
            )
         })
        })
      </script>
      {%end%}