 {% extends "../base.html" %} {%block title%}终端管理{%end%} {% block body %}

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/sites">主面板</a>
        </li>
        <li class="breadcrumb-item active">{{site.site_name}} 文章列表</li>

      </ol>
   <div class="card mb-3">


        <div class="card-body">
          <div class="table-responsive">
                <p>
                        <a href="/articles?tag=new&site_id={{site.id}}" class="btn btn-info" name="btn_add">新建</a>
                </p>
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th width="220">发布时间</th>
                          <th width="80"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for item in articles%}
                        <tr id="{{item.id}}">
                            <td>
                                {{item.title}}
                            </td>
                            <td>
                                {{item.created_at}}
                            </td>
                            <td>
                                <a href="/articles?tag=edit&articleid={{item.id}}&site_id={{site.id}}">管理</a>
                            </td>
                        </tr>
                        {%end%}
                    </tbody>
                </table>
                <div class="span12">
                    <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            <li><a href="/mobile?page={{ pagination.page - 1}}">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li>
                                <a href="/mobile?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li><a href="/mobile?page={{pagination.page+1}}">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>
                </div>
         </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
{% end %} {%block js%}
<script>
$(document).ready(function() {
    window.prettyPrint && prettyPrint();
    $('#starttime').datepicker({
        format: 'yyyy-mm-dd'
    });
    $("#endtime").datepicker({
        format: 'yyyy-mm-dd'
    })
     _xsrf = getCookie("_xsrf");

    $("a[name=btn_choice_temp]").click(function() {

        tmp_id = $(this).attr("value")

        $("#choice_temp_id").val(tmp_id)
        $("#modal_save").show()
        $("#input_siteinfo").show()
        $("#choice_temp").hide()
        $("#myModalLabel").text("配置站点信息")
    })


    $("#btn_save").click(function() {
        _xsrf = getCookie("_xsrf");
        temp_id = $("#choice_temp_id").val()
        site_name = $("#site_name").val()
        site_title = $("#site_title").val()
        site_keyword = $("#site_keyword").val()
        site_desc = $("#site_desc").val()
        site_tongji = $("#site_tongji").val()
        $.post("", {
            "_xsrf": _xsrf,
            "site_name": site_name,
            "temp_id": temp_id,
            "site_title": site_title,
            "site_desc": site_desc,
            "site_tongji": site_tongji,
            "site_keyword": site_keyword
        }, function(result) {
            location.reload()
        })

    })

    $("#btn_cancal").click(function() {
        $("#input_siteinfo").hide()
        $("#modal_save").hide()
        $("#choice_temp").show()
    })
    $("button[name=btn_add]").click(function() {
        $("#myModal").modal("show")

    })

})
</script>
{%end%}