{% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}

<style>
.message-item {
margin-bottom: 5px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item img {
min-height: 25px;
max-height: 25px;
}

.table tbody tr:hover td, .table-hover tbody tr:hover th {
 background-color:blanchedalmond;
}
.box-dd {
display: block;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;}

.box-dd2 {
display: block;
overflow:hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;}

.daolud {
   height: 34px; line-height: 34px; color: #333;

}

</style>
<div class="main">
   <div class="main-inner">
       <div class="container">
           <div class="row">
               <div class="span12">
                   <div class="widget ">
                       <div class="widget-header">
                           <i class="icon-user"></i>
                           <h3>应收协助
                           </h3>

                       </div>


                       <!-- /widget-header -->
                       <div class="widget-content">
                           <div class="tab-content">
                               <div class="tab-pane active" id="formcontrols">
<ul class="nav nav-tabs" id="myTab">
   <li  {%if not show_tag%}class="active" {%end%}>
       <a href="/payment?tag=assist_list" id="tab_confirm">全部
        <span class="badge bg-danger">{{count.aa}}</span>
    </a>
       
   </li>
   {%if department_name=='销售部' and '250' not in role_list%}
   <li  {%if show_tag=='1'%}class="active" {%end%}>
        <a href="/payment?tag=assist_list&show_tag=1">待接单
            <span class="badge bg-danger">{{count.cc}}</span></a>
       
    </li>
    <li  {%if show_tag=='2'%}class="active" {%end%}>
        <a href="/payment?tag=assist_list&show_tag=2">已接单
            <span class="badge bg-danger">{{count.dd}}</span></a>
    </li>
    <li {%if show_tag=='3'%}class="active" {%end%}>
     <a href="/payment?tag=assist_list&show_tag=3">待审核
        <span class="badge bg-danger">{{count.ee}}</span></a>
    </li>
    <li  {%if show_tag=='4'%}class="active" {%end%}>
        <a href="/payment?tag=assist_list&show_tag=4">异常待处理
            <span class="badge bg-danger">{{count.gg}}</span></a>
       </li>
    <li  {%if show_tag=='5'%}class="active" {%end%}>
        <a href="/payment?tag=assist_list&show_tag=5">已完结
            <span class="badge bg-danger">{{count.hh}}</span></a>
       </li>
   {%else%}
   <li  {%if show_tag=='1'%}class="active" {%end%}>
       <a href="/payment?tag=assist_list&show_tag=1">应收协助发起
        <span class="badge bg-danger">{{count.bb}}</span></a>
   </li>
   <li {%if show_tag=='-1000'%}class="active" {%end%}>
       <a href="/payment?tag=assist_list&show_tag=-1000" >已过期
        <span class="badge badge-danger">{{count.ff}}</span> 
    </a>
   </li>
   <li  {%if show_tag=='2'%}class="active" {%end%}>
       <a href="/payment?tag=assist_list&show_tag=2">销售待接单
        <span class="badge bg-danger">{{count.cc}}</span></a>
   </li>
   <li {%if show_tag=='3'%}class="active" {%end%}>
    <a href="/payment?tag=assist_list&show_tag=3">销售处理中
        <span class="badge bg-danger">{{count.dd}}</span></a>
   </li>
   <li  {%if show_tag=='4'%}class="active" {%end%}>
    <a href="/payment?tag=assist_list&show_tag=4">待审核
        <span class="badge bg-danger">{{count.ee}}</span></a>
   </li>
   <li  {%if show_tag=='5'%}class="active" {%end%}>
    <a href="/payment?tag=assist_list&show_tag=5">未通过
        <span class="badge bg-danger">{{count.gg}}</span></a>
   </li>
<li  {%if show_tag=='6'%}class="active" {%end%}>
    <a href="/payment?tag=assist_list&show_tag=6">已完结
        <span class="badge bg-danger">{{count.hh}}</span></a>
   </li>
 
   {%end%}
</ul>
<form class="form-search" id="query_form">
   <input type="text" name="company_sql" id="company_sql" class="input-medium search-query" placeholder="公司名称" value="{{params['company_sql']}}" >
    <input type="text" name="person_sql" id="" class="input-medium search-query" placeholder="人员名称" value="{{params['person_sql']}}">
    <select name="role_sql" style="width: 100px;">
        <option value="1" {%if params['role_sql']=='1'%}selected{%end%}>客服会计</option>
        <option value="2" {%if params['role_sql']=='2'%}selected{%end%}>销售顾问</option>
        <option value="3" {%if params['role_sql']=='3'%}selected{%end%}>客服顾问</option>
        {%if show_tag!='-1000'%}
        <option value="4" {%if params['role_sql']=='4'%}selected{%end%}>跟进人</option>
        {%end%}
    </select>
    <input type="hidden" name="tag" value="{{tag}}">
    {%if show_tag%}
    <input type="hidden" name="show_tag" value="{{show_tag}}">
    {%end%}
    <button type="submit" class="btn">检 索</button>
</form>

                                   <fieldset>
                        
                                       {%if customers%}
                                       <table class="table" style="margin:1px;">
                                           <thead>
                                               <tr style="background-color: black; color:#fff;">
                                               <th style="width:13px; ">公司名称</th>
                                             
                                               <th style="width: 85px;">销售顾问</th>
                                               <th style="width: 85px;">客服顾问</th>
                                               {% if show_tag!='-1000' or (show_tag=='-1000' and  department_name=='销售部' and '250' not in role_list) %}
                                               <th style="width:85px;">跟进人</th>
                                               {%end%}
                                               <!-- <th style="width:75px; " >记账到期</th>
                                               <th style="width:75px; ">账册到期</th> -->
                                               <th style="width:180px;">最新收款明细</th>
                                               <th style="width:180px;">待收明细</th>
                                               <th style="width:50px; ">待收金额</th>
                                          
                                               <th style="width: 150px;">最新动态</th>
                                               {% if show_tag!='-1000' or (show_tag=='-1000' and  department_name=='销售部' and '250' not in role_list) %}
                                               <th style="width:150px;">协助原因</th>
                                                <th style="width:120px;"></th>
                                                {%end%}
                                                {%if role=='8' and show_tag=='-1000'%}
                                                <th></th>
                                               {%end%}
                                               <th style="width:30px;"></th>
                                               </tr>
                                               </thead>
                                               <!-- 11/22 -->
                                               <!-- <thead style="position: fixed; top: 0; left: 50%; margin-left: -569px; display: none; " class="top-mei">
                                                  
                                                   <tr style="background-color: black; color:#fff;">
                                                       <th style="width:175px; ">公司名称</th>
                                                  
                                                       <th style="width: 60px;">客服会计</th>
                                                      
                                                       <th style="width:73px; " >记账到期</th>
                                                       <th style="width:73px; ">账册到期</th>
                                                       <th style="width:167px;">最新收款明细</th>
                                                       <th style="width:165px;">待收明细</th>
                                                       <th style="width: 70px; ">待收金额</th>
                                                  
                                                       <th style="width: 150px;">最新动态</th>
                                                       <th style="width: 60px; "></th>
                                                       </tr>

                                              
                                           
                                               </thead> -->

                                           
                                           <tbody>

                                               {%for item in customers%}
                                               <tr>

                                                   <td>
                                                    {%if department_name=='销售部' and '250' not in role_list and item.jd_at==None %}
                                                    <span class="box-dd "  style="width: 169px; {%if item.pb_remark!='' and  item.pb_remark!=None and item.req_close==0%}color: red;{%elif item.pb_remark=='' or  item.pb_remark==None or req_close==1%} color:#333;{%end%}" title="{{item.company}}">{{item.company}}</span>
                                                    {%else%}
                                                       <a href="/payment?tag=customer&customer_id={{item.customer_id}}&to_tag=payment_tab" target="_blank" class="box-dd "  style="width: 169px; {%if item.pb_remark!='' and  item.pb_remark!=None and item.req_close==0%}color: red;{%elif item.pb_remark=='' or  item.pb_remark==None or req_close==1%} color:#333;{%end%}" title="{{item.company}}">{{item.company}}</a>
                                                   {%end%}
                                                    </td>
                                             
                                                  
                                                   <td  style="font-size:11px;">{%if item.sale_man%}{{item.sale_man}}{%elif item.sale_man1%}{{item.sale_man1}}{%end%}</td>
                                                   <td  style="font-size:11px;">{%if item.kf_man%}{{item.kf_man}}{%elif item.kf_man1%}{{item.kf_man1}}{%end%}</td>
                                                   {% if show_tag!='-1000' %}
                                                   <td  style="font-size:11px;">{%if item.sale_name%}{{item.sale_name}}{%end%}</td>
                                                   {%end%}

                                                   <!-- <td   style="width: 60px; 
                                                   {%if item.acc_end and  item.acc_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%} background-color:lemonchiffon {%end%}">
                                                       {%if item.acc_end%} {{item.acc_end.strftime("%Y-%m")}} {%end%}

                                                 
                                                   </td>
                                                   <td   style="width: 60px;{%if item.acc_book_end and  item.acc_book_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%} background-color:lemonchiffon {%end%}">

                                                       {%if item.acc_book_end %} {{item.acc_book_end.strftime("%Y-%m")}} {%end%}
                                                   </td> -->
                                                   <td 
                                                   
                                                   style="word-break: break-all;font-size:11px;width: 180px;" title="{%if item.al_remark%}{{item.al_remark}}{%end%}">

        {%if item.al_remark%} {{item.al_remark[:45]}}{%if len(item.al_remark)>45%}...{%end%}{%end%}


                                                   </td>
                                                   <td style="width: 170px;word-break: break-all;font-size:11px;" title="{%if item.pb_remark%}{{item.pb_remark}}{%end%}">
                                                       
                                                       {%if item.pb_remark%}
                                                       {{item.pb_remark[:45]}}{%if len(item.pb_remark)>45%}...{%end%}
                                                       {%end%}
                                                   </td>
                                                   <td  style="width: 60px;  color: red;">{%if item.wait_pay_amount%}{{item.wait_pay_amount}}{%end%}</td>
                                               
                                                   <td id='{{item.customer_id}}'  style="width: 150px; " 
                                                   title="{%if item.sale_cuikuan_id  and role!='8' %}{%if department_name=='销售部' and '250' not in role_list and item.sale_last_cuikuan_at%}{%if item.sale_last_cuikuan_at%}{{item.sale_last_cuikuan_msg}}{%end%}{%else%}{%if item.last_cuikuan_at%}{{item.last_cuikuan_msg}}{%end%}{%end%}{%else%}{%if item.sale_last_cuikuan_at and item.last_cuikuan_at%}{%if item.sale_last_cuikuan_at>item.last_cuikuan_at%}{{item.sale_last_cuikuan_msg}}{%else%}{{item.last_cuikuan_msg}}{%end%}{%elif item.sale_last_cuikuan_at and not item.last_cuikuan_at%}{{item.sale_last_cuikuan_msg}}{%elif not item.sale_last_cuikuan_at and item.last_cuikuan_at%}{{item.last_cuikuan_msg}}{%end%}{%end%}">
                                                   {%if item.sale_cuikuan_id and role!='8' %}
                                                   {%if department_name=='销售部' and '250' not in role_list and item.sale_last_cuikuan_at%}
                                                   {%if item.sale_last_cuikuan_at%}{{item.sale_last_cuikuan_msg[:20]}}{%if len(item.sale_last_cuikuan_msg)>20%}...{%end%}{%end%}
                                                   {%else%}
                                                   {%if item.last_cuikuan_at%}{{item.last_cuikuan_msg[:20]}}{%if len(item.last_cuikuan_msg)>20%}...{%end%}{%end%}
                                                   {%end%}
                                                   {%else%}
                                            
                                                    {%if item.sale_last_cuikuan_at and item.last_cuikuan_at%}

                                                   {%if item.sale_last_cuikuan_at>item.last_cuikuan_at%}
                                                   {{item.sale_last_cuikuan_msg[:20]}}{%if len(item.sale_last_cuikuan_msg)>20%}...{%end%}
                                                    {%else%}
                                                    {{item.last_cuikuan_msg[:20]}}{%if len(item.last_cuikuan_msg)>20%}...{%end%}
                                                   {%end%}
                                                   {%elif item.sale_last_cuikuan_at and not item.last_cuikuan_at%}
                                                   {{item.sale_last_cuikuan_msg[:20]}}{%if len(item.sale_last_cuikuan_msg)>20%}...{%end%}
                                                   {%elif not item.sale_last_cuikuan_at and item.last_cuikuan_at%}
                                                   {{item.last_cuikuan_msg[:20]}}{%if len(item.last_cuikuan_msg)>20%}...{%end%}
                                                    {%end%}
                                                    {%end%}
                                                </td>
                                             
                                                   {% if show_tag!='-1000' or (show_tag=='-1000' and  department_name=='销售部' and '250' not in role_list) %}
                                                       <td  style="font-size:11px;" title="{%if item.assist_msg%}{{item.assist_msg}}{%end%}">
                                                           {%if item.assist_msg%}{{item.assist_msg[:25]}}{%if len(item.assist_msg)>25%}...{%end%}{%end%}
                                                           
                                                       </td>
                                        

                                                       <td  style="font-size:11px;"
                                                       {%if  item.jd_at!=None and item.sale_end_at!=None%}
                                                       title="{%if item.status==1%}已收款{%elif item.status==2%}未收款{%end%} 总结:{{item.summary}} {{item.sale_end_at.strftime('%Y-%m-%d')}}"
                                                    
                                                       {%end%}
                                                       >
                                                            {%if department_name=='销售部' and '250' not in role_list%}
                                                            {%if item.jd_at==None%}
                                                            <a class="btn btn-sm control sale_jd" assist_id="{{item.assist_id}}" href="javascript:void(0);" style="width: 30px; height: 24px; color: #4aa8cc;">接单</a>
                                                            {%elif  item.jd_at!=None and item.sale_end_at==None %}
                                                            <a class="btn btn-sm control sale_finish" assist_id="{{item.assist_id}}"  customer_id="{{item.customer_id}}" href="javascript:void(0);" style="width: 30px; height: 24px; color: #4aa8cc;">完结</a>
                                                            {%elif  item.jd_at!=None and item.sale_end_at!=None%}

                                                            {%if item.status==1%}已收款{%elif item.status==2%}未收款{%end%}
                                                            <br>
                                                            总结:{{item.summary[:18]}}{%if len(item.summary)>18%}...{%end%}
                                                            {%end%}
                                                            {%else%}
                                                             {%if item.distribute_at==None%}                                                      
                                                            <a class="btn handler_detail btn-sm control" type='button'
                                                            assist_id="{{item.assist_id}}"
                                                            assist_msg="{{item.assist_msg}}"
                                                            href="javascript:void(0)"
                                                             
                                                               style="width: 30px; height: 24px; color: #4aa8cc;"
                                                               >
                                                                分配</a>
                                                            {%elif item.distribute_at!=None and item.jd_at==None%}
                                                            待销售{{item.sale_name}}接单{{item.distribute_at.strftime('%Y-%m-%d')}}
                                                            {%elif item.jd_at!=None and item.sale_end_at==None%}
                                                            销售{{item.sale_name}}处理中{{item.jd_at.strftime('%Y-%m-%d')}}
                                                            {%elif item.sale_end_at!=None%}
                                                            {%if item.status==1%}已收款{%elif item.status==2%}未收款{%end%}
                                                            
                                                    
                                                            <br>
                                                            总结:{{item.summary[:15]}}{%if len(item.summary)>15%}...{%end%}
                                                            {%end%}
                                                            {%end%}
                                                            </td>
                                                            {%end%}
                                                {%if role=='8' and show_tag=='-1000'%}
                                                    <td>
                                                        <a class="btn handler_detail btn-sm control" type='button'
                                                        customer_id="{{item.customer_id}}"
                                                        href="javascript:void(0)"
                                                         step='4'
                                                           style="width: 30px; height: 24px; color: #4aa8cc;"
                                                           >
                                                            分配</a>

                                                    </td>
                                                    {%end%}
                                                    <td>   
                                                        {%if show_tag!='-1000'%}
                                                        {%if    item.sale_end_at!=None %}
                                                        {%if '250' in role_list and item.is_check==0%}
                                                            <a class="btn  check_xiezhu btn-sm control" type='button'
                                                            assist_id="{{item.assist_id}}"
                                                            href="javascript:void(0)"
                                                             
                                                               style="width: 60px; height: 24px; color: #4aa8cc; margin-bottom:5px;" 
                                                               >
                                                                审 核</a>
                                                                {%elif item.is_check==2 or item.is_check==1 %}
                                                                
                                                                <a class="btn  look_xiezhu btn-sm control" type='button'
                                                                assist_id="{{item.assist_id}}"
                                                                is_check="{{item.is_check}}"
                                                                manager="{%if '250' in role_list%}1{%end%}"
                                                                check_remark="{{item.check_remark}}"
                                                                sale_name="{{item.sale_name}}"
                             
                                                                 customer_id="{{item.customer_id}}"
                                                                href="javascript:void(0)"
                                                                   style="width: 60px; height: 24px; color: #4aa8cc; margin-bottom:5px;" 
                                                                   >
                                                                    查 看</a>
                                                                
                                                                {%end%}
                                                                {%end%}
                                                                {%end%}

                                                            <a class="btn handler_detail1 btn-sm control" type='button'
                                                            customer_id="{{item.customer_id}}"
                                                            item_id="{{item.id}}"
                                                            wait_pay="{%if item.acc_end and  item.acc_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}{{item.next_pay_acc_start.strftime("%Y-%m")}}至{{item.next_pay_acc_end.strftime("%Y-%m")}}({{item.pay_pay_typeid_name}})记账费:{{item.pay_service_amount}}元 {%end%}{%if item.acc_book_end and item.acc_book_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}{{item.next_pay_acc_book_start.strftime("%Y-%m")}}至{{item.next_pay_acc_book_end.strftime("%Y-%m")}}({{item.pay_pay_typeid_name}})账册费:{{item.pay_book_amount}}元{%end%}"
                                                            
                                                                href="javascript:void(0)"
                                                                 curr_expire_pay="{%if item.acc_end and item.acc_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}记账费到期:{{item.acc_end.strftime("%Y-%m")}}
                                                                {%end%}{%if item.acc_book_end and item.acc_book_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}账册费到期:{{item.acc_book_end.strftime("%Y-%m")}}{%end%}"
                                                                href="javascript:void(0)"
                                                                company_name="{{item.company}}"
                                                                {% if show_tag!='-1000' or (show_tag=='-1000' and  department_name=='销售部' and '250' not in role_list) %}jd_at="{{item.jd_at}}"  sale_end_at="{{item.sale_end_at}}"{%end%}
                                                               
                                                                style="width: 60px; height: 24px; color: #4aa8cc;"
                                                                >
                                                                 催款记录</a>
                                                            </td>                                            

               

                                               </tr>
<tr style="font-size:11px;">


<td colspan="15" style="text-align:right;border-top:1px solid #fff; ">
    会计:{{item.acc_uid_name}}&nbsp;
{{item.pay_pay_typeid_name}}
&nbsp; 总费{{item.pay_service_amount}}
&nbsp; 月费:{{item.pay_service_amount_month}}

&nbsp; 账册费{{item.pay_book_amount}}

</td>
</tr>


                                               {%end%}



                                           </tbody>
                                       </table>

                                       {%else%} 还没有客户哦。 {%end%}
                                       <div class="pagination">
                                           <ul>
                                               {% if pagination.has_prev %}
                                               <li>
                                                   <a href="/payment?tag={{tag}}{%if show_tag%}&show_tag={{show_tag}}{%end%}
                                                   {%if params['company_sql']%}&company_sql={{params['company_sql']}}{%end%}
                                                   {%if params['person_sql']%}&person_sql={{params['person_sql']}}{%end%}
                                                   {%if params['role_sql']%}&role_sql={{params['role_sql']}}{%end%}
                                                   &page={{ pagination.page - 1}}">&laquo; 上页</a>
                                               </li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                                               <li>
                                                   <a href="/payment?tag={{tag}}{%if show_tag%}&show_tag={{show_tag}}{%end%}
                                                   {%if params['company_sql']%}&company_sql={{params['company_sql']}}{%end%}
                                                   {%if params['person_sql']%}&person_sql={{params['person_sql']}}{%end%}
                                                   {%if params['role_sql']%}&role_sql={{params['role_sql']}}{%end%}
                                                   &page={{ page }}">{{ page }}</a>
                                               </li>
                                               {% else %}
                                               <li>
                                                   <span class="active">
                                                       <a href="#">{{ page }}</a>
                                                   </span>
                                               </li>
                                               {% end %} {% else %}
                                               <li>
                                                   <span class="active">
                                                       <a href="#">....</a>
                                                   </span>
                                               </li>
                                               {% end %} {%end %} {% if pagination.has_next %}
                                               <li>
                                                   <a href="/payment?tag={{tag}}{%if show_tag%}&show_tag={{show_tag}}{%end%}
                                                   {%if params['company_sql']%}&company_sql={{params['company_sql']}}{%end%}
                                                   {%if params['person_sql']%}&person_sql={{params['person_sql']}}{%end%}
                                                   {%if params['role_sql']%}&role_sql={{params['role_sql']}}{%end%}
                                                   &page={{pagination.page+1}}">下页 &raquo;</a>
                                               </li>
                                               {% end %}
                                           </ul>
                                       </div>
                                       
                                   </fieldset>

                               </div>



                           </div>
                       </div>
                   </div>
               </div>
               <!-- /widget-content -->
           </div>
           <!-- /widget -->
       </div>
       <!-- /span8 -->
   </div>
   <!-- /row -->
</div>
<!-- /container -->
</div>


<div id="a_handler_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="myModalLabel_account">审核协助


       </h3>
   </div>
   <div class="modal-body">
       <div class="control-group">
           <div class="controls">
               <select id="sale_name" name="sale_name">
                   <option value="">选择销售</option>
                   {%for item in t_user_sales%}
                <option value="{{item.id}}">{{item.name}}</option>
                   {%end%}
               </select>
                <p class="alert alert-danger" id="er_sale_name" hidden></p>
           </div>
       </div>
       <div class="control-group">
           <label class="control-label" for="lastname">协助原因</label>

           <div class="controls">
              <textarea  id="assist_msg" style="margin: 0px 0px 9px; width: 491px; height: 61px;"></textarea>
           </div>
       </div>
   

</div>


   <div class="modal-footer">
  
       <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
       <button class="btn btn-primary" id="btn_save_sale">保存</button>
   </div>
</div>
<div id="a_handler_modal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel_account">催款记录
    
    
            </h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
    
    
            <div class="control-group">
                <label class="control-label" for="lastname">催款记录</label>
                <!-- <div class="controls">
                    <textarea type="text" class="span4" id="wait_pay_remark" name="wait_pay_remark" value="" style="height: 50px;"></textarea>
                </div> -->
                <!-- /controls -->

                <div class="controls" id="show_msg_add" >
                        <textarea class="span4" id="txt_msg" style="margin: 0px 0px 9px; width: 491px; height: 61px;">
                            </textarea>
                            <label class="control-label" for="lastname">下次计划提醒时间</label>
                        <input type="text" id="txt_time" placeholder="催款时间"/> 
                            <br>
                            <button id="btn_save_msg" class="btn">确定添加</button>&nbsp;&nbsp;&nbsp;
                            <input type="file"  value="上传附件" style=margin-top:10px;" name="record_file" id="record_file" class="form-control "/>
                </div>
            </div>
            <div class="control-group" id="txt_msg_box">
                    <div class="widget widget-table action-table">
                            <div class="widget-header">
                                <i class="icon-th-list"></i>
                                <h3>催款记录 1</h3>
                            </div>
                            <div class="widget-content">
                                <textarea class="form-control" id="txt_msg" style="width:100%">
                                                                                              </textarea>
                                <br/>
                                <button id="btn_save_msg">确定添加</button>&nbsp;&nbsp;&nbsp;
                                <input type="file" value="上传附件" style=margin-top:10px;" name="record_file" id="record_file" class="form-control "/>
                                                                                              <hr class="my-0">
                                                                                             
                                                                                              <div class="message-item" id="msg_">
                                                                                                  <div class="message-inner">
                                                                                                      <div class="message-head clearfix">
                                                                                                          <div class="avatar pull-left">
                                                                                                              <img src="/static/images/avatar.jpeg">
                                                                                                          </div>
                                                                                                          <div class="user-detail">
                                                                                                              <h5 class="handle">
                                                                                                                  <span style="font-size:13px;"> 
                                                                                                                  </span>
                                                                                                                
                                                                                                              </h5>
                                                                                                          </div>
                                                                                                      </div>
                                                                                                      
                                                                                                  </div>
                                                                                              </div>
                                                                                             
                            </div>
                            <!-- /widget-content -->
                        </div>
            </div>
    
    </div>
    
        </div>
        <div class="modal-footer">
       
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <!-- <button class="btn btn-primary" id="btn_save_msg">保存</button> -->
        </div>
    </div>


<div id="check_xiezhu_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel_account">审核
             
             
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <div class="controls">
                             <input type="radio" value="1" id="is_check" name="is_check">通过
                             <input type="radio" value="2" id="is_check" name="is_check">不通过
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastname">备注</label>
             
                        <div class="controls">
                           <textarea  id="check_remark" style="margin: 0px 0px 9px; width: 491px; height: 61px;"></textarea>
                        </div>
                    </div>
                
             
             </div>
             
             
                <div class="modal-footer">
                        <a class="btn btn-primary sale_finish" id='re_sale_finish'  href="javascript:void(0);">重新填写</a>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" id="btn_save_check">保存</button>
                </div>
             </div>
             <div id="a_handler_finish_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel_account">办理总结
             
             
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label for="" class="control-label">处理状态</label>
                        <div class="controls">
                             <input type="radio" value="1" id="status" name="status">已收款
                             <input type="radio" value="2" id="status" name="status">未收款
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastname">办理总结</label>
             
                        <div class="controls">
                           <textarea  id="summary" style="margin: 0px 0px 9px; width: 491px; height: 61px;"></textarea>
                        </div>
                    </div>
                
             
             </div>
             
             
                <div class="modal-footer">
               
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" id="btn_save_summay">保存</button>
                </div>
             </div>
{%end%} {%block js%}


<script>

    $(function () {
        _xsrf = getCookie("_xsrf")

        
        laydate.render({
                   elem: '#txt_time' //指定元素
          });
        

           $(".handler_detail").on("click", function () {
                assist_id=$(this).attr('assist_id')
                customer_id=$(this).attr('customer_id')
                step=$(this).attr('step')
                $("#btn_save_sale").attr('customer_id',customer_id)
                $("#btn_save_sale").attr('assist_id',assist_id)
                $("#btn_save_sale").attr('step',step)
                $("#assist_msg").val($(this).attr('assist_msg'))
                $("#a_handler_modal").modal("show")


           })
           $(".handler_detail1").on("click", function () {
                
                wait_pay = $(this).attr("wait_pay")
                curr_expire_pay = $(this).attr("curr_expire_pay")
               customer_id = $(this).attr("customer_id")
               company_name = $(this).attr("company_name")
               sale_end_at=$(this).attr('sale_end_at')
               $('#btn_save_msg').attr('customer_id',customer_id)
               $('#btn_save_msg').attr('sale_end_at',sale_end_at)
               $("#btn_save_wai_pay").attr("payment_id", "0")
               $("#curr_expire").text("")
               $("#last_payment").html("")
               $("#curr_last_payment").html("")
               $("#service_price").html("")
                $("#account_remark").val("")
               $("#company_name").text("")
               jd_at=$(this).attr('jd_at')
               $.get("/payment?tag=get_last_payment", { "customer_id": customer_id }, function (result) {
                   if (result.code == 1) {
               
                       
                       html = "<td>付款方式</td><td>" + result.customer.customer_paytype_id_name + "</td>"
                       html += "<td>总服务费</td><td>" + result.customer.customer_service_amount + "</td>"
                       html += "<td>月服务费</td><td>" + result.customer.customer_service_amount_month + "</td>"
  
                       html += "<td>账册费</td><td>" + result.customer.customer_book_amount + "</td>"
                       $("#service_price").html(html)
                       // $("#msg_service_amount").text("上一次总服务费:" +  result.customer.service_amount)

                       $("#msg_acc_end").text("(上期记账费到期时间:" + result.customer.acc_end + ")")
                       $("#msg_acc_book_end").text("(上期账册费到期时间:" + result.customer.acc_book_end + ")")

                       if (result.customer.al_remark == undefined || result.customer.al_remark == "") {
                           $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")

                       } else {
                           $("#last_payment").html("<td colspan='8'>" + result.customer.al_remark + "</td>")
                       }
                       if (result.customer.pb_remark == undefined || result.customer.pb_remark == "") {
                           $("#curr_last_payment").html("<td colspan='8'>没有待收款明细哦</td>")

                       } else {
                           $("#curr_last_payment").html("<td colspan='8'>" + result.customer.pb_remark + "</td>")
                       }
                       
                      $("#curr_expire").html("<td colspan='8'>" + curr_expire_pay + "</td>")
                       $("#company_name").html("<td colspan='8'>" + company_name + "</td>")

                       $("#btn_save_wai_pay").attr("payment_id", result.customer.payment_id)

                       
                       $("#wait_pay_remark").val(wait_pay)
                       $("#a_handler_modal1").modal("show")
                   } else {


                   }
               }, "json")
               
               {%if  '250' not in role_list%}
               if(jd_at=='None'){
                   $("#show_msg_add").hide()
               } 
               else{$("#show_msg_add").show()}
               {%end%}
               $.get('/customer?tag=show_customer_exchange',
               {"customer_id": customer_id,'department_name':"{{department_name}}",'jd_at':jd_at},function (result) { 
                   $('#txt_msg_box').html(result)
                })

           })
           $("#btn_save_sale").on("click",function () {
            assist_id=$(this).attr('assist_id')
            sale_name=$("select[name=sale_name]").find("option:selected").text(); 
            sale_id=$("#sale_name").val()
            assist_msg=$('#assist_msg').val()
            customer_id=$(this).attr('customer_id')
            step='1'
            if($(this).attr('step')=='4'){
                step='4'
            }
            if(sale_id==''){
                $("#er_sale_name").show()
                $("#er_sale_name").text('销售不能为空')
            }
            else{
                
            $.post('/payment?tag=ask_assist',{
                "_xsrf":_xsrf,
                "sale_name":sale_name,
                "assist_msg":assist_msg,
                "sale_id":sale_id,
                "assist_id":assist_id,
                "customer_id":customer_id,
                "step":step
            },function (result) {
                if(result=='-1'){
                    alert('销售填写错误')
                }else{location.reload()} 
                
             })
            }
            })

            $("#btn_save_msg").on("click", function () {
                customer_id=$(this).attr('customer_id')
                sale_end_at=$(this).attr('sale_end_at')
                msg = $("#txt_msg").val()
                if (msg == "") {
                    alert("交流记录不能为空哦.")
                    return false
                } else {
                    var formData = new FormData();
                    formData.append('file', $('#record_file')[0].files[0])
                    formData.append('_xsrf', _xsrf)
                    formData.append('msg', msg)
                    formData.append('customer_id', customer_id)
                    formData.append('sale_end_at', sale_end_at)
                    formData.append('msg_time',$('#txt_time').val())
                    formData.append('etype', 2)

                    $.ajax({
                        url: '/customer?tag=customer_exchange',
                        type: 'POST',
                        data: formData,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,  // tell jQuery not to set contentType
                        success: function (data) {
                            $('#txt_msg_box').html(data)
                            $.post('/customer?tag=show_customer_exchange',
                            {   '_xsrf':_xsrf,
                                'customer_id':customer_id
                            
                            },function (result) {
                                str=''
                                if(result['msg'].length>20){
                                    str='...'
                                }
                                $('td[id='+customer_id+']').html(result['msg'].substring(0,20)+str)
                                $('td[id='+customer_id+']').attr('title',result['msg']+' '+result['created_at'])
                               
                             })
                      
                        }
                    })
                }
            })
            $('.sale_jd').on('click',function () { 
                assist_id=$(this).attr('assist_id')
                if(confirm('确认接单？')){
                    $.post('/payment?tag=ask_assist',
                {
                    "_xsrf":_xsrf,
                    "step":2,
                    "assist_id":assist_id

                },function (data) { 
                    location.reload()
                 })
                }
             

             })
             $('.sale_finish').on('click',function () { 
                assist_id=$(this).attr('assist_id')
                customer_id=$(this).attr('customer_id')
                $("#btn_save_summay").attr('assist_id',assist_id)
                $("#btn_save_summay").attr('customer_id',customer_id)
                $("#a_handler_finish_modal").modal('show')
              })
              $("#btn_save_summay").click(function () { 
                status=$('input[name=status]:checked').val()
                summary=$("#summary").val()
                assist_id=$(this).attr('assist_id')
                customer_id=$(this).attr('customer_id')
                if(status==undefined || summary==''){
                    alert('未填写完全')
                }else{
                    $.post('/payment?tag=ask_assist',
                {
                    "_xsrf":_xsrf,
                    "step":3,
                    "assist_id":assist_id,
                    "status":status,
                    "summary":summary,
                    "customer_id":customer_id

                },function (data) { 
                    location.reload()
                 })
                }
               })
            $(".check_xiezhu").click(function () { 
                $("#btn_save_check").attr('assist_id',$(this).attr('assist_id'))
                $("#re_sale_finish").hide()
                $("#check_xiezhu_modal").modal('show')
             })
             $("#btn_save_check").click(function () { 
                assist_id=$(this).attr('assist_id')
                is_check=$("#is_check:checked").val()
                check_remark=$("#check_remark").val()
                if(is_check==undefined){
                    alert('请选择')
                }else{
                    $.post('/payment?tag=ask_assist',
                {
                    "_xsrf":_xsrf,
                    "step":5,
                    "assist_id":assist_id,
                    "is_check":is_check,
                    "check_remark":check_remark
                  
                },function (data) { 
                    location.reload()
                 })
                }


              })
            $('.look_xiezhu').click(function () { 
                check_remark=$(this).attr('check_remark')
                is_check=$(this).attr('is_check')
                $('input[name=is_check][value='+is_check+']').prop('checked',true)
                $("#check_remark").val(check_remark)
                sale_name=$(this).attr('sale_name')
                if (sale_name=="{{name}}" && is_check!='1'){
                    $("#re_sale_finish").show()
                }
                else{
                    $("#re_sale_finish").hide()
                }
                if($(this).attr('manager')==''){
                    $("#check_remark").attr('readonly',true)
                    $("#btn_save_check").hide()
                    $("input[name=is_check]").attr('disabled','disabled')
                }else{
                    $("#btn_save_check").attr('assist_id',$(this).attr('assist_id'))
                }
                $("#re_sale_finish").attr({'assist_id':$(this).attr('assist_id'),'customer_id':$(this).attr('customer_id')})
                $("#check_xiezhu_modal").modal('show')

             })
   })
</script> {%end%}