<style>
.faye-table {width: 100%; height: auto; /*background-color: purple;*/ margin: 0% auto; font-weight: bold;}
.faye-table ul {overflow: hidden; margin: 0; padding: 0;}
.faye-table ul li {width: 100%; list-style: none; box-sizing: border-box; border-bottom: 1px solid #dedede; width: 100%; height:40px; overflow: hidden;}
.faye-table ul li div {float: left; height: 40px; line-height: 40px; text-align: center; border-left: 1px solid #dedede;}
.faye-table ul li div.fayet {width:10%; background-color:#eee; border-bottom: 1px solid #dedede; }
.faye-table ul li div.fayet1 {width:13%;}
.faye-table ul li div.fayet3 {width:92%;}
.faye-table ul li div.fayet4 {width:10%;}
.faye-table ul li div.fayet5 {width:15%;}
.faye-table ul li div.fayet6 {width:33%; height: 180px; border-left: 1px solid #dedede; }
.faye-table ul li div.fayet7 {width:34%; height: 180px; border-left: 1px solid #dedede;}
.faye-table ul li.gaodu {height: 180px;}
.faye-table ul li div.direction {text-align: left; padding-left: 10px; box-sizing: border-box;}
.faye-table ul li div.fayet6 span {display: block; width: 100%; height: 40px; border-bottom: 1px solid #dedede; background-color:#eee; }
.faye-table ul li div.fayet7 span {display: block; width: 100%; height: 40px; border-bottom: 1px solid #dedede; background-color:#eee; }
.faye-table ul li div.fayet6 i {display: block; width: 100%; height: 140px; line-height: 22px; font-style: normal; padding-top:8px; box-sizing: border-box;}
.faye-table ul li div.fayet7 i {display: block; width: 100%; height: 140px; line-height: 22px; font-style: normal; padding-top:8px; box-sizing: border-box;}
.message-item {
margin-bottom: 5px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item img {
min-height: 25px;
max-height: 25px;
}
.modal-ku {
width: 1750px;
margin: auto;
}
</style>
<div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget">

<div class="widget-content">
		<div class="tabbable">
						<!-- <ul class="nav nav-tabs" id="myTab">
						  <li>
						    <a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=customer_tab" id="a_customer_tab" >基础信息</a>
                          </li>
                          <li>
                                <a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=payment_tab" >动态跟进</a>
                              </li>

              <li ><a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=finance_tab" id="a_finance_tab" >财务信息</a></li>

              <li class="active"><a href="#payment_tab" id="a_payment_tab" data-toggle="tab">应收记录</a></li>

						</ul> -->

                        <style>
                                .xws-biashi ul li a {float: left; margin-right: 25px; padding:5px 10px; background-color: #20a4e5; border-radius: 6px; color: #fff; text-decoration: none; cursor: pointer; margin-bottom: 10px;}
                                .xws-biashi ul li a:hover {color: #ff0000}
                            </style>
                            <div class="xws-biashi">
                                <ul>
                                    <li><a href="#linkman_div">联系人管理</a></li>
                                    <li><a href="#payment_div">应收记录</a></li>
                                    <li><a href="#cuikuan_div">催款记录/会计建议</a></li>
                                </ul>
                            </div>
                        <br>

                        <style> 
                            ul,li {list-style: none;}
                            .xs-run li {width: 530px; height: 77px; border:1px solid #898989; float: left; margin-right: 22px; margin-top: 22px; }
                            .xs-run li div {float: left;}
                            .xs-run li:last-child {border: 1px solid #1fa1e1; text-align: center; line-height: 77px; color: #1fa1e1;}
                            .xs-name {width: 80px; height: 77px; }
                            .xs-name h5 {font-size: 14px; text-align: center; margin-top: 23px; }
                            .xs-name span {text-align: center; display: block; color: #ff0000;}
                            .xs-nameone {width: 170px; height: 77px; }
                            .xs-nameone span {display: block; margin-left: 10px; margin-top: 15px;}
                            .xs-nameone span b {font-weight: 100;width: 123px; height: 14px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display: inline-block; }
                            .xs-tell {width: 180px; height: 77px; }
                            .xs-tell span {display: block; margin-left: 10px; margin-top: 15px;}
                            .xs-two {width: 100px; height: 77px; }
                            .xs-two button {display: block;font-size: 12px; margin-left: 15px; margin-top: 8px; width: 72px; height: 28px; background-color: transparent; }
                            .xs-btn1 {border:1px solid #1fa1e1; color: #1fa1e1;}
                            .xs-btn2 {border:1px solid #d60000; color: #d60000;}
                            .xs-lie {width: 1134px; height: 155px; border:1px solid #898989; border-radius: 8px; margin-top: 15px;}
                            .xs-lie hr {width: 1100px; margin: 0 auto;}
                            .xs-lietop { height: 30px;  margin: 15px 0; overflow: hidden;}
                            .xs-lietop ul li {float: left; height: 20px; line-height: 20px;}
                            .xs-lietop ul li input{width: 17px; height: 17px; border:1px solid #ccc;}
                            .xs-lietop ul li a {font-size: 14px; color:#646464; font-weight: bold; line-height: 20px; margin-left: 20px;}
                            .xs-lietop ul li span {margin-left: 30px;  color: #7d7d7d;}
                            .xs-lietop ul li span b {font-weight: 100; color: #7d7d7d;}
                            .xs-liebutright ul li.xs-box button {width:79px; height: 23px; font-size: 12px; padding: 0; border:1px solid #20a4e5; color: #20a4e5; background-color: transparent;}
                            .xs-liemid { overflow: hidden; margin-top: 10px; margin-bottom: 5px;}
                            .xs-liemid ul li {float: left;}
                            .xs-liemid ul li:nth-child(1){width: 355px ; margin-left: 10px; border-right: 1px solid #e0e0e0;}
                            .xs-liemid ul li:nth-child(1) span {display: block;}
                            .xs-liemid ul li:nth-child(1) span b i { font-style:normal;display: block; width: 269px; height:100%;overflow:hidden;text-overflow:ellipsis;}
                            .xs-liemid ul li:nth-child(2){width: 355px ; margin-left: 10px; border-right: 1px solid #e0e0e0;}
                            .xs-liemid ul li:nth-child(2) span {display: block;}
                            .xs-liemid ul li:nth-child(2) span b i { font-style:normal;display: block; width:287px; height:100%;overflow:hidden;text-overflow:ellipsis;}
                            .xs-liemid ul li:nth-child(3){width: 350px ; margin-left: 10px;}
                            .xs-liemid ul li:nth-child(3) span {display: block;}
                            .xs-dtai b {float: left; display: block; font-weight: 100;}
                            .xs-liebutleft {float: left;}
                            .xs-liebutleft span {font-size: 12px; color:#ff0000; line-height: 32px; margin-left: 20px; }
                            .xs-liebutright {float: right; margin-right: 20px;} 
                            .xs-liebutright ul li {float: left; margin-left: 20px; line-height: 32px;} 
                            .xs-liebutright ul li  b {font-weight: 100;}
                            .ys_fixed {width: 1170px; height: 150px; background-color: red; position: fixed; left: 50%; top: 0px; margin-left: -585px; z-index: 999; display: none;}
                        </style>  
        
        <div class="ys_fixed">
                <div class="widget-header">
                <i class="icon-user"></i>
                <h3>客户详情 - {{customer.company}}
                </h3>
                </div>
                <div class="widget-content"> 
						<ul class="nav nav-tabs" id="myTab">
                                <li>
                                  <a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=customer_tab" id="a_customer_tab" >基础信息</a>
                                </li>
                                <li>
                                      <a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=payment_tab" >动态跟进</a>
                                    </li>
      
                    <li ><a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=finance_tab" id="a_finance_tab" >财务信息</a></li>
                    <li><a href="/customer?tag=show&id={{customer.id}}&guid={{customer.guid}}{%if old_tag%}&old_tag={{old_tag}}{%end%}&to_tag=exchange_tab" id="a_exchange_tab" >联系记录</a></li>
                    <li class="active"><a href="#payment_tab" id="a_payment_tab" data-toggle="tab">应收记录</a></li>
      
                              </ul>
                    <div class="xws-biashi">
                            <ul>
                                <li><a href="#linkman_div">联系人管理</a></li>
                                <li><a href="#payment_div">应收记录</a></li>
                                <li><a href="#cuikuan_div">催款记录/会计建议</a></li>
                            </ul>
                        </div>
                </div>
            </div>       

<div class="tab-content">
    <div class="tab-pane active " id="payment_tab ">
        <div class="widget widget-table action-table" id="linkman_div">
            <div class="widget-content">
                <div class="widget widget-table action-table">
                    <div class="widget-header"> <i class="icon-th-list"></i>
                        <h3>联系人管理</h3>
                    </div>
                    <div class="widget-content" style="border:none;">
                        <ul class="xs-run">
                            {%if t_linkman%}
                            {%for item in t_linkman%}
                            <li>
                                <div class="xs-name">
                                    <h5 style="color: #ff0000;">{{item.name}}</h5>
                                    {%if item.is_first==1%}<span>(首要)</span>{%end%}
                                </div>
                                <div class="xs-nameone">
                                    <span>备注：<b title="{{item.remark}}">{{item.remark}}</b></span>
                                    <span>创建：<b>{{item.acc_uid_name}} {{item.created_at.strftime("%Y-%m-%d")}}</b></span>
                                </div>
                                <div class="xs-tell">
                                    <span>联系电话：<b>{{item.tel}}</b></span>
                                   
                                </div>
                                <div class="xs-two">
                                    <button class="xs-btn1 modify_linkman1"
                                    tel="{{item.tel}}"
                                    remark="{{item.remark}}"
                                    title="{{item.name}}"
                                    gender="{{item.gender}}"
                                    linkman_guid="{{item.guid}}"
                                    is_first="{{item.is_first}}"
                                    linkman_id="{{item.id}}"
                                    >编辑</button>
                                    <button class="xs-btn2 delete_linkman1"
                                      linkman_id="{{item.id}}"
                                      linkman_guid="{{item.guid}}"
                                    >删除</button>
                                </div>
                            </li>
                            {%end%}
                            {%end%}
                            <li title="{{customer.id}}" id="a_add_linkman1">
                                    
                                +增加新联系人
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="widget widget-table action-table" id="payment_div">
            <div class="widget-content">
                <div class="widget widget-table action-table">
                    <div class="widget-header"> <i class="icon-th-list"></i>
                        <h3>应收记录 </h3>
                    </div>
                    <div class="widget-content" style="border:none;">
                        {%if customers%}
                        {%for idx,item in enumerate(customers)%}
                            <div class="xs-lie">
                                <div class="xs-lietop">
                                    <ul>
                                        <li><input type="checkbox" name="merege_payment" value="{{item.id}}"></li>
                                        <li> <a href="javascript:void(0);">{{item.company}}</a></li>
                                        <li>
                                            <span>付款方式:<b>{{item.pay_pay_typeid_name}}</b></span>
                                            <span>总费:<b>{{item.pay_service_amount}}</b></span>
                                            <span>月费:<b>{{item.pay_service_amount_month}}</b></span>
                                            <span>账册费:<b>{{item.pay_book_amount}}</b></span>
                                            <span>记账费到期时间：<b>{%if item.acc_end%} {{item.acc_end.strftime("%Y-%m")}} {%end%}</b></span>
                                            <span>账册费到期时间：<b>{%if item.acc_book_end %} {{item.acc_book_end.strftime("%Y-%m")}} {%end%}</b></span>

                                        </li>
                                     
                    
                                    </ul>
                                </div>
                                <div class="xs-liemid">
                                    <ul>
                                        <li>
                                            <span class="xs-dtai"><b style="width: 85px; color: #1fa1e1; ">本期收款明细：</b>
                                            <b style="width: 269px; height: 54px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                                                <i title="{%if item.al_remark%} {{(item.al_remark)}} {%end%}">{%if item.al_remark%} {{(item.al_remark)}} {%end%}</i></b></span>
                                        </li>
                                        <li>
                                            <span class="xs-dtai"><b style="width: 68px; color: #19bc9c; ">未收明细：</b>
                                                <b style="width:287px; height: 54px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">
                                                    <i title="{%if item.pb_remark%}{{(item.pb_remark)}}{%end%}">{%if item.pb_remark%}{{(item.pb_remark)}}{%end%}</i>
</b></span>
                                        </li>
                                        
                                        <li>
                                            <span class="xs-dtai"><b style="width: 60px; ">客户备注：</b>
                                        <b style="width: 290px; height: 54px;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{item.customer_remark}}</b></span>
                                        </li>
                                    </ul>
                                </div>
                                <hr> 
                                <div class="xs-liebut">
                                    <div class="xs-liebutleft">
                                        
                                    </div>
                                    <div class="xs-liebutright">
                                        <ul>
                                            <li> 更新人:<b>{%if item.pay_uid_name%}{{(item.pay_uid_name)}}{%end%}</b></li>
                                             <li>更新时间:<b>{%if item.created_at%} {{item.created_at.strftime("%Y-%m-%d")}} {%end%}</b></li>
                                            <li class="xs-box">
                                                {%if  role=="8" or role=="5" or role=="3" %}
                                                    <button class="handler_detail" 
                                                    customer_id="{{item.customer_id}}"
                                                    item_id="{{item.id}}"
                                                    wait_pay="{%if item.acc_end and  item.acc_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}{{item.next_pay_acc_start.strftime("%Y-%m")}}至{{item.next_pay_acc_end.strftime("%Y-%m")}}({{item.pay_pay_typeid_name}})记账费:{{item.pay_service_amount}}元 {%end%}{%if item.acc_book_end and item.acc_book_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}{{item.next_pay_acc_book_start.strftime("%Y-%m")}}至{{item.next_pay_acc_book_end.strftime("%Y-%m")}}({{item.pay_pay_typeid_name}})账册费:{{item.pay_book_amount}}元{%end%}"
                                                   
                                                 curr_expire_pay="{%if item.acc_end and item.acc_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}记账费到期:{{item.acc_end.strftime("%Y-%m")}}
                                                {%end%}{%if item.acc_book_end and item.acc_book_end.strftime("%Y-%m")==dt_next.strftime("%Y-%m")%}账册费到期:{{item.acc_book_end.strftime("%Y-%m")}}{%end%}"
                                          
                                                company_name="{{item.company}}"
                                                acc_end ="{%if item.acc_end%}{{item.acc_end.strftime("%Y-%m")}}{%end%}"
                                                acc_book_end = "{%if item.acc_book_end%}{{item.acc_book_end.strftime("%Y-%m")}}{%end%}"
                                                pb_remark = "{%if item.pb_remark%}{{item.pb_remark}}{%end%}"
                                                al_remark="{%if item.al_remark%}{{item.al_remark}}{%end%}"
                                                pay_pay_typeid_name="{{item.pay_pay_typeid_name}}"
                                                pay_service_amount="{{item.pay_service_amount}}"
                                                pay_service_amount_month="{{item.pay_service_amount_month}}"
                                                pay_book_amount="{{item.pay_book_amount}}"
                                                    >编辑</button>{%end%}
                                            </li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                            {%end%}
                        {%else%} 
                         还没有客户哦。
                          {%end%}
             
                    </div>
                </div>
            </div>
        </div>


<div style="overflow: hidden;">
<div style="float: left; width: 49%;">       
<div class="widget widget-table action-table" id="cuikuan_div">

    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>催款记录 </h3>
    </div>
    <div class="widget-content" style="overflow:hidden;">
        {%if customer.acc_uid!=int(uid)%}
        <textarea class="form-control" id="txt_msg" style="width:98%;height:70px;" >
                                                                      </textarea>
         <input type="text" id="txt_time" placeholder="催款时间"/>
                                                                      <br/>
        <button class="btn_save_msg">确定添加</button>&nbsp;&nbsp;&nbsp;
        <input type="file" value="上传附件" style=margin-top:10px;" name="record_file" id="record_file" class="form-control "/>
                             {%end%}                                         
        <hr class="my-0">
        {%set has_exchange=0%}
        {%for item in t_customer_exchange%}
        {%if item.etype==2%}
        {%set has_exchange=1%}
        <div class="message-item" id="msg_{{item.id}}">
            <div class="message-inner">
                <div class="message-head clearfix">
                    <div class="avatar pull-left">
                        <img src="/static/images/avatar.jpeg">
                    </div>
                    <div class="user-detail">
                        <h5 class="handle">{{item.uid_name}}
                            <span style="font-size:13px;"> {{item.created_at}}
                            <span style="color:red;">{%if item.msg_time%}({{item.msg_time}}){%end%}</span>
                            </span>
                            {%if item.file_path%}{%for idx,row in enumerate(item.file_path.split('|'))%}{%if row%}
                            <a href="{{row}}" class="btn btn-mini" target="_blank"><i class=" icon-share icon-large"></i>附件{{idx+1}}</a>
   
                            {%end%}{%end%}{%end%}
                        </h5>
                    </div>
                </div>
                {{item.msg}}<span style="color:red;">{%if item.summary%}(总结:{{item.summary}}){%end%}</span>
            </div>
        </div>
        {%end%}
        {%end%}
        {%if has_exchange==0%}
        还没有哦~
        {%end%}
    </div>
    <a id="merege_ys" href="javascript:void(0);" class="btn btn-info btn-sm" style="margin-top:10px;">转移</a>

    <!-- /widget-content -->
</div>
</div>
<div style="float: right; width: 49%;">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>会计建议</h3>
            </div>
        <div class="widget-content">
        {%if customer.acc_uid==int(uid)%}

            <textarea class="form-control" id="txt_msg_kj" style="width:98%;height:70px;"></textarea>
            <br>
            <button class="btn_save_msg" is_kj='1'>确定添加</button>&nbsp;&nbsp;&nbsp;
            <input type="file" value="上传附件" style=margin-top:10px;" name="record_file" id="record_file" class="form-control "/>
            {%end%}
            <hr class="my-0">
            {%set has_exchange=0%}
            {%for item in t_customer_exchange%}
            {%if item.etype==4%}
            {%set has_exchange=1%}
            <div class="message-item" id="msg_{{item.id}}">
                <div class="message-inner">
                    <div class="message-head clearfix">
                        <div class="avatar pull-left">
                            <img src="/static/images/avatar.jpeg">
                        </div>
                        <div class="user-detail">
                            <h5 class="handle">{{item.uid_name}}
                                <span style="font-size:13px;"> {{item.created_at}}
                                        {%if item.file_path%}{%for idx,row in enumerate(item.file_path.split('|'))%}{%if row%}
                                        <a href="{{row}}" class="btn btn-mini" target="_blank"><i class=" icon-share icon-large"></i>附件{{idx+1}}</a>
               
                                        {%end%}{%end%}{%end%}
                            </h5>
                        </div>
                    </div>
                    {{item.msg}}<span style="color:red;">{%if item.summary%}(总结:{{item.summary}}){%end%}</span>
                </div>
            </div>
            {%end%}
            {%end%}
            {%if has_exchange==0%}
            还没有哦~
            {%end%}
        </div>

        </div>
    </div>
</div>
</div>
</div>



                  </div>
        </div>
</div>


<div id="a_handler_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel_account">修改应收


        </h3>
    </div>
    <div class="modal-body">
        <div class="control-group">

            <table border="1" style="padding:10px;">

                <tr style="font-size:15px;color: black;">
                    <td colspan="8">基础信息</td>
                </tr>
                <tr style="background:#ccc;">
                    <td colspan="8">公司名称</td>
                </tr>
                <tr id="company_name">

                </tr>
                <tr style="background:#ccc;">
                    <td colspan="8">当前收款基本信息</td>
                </tr>
                <tr id="service_price">

                </tr>

                <tr style="background:#ccc;">
                    <td colspan="8">上期收款明细</td>
                </tr>
                <tr id="last_payment">

                </tr>
                <tr style="background:#ccc;">
                    <td colspan="8">到期信息</td>
                </tr>
                <tr id="curr_expire">

                </tr>

            </table>
            <br>
            <div class="control-group">
                <label class="control-label" for="acc_end">
                    付款方式
                </label>
    <div class="controls">

                {%for idx,item in enumerate(t_payment_type)%}
                         <input style="width:auto;height:auto;" type="radio"
                         {%if item.id==customer.paytype_id %} checked="true" {%end%}
                         name="pay_type_id1" fee1="{{item.fee}}" value="{{item.id}}" pay_typeid_name1="{{item.name}}"/> {{item.name}} {%end%}
              </div>
            </div>
<div class="control-group">
    总服务费：<input style="width:50px;" type="text"  id="service_amount1" name="service_amount1" >
    月服务费：<input style="width:50px;background-color:white;" type="text" disabled="true" id="service_amount_month1" name="service_amount_month1" >
    帐册费：<input style="width:50px;" type="text" id="book_amount1" name="book_amount1" >
</div>
<div class="control-group">

    <label class="control-label" for="acc_end">记账费到期时间

    </label>
    <div class="controls">
        <input type="text" class="span2 " id="acc_end1" name="acc_end1" value=""><br/>
        <p id="msg_acc_end1" class="help-block" style="color:red"></p>
    </div>

</div>
<div class="control-group">

    <label class="control-label" for="account">账册费到期时间

    </label>
    <div class="controls">
        <input type="text" class="span2" id="acc_book_end1" name="acc_book_end1" value="">
        <p id="msg_acc_book_end1" class="help-block" style="color:red"></p>
    </div>
  
</div>



<div class="control-group">
    <label class="control-label" for="al_remark">已收明细</label>
    <div class="controls">
        <textarea type="text" class="span4" id="al_remark1" name="al_remark1" value="" style="height: 50px;"></textarea>
    </div>
  
</div>
<div class="control-group">
    <label class="control-label" for="lastname">待收明细</label>
    <div class="controls">
        <textarea type="text" class="span4" id="pb_remark1" name="pb_remark1" value="" style="height: 50px;"></textarea>
    </div>
 
</div>



        </div>

    </div>
    <div class="modal-footer">

        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="btn_save_wai_pay">保存</button>
    </div>
</div>
<div class="modal hide fade" id="merge_customer_modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-header" >
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="projects_note">转移应收记录
          </h3>
            </div>


            <div class="modal-body" id="site_mod">
              <div class="control-group">

                  <label class="control-label file_label" for="lastname" >客户编号</label>
                  <div class="controls">
                    <input type="text" placeholder="客户编号" id="merege_id1" class="form-control">
                    <a href="javascript:void(0);" class="btn btn-info" style="margin-top: -7px;" id="search_merge_id1">查询</a>
          </div>
          </div>
          <div class="control-group">
              <div class="controls">
                <div id="show_search_customer1"></div>
              </div>
          </div>

    </div>
    <div class="modal-footer">
        <input type="hidden" value="0" id="is_other" name="is_other" />
        <button class="btn btn-primary" target="_blank" id="btn_merge_customer1">转移</button>

    </div>
    </div>
    
    <div id="add_linkman_modal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel_linkman">增加客户联系人
              </h3>
            </div>
            <div class="modal-body">
              <div class="control-group">
                                                          <label class="control-label" for="username">名字/称呼</label>
                                                          <div class="controls">
                                                              <input type="text" class="span4 " id="name1" name="name1" value="">
                                                              <p id="msg_name1" class="help-block" style="color:red"></p>
                                                          </div>
                                                 
                                                      </div>
                                                
          
          
                                                      <div class="control-group">
                                                          <label class="control-label" for="firstname">性别</label>
                                                          <div class="controls">
                                                              <input type="radio" name="gender1" value="1" /> 先生
                                                              <input type="radio" name="gender1" value="0" /> 女士
                                                               <p id="msg_gender1" class="help-block" style="color:red"></p>
                                                          </div>
                                                          
                                                      </div>
          
                                                      <div class="control-group">
                                                          <label class="control-label" for="username">电话</label>
                                                          <div class="controls">
                                                              <input type="text" class="span4 " id="tel1" name="tel1" value="">
                                                              <p id="msg_company1" class="help-block" style="color:red"></p>
                                                          </div>
                                                         
                                                      </div>
                                                   
          
          
          
                                                <div class="control-group">
                                                    <label class="control-label" for="lastname">备注</label>
                                                    <div class="controls">
                                                        <textarea type="text" class="span4" id="linkman_remark1" name="linkman_remark" value="" style="height: 50px;"></textarea>
                                                    </div>
                                             
                                                </div>
                                                <div class="control-group">
                                                    
                                                    <div class="controls">
                                                        <label for="is_first"><input type="checkbox" id="is_first1" style="display: inline;" value="1">添加为首要联系人</label>
                                                        
                                                    </div>
                                                  
                                                </div>
          
          
          
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true" >关闭</button>
              <button class="btn btn-primary" id="btn_save_linkman1">保存</button>
            </div>
          </div>
   

    {% block  js %}
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="/static/combodate.js"></script>
    <script>
// $(window).scroll(
// function () {
// var scrollValue = $(window).scrollTop();
// console.log(scrollValue);
// scrollValue > 60 ? $(".ys_fixed").show(): $(".ys_fixed").hide();
// }
// )
        $(function(){

           var customer_id = {{ customer.id }}
           var customer_guid = "{{customer.guid}}"
            $('#a_{{to_tag}}').tab('show');
           _xsrf = getCookie("_xsrf")

            laydate.render({
                    elem: '#txt_time' //指定元素
           });


        $("#btn_save_wai_pay").on("click",function () {
                acc_end=$('#acc_end1').combodate("getValue","YYYY-MM");
                acc_book_end=$('#acc_book_end1').combodate("getValue","YYYY-MM");
                al_remark=$("#al_remark1").val()
                pb_remark=$("#pb_remark1").val()
                pay_id=$(this).attr("pay_id")
                fee=$("input[name=pay_type_id1]:checked").attr('fee1')
                pay_typeid=$("input[name=pay_type_id1]:checked").val()
                pay_typeid_name=$("input[name=pay_type_id1]:checked").attr('pay_typeid_name1')
                service_amount=$("#service_amount1").val()
                service_amount_month=$("#service_amount_month1").val()
                book_amount=$("#book_amount1").val()
                $.post("payment?tag=add",
                {
                    "_xsrf":_xsrf,
                    "acc_end":acc_end,
                    "acc_book_end":acc_book_end,
                    "al_remark":al_remark,
                    "pb_remark":pb_remark,
                    "pay_id1":pay_id,
                    "fee":fee,
                    "pay_typeid":pay_typeid,
                    "pay_typeid_name":pay_typeid_name,
                    "service_amount":service_amount,
                    "service_amount_month":service_amount_month,
                    "book_amount":book_amount
                },function (result) {
                    if(result=="-100"){
                    $("#acc_end1").focus()
                    alert("要填写记账费到期日期哦")
                }
                else{
                    location.href="/customer?tag=show&id="+customer_id+"&guid={{customer_guid}}&to_tag=payment_record_tab"
                 
                }
                 })
             })


        $('#acc_end1').combodate({
             format: "YYYY-MM",
             template:"YYYY-MM",
            minYear: 2018,
            maxYear: 2025,
        });
        $('#acc_book_end1').combodate({
            format: "YYYY-MM",
            template: "YYYY-MM",
            minYear: 2018,
            maxYear: 2025,
        });


        $(".handler_detail").on("click", function () {

            wait_pay = $(this).attr("wait_pay")
            curr_expire_pay = $(this).attr("curr_expire_pay")


            acc_book_end = $(this).attr("acc_book_end")
            acc_end= $(this).attr("acc_end")
            $("#acc_book_end1").val(acc_book_end)
            $("#acc_end1").val(acc_end)

            al_remark = $(this).attr("al_remark")
            pb_remark = $(this).attr("pb_remark")
            pay_pay_typeid_name=$(this).attr("pay_pay_typeid_name")
            pay_service_amount=$(this).attr("pay_service_amount")
            pay_service_amount_month=$(this).attr("pay_service_amount_month")
            pay_book_amount=$(this).attr("pay_book_amount")
            pay_id=$(this).attr('item_id')
           $("#al_remark1").val(al_remark)
            $("#pb_remark1").val(pb_remark)


            company_name = $(this).attr("company_name")
            $("#btn_save_wai_pay").attr("pay_id", "0")
            $("#curr_expire").text("")
            $("#last_payment").html("")
            $("#curr_last_payment").html("")
            $("#service_price").html("")
            $("#account_remark").val("")
            $("#company_name").text("")
            $("#btn_save_wai_pay").attr('acc_end',$(this).attr('acc_end'))
            $("#btn_save_wai_pay").attr('acc_book_end',$(this).attr('acc_book_end'))
            $.get("/payment?tag=get_last_payment", { "customer_id": customer_id,'pay_id':pay_id }, function (result) {
                if (result.code == 1) {

                    html = "<td>付款方式</td><td>" + result.customer.customer_paytype_id_name + "</td>"
                    html += "<td>总服务费</td><td>" + result.customer.customer_service_amount + "</td>"
                    html += "<td>月服务费</td><td>" + result.customer.customer_service_amount_month + "</td>"
                    html += "<td>账册费</td><td>" + result.customer.customer_book_amount + "</td>"
                    $("#service_price").html(html)
                    // $("#msg_service_amount").text("上一次总服务费:" +  result.customer.service_amount)

                    $("#msg_acc_end1").text("(上期记账费到期时间:" + result.customer.acc_end + ")")
                    $("#msg_acc_book_end1").text("(上期账册费到期时间:" + result.customer.acc_book_end + ")")

                    if (result.customer.al_remark == undefined || result.customer.al_remark == "") {
                        $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")

                    } else {
                        $("#last_payment").html("<td colspan='8'>" + result.customer.al_remark + "</td>")
                    }
                    if (result.customer.pb_remark == undefined || result.customer.pb_remark == "") {
                        $("#curr_last_payment").html("<td colspan='8'>没有待收款明细哦</td>")

                    } else {
                        $("#curr_last_payment").html("<td colspan='8'>" + result.customer.pb_remark + "</td>")
                    }

                    $("#curr_expire").html("<td colspan='8'>" + curr_expire_pay + "</td>")
                    $("#company_name").html("<td colspan='8'>" + company_name + "</td>")

                    $("#btn_save_wai_pay").attr("pay_id", result.customer.payment_id)

                    $("input[name=pay_type_id1][pay_typeid_name1="+pay_pay_typeid_name+"]").prop('checked',true)
                    $("#service_amount1").val(pay_service_amount)
                    $("#service_amount_month1").val(pay_service_amount_month)
                    $("#book_amount1").val(pay_book_amount)
                    $("#wait_pay_remark").val(wait_pay)
                    $("#a_handler_modal").modal("show")
                } else {


                }
            }, "json")


        })





            function intToFloat(val) {
                return new Number(val).toFixed(2);
            }


            $('#service_amount1').keyup(function () {
                all_total = $(this).val() / $("input[name='pay_type_id1']:checked").attr("fee1");
                $("#service_month_amount1").val(intToFloat(all_total))


            });
                $(".btn_save_msg").on("click", function () {
                is_kj=$(this).attr('is_kj')
                if(is_kj=='1'){
                    msg = $("#txt_msg_kj").val()
                }else{
                    msg = $("#txt_msg").val()
                }
                
                if (msg == "") {
                    alert("还没有填写哦.")
                    return false
                } else {
                    $(this).attr("disabled", "disabled")
                    var formData = new FormData();

                 
                    formData.append('_xsrf', _xsrf)
                    formData.append('msg', msg)
                    if(is_kj=='1'){
                        formData.append('etype', 4)
                    }else{
                    {%if t_customer_payment_max_assist%}
                    formData.append('assist_id',{{t_customer_payment_max_assist.id}})
                    {%end%}
                    formData.append('etype', 2)
                    }
                    formData.append('file', $('#record_file')[0].files[0])
                    formData.append('customer_id', customer_id)
                    formData.append('msg_time',$('#txt_time').val())


                    $.ajax({
                        url: '/customer?tag=customer_exchange',
                        type: 'POST',
                        data: formData,
                        processData: false,  // tell jQuery not to process the data
                        contentType: false,  // tell jQuery not to set contentType
                        success: function (data) {
                            location.href="/customer?tag=show&id="+customer_id+"&guid={{customer_guid}}&to_tag=payment_record_tab"
                        }
                    })
                }


            })
            $("#merege_ys").click(function () {
      if($('input[name=merege_payment]:checked').val()==undefined){
        alert('未选择')
        $('input[name=merege_project]').focus()
      }else{
        $("#merge_customer_modal1").modal('show')
      }
     })
     $("#search_merge_id1").click(function () {
        merege_id=$("#merege_id1").val()
        if(merege_id==''){
          alert('编号不能为空')
        }
        else if(isNaN(merege_id)){
          alert('编号需要为数字')
        }
        else if(merege_id=="{{customer.id}}"){
          alert('不能合并本客户')
        }
        else{
          $.post('customer?tag=search_merege_customer',{
            '_xsrf':_xsrf,
            'merege_id':merege_id
          },function (data) {
            if(data=='-1'){
              $('#show_search_customer1').html('没找到~')
            }else{
              $('#show_search_customer1').html('查询到 公司名:'+data['company']+' 信用代码:'+data['company_reguid'])
              $('#show_search_customer1').append('<br><br><input company_reguid="'+data['company_reguid']+'" company="'+data['company']+'" type="radio" name="merge_with1" value="1" title="'+
              data['merege_id']+'" guid="'+data['guid']+'" >转移到编号为'+data['merege_id']+'的客户'

              )
            }

           })
        }
       })
       $("#btn_merge_customer1").click(function () {
        merege_payment_ids=[]
      $('input[name=merege_payment]:checked').each(function () {
            merege_payment_ids.push($(this).val())

       })
        merege_payment_ids=merege_payment_ids.join('')
        merge_with=$("input[name=merge_with1]:checked").val()
        merege_id=$("input[name=merge_with1]:checked").attr('title')
        merege_guid=$("input[name=merge_with1]:checked").attr('guid')
        merege_company=$("input[name=merge_with1]:checked").attr('company')
        merege_reguid=$("input[name=merge_with1]:checked").attr('company_reguid')
        if(merge_with==undefined){
          alert('请选择需要的转移')
        }
        else{
          $.post('customer?tag=merege_customer2',{
            '_xsrf':_xsrf,
            'merege_id':merege_id,
            'merege_guid':merege_guid,
            'merege_company':merege_company,
            'merege_reguid':merege_reguid,
            'merege_payment_ids':merege_payment_ids,
            'customer_id':"{{customer.id}}"
          },function (data) {
            alert('转移成功')
            location.reload()
           })
        }
        })
        $('input[type="radio"][name="pay_type_id1"]').click(function(){

                   service_amount = $("#service_amount1").val()
                   if ($(this).is(':checked'))
                   {
    
                      if($(this).attr("fee1")>0){
                            $("#service_amount1").removeAttr("readOnly")

                       }else{
                            $("#service_amount1").val("0")
                           all_total = 0
                       }


                       all_total =  service_amount / $(this).attr("fee1");
                       console.log(all_total)
                       if (all_total==Infinity){
                           all_total = 0

                       }
                       $("#service_amount_month1").val(intToFloat(all_total))
                   }
       });
       $('#service_amount1').keyup(function() {

                           all_total = $(this).val() / $("input[name='pay_type_id1']:checked").attr("fee1");
                             if (all_total==Infinity || all_total==NaN){
                           all_total = 0

                       }

                           $("#service_amount_month1").val(intToFloat(all_total))


           })
        function intToFloat(val){
          return new Number(val).toFixed(2);
   }

   $(".modify_linkman1").on("click",function(){
          var linkman_guid  = $(this).attr("linkman_guid")

          var linkman_id = $(this).attr("linkman_id")

          var linkman_remark = $(this).attr("remark")
          var tel = $(this).attr('tel')
          var name = $(this).attr("title")
          var gender = $(this).attr('gender')
          var is_first=$(this).attr('is_first')

          $("#btn_save_linkman1").attr("linkman_id",linkman_id)
          $("#tel1").val(tel)
          $("input[name=gender1][value='"+gender+"']").prop("checked",true)
          $("#name1").val(name)
          $("#linkman_remark1").val(linkman_remark)
          $("#is_first1").prop('checked',false)
          if(is_first=='1'){
            $("#is_first1").prop('checked',true)
          }
          $("#add_linkman_modal1").modal('show')
        })
        $("#btn_save_linkman1").on("click",function(){
            var gender = $("input[name=gender1]:checked").val()
            var name = $("#name1").val()
            var tel = $("#tel1").val()
            var remark = $("#linkman_remark1").val()
            var is_first=$('#is_first:checked').val()
            var linkman_id=$(this).attr('linkman_id')
            if (name==""){
              $("#msg_name1").text("客户的名字必须要填写哦。")
               $("#name1").focus()
              return false

            }else if(gender==undefined){
              $("#msg_gender1").text("请选择客户的性别")
               $("input[name=gender1]").focus()
              return false
            }

            else{
                $.post("/linkman?tag=add",
                {"_xsrf":_xsrf,"customer_id":"{{customer.id}}",
                "tel":tel,"name":name,"remark":remark,
                "gender":gender,"is_first":is_first,
                "linkman_id":linkman_id},function(result){
                    location.href="/customer?tag=show&id="+customer_id+"&guid={{customer_guid}}&to_tag=payment_record_tab"
                })

            }


        })
        $("body").on("click","#a_add_linkman1", function () {
          
              $("#btn_save_linkman1").removeAttr('linkman_id')
              $("#tel1").val("")
              $("input[name=gender1]").prop("checked",false)
              $("#is_first1").prop('checked',false)
              $("#name1").val('')
              $("#add_linkman_modal1").modal('show')
            })
    
            $(".delete_linkman1").on("click",function(){
           var linkman_id = $(this).attr('linkman_id')
           var linkman_guid = $(this).attr('linkman_guid')

            if(confirm("确认删除吗？")){
                $.post("linkman?tag=delete",{"_xsrf": _xsrf,"id": linkman_id,"guid":linkman_guid},function(result){
                    alert("删除成功！")
                    location.href="/customer?tag=show&id="+customer_id+"&guid={{customer_guid}}&to_tag=payment_record_tab"                    
                })

            }
        })
      });

    </script>
    {% end %}