






<div id="a_customer_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lb_customer_title">修改基础数据


        </h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label for="promo_id" class="control-label">优惠活动:
            </label>
            <div class="controls">
                <select name="promo_id" id="promo_id" class="form-control">
                    <option value="0">==请选择优惠活动==</option>
                    {% for idx, item in enumerate(t_promo_types) %}
        
                    <option value="{{item.id}}|{{item.income_name}}">
                        {{item.income_name}}
                    </option>
                    {% end %}
                </select>
            </div>
        </div>
        
        
        <div class="control-group">
            <label class="control-label" for="is_general">是否一般纳税人</label>
            <div class="controls">
                <input type="radio" name="is_general" value="1" /> 是
                <input type="radio" name="is_general" value="0" /> 否
                <p id="msg_is_general" class="help-block" style="color:red"></p>
            </div>
            <!-- /controls -->
        </div>



                <div class="control-group">
                    <label class="control-label" for="is_general">客户类型
                    </label>
                    <div class="controls">
                        <!-- {%for item in t_customer_type%}
                        <input type="checkbox" name="customer_type" value="{{item.id}}" title="{{item.name}}"
                        /> {{item.name}} {%end%}
                        <p id="msg_t_customer_type" class="help-block" style="color:red"></p> -->
                                            
                              <div style="border:none;">
                                    {%for item in t_type_new_parents%}
                                    <input  {%if role!='3' and role!='8' and role!='5'%}disabled{%end%} style="width:auto;height:auto;" type="radio" name="tag_parent_id" value="{{item.order}}" title="{{item.name}}"/>{{item.name}} 
                                    {%end%}
                                  </div>
                                
                                    <div id='tag_box' style="border:none;" >
                                        &nbsp;&nbsp;(
                                    {%for item in t_type_new%}
                                    {%if item.parent_id==1%}
                                    <input {%if role!='3' and role!='8' and role!='5'%}disabled{%end%} style="width:auto;height:auto;" type="radio" name="tag_id" value="{{item.order_int}}" title="{{item.name}}"/>{{item.name}}
                                    {%end%}
                                    {%end%}
                                      )
                                      <span id="msg_tag" style="color:red"></span>
                                </div>
                                <div id='tag_box1' style="border:none;" >
                                    &nbsp;&nbsp;(
                                {%for item in t_type_new%}
                                {%if item.parent_id==2 and item.order_int!=11%}
                                <input parent_id="{{item.parent_id}}" {%if role!='3' and role!='8' and role!='5'%}disabled{%end%} style="width:auto;height:auto;" type="radio" name="tag_id" value="{{item.order_int}}" title="{{item.name}}" />{{item.name}}
                                {%end%}
                                {%end%}
                                  )
                                  <span id="msg_tag1" style="color:red"></span>
                            </div>
                               
                                &nbsp;&nbsp;
                                  <input {%if role!='3' and role!='8' and role!='5'%}disabled{%end%} style="width:auto;height:auto;" type="checkbox" name='is_building' value="1">楼盘
                                  <input {%if role!='3' and role!='8' and role!='5'%}disabled{%end%} style="width:auto;height:auto;" type="checkbox" name='is_clearly' value="1" >汇算清缴
                                  <input {%if role!='3' and role!='8' and role!='5'%}disabled{%end%} style="width:auto;height:auto;" type="checkbox" name='is_year' value="1">工商年检
                    
                            </div>
                    <!-- /controls -->
                </div>
                
                
                
                <div class="control-group">
                    <label class="control-label" for="is_general">付款方式
                    </label>
                    <div class="controls">
                        {%for idx,item in enumerate(t_payment_type)%}
                        <input type="radio" name="pay_type_id" fee="{{item.fee}}" value="{{item.id}}" pay_typeid_name="{{item.name}}"/> {{item.name}} {%end%}
                
                        <p id="msg_paytype" class="help-block" style="color:red"></p>
                    </div>
                    <!-- /controls -->
                </div>

                
                <div class="control-group">
                    <label class="control-label" for="lastname">待调整事项</label>
                    <div class="controls">
                        <input type="text" class="span6" id="adjusted_option" name="adjusted_option" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lastname">总服务费</label>
                    <div class="controls">
                        <input type="text" class="span6" id="service_amount" name="service_amount" value="">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="lastname">月服务费</label>
                    <div class="controls">
                        <input type="text" disabled="true" class="span6" id="service_amount_month" name="service_amount_month" value="">
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="lastname">帐册费</label>
                    <div class="controls">
                        <input type="text" class="span6" id="book_amount" name="book_amount" value="">
                    </div>
                </div>


    </div>
    <div class="modal-footer">

        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="btn_save_customer">保存</button>
    </div>
</div>


<script>

$(function () {
    _xsrf = getCookie("_xsrf")

            $(".modify_customer_detail").on("click",function(){
                  $('input[name=customer_type]').prop('checked',false)
                  $("input[name=is_general]").prop('checked',false)
                  $("input[name=pay_type_id]").prop('checked',false)
                    customer_company = $(this).attr("customer_company")
                     $("#lb_customer_title").text(customer_company+"--修改基础信息")
                    customer_id = $(this).attr("customer_id")
                    promo_id = $(this).attr('promo_id')
                    is_general = $(this).attr("is_general")
                    console.log(is_general)
                    customer_type = $(this).attr('customer_type').split(',')
                    guid=$(this).attr('guid')
                    pay_pay_typeid_name = $(this).attr('pay_pay_typeid_name')
                    pay_service_amount = $(this).attr("pay_service_amount")
                    pay_service_amount_month =$(this).attr("pay_service_amount_month")
                    pay_book_amount = $(this).attr("pay_book_amount")
                    tag_parent_id_name=$(this).attr('tag_parent_id_name')
                    tag_parent_id=$(this).attr('tag_parent_id')
                    tag_id_name=$(this).attr('tag_id_name')
                    tag_id=$(this).attr('tag_id')
                    $("#adjusted_option").val($(this).attr('adjusted_option'))
                    is_building=$(this).attr('is_building')
                    is_clearly=$(this).attr('is_clearly')
                    is_year=$(this).attr('is_year')
                    $("#msg_tag").text('')
                    $("#customer_id").val(customer_id)
                    $("#promo_id").val(promo_id)
                    
                    $("input[name=is_general][value="+is_general+"]").prop('checked',true)
                    if(tag_parent_id!='1'){
                        $("#tag_box").hide()
                        $("#tag_box1").show()
                    }else if(tag_parent_id!='2'){
                        $("#tag_box1").hide()
                        $("#tag_box").show()
                    }
                    $("input[name=tag_parent_id][value="+tag_parent_id+"]").prop('checked',true)
                    if(tag_id!='11'){
                        $("input[name=tag_id][value="+tag_id+"]").prop('checked',true)
                    }
                    if(is_building=='1'){
                        $("input[name=is_building]").prop('checked',true)
                    }else{
                        $("input[name=is_building]").prop('checked',false)
                    }
                    if(is_clearly=='1'){
                        $("input[name=is_clearly]").prop('checked',true)
                    }   else{
                        $("input[name=is_clearly]").prop('checked',false)
                    } 
                    if(is_year=='1'){
                        $("input[name=is_year]").prop('checked',true)
                    }else{
                        $("input[name=is_year]").prop('checked',false)
                    }
          
                    for(var i=0;i<customer_type.length;i++){
                        $('input[name=customer_type][value='+customer_type[i]+']').prop('checked',true)
                    }
                    $("input[name=pay_type_id][pay_typeid_name="+pay_pay_typeid_name+"]").prop('checked',true)

                    $("#service_amount").val(pay_service_amount)
                    $("#service_amount_month").val(pay_service_amount_month)
                    $("#book_amount").val(pay_book_amount)
                    $("#btn_save_customer").attr("customer_id", customer_id)
                    $("#btn_save_customer").attr("guid", guid)
                    $("#a_customer_modal").modal("show")

            })



            $("#btn_save_customer").on("click",function(){
                customer_id = $(this).attr('customer_id')
                promo_id = $("#promo_id").val()
                is_general = $("input[name=is_general]:checked").val()
                var customer_type = ""
                var customer_type_name ="" 
                guid=$(this).attr('guid')
                $('input[name=customer_type]:checked').each(function () { 
                    customer_type_name= customer_type_name +$(this).attr("title")+","
                    customer_type = customer_type+$(this).val()+","
                 })
                 pay_type_id = $("input[name=pay_type_id]:checked").val()
                 pay_typeid_name =$("input[name='pay_type_id']:checked").attr("pay_typeid_name")
                 fee=$("input[name='pay_type_id']:checked").attr("fee")
                 service_amount = $("#service_amount").val()
                 service_amount_month = $("#service_amount_month").val()
                 book_amount = $("#book_amount").val()
                 tag_parent_id=$('input[name=tag_parent_id]:checked').val()
                tag_parent_name=$('input[name=tag_parent_id]:checked').attr('title')
                tag_id=$("input[name=tag_id]:checked").val()
                tag_id_parent=$("input[name=tag_id]:checked").attr('parent_id')
                tag_name=$("input[name=tag_id]:checked").attr('title')
                is_building=$('input[name=is_building]:checked').val()
                is_clearly=$('input[name=is_clearly]:checked').val()
                is_year=$('input[name=is_year]:checked').val()
                adjusted_option=$("#adjusted_option").val()
                if(tag_parent_id=='2'){
                    if(tag_id!='12' && tag_id_parent!='2'){
                        tag_id='11'
                    tag_name='非记账'
                    }}
                if((tag_id==undefined && tag_parent_id=='1')  || tag_parent_id==undefined) {
                    $("#msg_tag").text('未选择标签')
                }else{
                 $.post('/payment?tag=edit_basic_data',{
                     "_xsrf":_xsrf,
                     'tag_parent_id':tag_parent_id,
                     'tag_parent_name':tag_parent_name,
                     'tag_id':tag_id,
                     'tag_name':tag_name,
                     'is_building':is_building,
                     'is_clearly':is_clearly,
                     'is_year':is_year,
                     'customer_id':customer_id,
                     'promo_id':promo_id,
                     'customer_type_name':customer_type_name,
                     'customer_type':customer_type,
                     'pay_type_id':pay_type_id,
                     'pay_typeid_name':pay_typeid_name,
                     'service_amount':service_amount,
                     'service_amount_month':service_amount_month,
                     'book_amount':book_amount,
                     'is_general':is_general,
                     'guid':guid,
                     'fee':fee,
                     'adjusted_option':adjusted_option

                 },function (res) { 
                     location.reload()
                  })
            }
            })


    $('input[type="radio"][name="pay_type_id"]').click(function(){
                   
                   service_amount = $("#service_amount").val()
                   if ($(this).is(':checked'))
                   {
                      if($(this).attr("fee")>0){
                            $("#service_amount").removeAttr("readOnly")
                          
                       }else{
                            $("#service_amount").val("0")
                           all_total = 0
                       }
   
   
                       all_total =  service_amount / $(this).attr("fee");
                       console.log(all_total)
                       if (all_total==Infinity){
                           all_total = 0
   
                       }
                       $("#service_amount_month").val(intToFloat(all_total))
                   }
       });
   
          $('#service_amount').keyup(function() {
                           all_total = $(this).val() / $("input[name='pay_type_id']:checked").attr("fee");
                             if (all_total==Infinity || all_total==NaN){
                           all_total = 0
                           
                       }
                           $("#service_amount_month").val(intToFloat(all_total))
   
   
           });




   function intToFloat(val){
           return new Number(val).toFixed(2);
   }
   $('input[name=tag_parent_id]').on('change',function () { 
    if($(this).val()=='1'){
      $("#tag_box").show()
      $("#tag_box1").hide()
      if($('input[name=tag_id]:checked').val()=='12'){
        $('input[name=tag_id]').prop('checked',false)
      }
    }else if($(this).val()=='2'){
      $("#tag_box").hide()
      $("#tag_box1").show()
    }
   })
});

</script>