
 {% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}

 <div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget ">
<div class="widget-header">
<i class="icon-user"></i>
<h3>记账应收管理
{% include "payment_nav.html" %}


</h3>
</div> <!-- /widget-header -->
<div class="widget-content">
<div class="tab-content">
<div class="tab-pane active" id="formcontrols">

<fieldset>

        <form class="form-search" id="query_form">
                <input type="text" value="{%if company%}{{company}}{%end%}" name="company" id="company" class="input-medium search-query " placeholder="公司名称" >
                    <input type="text" value="{%if kf%}{{kf}}{%end%}" id="kf" name="kf" class="input-medium search-query" placeholder="客服会计" class="form-control">

                <button type="submit" class="btn">检 索</button>
                <input type="hidden" value="{{tag}}" name="tag"/>
                <input type="hidden" value="{{state}}" name="state" />

                 
              
              </form>

                        {%if customers%}
              <table class="table" style="margin:5px;">
                     <thead>
                                <tr style="background-color: black; color:#fff;">

                                <th style="min-width:180px;">公司名称</th>



                                <th style="min-width:350px;">项目名称</th>
                                  <th style="min-width:130px;">费用</th>

                                <th style="min-width:130px;">创建时间</th>


                                 
                                <th style="min-width:60px;"></th>





                                </tr>
                            </thead>
                <tbody>

     {%for item in customers%}
                    <tr>

                        <td>{{item.customer_company}}</td>
                   <td>{{item.project_name}}</td>
                <td>{{item.service_money}}</td>


                 
  <td>
    {%if item.created_at%}
    {{item.created_at.strftime("%Y-%m-%d")}}
    {%end%}
</td>
<td>

</td>


                    </tr>
                    {%end%}



                </tbody>
              </table>

                    {%else%}
                        还没有客户哦。

                    {%end%}
                              <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            <li><a href="/payment?tag={{tag}}&page={{ pagination.page - 1}}{%if kf%}&kf={{kf}}{%end%}{%if state%}&state={{state}}{%end%}">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li>
                                <a href="/payment?tag={{tag}}&page={{ page }}{%if kf%}{{kf}}{%end%}{%if state%}&state={{state}}{%end%}">{{ page }}</a></li>
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li><a href="/payment?tag={{tag}}&page={{pagination.page+1}}{%if kf%}&kf={{kf}}{%end%}{%if state%}&state={{state}}{%end%}">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>
</fieldset>

</div>



</div>
</div>
</div> <!-- /widget-content -->
</div> <!-- /widget -->
</div> <!-- /span8 -->
</div> <!-- /row -->
</div> <!-- /container -->
 </div>

<div id="a_handler_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel_account">增加客户帐号



    </h3>
  </div>
  <div class="modal-body">
    <div class="control-group">


                                            <div class="control-group">
                                                <label class="control-label" for="type_id">类 型</label>
                                                <div class="controls">
                                                {%for item in t_payment_type%}
                                                    <input type="radio" name="type_id" value="{{item.id}}" title="{{item.name}}"/> {{item.name}}
                                                  {%end%}
                                                     <p id="msg_type_id" class="help-block" style="color:red"></p>
                                                </div>
                                                <!-- /controls -->
                                            </div>

                                                <label class="control-label" for="account">帐号</label>
                                                <div class="controls">
                                                    <input type="text" class="span4 " id="account" name="account" value="">
                                                    <p id="msg_account" class="help-block" style="color:red"></p>
                                                </div>
                                                <!-- /controls -->
                                            </div>
                                            <!-- /control-group -->



                                            <div class="control-group">
                                                <label class="control-label" for="psw">密码</label>
                                                <div class="controls">
                                                    <input type="text" class="span4 " id="psw" name="psw" value="">
                                                    <p id="msg_psw" class="help-block" style="color:red"></p>
                                                </div>
                                                <!-- /controls -->
                                            </div>
                                            <!-- /control-group -->



                                      <div class="control-group">
                                          <label class="control-label" for="lastname">备注</label>
                                          <div class="controls">
                                              <textarea type="text" class="span4" id="account_remark" name="account_remark" value="" style="height: 50px;"></textarea>
                                          </div>
                                          <!-- /controls -->
                                      </div>



  </div>
  <div class="modal-footer">
   <a href="javascript:;" class="btn btn-danger btn-small " id="delete_account">
         删除本条数据
        </a>
    <button class="btn" data-dismiss="modal" aria-hidden="true" >关闭</button>
    <button class="btn btn-primary" id="btn_save_account">保存</button>
  </div>
</div>


    {%end%}

    {%block js%}
<script src="/static/vendor/jquery/jquery.min.js"></script>

<script src="/static/bootstrap-typeahead.js"></script>

<script>

$(function () {

    $(function () {
        _xsrf = getCookie("_xsrf")
        $("#company").typeahead({
            source: function (query, process) {
                return $.post('/api', { query: query, "_xsrf": _xsrf, "tag": "customer_company" }, function (data) {
                    return process(JSON.parse(data));
                });
            }
        });


    });

});

</script>


    {%end%}