
 {% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}
<style>

body .modal {
width: 60%; /* desired relative width */
left: 20%; /* (100%-width)/2 */
/* place center */
margin-left:auto;
margin-right:auto;
}
</style>
 <div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget ">
<div class="widget-header">
<i class="icon-user"></i>
<h3>记账应收管理
{% include "payment_nav.html" %}


</h3>
</div> <!-- /widget-header -->
<div class="widget-content">
<div class="tab-content">
<div class="tab-pane active" id="formcontrols">
        <form class="form-search" id="query_form">
        <input type="text" value="{%if company%}{{company}}{%end%}" name="company"  placeholder="公司名称/姓名/信用代码/确认单编号">
                    <input type="text" value="{%if kf%}{{kf}}{%end%}" id="kf" name="kf" class="input-medium search-query" placeholder="客服会计">
                    <input type="text" value="{%if is_handler_uid_name%}{{is_handler_uid_name}}{%end%}" id="is_handler_uid_name" name="is_handler_uid_name" class="input-medium search-query" placeholder="到款处理人">
                <button type="submit" class="btn">检 索</button>
                <input type="hidden" value="{{tag}}" name="tag"/>
                            <input type="hidden" value="{{state}}" name="state" />
    <input type="hidden" value="{{from_customer}}" name="from_customer" />
                            <input type="hidden" value="{{pay_project_id}}" name="pay_project_id" />
              </form>
              {%if from_customer%}
                    <ul class="nav nav-tabs" id="myTab">
    <li {%if pay_project_id==0%} class="active" {%end%}>
        <a href="/payment?tag=list_company_in_customer&pay_project_id=0" id="customer_tab">待处理</a>
    </li>
    <li {%if pay_project_id> 0 and state==0%} class="active" {%end%}>
        <a href="/payment?tag=list_company_in_customer&pay_project_id=1" id="tab_confirm">已处理</a>
    </li>

    <li {%if pay_project_id> 0 and state==2 %} class="active" {%end%}>
        <a href="/payment?tag=list_company_in_customer_req&pay_project_id=1&state=2&from_customer=1" id="tab_confirm">已审核</a>
    </li>

    <li {%if pay_project_id> 0 and state==1%} class="active" {%end%}>
        <a href="/payment?tag=list_company_in_customer_req&pay_project_id=1&state=1&from_customer=1" id="tab_confirm">驳回订单</a>
    </li>

</ul>

              {%else%}
                <ul class="nav nav-tabs" id="myTab">

                    <li {%if pay_project_id==0%} class="active" {%end%}>
                        <a href="/payment?tag=list_company_in_customer_req&pay_project_id=0&state=0" id="customer_tab">待审核</a>
                    </li>
                    <li {%if pay_project_id > 0 and state==2%} class="active" {%end%}>
                        <a href="/payment?tag=list_company_in_customer_req&pay_project_id=1&state=2" id="tab_confirm">已审核</a>
                    </li>
                    <li {%if pay_project_id> 0 and state==1%} class="active" {%end%}>
                        <a href="/payment?tag=list_company_in_customer_req&pay_project_id=1&state=1" id="tab_confirm">驳回订单</a>
                    </li>
                </ul>
        {%end%}
<fieldset>



                        {%if customers%}
                                    <div class="alert">
                                        当前数量: {{pagination.total_count}}
                                    </div>
        <table class="table  table-bordered " style="font-size:12px;">
                     <thead>
                                <tr style="background-color: black; color:#fff;">

                                <th style="width:180px;">公司名称</th>
                                <th style="width:60px;">会计</th>




              <th width="160">最新收款明细</th>
                                                    <th width="160">待收明细</th>



                                <th style="width:80px;">到款时间</th>


                                {%if state==0%}
                                  <th style="width:120px;">到款处理</th>

                                <th style="width:60px;"></th>

                                {%elif state==1%}
                                <th style="width:120px;">
                                
                                
                                到款处理</th>
                                <th style="width:60px;">确认审核</th>
                                         {%if from_customer%}
                                <th  style="width:60px;">


                        </th>
                {%end%}
                                 {%else%}

                                    <th style="width:120px;">到款处理</th>
                                    <th style="width:60px;">确认审核</th>
                                   {%end%}





   
                {%if from_customer%}
      <th  style="width:60px;">


                        </th>
    {%end%}

                                </tr>
                            </thead>
                <tbody>

     {%for item in customers%}
                    <tr>

                        <td><a target="_blank" href="/payment?tag=customer&customer_id={{item.customer_id}}&to_tag=payment_tab">{{item.customer_company}}</a>

                                  {%if role=="3" or role=="8" or role=="5" %} <a 
                           class="modify_customer_detail btn-sm control"
         customer_id="{{item.customer_id}}"
         promo_id="{{item.customer_promo_id}}|{{item.customer_promo_id_name}}"
          is_general="{{item.customer_is_general}}"
         pay_pay_typeid_name="{{item.customer_paytype_id_name}}"
         pay_service_amount = "{{item.customer_service_amount}}"
         pay_service_amount_month  = "{{item.customer_service_amount_month}}"
         pay_book_amount ="{{item.customer_book_amount}}" guid="{{item.guid}}"
         customer_type="{{item.customer_customer_type}}"  href="javascript:void(0)"
         customer_company = "{{item.company}}" tag_id="{{item.customer_tag_id}}"
         tag_id_name="{{item.customer_tag_id_name}}" 
          tag_parent_id="{{item.customer_tag_parent_id}}"
         tag_parent_id_name="{{item.customer_tag_parent_id_name}}" 
         is_building="{{item.customer_is_building}}"
         is_clearly="{{item.customer_is_clearly}}" is_year="{{item.customer_is_year}}"
         adjusted_option="{% if  adjusted_option(item.customer_id)%}{%if adjusted_option(item.customer_id).adjusted_option%}{{adjusted_option(item.customer_id).adjusted_option}}{%end%}{%end%}"        
         >
  

    <img src="/static/images/modify.png" width="20"/></a>{%end%}   

{%if item.is_general%}<font color='red'><i class="icon-star"></i> 一般纳税人</font>{%end%}
                          <br />
                            <span style="font-size:11px; color:blue;">
                                <i class="icon-star"></i>
                                {%if item.tag_parent_id_name!=item.tag_id_name%}

                                {{item.tag_parent_id_name}}&nbsp;
                               {%end%}
                                {%if item.tag_id_name%}
                              {{item.tag_id_name}}&nbsp;
                               {%end%}
                                 {%if item.is_building%}
                               楼盘&nbsp;
                               {%end%}
                                 {%if item.is_year%}
                             工商年检&nbsp;
                               {%end%}
                                 {%if item.is_clearly%}
                              汇算清缴&nbsp;
                               {%end%}

                            </span>
<br/>
    {%if item.company_reguid%}<font color='green'>{{item.company_reguid}}</font>{%end%}
    {% if  adjusted_option(item.customer_id)%}
    {%if adjusted_option(item.customer_id).adjusted_option%}
        <br><font color='red' title="{{adjusted_option(item.customer_id).adjusted_option}}" >{{adjusted_option(item.customer_id).adjusted_option[:25]}}{%if len(adjusted_option(item.customer_id).adjusted_option)>25%}..{%end%}</font>
    {%end%}
    {%end%}  

    <div class="alert alert-info">

        付款方式:{{item.customer_paytype_id_name}}<br/>{{item.customer_service_amount}}（总）/{{item.customer_service_amount_month}}（月）<br/>
        {{item.customer_book_amount}}(帐册费)
    </div>
             
                        </td>
                                        <td>{{item.acc_uid_name}}</td>



             <td>{%if item.al_remark%}{{item.al_remark}}{%end%}</td>
  <td>{%if item.pb_remark%}{{item.pb_remark}}{%end%}</td>


  <td>
    {%if item.title_created_at%}
    {{item.title_created_at.strftime("%Y-%m-%d")}}
    {%end%}
</td>

    {%if pay_project_id==0%}
                         <td>



 {{item.is_handler_uid_name}} {{item.is_handler_at}}
                </td>

            <td>


                <a class="btn handler_detail btn-sm control"
                al_remark = "{%if item.al_remark%}{{item.al_remark}}{%end%}"
                pb_remark = "{%if item.pb_remark%}{{item.pb_remark}}{%end%}"
                type='button' income_id="{{item.income_title_id}}"
                 customer_id="{{item.customer_id}}"
                    project_id="{{item.project_id}}"
                     customer_company = "{{item.customer_company}}"
                    customer_pay_type_id="{{item.customer_pay_type_id}}"
                    customer_paytype_id_name="{{item.customer_paytype_id_name}}"
                     curr_payment_detail="{{item.project_name}}(编号:{{item.project_id}}) {{item.pay_list}}"
                    customer_service_amount="{{item.customer_service_amount}}"
                    customer_service_amount_month="{{item.customer_service_amount_month}}"
                     customer_book_amount="{{item.customer_book_amount}}"
                     income_title_id="{{item.income_title_id}}"
                     acc_end="{%if item.acc_end%}{{item.acc_end.strftime("%Y-%m")}}{%else%}N{%end%}"
                     acc_book_end="{%if item.acc_book_end%}{{item.acc_book_end.strftime("%Y-%m")}}{%else%}N{%end%}"
                     payment_confirm_remark ="{%if item.payment_confirm_remark%}{{item.payment_confirm_remark}}{%end%}"
                     payment_confirm_state= "{%if item.payment_confirm_state%}{{item.payment_confirm_state}}{%end%}"
                     payment_id = "{{item.payment_id}}"
                     customer_remark="{%if item.customer_remark%}{{item.customer_remark}}{%end%}"
                    href="javascript:void(0)">审核</a>

            </td>
            {%else%}
                <td>

                    {{item.is_handler_uid_name}}

                     {{item.is_handler_at}}

                </td>
                <td>
                    <span style='color:red;'> {{item.payment_confirm_remark}}</span>
                     {{item.payment_confirm_uid_name}}
                    {{item.payment_confirm_at}}


                </td>



                {%if from_customer%}
                                <td>

                <a class="btn handler_detail_modify btn-sm control"
                type='button'
                 customer_id="{{item.customer_id}}"
                    project_id="{{item.project_id}}"
                     customer_company = "{{item.customer_company}}"
                    customer_pay_type_id="{{item.customer_pay_type_id}}"
                    customer_paytype_id_name="{{item.customer_paytype_id_name}}"
                     curr_payment_detail="{{item.project_name}}(编号:{{item.project_id}}){{item.income_list}} {{item.pay_list}} "
                    customer_service_amount="{{item.customer_service_amount}}"
                    customer_service_amount_month="{{item.customer_service_amount_month}}"
                     customer_book_amount="{{item.customer_book_amount}}"

                    al_remark = "{%if item.al_remark%}{{item.al_remark}}{%end%}"
                    pb_remark = "{%if item.pb_remark%}{{item.pb_remark}}{%end%}"
                    payment_id = "{{item.payment_id}}"
                     wait_pay_amount = "{{item.e_wait_pay_amount}}"
                    acc_end="{%if item.e_acc_end%}{{item.e_acc_end.strftime("%Y-%m")}}{%else%}N{%end%}"
                    acc_book_end="{%if item.e_acc_book_end%}{{item.e_acc_book_end.strftime("%Y-%m")}}{%else%}N{%end%}"
                     href="javascript:void(0)">修改</a>

                </td>


                {%end%}

            {%end%}



                    </tr>
                    {%end%}



                </tbody>
              </table>

                    {%else%}
                        还没有客户哦。

                    {%end%}
                              <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            <li><a href="/payment?tag={{tag}}&page={{ pagination.page - 1}}{%if kf%}&kf={{kf}}{%end%}{%if pay_project_id%}&pay_project_id={{pay_project_id}}{%end%}{%if state%}&state={{state}}{%end%}{%if from_customer%}&from_customer={{from_customer}}{%end%}{%if is_handler_uid_name%}&is_handler_uid_name={{is_handler_uid_name}}{%end%}">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li>
                                <a href="/payment?tag={{tag}}&page={{ page }}{%if kf%}&kf={{kf}}{%end%}{%if pay_project_id%}&pay_project_id={{pay_project_id}}{%end%}{%if state%}&state={{state}}{%end%}{%if from_customer%}&from_customer={{from_customer}}{%end%}{%if is_handler_uid_name%}&is_handler_uid_name={{is_handler_uid_name}}{%end%}">{{ page }}</a></li>
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li><a href="/payment?tag={{tag}}&page={{pagination.page+1}}{%if kf%}&kf={{kf}}{%end%}{%if pay_project_id%}&pay_project_id={{pay_project_id}}{%end%}{%if state%}&state={{state}}{%end%}{%if from_customer%}&from_customer={{from_customer}}{%end%}{%if is_handler_uid_name%}&is_handler_uid_name={{is_handler_uid_name}}{%end%}">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>
</fieldset>

</div>



</div>
</div>
</div> <!-- /widget-content -->
</div> <!-- /widget -->
</div> <!-- /span8 -->
</div> <!-- /row -->
</div> <!-- /container -->
 </div>









      {%if pay_project_id > 0 %}
<div id="a_handler_modal_modify" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel_account">处理到款明细

            <a href="javascript:void(0)" class="btn btn-danger" id="delete_payment">删除</a>


        </h3>
    </div>
    <div class="modal-body">


<table border="1" style="padding:5x;width:100%">

        <tr style="background:#efefef; font-size:12px;" id="customer_company">

        </tr>

    <tr style="background:#ccc;">
        <td colspan="8">当前收款基本信息</td>
    </tr>
    <tr id="service_price">

    </tr>

    <tr  style="background:#ccc;">
        <td colspan="8">上期收款明细</td>
    </tr>
    <tr id="last_payment">

    </tr>
    <tr style="background:#ccc;">
        <td colspan="4">本期待收款明细</td>
            <td colspan="4">本期待收款金额</td>
    </tr>
    <tr id="curr_last_payment">

    </tr>
</tr>
<tr style="background:#ccc;">
    <td colspan="8">本期到款明细</td>
</tr>
<tr id="curr_payment_detail">

</tr>
<tr style="background:#ccc;">
    <td colspan="8">原确认单到款明细</td>
</tr>

<tr id="curr_payment_detail_project">

</tr>

</table>




<table  style="padding:3x;width:100%">

    <tr>
        <td><div class="control-group">

            <label class="control-label" for="acc_end">记账费到期时间



            </label>
            <div class="controls">
                <input type="text" class="span2 " id="acc_end" name="acc_end" value=""><br/>
                <span id="msg_acc_end" style="color:red"></span>
            </div>
            <!-- /controls -->
        </div></td><td>

<div class="control-group">

    <label class="control-label" for="account">账册费到期时间
        <span id="is_free" style="color: red"></span>


    </label>
    <div class="controls">
        <input type="text" class="span2" id="acc_book_end" name="acc_book_end"  data-format="YYYY-MM" data-template="YYYY-MM"><br/>
        <span id="msg_acc_book_end" style="color:red"></span>
    </div>
    <!-- /controls -->
</div>



        </td>
    </tr>
</table>




        <div class="control-group">
            <label class="control-label" for="al_remark">本期收款明细</label>
            <div class="controls">
                <textarea type="text" class="span5" id="al_remark" name="al_remark" value="" style="height: 40px;"></textarea>
            </div>
            <!-- /controls -->
        </div>
        <div class="control-group">
            <label class="control-label" for="lastname">待收明细 </label>
            <div class="controls">
                <textarea type="text" class="span5" id="pb_remark" name="pb_remark" value="" style="height: 40px;"></textarea>
            </div>
            <!-- /controls -->
        </div>
    <div class="control-group">
        <label class="control-label" for="wait_pay_amount">待收金额</label>
        <div class="controls">
            <input type="text" class="span4" id="wait_pay_amount" name="wait_pay_amount" />
            <span style="color:red" id="lb_wait_pay_amount"></span>
        </div>
        <!-- /controls -->
    </div>




    </div>
    <div class="modal-footer">

        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="btn_save">保存(重新提交)</button>
    </div>
</div>






{%else%}









<div id="a_handler_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel_account">审核应收到款1

            <a href="javascript:void(0)" class="btn btn-danger" id="delete_payment">删除</a>


        </h3>
    </div>
    <div class="modal-body">


<table border="1" style="padding:5x;width:100%">


    <tr style="background:#ccc;">
        <td colspan="4">公司名称</td>
          <td colspan="4">客户备注</td>
    </tr>
    <tr >
        <td id="customer_company"  colspan="4"></td>
         <td id="customer_remark"  colspan="4"></td>
    </tr>
    <tr style="background:#ccc;">
        <td colspan="8">当前收款基本信息</td>
    </tr>
    <tr id="service_price">

    </tr>

    <tr  style="background:#ccc;">
        <td colspan="8">上期到款明细</td>
    </tr>
    <tr id="last_payment">

    </tr>
    <tr style="background:#ccc;">
        <td colspan="4">上期待收款明细</td>
            <td colspan="4">上期待收款金额</td>
    </tr>
    <tr id="curr_last_payment">

    </tr>
</tr>
<tr style="background:#ccc;">
    <td colspan="8">本期到款明细</td>
</tr>
<tr id="curr_payment_detail">

</tr>
<tr style="background:#ccc;">
    <td colspan="8">原确认单到款明细</td>
</tr>

<tr id="curr_payment_detail_project">

</tr>
</table>




<table  style="padding:3x;width:100%">

    <tr>
        <td><div class="control-group">

            <label class="control-label" for="acc_end">记账费到期时间1



            </label>
            <div class="controls">
                <input type="text" class="span2 " id="acc_end" disabled name="acc_end" value=""><br/>
                <span id="msg_acc_end1" style="color:red"></span>
            </div>
            <!-- /controls -->
        </div></td><td>

<div class="control-group">

    <label class="control-label" for="account">账册费到期时间
        <span id="is_free" style="color: red"></span>


    </label>
    <div class="controls">
        <input type="text" class="span2" disabled id="acc_book_end" name="acc_book_end"  data-format="YYYY-MM" data-template="YYYY-MM"><br/>
        <span id="msg_acc_book_end1" style="color:red"></span>
    </div>
    <!-- /controls -->
</div>



        </td>
    </tr>
    <tr>
<td>     <div class="control-group">
            <label class="control-label" for="lastname">本期待收明细 </label>
            <div class="controls">
                <textarea type="text" class="span5" disabled id="pb_remark" name="pb_remark" value="" style="height: 40px;"></textarea>
            </div>
            <!-- /controls -->
        </div></td><td>
   
    <div class="control-group">
        <label class="control-label" for="wait_pay_amount">本期待收金额</label>
        <div class="controls">
            <input type="text" class="span2" id="wait_pay_amount" name="wait_pay_amount" disabled />
            <span style="color:red" id="lb_wait_pay_amount"></span>
        </div>
        <!-- /controls -->
    </div></td>
    </tr>
</table>






        <div class="control-group well">
            <label class="control-label" for="payment_confirm_remark">应收确认审核</label>
            <input type="radio" name="state" checked="checked" value="2"/> 同意
            <input type="radio" name="state" value="1" /> 驳回

            <div class="controls" id="pc_remark_show">
                <textarea type="text" class="span5" id="payment_confirm_remark" name="payment_confirm_remark" value="" style="height: 40px;"></textarea>
            </div>
            <!-- /controls -->
        </div>




    </div>
    <div class="modal-footer">

        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="btn_save">保存</button>
    </div>
</div>


{%end%}




    {%end%}

    {%block js%}

<script src="/static/moment.js"></script>
<script src="/static/combodate.js"></script>
 {% include "customer_modify_base.html" %}


<script>

    $(function () {
        _xsrf = getCookie("_xsrf")

      //  moment().format('YYYY-MM'); // 十月 25日 2018, 12:28:24 中午
      //  moment.locale();         // zh-cn
        $('#acc_book_end').combodate({
            format: "YYYY-MM",
            template: "YYYY-MM",
            minYear: 2017,
            maxYear: 2025,
            yearDescending: false
        });

        $('#acc_end').combodate({
             format: "YYYY-MM",
             template:"YYYY-MM",
            minYear: 2017,
            maxYear: 2025,
            yearDescending: false

        });
        $(function () {
            _xsrf = getCookie("_xsrf")
            $("#company").typeahead({
                source: function (query, process) {
                    return $.post('/api', { query: query, "_xsrf": _xsrf, "tag": "customer_company" }, function (data) {
                        return process(JSON.parse(data));
                    });
                }
            });


        });

        $('input[type=radio][name=state]').change(function () {
           // alert($(this).val())
            if (this.value == '1') {
               $("#pc_remark_show").show()
            }
            else if (this.value == '2') {
                $("#pc_remark_show").hide()
            }
        });
      {%if pay_project_id > 0 %}
        $(".handler_detail_modify").on("click", function () {
            //$('#acc_book_end').combodate("setValue", "2018-02-01");
             $("#al_remark").val("")
            $("#pb_remark").val("")
            $("#btn_save").removeAttr("disabled")

            cp_title_id = $(this).attr("cp_title_id")
            customer_id = $(this).attr("customer_id")
            project_id = $(this).attr("project_id")
            customer_pay_type_id = $(this).attr("customer_pay_type_id")
            customer_paytype_id_name = $(this).attr('customer_paytype_id_name')
            customer_service_amount = $(this).attr("customer_service_amount")
            customer_service_amount_month = $(this).attr("customer_service_amount_month")
            customer_book_amount = $(this).attr("customer_book_amount")

            if (customer_book_amount ==0){
                $("#is_free").text("(免账册费,无需选择到期时间)")
            }
            $("#curr_payment_detail").html("<td colspan='8'>" + $(this).attr("al_remark") + "</td>")
             $("#curr_payment_detail_project").html("<td colspan='8'>" + $(this).attr("curr_payment_detail") + "</td>")

                payment_id = $(this).attr("payment_id")
                $("#delete_payment").attr("payment_id","")
                $("#btn_save").attr("payment_id", payment_id)
                $("#delete_payment").show()
                $("#delete_payment").attr("payment_id",payment_id)
                acc_end = $(this).attr("acc_end")
                acc_book_end = $(this).attr("acc_book_end")
                al_remark = $(this).attr("al_remark")
                pb_remark = $(this).attr("pb_remark")
                wait_pay_amount = $(this).attr("wait_pay_amount")
                $('#acc_end').combodate("setValue", acc_end);
                $('#acc_book_end').combodate("setValue", acc_book_end);
                $("#al_remark").val(al_remark)
                $("#pb_remark").val(pb_remark)
                $("#wait_pay_amount").val(wait_pay_amount)


            $("#customer_company").val("")

            customer_company = $(this).attr("customer_company")
            customer_fee = $(this).attr('customer_fee')
            cp_title_id = $(this).attr('cp_title_id')
            $("#btn_save").attr("customer_id", customer_id)
          //  $("#btn_save").attr("income_id", income_id)
            $("#btn_save").attr("project_id", project_id)
            $("#btn_save").attr("cp_title_id", cp_title_id)
            html="<td>付款方式</td><td>"+ customer_paytype_id_name+"</td>"
            html += "<td>总服务费</td><td>" + customer_service_amount + "</td>"
            html += "<td>月服务费</td><td>" + customer_service_amount_month + "</td>"
            html += "<td>账册费</td><td>" + customer_book_amount + "</td>"
            $("#service_price").html(html)
            $("#msg_acc_end").text("")
            $("#msg_acc_book_end").text("")
            $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")
            $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")
            $("#customer_company").html("    <td colspan='8'>" + customer_company + "</td>")
            $.get("/payment?tag=get_last_payment",{"customer_id":customer_id},function(result){
                if(result.code==1){

                   $("#msg_acc_end").text("(记账费到期时间:" + result.customer.acc_end+")")
                   $("#msg_acc_book_end").text("(账册费到期时间:" + result.customer.acc_book_end+")")
                   
                    if(result.customer.al_remark==undefined || result.customer.al_remark == ""){
                         $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")

                    }else{
                        $("#last_payment").html("<td colspan='8'>" + result.customer.al_remark + "</td>")
                    }
                    if (result.customer.pb_remark == undefined || result.customer.pb_remark=="") {
                        $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")

                    } else {
                        $("#curr_last_payment").html("<td colspan='4'>" + result.customer.pb_remark + "</td><td colspan='4'>" + result.customer.wait_pay_amount + "</td>")
                    }

                }else{
                    $("#msg_acc_book_end").text("(上期账册费到期时间:无系统记录)")
                    $("#msg_acc_end").text("(上期记账费到期时间:无系统记录)")
                    $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")
                    $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")

                }
            },"json")
            $("#a_handler_modal_modify").modal("show")
        })


        $("#btn_save").click(function () {
             $("#lb_wait_pay_amount").val("")
            payment_id = $(this).attr("payment_id")
            service_amount = $("#service_amount").val()
            fee = $("input[name='pay_type_id']:checked").attr("fee")
            service_amount_month = $("#service_amount_month").val()
            book_amount = $("#book_amount").val()
            pay_typeid = $("input[name='pay_type_id']:checked").val()
            pay_typeid_name = $("input[name='pay_type_id']:checked").attr("pay_typeid_name")
            acc_end =  $('#acc_end').combodate("getValue","YYYY-MM");
            acc_book_end =  $('#acc_book_end').combodate("getValue","YYYY-MM");
            pb_remark = $("#pb_remark").val()
            al_remark = $("#al_remark").val()
            customer_id = $(this).attr("customer_id")
            project_id = $(this).attr("project_id")
            cp_title_id = $(this).attr("cp_title_id")
            wait_pay_amount = $("#wait_pay_amount").val()

            if(wait_pay_amount==""){
                    $("#lb_wait_pay_amount").text("待收金额不能为空哦")
                    $("#wait_pay_amount").focus()
                    return false;
            }
             $(this).attr("disabled","disabled")

            $.post("/payment?tag=edit", {

                "payment_id": payment_id,
                    "pfi_confirm_state": 0,

                "service_amount": service_amount,
                    "fee": fee, "service_amount_month": service_amount_month, "pay_typeid": pay_typeid, "pay_typeid_name": pay_typeid_name,
                 "book_amount": book_amount, "acc_end": acc_end, "acc_book_end": acc_book_end,

                  "remark": "",
                     "customer_id": customer_id,
                 "cp_title_id": cp_title_id,
                   "project_id": project_id,
                                            "pb_remark": pb_remark, "al_remark": al_remark, "_xsrf": _xsrf,
                                                "wait_pay_amount": wait_pay_amount
            }, function (result) {
                    console.log(result)
                    if (result == "-1") {
                        $("#pb_remark").focus()
                        alert("还没有收齐全款,要写待收明细哦!")
                    }
                    else if (result == "-100") {
                        $("#acc_end").focus()
                        alert("要填写记账费到期日期哦")
                    }
                    else {
                        location.reload()
                    }
                })

        })

{%else%}
          $(".handler_detail").on("click", function () {
            //$('#acc_book_end').combodate("setValue", "2018-02-01");
             $("#al_remark").val("")
            $("#pb_remark").val("")
            $("#btn_save").removeAttr("disabled")

            cp_title_id = $(this).attr("cp_title_id")
            customer_id = $(this).attr("customer_id")
            project_id = $(this).attr("project_id")
            customer_pay_type_id = $(this).attr("customer_pay_type_id")
            customer_paytype_id_name = $(this).attr('customer_paytype_id_name')
            customer_service_amount = $(this).attr("customer_service_amount")
            customer_service_amount_month = $(this).attr("customer_service_amount_month")
            customer_book_amount = $(this).attr("customer_book_amount")
            customer_remark = $(this).attr("customer_remark")
            if (customer_book_amount ==0){
                $("#is_free").text("(免账册费,无需选择到期时间)")
            }
            $("#curr_payment_detail").html("<td colspan='8'>" + $(this).attr("al_remark") + "</td>")
             $("#curr_payment_detail_project").html("<td colspan='8'>" + $(this).attr("curr_payment_detail") + "</td>")


            {%if pay_project_id > 0 %}
                payment_id = $(this).attr("payment_id")
                $("#delete_payment").attr("payment_id","")
                $("#btn_save").attr("payment_id", payment_id)
                $("#delete_payment").show()
                $("#delete_payment").attr("payment_id",payment_id)
                acc_end = $(this).attr("acc_end")
                acc_book_end = $(this).attr("acc_book_end")

                al_remark = $(this).attr("al_remark")
                pb_remark = $(this).attr("pb_remark")
                wait_pay_amount = $(this).attr("wait_pay_amount")
                $('#acc_end').combodate("setValue", acc_end);
                $('#acc_book_end').combodate("setValue", acc_book_end);
                $("#al_remark").val(al_remark)
                $("#pb_remark").val(pb_remark)
                $("#wait_pay_amount").val(wait_pay_amount)
            {%else%}
               
                      $("#delete_payment").hide()

            {% end %}
                acc_end = $(this).attr("acc_end")
                acc_book_end = $(this).attr("acc_book_end")
            customer_id = $(this).attr("customer_id")
            project_id = $(this).attr("project_id")
            payment_id = $(this).attr("payment_id")
            $('#acc_end').combodate("setValue", acc_end);
            $('#acc_book_end').combodate("setValue", acc_book_end);
            customer_remark = $(this).attr("customer_remark")
            customer_company = $(this).attr("customer_company")
            customer_fee = $(this).attr('customer_fee')
            cp_title_id = $(this).attr('cp_title_id')

            $("#btn_save").attr("customer_id", customer_id)
            $("#btn_save").attr("payment_id", payment_id)
            $("#btn_save").attr("project_id", project_id)
            html="<td>付款方式</td><td>"+ customer_paytype_id_name+"</td>"
            html += "<td>总服务费</td><td>" + customer_service_amount + "</td>"
            html += "<td>月服务费</td><td>" + customer_service_amount_month + "</td>"
            html += "<td>账册费</td><td>" + customer_book_amount + "</td>"
            $("#service_price").html(html)
            $("#msg_acc_end1").text("")
            $("#msg_acc_book_end1").text("")
            $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")
            $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")
         //   $("#customer_company").html("    <td colspan='8'>" + customer_company + "</td>")
         $("#customer_company").html(customer_company )
            $("#customer_remark").html( customer_remark)
            
            $.get("/payment?tag=get_last_payment",{"customer_id":customer_id},function(result){
                if(result.code==1){

                // $("#msg_service_amount").text("上一次总服务费:" +  result.customer.service_amount)


                     
                   $("#msg_acc_end1").html("(上期记账费到期时间:" + result.customer.old_acc_end+")")
                   $("#msg_acc_book_end1").html("(上期账册费到期时间:" + result.customer.old_acc_book_end+")")

                    if(result.customer.old_al_remark==undefined || result.customer.old_al_remark == ""){
                         $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")

                    }else{
                        $("#last_payment").html("<td colspan='8'>" + result.customer.old_al_remark + "</td>")
                    }
                    if (result.customer.pb_remark == undefined || result.customer.old_pb_remark=="") {
                        $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")

                    } else {
                        $("#curr_last_payment").html("<td colspan='4'>" + result.customer.old_pb_remark + "</td><td colspan='4'>" + result.customer.old_wait_pay_amount + "</td>")
                    }

                       
                    if (result.customer.pb_remark == undefined || result.customer.pb_remark=="") {
                        $("#pb_remark").val("")

                    } else {
                        $("#pb_remark").val(result.customer.pb_remark) // + "</td><td colspan='4'>" +  + "</td>")
                    }
                    $("#wait_pay_amount").val(result.customer.wait_pay_amount)
                    

                }else{
                    $("#msg_acc_book_end1").text("(上期账册费到期时间:无系统记录)")
                    $("#msg_acc_end1").text("(上期记账费到期时间:无系统记录)")
                    $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")
                    $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")

                }
            },"json")
            $("#a_handler_modal").modal("show")
        })


        function intToFloat(val) {
            return new Number(val).toFixed(2);
        }
        $('input[type="radio"][name="pay_type_id"]').click(function () {
            service_amount = $("#service_amount").val()
            if ($(this).is(':checked')) {
                all_total = service_amount / $(this).attr("fee");
                $("#service_month_amount").val(intToFloat(all_total))
            }
        });

        $('#service_amount').keyup(function () {
            all_total = $(this).val() / $("input[name='pay_type_id']:checked").attr("fee");
            $("#service_month_amount").val(intToFloat(all_total))


        });


        $("#btn_save").click(function () {

            customer_id = $(this).attr("customer_id")
            project_id = $(this).attr("project_id")
            payment_id = $(this).attr("payment_id")
            payment_confirm_remark = $("#payment_confirm_remark").val()
            payment_confirm_state = $("input[name=state]:checked").val()

           //alert(payment_confirm_state)
            $.post("/payment?tag=payment_confirm", {
                 "customer_id": customer_id,
                 "project_id": project_id,
                 "payment_id": payment_id,
                 "payment_confirm_remark": payment_confirm_remark,
                 "payment_confirm_state": payment_confirm_state,
                  "_xsrf": _xsrf
            }, function (result) {
                console.log(result)
                if(result=="0"){
               location.reload()
                }else{
                    alert('保存失败.')
                }
            })
        })
{%end%}

    });

</script>


    {%end%}