
 {% extends "../base.html" %} {%block title%}客户管理{%end%} {% block body %}
<div class="main">
<div class="main-inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="widget ">
<div class="widget-header">
<i class="icon-user"></i>
<h3>记账应收管理

{% include "payment_nav.html" %}
</h3>
</div> <!-- /widget-header -->
<div class="widget-content">
<div class="tab-content">

        <form class="form-search" id="query_form">
            <input type="text" value="{%if company%}{{company}}{%end%}" id="company" name="company" class="input-medium search-query"
                placeholder="公司名称">
            <input type="text" value="{%if kf%}{{kf}}{%end%}" id="kf" name="kf" class="input-medium search-query" placeholder="客服会计">
        
        
        
        
            <button type="submit" class="btn">检 索</button>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                      
            <a href="/payment?tag=output{%if kf%}&kf={{kf}}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}{%if company%}&company={{company}}{%end%}" target="_blank" class="btn btn-primary">excel数据下载</a>
        
            <input type="hidden" value="{{by_tag}}" name="by_tag" />
        
        
            <input type="hidden" value="{{tag}}" name="tag" />
        
        </form>
<div class="tab-pane active" id="formcontrols">
<fieldset>
    <ul class="nav nav-tabs" id="myTab">

        <li {%if  not by_tag%} class="active" {%end%}>
            <a href="/payment?tag=list&show_tag=1" id="customer_tab">全部</a>
        </li>


     {%for item in t_customer_type%}
        <li {%if  by_tag==item.name %} class="active" {%end%}>
            <a href="/payment?tag=list&by_tag={{item.name}}" id="customer_tab">{{item.name}}</a>
        </li>
    {%end%}

    </ul>
 {%if customers%}
                                    <div class="alert">
                                      <span style="font: 15px;">  当前数量: {{pagination.total_count}} 个</span>

                                        <span style="font: 15px;">合计待收金额: {{total.wait_pay_total}} 元</span>

                                       
                                    </div>
              <table class="table" style="margin:5px;">
                     <thead>
                                <tr style="background-color: black; color:#fff;">

                                <th style="min-width:130px;">公司名称</th>
<th style="min-width:50px;">会计</th>


                                <th style="min-width:60px;">付款方式</th>
                                <th style="min-width:60px;">总服务费</th>
                                <th style="min-width:60px;">月服务费</th>




                                <th>帐册费</th>
                                <th>记账到期</th>
                                  <th>账费到期</th>
                             <th width="175">最新收款明细</th>
                                <th width="175">待收明细</th>
                                <th width="70">待收金额</th>
<th width="30"></th>


                                </tr>
                            </thead>
                <tbody>

     {%for item in customers%}
                    <tr>

                        <td><a href="/customer?tag=show&id={{item.customer_id}}&guid={{item.guid}}">{{item.company}}</a>      <a class="modify_customer_detail btn-sm control"
         customer_id="{{item.customer_id}}" 
         promo_id="{{item.promo_id}}|{{item.promo_id_name}}" is_general="{{item.is_general}}"
         pay_pay_typeid_name="{{item.pay_pay_typeid_name}}"
         pay_service_amount = "{{item.pay_service_amount}}"
         pay_service_amount_month  = "{{item.pay_service_amount_month}}"
         pay_book_amount ="{{item.pay_book_amount}}" guid="{{item.guid}}"
         customer_type="{{item.customer_type}}"  href="javascript:void(0)"
         customer_company = "{{item.company}}"
        >
            <img src="/static/images/modify.png" width="20"/></a></td>
                        <td>{{item.acc_uid_name}}</td>
                   <td>{{item.pay_pay_typeid_name}}</td>



                        <td>{{item.pay_service_amount}}</td>
                        <td>{{item.pay_service_amount_month}}</td>

                        <td >{{item.pay_book_amount}}</td>
  <td>
    {%if item.acc_end%}
    {{item.acc_end.strftime("%Y-%m")}}
    {%end%}
</td>
  <td>

    {%if item.acc_book_end %}
    {{item.acc_book_end.strftime("%Y-%m")}}
    {%end%}
</td>
    <td>{%if item.al_remark%}{{item.al_remark}}{%end%}</td>
  <td>{%if item.pb_remark%}{{item.pb_remark}}{%end%}</td>
<td {%if item.wait_pay_amount > 0%} style="background-color:yellow" {%end%}>{{item.wait_pay_amount}}




</td>
                                <td>
                              
                <a class=" handler_detail_modify " 
                type='button'
                 customer_id="{{item.customer_id}}"
                    project_id="{{item.project_id}}" 
                     customer_company = "{{item.company}}"
                    customer_pay_type_id="{{item.pay_pay_typeid_id}}" 
                    customer_paytype_id_name="{{item.pay_pay_typeid_name}}"
                    customer_service_amount="{{item.pay_service_amount}}"
                    customer_service_amount_month="{{item.pay_service_amount_month}}"
                     customer_book_amount="{{item.pay_book_amount}}"

                    al_remark = "{%if item.al_remark%}{{item.al_remark}}{%end%}" 
                    pb_remark = "{%if item.pb_remark%}{{item.pb_remark}}{%end%}"
                    payment_id = "{{item.payment_id}}"
                     wait_pay_amount = "{{item.wait_pay_amount}}"
                    acc_end="{%if item.acc_end%}{{item.acc_end.strftime("%Y-%m")}}{%else%}N{%end%}" 
                    acc_book_end="{%if item.acc_book_end%}{{item.acc_book_end.strftime("%Y-%m")}}{%else%}N{%end%}"
                     href="javascript:void(0)"> <img src="/static/images/modify.png" width="20"/></a>
                
                </td>
                




                    </tr>
                    {%end%}



                </tbody>
              </table>

                    {%else%}
                        还没有客户哦。

                    {%end%}
                              <div class="pagination">
                        <ul>
                            {% if pagination.has_prev %}
                            <li><a href="/payment?tag={{tag}}&page={{ pagination.page - 1}}{%if kf%}&kf={{kf}}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li>
                                <a href="/payment?tag={{tag}}&page={{ page }}{%if kf%}&kf={{kf}}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}">{{ page }}</a></li>
                            {% else %}
                            <li><span class="active"><a href="#">{{ page }}</a></span></li>
                            {% end %} {% else %}
                            <li><span class="active"><a href="#">....</a></span></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li><a href="/payment?tag={{tag}}&page={{pagination.page+1}}{%if kf%}&kf={{kf}}{%end%}{%if by_tag%}&by_tag={{by_tag}}{%end%}">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>
</fieldset>

</div>



</div>
</div>
</div>
</div> <!-- /widget-content -->
</div> <!-- /widget -->
</div> <!-- /span8 -->
</div> <!-- /row -->
</div> <!-- /container -->
 </div>





<div id="a_handler_modal_modify" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel_account">处理到款明细
            
            <a href="javascript:void(0)" class="btn btn-danger" id="delete_payment">删除</a>


        </h3>
    </div>
    <div class="modal-body">
       

<table border="1" style="padding:5x;width:100%">

        <tr style="background:#efefef; font-size:12px;" id="customer_company">
        
        </tr>

    <tr style="background:#ccc;">
        <td colspan="8">当前收款基本信息</td>
    </tr>
    <tr id="service_price">
        
    </tr>



</table>




<table  style="padding:3x;width:100%">

    <tr>
        <td><div class="control-group">
        
            <label class="control-label" for="acc_end">记账费到期时间
               
        
        
            </label>
            <div class="controls">
                <input type="text" class="span2 " id="acc_end" name="acc_end" value=""><br/>
                <span id="msg_acc_end" style="color:red"></span>
            </div>
            <!-- /controls -->
        </div></td><td>

<div class="control-group">

    <label class="control-label" for="account">账册费到期时间
        <span id="is_free" style="color: red"></span>


    </label>
    <div class="controls">
        <input type="text" class="span2" id="acc_book_end" name="acc_book_end"  data-format="YYYY-MM" data-template="YYYY-MM"><br/>
        <span id="msg_acc_book_end" style="color:red"></span>
    </div>
    <!-- /controls -->
</div>



        </td>
    </tr>
</table>

       


        <div class="control-group">
            <label class="control-label" for="al_remark">本期收款明细</label>
            <div class="controls">
                <textarea type="text" class="span5" id="al_remark" name="al_remark" value="" style="height: 40px;"></textarea>
            </div>
            <!-- /controls -->
        </div>
        <div class="control-group">
            <label class="control-label" for="lastname">待收明细 </label>
            <div class="controls">
                <textarea type="text" class="span5" id="pb_remark" name="pb_remark" value="" style="height: 40px;"></textarea>
            </div>
            <!-- /controls -->
        </div>
    <div class="control-group">
        <label class="control-label" for="wait_pay_amount">待收金额</label>
        <div class="controls">
            <input type="text" class="span4" id="wait_pay_amount" name="wait_pay_amount" />
            <span style="color:red" id="lb_wait_pay_amount"></span>
        </div>
        <!-- /controls -->
    </div>




    </div>
    <div class="modal-footer">

        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" id="btn_save">修 改</button>
    </div>
</div>


    {%end%}

    {%block js%}
 
 {% include "customer_modify_base.html" %}
<script src="/static/moment.js"></script>
<script src="/static/combodate.js"></script>
<script>

$(function(){
   $('#acc_book_end').combodate({
            format: "YYYY-MM",
            template: "YYYY-MM",
            minYear: 2015,
            maxYear: 2025,
            yearDescending: false
        });
        
        $('#acc_end').combodate({
             format: "YYYY-MM",
             template:"YYYY-MM",
            minYear: 2015,
            maxYear: 2025,
            yearDescending: false

        });
   $(".handler_detail_modify").on("click", function () {
            //$('#acc_book_end').combodate("setValue", "2018-02-01");
             $("#al_remark").val("")
            $("#pb_remark").val("")
            $("#btn_save").removeAttr("disabled")
          
            cp_title_id = $(this).attr("cp_title_id")
            customer_id = $(this).attr("customer_id")
            project_id = $(this).attr("project_id")
            customer_pay_type_id = $(this).attr("customer_pay_type_id")
            customer_paytype_id_name = $(this).attr('customer_paytype_id_name')
            customer_service_amount = $(this).attr("customer_service_amount")
            customer_service_amount_month = $(this).attr("customer_service_amount_month")
            customer_book_amount = $(this).attr("customer_book_amount")

            if (customer_book_amount ==0){
                $("#is_free").text("(免账册费,无需选择到期时间)")
            }
            $("#curr_payment_detail").html("<td colspan='8'>" + $(this).attr("curr_payment_detail") + "</td>")
         
                payment_id = $(this).attr("payment_id")
                $("#delete_payment").attr("payment_id","") 
                $("#btn_save").attr("payment_id", payment_id)
                $("#delete_payment").show()
                $("#delete_payment").attr("payment_id",payment_id)
                acc_end = $(this).attr("acc_end")
                acc_book_end = $(this).attr("acc_book_end")
                al_remark = $(this).attr("al_remark")
                pb_remark = $(this).attr("pb_remark")
                wait_pay_amount = $(this).attr("wait_pay_amount")
                $('#acc_end').combodate("setValue", acc_end);
                $('#acc_book_end').combodate("setValue", acc_book_end);
                $("#al_remark").val(al_remark)
                $("#pb_remark").val(pb_remark)
                $("#wait_pay_amount").val(wait_pay_amount)


            $("#customer_company").val("")

            customer_company = $(this).attr("customer_company")
            customer_fee = $(this).attr('customer_fee')
            cp_title_id = $(this).attr('cp_title_id')
            $("#btn_save").attr("customer_id", customer_id)
          //  $("#btn_save").attr("income_id", income_id)
            $("#btn_save").attr("project_id", project_id)
            $("#btn_save").attr("cp_title_id", cp_title_id)
            html="<td>付款方式</td><td>"+ customer_paytype_id_name+"</td>"
            html += "<td>总服务费</td><td>" + customer_service_amount + "</td>"
            html += "<td>月服务费</td><td>" + customer_service_amount_month + "</td>"
            html += "<td>账册费</td><td>" + customer_book_amount + "</td>"
            $("#service_price").html(html)
            $("#msg_acc_end").text("")
            $("#msg_acc_book_end").text("")
            $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")
            $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")
            $("#customer_company").html("    <td colspan='8'>" + customer_company + "</td>")
            $.get("/payment?tag=get_last_payment",{"customer_id":customer_id},function(result){
                if(result.code==1){

                   $("#msg_acc_end").text("(上期记账费到期时间:" + result.customer.acc_end+")")
                   $("#msg_acc_book_end").text("(上期账册费到期时间:" + result.customer.acc_book_end+")")
                    if(result.customer.al_remark==undefined || result.customer.al_remark == ""){
                         $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")

                    }else{
                        $("#last_payment").html("<td colspan='8'>" + result.customer.al_remark + "</td>")
                    }
                    if (result.customer.pb_remark == undefined || result.customer.pb_remark=="") {
                        $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")

                    } else {
                        $("#curr_last_payment").html("<td colspan='4'>" + result.customer.pb_remark + "</td><td colspan='4'>" + result.customer.wait_pay_amount + "</td>")
                    }

                }else{
                    $("#msg_acc_book_end").text("(上期账册费到期时间:无系统记录)")
                    $("#msg_acc_end").text("(上期记账费到期时间:无系统记录)")
                    $("#last_payment").html("<td colspan='8'>没有上期收款明细哦</td>")
                    $("#curr_last_payment").html("<td colspan='4'>没有本期待收款明细哦</td><td colspan='4'>0</td>")

                }
            },"json")
            $("#a_handler_modal_modify").modal("show")
        })
       

        $("#btn_save").click(function () {
             $("#lb_wait_pay_amount").val("")
            payment_id = $(this).attr("payment_id")
            service_amount = $("#service_amount").val()
            fee = $("input[name='pay_type_id']:checked").attr("fee")
            service_amount_month = $("#service_amount_month").val()
            book_amount = $("#book_amount").val()
            pay_typeid = $("input[name='pay_type_id']:checked").val()
            pay_typeid_name = $("input[name='pay_type_id']:checked").attr("pay_typeid_name")
            acc_end =  $('#acc_end').combodate("getValue","YYYY-MM");
            acc_book_end =  $('#acc_book_end').combodate("getValue","YYYY-MM");
            pb_remark = $("#pb_remark").val()
            al_remark = $("#al_remark").val()
            customer_id = $(this).attr("customer_id")
            cp_title_id = $(this).attr("cp_title_id")
            wait_pay_amount = $("#wait_pay_amount").val()

            if(wait_pay_amount==""){
                    $("#lb_wait_pay_amount").text("待收金额不能为空哦")
                    $("#wait_pay_amount").focus()
                    return false;
            }
             $(this).attr("disabled","disabled")
         
            $.post("/payment?tag=edit_curr", {
             
                "payment_id": payment_id,
          
                "service_amount": service_amount,
                    "fee": fee, "service_amount_month": service_amount_month, "pay_typeid": pay_typeid, "pay_typeid_name": pay_typeid_name,
                 "book_amount": book_amount, "acc_end": acc_end, "acc_book_end": acc_book_end,

                  "remark": "",
                     "customer_id": customer_id,
                 "cp_title_id": cp_title_id,
                                            "pb_remark": pb_remark, "al_remark": al_remark, "_xsrf": _xsrf,
                                                "wait_pay_amount": wait_pay_amount
            }, function (result) {
                    console.log(result)
                    if (result == "-1") {
                        $("#pb_remark").focus()
                        alert("还没有收齐全款,要写待收明细哦!")
                    }
                    else if (result == "-100") {
                        $("#acc_end").focus()
                        alert("要填写记账费到期日期哦")
                    }
                    else {
                        location.reload()
                    }
                })
          
        })
})
     

</script>


    {%end%}