{%extends "../base.html" %}{%block title%}工商统计{%end%}{%block body%}

<style>

  .faye-btn {padding: 0.1rem 0.2rem; background-color: #9ec6ef; margin-left: 20px; border-radius: 2px;}
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index:9999;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item g1">
        工商统计列表
    </li>
    <li class="g1 g1-left">
      <a class="btn {%if params[ "show_tag"]=='1' %} btn-primary {%else%}btn-default{%end%} btn-sm" href="project?tag=cq_jd_list&show_tag=1" {%if params[ "show_tag"]!='1' %}style="background-color: #9ec6ef;" {%end%}>接单列表</a>
    </li>
    <li class="g1 g1-left">
      <a class="btn {%if params[ "show_tag"]=='2' %} btn-primary{%else%}btn-default{%end%} btn-sm" href="project?tag=cq_jd_list&show_tag=2" {%if params["show_tag"]!="2" %}style="background-color: #9ec6ef;" {%end%}>办结列表</a>
    </li>  <li class="g1 g1-left">
      <a class="btn {%if params[ "show_tag"]=='3' %} btn-primary{%else%}btn-default{%end%} btn-sm" href="project?tag=cq_jd_list&show_tag=3" {%if params["show_tag"]!="3" %}style="background-color: #9ec6ef;" {%end%}>联系客户</a>
      </li>  <li class="g1 g1-left">
      <a class="btn {%if params[ "show_tag"]=='4' %} btn-primary{%else%}btn-default{%end%} btn-sm" href="project?tag=cq_jd_list&show_tag=4" {%if params["show_tag"]!="4" %}style="background-color: #9ec6ef;" {%end%}>跟进记录</a>
      </li>  <li class="g1 g1-left">
      <div class="dropdown">
            <a href="javascript:void(0)" class="btn  {%if params['count_type']=='project_name'%}btn-primary{%else%}btn-default{%end%} btn-sm" {%if  params['count_type']!='project_name' %}style="background-color: #9ec6ef;" {%end%} id='project_btn'>查看统计(办理项目)
            <span class="fa fa-caret-down"></span>  
            </a>
            
            <div class="dropdown-content">
              <a href="project?tag=cq_jd_list&count_type=project_name&way=day&show_tag={{params['show_tag']}}{%if params['count_type']=='project_name'%}{%if params['btype']%}&btype={{params['btype']}}{%end%}{%end%}{%if params['show_tag']=='2'%}{%if params['bj_check'] %}&bj_check={{params['bj_check']}}{%end%}{%end%}" >按日统计 </a>
              <a href="project?tag=cq_jd_list&count_type=project_name&way=month&show_tag={{params['show_tag']}}{%if params['count_type']=='project_name'%}{%if params['btype']%}&btype={{params['btype']}}{%end%}{%end%}{%if params['show_tag']=='2'%}{%if params['bj_check'] %}&bj_check={{params['bj_check']}}{%end%}{%end%}">按月统计 </a>
              <a href="project?tag=cq_jd_list&count_type=project_name&way=week&show_tag={{params['show_tag']}}{%if params['count_type']=='project_name'%}{%if params['btype']%}&btype={{params['btype']}}{%end%}{%end%}{%if params['show_tag']=='2'%}{%if params['bj_check'] %}&bj_check={{params['bj_check']}}{%end%}{%end%}">按周统计</a>
            </div>
          </div>
          </li>  <li class="g1 g1-left">
      <div class="dropdown">
          <a href="javascript:void(0)" class="btn {%if params['count_type']=='gs'%}btn-primary{%else%}btn-default{%end%} btn-sm" {%if  params['count_type']!='gs' %}style="background-color: #9ec6ef;" {%end%} id='gs_btn' >查看统计(工商专员)
          <span class="fa fa-caret-down"></span>  
          </a>
          
          <div class="dropdown-content">
            <a href="project?tag=cq_jd_list&count_type=gs&way=day
            &show_tag={{params['show_tag']}}{%if params['count_type']=='gs'%}
            {%if params['name']%}&name={{params['name']}}{%end%}{%end%}
            {%if params['show_tag']=='2'%}{%if params['bj_check'] %}&bj_check={{params['bj_check']}}{%end%}{%end%}
            " >按日统计 </a>
            <a href="project?tag=cq_jd_list&count_type=gs&way=month&show_tag={{params['show_tag']}}{%if params['count_type']=='gs'%}{%if params['name']%}&name={{params['name']}}{%end%}{%end%}{%if params['show_tag']=='2'%}{%if params['bj_check'] %}&bj_check={{params['bj_check']}}{%end%}{%end%}">按月统计 </a>
            <a href="project?tag=cq_jd_list&count_type=gs&way=week&show_tag={{params['show_tag']}}{%if params['count_type']=='gs'%}{%if params['name']%}&name={{params['name']}}{%end%}{%end%}{%if params['show_tag']=='2'%}{%if params['bj_check'] %}&bj_check={{params['bj_check']}}{%end%}{%end%}">按周统计</a>
          </div>
        </div>
        </li>
      
        {%if params['show_tag']=='2'%}
        <li class="g1 g1-left">
        <div class="dropdown">
                <a href="javascript:void(0)" class="btn btn-danger btn-sm" id='bj_check_btn' >{%if params['bj_check']=='1'%}已确认{%elif params['bj_check']=='0'%}未确认{%end%}
                <span class="fa fa-caret-down"></span>  
                </a>
                
                <div class="dropdown-content">
                  <a href="project?tag=cq_jd_list&bj_check=1&show_tag={{params['show_tag']}}{%if params['way']%}&way={{params['way']}}{%end%}
                  {%if params['count_type']=='gs'%}&count_type={{params['count_type']}}{%if params['name']%}&name={{params['name']}}{%end%}{%end%}
                  {%if params['count_type']=='project_name'%}&count_type={{params['count_type']}}{%if params['btype']%}&btype={{params['btype']}}{%end%}{%end%}
                  " >已确认 </a>
                  <a href="project?tag=cq_jd_list&bj_check=0&show_tag={{params['show_tag']}}{%if params['way']%}&way={{params['way']}}{%end%}
                  {%if params['count_type']=='gs'%}&count_type={{params['count_type']}}{%if params['name']%}&name={{params['name']}}{%end%}{%end%}
                  {%if params['count_type']=='project_name'%}&count_type={{params['count_type']}}{%if params['btype']%}&btype={{params['btype']}}{%end%}{%end%}
                  ">未确认</a>
                </div>
              </div>
            </li>
            {%if not params['way']%}
            <li class="g1 g1-left">
<a href="javascript:void(0);" class="btn btn-primary btn-sm" id='express_output' params="{{params}}">点击下载数据（Excel格式）</a>
              </li>
              {%end%}

{%end%}


  </ol>
  {%if params['way']%}
  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link {%if (params['count_type']=='gs' and not params["name"]) or (params['count_type']=='project_name' and not params["btype"])%}active {%end%}" id="nav-home-tab"
           href="project?tag=cq_jd_list{%if params['count_type']%}&count_type={{params['count_type']}}{%end%}{%if params['way']%}&way={{params['way']}}{%end%}&show_tag={{params['show_tag']}}{%if params['show_tag']=='2'%}&bj_check={{params['bj_check']}}{%end%}">全 部
          </a>
          {%if params['count_type']=='gs' and role!='9' %}
          {%for item in member_gs %}
          <a class="nav-item nav-link {%if params["name"]==item.uid_name%}active{%end%}"
           href="project?tag=cq_jd_list&count_type={{params['count_type']}}&name={{item.uid_name}}
           {%if params['way']%}&way={{params['way']}}{%end%}&show_tag={{params['show_tag']}}{%if params['show_tag']=='2'%}&bj_check={{params['bj_check']}}{%end%}"
              style="font-size:13px;">{{item.uid_name}}
          </a>
          {%end%}
          {%elif params['count_type']=='project_name'%}
          {%for item in t_projects_type%}
          <a class="nav-item nav-link {%if params["btype"]==str(item.id)%}active{%end%}"
           href="project?tag=cq_jd_list&count_type={{params['count_type']}}&btype={{item.id}}{%if params['way']%}&way={{params['way']}}{%end%}&show_tag={{params['show_tag']}}{%if params['show_tag']=='2'%}&bj_check={{params['bj_check']}}{%end%}"
              style="font-size:13px;">{{item.income_name}}</a>
          {%end%}
          {%end%}
      </div>
</nav>
{%end%}
<div class="card mb-3">
    <div class="card-body">
      {%if not params['way'] %}
      <form class="pm2">
      <table>
          <tbody>
            <tr>
              <td><select name="gs_name" class="form-control">
                <option value="">选择工商专员</option>
                {%for item in member_gs%}
                <option value="{{item.uid_name}}" {%if params['gs_name']==item.uid_name%}selected{%end%}>{{item.uid_name}}</option>
                {%end%}

              </select></td>
              <td>
                  <input type="text" name="start_time_fp" id="start_time_fp" placeholder="分配开始时间" class="form-control" value="{{params['start_time_fp']}}">
                </td>
                <td>至</td>
                <td><input type="text" name="end_time_fp" id="end_time_fp" placeholder="分配结束时间" class="form-control" value="{{params['end_time_fp']}}"></td>
                <td>
                <input type="text" name="start_time" id="start_time" placeholder="{%if params['show_tag']=='2'%}办结{%else%}接单{%end%}开始时间" class="form-control" value="{{params['start_time']}}">
              </td>
              <td>至</td>
              <td><input type="text" name="end_time" id="end_time" placeholder="{%if params['show_tag']=='2'%}办结{%else%}接单{%end%}结束时间" class="form-control" value="{{params['end_time']}}"></td>
              <td><input type="text" name="customer_name" placeholder="客户姓名" class="form-control" value="{{params['customer_name']}}"></td>
              <td>
                <select name="btype_name" id="" class="form-control">
                  <option value="">选择办理项目</option>
                  {%for item in t_projects_type%}
                  <option value="{{item.income_name}}" {%if params['btype_name']==item.income_name%}selected{%end%}>{{item.income_name}}</option>
                  {%end%}
                </select>
              </td>
              <td><input type="text" name="jd_day" id="jd_day" placeholder="接单时长(天数)" class="form-control" value="{{params['jd_day']}}"></td>
              <td>
                <input name="tag" value="{{tag}}" hidden>
                <input name="show_tag" value="{{show_tag}}" hidden>
                <input name="bj_check" value="{{params['bj_check']}}" hidden>
                <input type="submit" value="检 索" id='search_btn'></td>
            </tr>
          </tbody>
        </thead>
      </table>
    </form>
    {%end%}
      {%if params['way']%}
      <div class="table-responsive">

          <table class="table table-bordered fayetable" id="dataTable" 
          {%if count.every_count%}
          {%if len(count.every_count.split(','))<4 and params['count_type']=='project_name'%}
          style="width:450px;"
          {%end%}
          {%else%}
          style="width:1400px;"
          {%end%}

          >
              <thead class="table_class">
                  <tr>
                      {%if count.every_count%}
                      <th width='120'>日期</th>
                      <th width='50'>合计</th>
                      {%if params['count_type']=='gs' %}
                        {%for item in t_projects_type%}
                        <th width='80'>
                            {{item.income_name}}
                        </th>
                        {%end%}
                    {%elif params['count_type']=='project_name'%}
                    {%for item in count.every_count.split(',') %}
                    <th width='80'>{{item.split('|')[0]}}</th>
                    {%end%}

                    {%end%}
                    {%end%}
                  
                    
                     
                  </tr>
              </thead>
              <tbody class="fayetbody">
                  {% if t_projects%}
                  <tr>
                      <td>合计</td>
                      <td>{{count.ssc}}</td>
                      {%if params['count_type']=='gs' %}
                      {%for item in t_projects_type%}
                      <td>
                      {%for row in count.every_count.split(',') %}
                        {%if row.split('|')[0]==str(item.id)%}
                        {{row.split('|')[1]}}
                        {%end%}
                      {%end%}
                    </td>
                      {%end%}
                      {%elif params['count_type']=='project_name'%}
                      {%for item in count.every_count.split(',') %}
                     
                      <td>             
                          {{item.split('|')[1]}}
                      </td>
                      {%end%}

                    {%end%}
                
                  </tr>

                  {% for item in t_projects %}
                  <tr>
                      <td>{{item.df_confirm_at}}</td>
                      <td>{{item.sc}}</td>
                      {%if params['count_type']=='gs' %}
                      {%for m in t_projects_type%}
                      
                      <td>
                            {%for row in item.gc.split(',')%}
                          {%if row.split('|')[0]==str(m.id)%}
                          {{row.split('|')[1]}}
                          {%end%}
                          {%end%}
                    
                      </td>

                      {%end%}
                         {%elif params['count_type']=='project_name'%}
                         {%for m in count.every_count.split(',') %}
                         <td>
                            {%for row in item.gc.split(',')%}
                            {%if row.split('|')[0]==m.split('|')[0]%}
                            {{row.split('|')[1]}}
                            {%end%}
                            {%end%}
                        </td>
                         {%end%}


                    {%end%}
                  </tr>
                  {%end%}
                  {%else%}
                  <tr>
                      <td colspan="20">还没有哦~</td>
                  </tr>
                  {%end%}
              </tbody>
          </table>
      </div>

      {%else%}
        <div class="table-responsive">

            <table class="table table-bordered fayetable" id="dataTable"  cellspacing="0" >
                <thead style="background-color:#000;color:#fff">
                    <tr>
                     
                        {%if params['show_tag']=='3'%}
                          <th width='100'>最新跟进时间</th>
                        {%elif params['show_tag']=='4'%}
                        <th width='100'>跟进时间</th>
                        {%else%}
                        <th width='100'>
                            分配时间
                        </th>
                        {%end%}
                        <th width='60'>订单号</th>
                        <th width='250'>公司名称</th>
                        <th width='80'>客户姓名</th>
                        <th width='100'>办理项目</th>
                        <th width='100'>工商专员</th>
                        <th width='120'>接单日期</th>
                        <th width='80'>接单时长</th>
                        {%if params[ "show_tag"]=='2' %}
                        <th width='120'>办结日期</th>
                        <th width='100'>办结时长</th>
                        {%end%}
                        {%if params['show_tag']=='3'%}
                        <th width="120">最新跟进内容</th>
                        <th width='100'>跟进数量</th>
                        {%elif params['show_tag']=='4'%}
                        <th width="120">跟进内容</th>
                          {%end%}
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in t_projects %}
                    <tr>
                        {%if params['show_tag']=='3'%}
                        <td>{{item.last_state_msg_at}}</td>
                        {%elif params['show_tag']=='4'%}
                        <td>{{item.created_at}}</td>
                        {%else%}
                        <td>{{item.fp.strftime('%Y-%m-%d')}}</td>
                        {%end%}
                        <td><a href="project?tag=show&guid={{item.guid}}&id={{item.project_id}}&mid={{item.mid}}#dingdanliuzhuan">{{item.project_id}}</a></td>
                        <td>{{item.customer_company}}</td>
                        <td>{{item.customer_name}}</td>
                        <td>{{item.btype_id_name}}</td>
                        <td>{{item.member_name}}</td>
                        <td>{{item.jd.strftime('%Y-%m-%d')}}</td>
                        <td>{{item.jd_day}}天</td>
                        {%if params[ "show_tag"]=='2' %}
                        <td>{%if item.confirm_at%}{{item.confirm_at.strftime('%Y-%m-%d')}}{%end%}</td>
                        <td>{{item.bj_day}}天</td>
                        {%end%}
                        {%if params['show_tag']=='3'%}
                        <td>{{item.last_state_msg}}{%if item.last_state_remark%}<br>备注:{{item.last_state_remark}}{%end%}</td>
                        <td>
                      {{item.count}}</td>
                        {%elif params['show_tag']=='4'%}
                        <td>{{item.state_id_name}}<br>{%if item.state_remark%}备注:{{item.state_remark}}{%end%}</td>
                        {%end%}
                    </tr>
                    {%end%}
                </tbody>
            </table>
        </div>
      {%end%}



      <div class="alert alert-secondary" role="alert">

        共 {{pagination.total_count}} 条记录
       
       
       </div>

        <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
               <ul class="pagination">
             {% if pagination.has_prev %}
                  <li class="paginate_button page-item previous " id="dataTable_previous">
                  <a href="?tag=cq_jd_list&page={{ pagination.page - 1}}
                  {%if params[ "show_tag"]%}&show_tag={{params[ "show_tag"]}}{%end%}
                  {%if params[ "gs_name"]%}&gs_name={{params[ "gs_name"]}}{%end%}
                  {%if params[ "start_time"]%}&start_time={{params[ "start_time"]}}{%end%}
                  {%if params[ "end_time"]%}&end_time={{params[ "end_time"]}}{%end%}
                  {%if params[ "customer_name"]%}&customer_name={{params[ "customer_name"]}}{%end%}
                  {%if params[ "btype_name"]%}&btype_name={{params[ "btype_name"]}}{%end%}
                  {%if params[ "jd_day"]%}&jd_day={{params[ "jd_day"]}}{%end%}
                  {%if params['way']%}&way={{params['way']}}{%end%}
                  {%if params['name']%}&name={{params['name']}}{%end%}
                  {%if params['count_type']%}&count_type={{params['count_type']}}{%end%}  
                  {%if params['btype']%}&btype={{params['btype']}}{%end%}
                  {%if params['show_tag']=='2'%}{%if params['bj_check']%}&bj_check={{params['bj_check']}}{%end%}{%end%}          
                " aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo; 上页</a></li>
                 {% end %}
                 {%for page in pagination.iter_pages() %}
                  {% if page %}
                  {% if page != pagination.page %}
                  <li class="paginate_button page-item ">
                    <a href="?tag=cq_jd_list&page={{page}}
                    {%if params[ "show_tag"]%}&show_tag={{params[ "show_tag"]}}{%end%}
                    {%if params[ "gs_name"]%}&gs_name={{params[ "gs_name"]}}{%end%}
                    {%if params[ "start_time"]%}&start_time={{params[ "start_time"]}}{%end%}
                    {%if params[ "end_time"]%}&end_time={{params[ "end_time"]}}{%end%}
                    {%if params[ "customer_name"]%}&customer_name={{params[ "customer_name"]}}{%end%}
                    {%if params[ "btype_name"]%}&btype_name={{params[ "btype_name"]}}{%end%}
                    {%if params[ "jd_day"]%}&jd_day={{params[ "jd_day"]}}{%end%}
                    {%if params['way']%}&way={{params['way']}}{%end%}
                    {%if params['name']%}&name={{params['name']}}{%end%}
                    {%if params['count_type']%}&count_type={{params['count_type']}}{%end%}  
                    {%if params['btype']%}&btype={{params['btype']}}{%end%}
                    {%if params['show_tag']=='2'%}{%if params['bj_check']%}&bj_check={{params['bj_check']}}{%end%}{%end%}           
                    " aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                  {% else %}
                   <li class="paginate_button page-item active">
                     <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page }}</a></li>
                   {% end %}
                   {% else %}
                   <li class="paginate_button page-item "><span class="active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">....</a></span></li>
                   {% end %} 
                   
                   {%end %}
         
                  {% if pagination.has_next %}
                  <li class="paginate_button  page-item next" id="dataTable_next">
                    <a href="/project?tag=cq_jd_list&page={{pagination.page+1}}
                    {%if params[ "show_tag"]%}&show_tag={{params[ "show_tag"]}}{%end%}
                    {%if params[ "gs_name"]%}&gs_name={{params[ "gs_name"]}}{%end%}
                    {%if params[ "start_time"]%}&start_time={{params[ "start_time"]}}{%end%}
                    {%if params[ "end_time"]%}&end_time={{params[ "end_time"]}}{%end%}
                    {%if params[ "customer_name"]%}&customer_name={{params[ "customer_name"]}}{%end%}
                    {%if params[ "btype_name"]%}&btype_name={{params[ "btype_name"]}}{%end%}
                    {%if params[ "jd_day"]%}&jd_day={{params[ "jd_day"]}}{%end%}
                    {%if params['way']%}&way={{params['way']}}{%end%}
                    {%if params['name']%}&name={{params['name']}}{%end%}
                    {%if params['count_type']%}&count_type={{params['count_type']}}{%end%}  
                    {%if params['btype']%}&btype={{params['btype']}}{%end%}
                    {%if params['show_tag']=='2'%}{%if params['bj_check']%}&bj_check={{params['bj_check']}}{%end%}{%end%}          
                    " aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">下页 &raquo;</a></li>
              {% end %} </ul>
            </div>
         </div>
    </div>
</div>
<div class="modal fade" id="modal_chengjiao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="projects_note">成交事项</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

  <div class="modal-body form-horizontal" id="site_mod">


        <div class="card-body py-2 " id='projects_note_confirm_content'>


      <div class="form-group" id='projects_note_content'>
      <label for="inputEmail3" class="col-sm-3 control-label" id="projects_lab">成交内容
        </label>
   
      <div class="col-sm-10">
        <textarea id='chengjiao_content' class="form-control" type="text" name="chengjiao_content"></textarea>
      </div>
    
    
    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="btn_del_modal_chengjiao">删除</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                   <button class="btn btn-primary modal_note_btn" target="_blank" id="btn_save_modal_chengjiao">保 存</button>

        </div>
      </div>
    </div>
  </div>
{%end%}
{%block js%}
<script>
$(function () { 
    _xsrf =  getCookie("_xsrf")
    $("#m_statis").click()
    $("#start_time").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    
    $("#start_time_fp").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    $("#end_time_fp").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 23:59:59',
    language: 'zh-CN',initialDate: new Date()});
    $("#end_time").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 23:59:59',
    language: 'zh-CN',initialDate: new Date()});
    $('#jd_day').keyup(function () { 
      if(isNaN($(this).val())){
        $(this).css('background-color','#E60012')
        $("#search_btn").attr('disabled','true')
      }
      else{
        $(this).css('background-color','#fff')
        $("#search_btn").removeAttr('disabled')
      }
     })
    $('#express_output').on('click',function () {
      if(confirm('确定导出？')){
        params=$(this).attr('params')
        $.get('/project?tag=express_output_cd_banjie',{
      'params':params
    },function (res) { 
      location.href=res['output_path']
    })
      }
    

 })
 })
</script>
{%end%}