{% extends "../base.html" %} {%block title%}收入管理{%end%} {% block body %}

<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 8px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:74px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:99;
}

.dropdown-content a {
    color: black;
    padding: 3px 4px;
    font-size:13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.faye-btn {
padding: 0.1rem 0.2rem;
background-color: #9ec6ef;
 margin-left: 20px; 
 border-radius: 2px;}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

</style>
      <ol class="breadcrumb">
        <li class="breadcrumb-item g1">
         主面板
        </li>
        <li class="breadcrumb-item g1">快递管理
          {%if role=='14' or role=='8' or role=='16' or role=='15' or '237' in role_list%}
          <li class="g1 g1-left">
          <div class="dropdown">
            <a href="javascript:void(0)"  class="btn btn-primary btn-sm">新建快递 </a>
            
            <div class="dropdown-content">
              <a href="javascript:void(0)"  id="btn_add_express" >新建寄件 </a>
              <a href="javascript:void(0)"  id="btn_add_express_rec" >新建收件 </a>
            </div>
          </div>
          </li>
           {%end%}
           <li class="g1 g1-left">
            <a href="http://www.sf-express.com/cn/sc/dynamic_function/waybill/"  class="btn btn-primary btn-sm" target="_blank">快递查询</a>
            </li>
            <li class="g1 g1-left">
            <a class="btn {%if step=='0'%}btn-primary{%else%}btn-default{%end%} btn-sm" style="{%if step!='0'%}background-color: #9ec6ef;{%end%}" href="/project?tag=express_list">寄件列表</a>
            </li>
            <li class="g1 g1-left">
            <a class="btn  {%if step=='1'%}btn-primary{%else%}btn-default{%end%} btn-sm" style="{%if step!='1'%}background-color: #9ec6ef;{%end%}" href="/project?tag=express_list&step=1">收件列表</a>
              </li>
            {%if t_express and (params['department'] or params['start_time'] 
            or params['end_time'] or params['source'] or params['express_type'] 
            or params['payment_type']) %}
            <li class="g1 g1-left"> 
              <a href="javascript:void(0);" id='express_output' step="{{step}}" todo="{{todo}}" params="{{params}}" class="btn btn-primary btn-sm">点击下载数据（Excel格式）</a>
              </li>
              {%end%}
          </li>
      </ol>
      <form class="search_box pm2">


        <table>
  
          <tbody>
            <tr>
              <td>
                <input  class="form-control" name="search_key" type="text" value="{%if params['search_key']%}{{params['search_key']}}{%end%}" placeholder="编号/公司/客户" >
              </td>
              <td><input class="form-control" type="text" name="express_number_search" id="express_number_search" placeholder="快递单号" value="{%if params['express_number_search']%}{{params['express_number_search']}}{%end%}"></td>
                <td><select name="department" class="custom-select">
                    <option value="" >选择部门</option>
                    {%for item in t_user_dep%}
                      <option value="{{item.department_name}}" {%if params['department']==item.department_name%}selected{%end%}>{{item.department_name}}</option>
                    {%end%}
              </select></td>
              <td><input type="text" value="{%if params['start_time']%}{{params['start_time']}}{%end%}" name="start_time" id="start_time" class="form-control" placeholder="开始时间"></td>
              <td>至</td>
              <td><input type="text" value="{%if params['end_time']%}{{params['end_time']}}{%end%}" name="end_time" class="form-control" id="end_time" placeholder="结束时间"></td>
              <td><select name="source" class="custom-select">
                  <option value="">来源方式</option>
                  <option value="0" {%if params['source']=='0'%}selected{%end%}>收入系统</option>
                  <option value="1" {%if params['source']=='1'%}selected{%end%}>客户系统</option>
                  <option value="2" {%if params['source']=='2'%}selected{%end%}>自建</option>
            </select>
          </td>
              <td>
                  <select name="express_type" class="custom-select"">
                      <option value="" >快递名称</option>
                      {%for item in express_type%}
                      <option value="{{item.id}}" {%if params['express_type']==str(item.id)%}selected{%end%}>{{item.income_name}}</option>
                      {%end%}
                </select>
              </td>
              <td><select name="payment_type" class="custom-select">
                  <option value="" >付款方式</option>
                  {%for item in payment_type%}
                  <option value="{{item.id}}" {%if params['payment_type']==str(item.id)%}selected{%end%}>{{item.income_name}}</option>
                  {%end%}
            </select></td>
            
                
              <td><input type="submit"  value="检 索" class="btn btn-primary btn-sm">
              <input type="hidden" value="{{tag}}" name="tag"/>
              <input type="hidden" value="{{step}}" name="step"/>
              <input type="hidden" value="{{todo}}" name="todo" />
              </td>
            </tr>
          </tbody>
        </table>
      
        
        </form>
      <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="btn btn-light  nav_padding {%if not todo%}active{%end%}" id="nav-home-tab"
                href="/project?tag=express_list{%if step=='1'%}&step={{step}}{%end%}" >全 部
                <span class="badge badge-danger">{{sums.a}}</span>
            </a>
              <a class="btn btn-light  nav_padding {%if todo=='1'%}active{%end%}"
                href="/project?tag=express_list&todo=1{%if step=='1'%}&step={{step}}{%end%}" style="font-size:13px;">待审核
                <span class="badge badge-danger">{{sums.b}}</span>
                </a>
                
                <a class="btn btn-light  nav_padding {%if todo=='2'%}active{%end%}"
                href="/project?tag=express_list&todo=2{%if step=='1'%}&step={{step}}{%end%}" style="font-size:13px;">{%if step=='1'%}待收件{%else%}待发件{%end%}
                <span class="badge badge-danger">{{sums.c}}</span>
                </a>
                <a class="btn btn-light  nav_padding {%if todo=='3'%}active{%end%}"
                href="/project?tag=express_list&todo=3{%if step=='1'%}&step={{step}}{%end%}" style="font-size:13px;">{%if step=='1'%}已收件{%else%}已发件{%end%}
                <span class="badge badge-danger">{{sums.d}}</span>
                </a>
                
                <a class="btn btn-light  nav_padding {%if todo=='4'%}active{%end%}"
                href="/project?tag=express_list&todo=4{%if step=='1'%}&step={{step}}{%end%}" style="font-size:13px;">驳回件
                <span class="badge badge-danger">{{sums.e}}</span>
                </a>
                <a class="btn btn-light  nav_padding {%if todo=='5'%}active{%end%}"
                href="/project?tag=express_list&todo=5{%if step=='1'%}&step={{step}}{%end%}" style="font-size:13px;">应收确认
                <span class="badge badge-danger">{{sums.f}}</span>
                </a>
               </div>
        </nav>
    
            <div class="table-responsive">
                {%if todo=='2' and  step=='0' and express_manage=='1'%}
                <a class="btn btn-primary btn-sm" href="javascript:void();" id="confirm_send_express_all" style="margin:3px;">批量发件</a>
                {%elif todo=='2' and  step=='1' and express_manage=='1'%}
                <a class="btn btn-primary btn-sm" href="javascript:void();" id="confirm_send_express_all" style="margin:3px;">批量收件</a>
                {%elif '245' in role_list and todo=='3'%}
                <a class="btn btn-primary btn-sm" href="javascript:void();" id="confirm_cw_express_all" style="margin:3px;">批量确认</a>
                {%end%}
          

                <table class="table table-bordered fayetable" id="dataTable"  style="width:2000px">
                    <thead class="table_class">
                        <tr>
                          {%if (todo=='2' and  (step=='0' or step=='1')  and express_manage=='1') or ('245' in role_list and todo=='3')%}
                          <th width='70'>
                              <input type="checkbox" id="choose_all"> 全选
                          </th>
                          {%end%}
                            <th width='50'></th>
                            <th  width="100">申请时间</th>
                            {%if step=='0'%}
                            <th width="100">发件时间</th>
                            {%elif step=='1'%}
                            <th width="100">收件时间</th>
                            {%end%}
                            <th  width="150">快递单号</th>
                            <th  width="170">公司名称</th>
                            <th  width="80">客户名称</th>
                            <th  width="80">订单编号</th>
                            <th  width="100">{%if step=='1'%}寄件人电话{%else%}收件人电话{%end%}</th>
                            <th width='200'>资料明细</th>
                            <th width='100'>其他资料</th>
                            <th  width="80">快递名称</th>
                            <th  width="80">付款方式</th>
                            <th  width="100">寄件人/收件人</th>
                            <th width='100'>创建人</th>
                            <th  width="100">来源</th>
                            {%if todo%}
                            <th  width="100"></th>
                          
                            {%end%}
                            {%if todo=='3' or todo=='5'%}
                            <th  width="100">财务确认</th>
                            {%end%}
                        </tr>
                    </thead>
                    <tbody class="fayetbody">
                      {%if t_express%}
                        {%for item in t_express%}
                        <tr>
                            {%if (todo=='2' and  (step=='0' or step=='1')  and express_manage=='1') or ('245' in role_list and todo=='3')%}
                            <td><input type="checkbox" value="{{item.id}}" name="check" id="check"></td>
                            {%end%}
                          <td><a href="javascript:void(0);" class="filepath_detail" id="{{item.id}}" 
                            file_path="{{item.file_path}}" uid_name="{{item.uid_name}}" send_at_name="{{item.send_at_name}}">附件</a></td>
                            <td>{{item.created_at.strftime("%Y-%m-%d")}}</td>
                           <td>{%if item.created_send_at %}{{item.created_send_at.strftime("%Y-%m-%d")}}{%end%}</td>
                            <td>{%if item.express_number%}{{item.express_number}}{%end%}</td>
                            <td>{{item.rec_company}}</td>
                            
                            <td>{{item.rec_name}}</td>
                            <td>{%if item.project_id!=0%}{{item.project_id}}{%else%}无{%end%}</td>
                            <td>{{item.rec_tel}}</td>
                            <td title="{{item.rec_file}}">
                              {%if len(item.rec_file)>50%}
                              {{item.rec_file[:50]}}...
                              {%else%}
                              {{item.rec_file}}
                              {%end%}
                            </td>
                            <td>{{item.other_rec_file}}</td>
                            <td>{{item.express_type_id_name}}</td>
                            <td>{{item.payment_type_id_name }}</td>
                            <td>{%if step=='1'%}{{item.rec_name}}/{{item.send_at_name}}{%else%}{{item.send_at_name}}/{{item.rec_name}}{%end%}</td>
                            <td>{{item.uid_name}}</td>
                            <td>{%if item.source==0%}收入管理系统{%elif item.source==1%}客户管理系统{%elif item.source==2%}新建{%end%}</td>
                            {%if todo%}
                            <td>
                              {%if todo=='1'%}
                              {%if express_manage=='1'%}
                              <a class="btn btn-primary btn-sm check_express" id="{{item.id}}" href="javascript:void(0);">审核</a>
                              {%elif item.uid_name==name%}
                              <a class="btn btn-primary btn-sm edit_express" href="javascript:void(0);"
                              id="{{item.id}}" rec_name="{{item.rec_name}}" rec_tel="{{item.rec_tel}}" created_send_at="{%if item.created_send_at%}{{item.created_send_at}}{%end%}"
                              rec_addr="{{item.rec_addr}}"  rec_file="{{item.rec_file}}" rec_company="{{item.rec_company}}"
                              express_type_id="{{item.express_type_id}}" created_at="{{item.created_at}}" other_rec_file="{{item.other_rec_file}}"
                              payment_type_id="{{item.payment_type_id}}" send_at_name="{{item.send_at_name}}" remark="{{item.remark}}" accept_at="{{item.accept_at}}"
                              rec_file_ids="{{item.rec_file_ids}}" express_number="{{item.express_number}}" uid_name="{{item.uid_name}}" source="{{item.source}}"
                            >查看</a>
                              {%else%}
                              待审核
                              {%end%}
                              {%elif todo=='2' %}
                              {%if express_manage=='1'%}
                              <a class="btn btn-primary btn-sm confirm_send_express" id="{{item.id}}" href="javascript:void(0);">{%if step=='0'%}确认发件{%elif step=='1'%}确认收件{%end%}</a>
                              {%else%}
                              {{item.accept_at.strftime("%Y-%m-%d")}} 待{{item.accept_uid_name}}{%if step=='0'%}确认发件{%elif step=='1'%}确认收件{%end%}
                              {%end%}
                              {%elif todo=='3' or  todo=='5'%}
                              {{item.send_at.strftime("%Y-%m-%d")}} {{item.accept_uid_name}}{%if step=='0'%}确认发件{%elif step=='1'%}确认收件{%end%}
                              {%elif todo=='4'%}
                              {{item.accept_at.strftime("%Y-%m-%d")}} {{item.accept_uid_name}}审核不通过 备注:{{item.accept_uid_remark}}
                              {%end%}
                            </td>
                            {%end%}
                            {%if '245' in role_list and todo=='3'%}
                            <td  width="100"> <a class="btn btn-primary btn-sm cw_confirm_express" id="{{item.id}}" href="javascript:void(0);">确认</a></td>
                            {%elif  todo=='5' and item.confirm_at%}
                            <td>{{item.confirm_at.strftime("%Y-%m-%d")}}{{item.confirm_name}}已确认</td>
                            {%end%}
                        </tr>
                        {%end%}
                        {%else%}
                        <tr>
                          <td  colspan="20">当前没有数据哦~</td>
                            
                        </tr>
                        {%end%}
                      </tbody>
                </table>
            </form>
            
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                  <ul class="pagination">
                      {% if pagination.has_prev %}
                      <li class="paginate_button page-item previous " id="dataTable_previous">
                      <a href="/project?tag=express_list{%if todo%}&todo={{todo}}{%end%}{%if step=='1'%}&step={{step}}{%end%}{%if params['department']%}&department={{params['department']}}{%end%}{%if params['start_time']%}&start_time={{params['start_time']}}{%end%}{%if params['end_time']%}&end_time={{params['end_time']}}{%end%}{%if params['source']%}&source={{params['source']}}{%end%}{%if params['express_type']%}&express_type={{params['express_type']}}{%end%}{%if params['payment_type']%}&payment_type={{params['payment_type']}}{%end%}{%if params['express_number_search']%}&express_number_search=params['express_number_search']{%end%}{%if params['search_key']%}&search_key={{params['search_key']}}{%end%}&page={{ pagination.page - 1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                      <li class="paginate_button page-item ">
                          <a href="/project?tag=express_list{%if todo%}&todo={{todo}}{%end%}{%if step=='1'%}&step={{step}}{%end%}{%if params['department']%}&department={{params['department']}}{%end%}{%if params['start_time']%}&start_time={{params['start_time']}}{%end%}{%if params['end_time']%}&end_time={{params['end_time']}}{%end%}{%if params['source']%}&source={{params['source']}}{%end%}{%if params['express_type']%}&express_type={{params['express_type']}}{%end%}{%if params['payment_type']%}&payment_type={{params['payment_type']}}{%end%}{%if params['express_number_search']%}&express_number_search=params['express_number_search']{%end%}{%if params['search_key']%}&search_key={{params['search_key']}}{%end%}&page={{ page }}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                      {% else %}
                      <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                      {% end %} {% else %}
                      <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                      {% end %} {%end %} {% if pagination.has_next %}
                      <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=express_list{%if todo%}&todo={{todo}}{%end%}{%if step=='1'%}&step={{step}}{%end%}{%if params['department']%}&department={{params['department']}}{%end%}{%if params['start_time']%}&start_time={{params['start_time']}}{%end%}{%if params['end_time']%}&end_time={{params['end_time']}}{%end%}{%if params['source']%}&source={{params['source']}}{%end%}{%if params['express_type']%}&express_type={{params['express_type']}}{%end%}{%if params['payment_type']%}&payment_type={{params['payment_type']}}{%end%}{%if params['express_number_search']%}&express_number_search=params['express_number_search']{%end%}{%if params['search_key']%}&search_key={{params['search_key']}}{%end%}&page={{pagination.page+1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                      {% end %}
                  </ul>
              </div>
          </div>



            </div>
  
    
<!-- <modal> -->
    <div class="modal fade" id="add_express_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" ><span id="express_title">发起快递寄件申请</span>
                <a class="btn btn-primary btn-sm" id="choose_cutomer_addr_msg" href="javascript:void(0);">选择收件人信息</a>
                <a class=" btn btn-danger btn-sm" id="delete_express" href="javascript:void(0);">删除</a>
          </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <div class="modal-body" id="site_mod">
                <div class="form-group">
                <div class="col-sm-10">
                    <label for="recode" id='l_rec_name'>收件人</label>
                    <input class="form-control" name="rec_name" id="rec_name" type="text" placeholder="收件人">
                    <div class="alert alert-danger" role="alert" style="display:none;" id="er_rec_name">
                      </div>
                    </div>
                    
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                      <label for="recode" id='l_rec_tel'>收件人电话</label>
                      <input class="form-control" name="rec_tel" id="rec_tel" type="text" placeholder="收件人电话">
                      <div class="alert alert-danger" role="alert" style="display:none;" id="er_rec_tel">
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10">
                        <label for="recode" id='l_rec_addr'>收件人地址</label>
                        <input class="form-control" name="rec_addr" id="rec_addr" type="text" placeholder="收件人地址">
                        <input type="checkbox" name="save_customer_add_msg" value="1"  checked  hidden><span id="save_customer_add_msg" hidden >收件人信息存入系统</span>
                        <div class="alert alert-danger" role="alert" style="display:none;" id="er_rec_addr">
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="tran_at">交接明细 </label>
                
                       <input type="checkbox" name="allcheck_express" id="allcheck_express"/>全选
                      <div class="col-sm-10">
                      {% for item in t_projects_type%}
                        
                        <input type="checkbox" style="margin:0 0 0 10px;" name="rec_file" id="rec_file_{{item.id}}"
                         income_name="{{item.income_name}}" value="{{item.id}}"
                          >{{item.income_name}}
                          {%if item.id==176 or item.id==209 %}
                          <br><hr>
                          {%end%}
                        {%end%}
                </p>
                      </div>
                      <!-- /controls -->
                    </div>
                    <!-- /control-group -->
                        <div class="form-group">
                      <label class="control-label" for="lastname">其他资料</label>
                      <div class="col-sm-10">
                        <textarea type="text"  class="form-control" id="other_rec_file" name="other_rec_file" value="" style="height: 60px;"></textarea>
                        <div class="alert alert-danger" role="alert" style="display:none;" id="er_other_rec_file">
                        </div>
                      </div>
                      <!-- /controls -->
                    </div>
                           <div class="form-group">
                  <div class="col-sm-10">
                      <label for="recode">公司名称</label>
                      <input class="form-control" name="rec_company" id="rec_company" type="text" placeholder="公司名称">
                      <div class="alert alert-danger" role="alert" style="display:none;" id="er_rec_company">
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10">
                      <label for="recode">快递单号</label>
                      <input class="form-control" id="express_number" placeholder="快递单号">
                      <div class="alert alert-danger" role="alert" style="display:none;" id="er_express_number">
                      </div>
                     </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-10">
                        <label for="recode">快递类型</label>
                        <select  name="express_type" class="form-control" id="express_type">
                          {% for item in express_type%}
                          <option value="{{item.id}}">{{item.income_name}}</option>
                          {%end%}
                        </select>
                       </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                          <label for="recode">快递付费</label>
                          <select  name="payment_type" class="form-control" id="payment_type">
                            {% for item in payment_type%}
                            <option value="{{item.id}}">{{item.income_name}}</option>
                            {%end%}
                          </select>
                         </div>
                      </div>
                      <div class="form-group" id="created_send_div">
                          <div class="col-sm-10">
                              <label for="recode" id='l_created_send_at'>发件时间</label>
                              <input class="form-control" name="created_send_at" id="created_send_at" type="text" readonly="readonly">
                              <div class="alert alert-danger" role="alert" style="display:none;" id="er_created_send_at">
                                </div>  
                            </div>
                          </div>
                    <div class="form-group">
                      <div class="col-sm-10">
                          <label for="recode" id='l_send_name'>发件人</label>
                          <input class="form-control" name="send_name" id="send_name" type="text" placeholder="申请人" value="{{name}}">
                          <div class="alert alert-danger" role="alert" style="display:none;" id="er_send_name">
                            </div>  
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-10">
                              <label for="recode">备注</label>
                              <textarea class="form-control" name="express_remark" id="express_remark" type="text" placeholder="备注">
                    </textarea>
                              
                            </div>
                          </div>
            </div>


            <div class="modal-footer">
                <div class="alert alert-danger" role="alert" style="display:none;" id="er_express">
                    已审核不能修改
                  </div>
                       <button class="btn btn-primary" target="_blank" id="btn_save_express" >保存</button>

            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="choose_customer_addr_msg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document" >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="customer_message_title" >选择 寄/收 件人信息
                  
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body" id="site_mod">
              {% for item in t_cutomer_addr_msg%}
                <div class="form-group">
                <div class="col-sm-10">
                  <input type="radio" name="choose_customer_addr" c_name="{{item.name}}" addr="{{item.addr}}" tel="{{item.tel}}">{{item.name}}<br> 
                  {{item.addr}} {{item.tel}}
                </div>
            </div>
            {%end%}
          </div>
          <div class="modal-footer">

              <button class="btn btn-primary" target="_blank" id="btn__save_customer_addr_msg">填入</button>

   </div>
            </div>
            </div>
          </div>             
        <div class="modal fade" id="check_express_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="xiezhu_title">审核快递
        
                  </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>        
        
                    <div class="modal-body" id="site_mod">
                        <div class="form-group">
                        <div class="col-sm-10">
                            <input type="radio" id="accept_state" name="accept_state" value="1">通过
                            <input type="radio" id="accept_state" name="accept_state" value="2">不通过
                            <div class="alert alert-danger" role="alert" style="display:none;" id="er_accept_state">
                            </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                          <div class="col-sm-10">
                              <label for="recode">备注</label>
                              <textarea class="form-control" id="accept_uid_remark" placeholder="备注"></textarea>
                              <div class="alert alert-danger" role="alert" style="display:none;" id="er_accept_uid_remark">
                              </div>
                              </div>
                          </div>
                          
                    </div>
        
        
                    <div class="modal-footer">
                        <input type="hidden" value="0" id="is_other" name="is_other" />
                               <button class="btn btn-primary" target="_blank" id="btn_check_express">保存</button>
        
                    </div>
                  </div>
                </div>
              </div>   
        <div class="modal fade" id="confrim_express_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="xiezhu_title">发件人确认
        
                  </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>        
        
                    <div class="modal-body" id="site_mod">
                        <div class="form-group">
                        <div class="col-sm-10">
                            <label>快递单号</label>
                            <input class="form-control" id="express_number" placeholder="快递单号">
                            <div class="alert alert-danger" role="alert" style="display:none;" id="er_express_number">
                            </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                          <div class="col-sm-10">
                              <label for="recode">快递发件时间</label>
                              <input class="form-control" id="send_at"  readonly="readonly">
                              <div class="alert alert-danger" role="alert" style="display:none;" id="er_send_at">
                              </div>
                                
                              </div>
                          </div>
                          
                    </div>
        
        
                    <div class="modal-footer">
                        <input type="hidden" value="0" id="is_other" name="is_other" />
                               <button class="btn btn-primary" target="_blank" id="btn_confirm_express">保存</button>
        
                    </div>
                  </div>
                </div>
              </div> 
          <div class="modal fade" id="express_filepath_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">附件
        
                  </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>        
        
                    <div class="modal-body" id="site_mod">
                        <div class="form-group">
                            <label class="control-label file_label" for="lastname" >上传附件</label>
                            <div class="controls">
                                <a href="javascript:;" class="file">选择文件
                              <input type="file" accept="image/*" multiple=""  id="uploaderInput">
                              </a>
                              <div class="alert alert-danger" id='er_uploaderInput' style="display:none;">请选择上传附件</div>
                              <ul id="uploaderFiles"></ul>
                              <hr class="my-0 file_label">
                              <label class="control-label" for="lastname">已上传附件</label>
                              <ul id="showFiles"></ul>
                            </div>
                            
                        </div>
                          
                    </div>
        
        
                    <div class="modal-footer">
                        <input type="hidden" value="0" id="is_other" name="is_other" />
                               <button class="btn btn-primary" target="_blank" id="btn_express_filepath">上传</button>
        
                    </div>
                  </div>
                </div>
              </div>        
{%end%}

{%block js%}

<script>
 $(function () {
    _xsrf =  getCookie("_xsrf")
    var tmpl = '<br><li style=" width:100%;height:20px;background-image:url(#url#); background-size:15px 10px;display:block;">#url1#</li>',
    all_files=[]
    $gallery = $("#gallery"),
    $galleryImg = $("#galleryImg"),
    $uploaderInput = $("#uploaderInput"),
    $uploaderFiles = $("#uploaderFiles");
    $uploaderInput.on("change", function(e) {
                var src, url = window.URL || window.webkitURL || window.mozURL,
                files = e.target.files;
                for(var i = 0, len = files.length; i < len; ++i) {
                    var file = files[i];
                    if(url) {
                        // src = url.createObjectURL(file);
                        src=file.name;
                    } else {
                        src = e.target.result;
                    }

                    $uploaderFiles.append($(tmpl.replace('#url1#', src)));
                    all_files.push(file)
                }

            });
    $('#send_name').typeahead({
source: function (query, process) {
return $.post('/api', { query: query ,"_xsrf":_xsrf}, function (data) {
return process(JSON.parse(data));
});
}
});
$("#express_created_at").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
$("#send_at").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    
$("#created_send_at").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    
    $("#start_time").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    $("#end_time").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    $("#allcheck_express").on("change",function(){

$('input[name=rec_file]').not(this).prop('checked', this.checked);

})
$('#choose_all').on('change',function () { 
         $('input[name=check]').not(this).prop('checked',this.checked);
      })
$('.filepath_detail').on('click',function () {
  uid_name=$(this).attr('uid_name')
  send_at_name=$(this).attr('send_at_name')
  if(uid_name=="{{name}}" || send_at_name=="{{name}}"){
    $('.file_label').show()
    $('.file').show()
    $('#btn_express_filepath').show()
  }else{
    $('.file_label').hide()
    $('.file').hide()
    $('#btn_express_filepath').hide()
  }
  $("#er_uploaderInput").hide()
    file_path=$(this).attr('file_path')
    file_path=file_path.split('|')
    showFiles=$('#showFiles')
    showFiles.children().remove()
    if(file_path!=''){
    for(var i=0;i<file_path.length-1;i++){
      f=file_path[i].split('/')

      text='<br><li><a href="'+file_path[i]+'" download="'+f[f.length-1]+'">'+f[f.length-1].split('.')[0]+
      '</a><a href="'+file_path[i]+'" class="btn" target="_blank">查看</a>'
      if(uid_name=="{{name}}" || send_at_name=="{{name}}"){
        text+='<a href="javascript:void(0);" express_id='+$(this).attr('id')+' class="btn delete_file" style="color:red;" file_name="'+f[f.length-1].split('|')[0]+'">删除</a></li>'
      }else{
        text+='</li>'
      }showFiles.append(text)
      
    }
    }
    else(
      showFiles.append('<p>还没有上传附件哦~</p>')
    )
    $("#btn_express_filepath").attr('express_id',$(this).attr('id'))
    $("#express_filepath_modal").modal("show")
 })
$("#btn_express_filepath").on('click',function () { 
    var formData = new FormData();
    for(var i=0,len=all_files.length;i<len;i++){
      formData.append('file'+i,all_files[i])
    }
    formData.append('len',all_files.length)
    formData.append('express_id',$(this).attr('express_id'))
    formData.append('_xsrf',_xsrf)
    if(all_files!=''){
      $(this).text('保存中')
      $(this).attr('disabled','disabled')
      $.ajax({
                url: '/project?tag=express',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                  location.reload()

                }
              });
    }
    else{
      $("#er_uploaderInput").show()
    }

 })

$(".confirm_express").on('click',function () {
        $("#btn_confirm_express").attr('express_id',$(this).attr('id')) 
        $("#confrim_express_modal").modal("show")
     })
    $(".check_express").on('click',function () {
        $("#btn_check_express").attr('express_id',$(this).attr('id')) 
        $("#check_express_modal").modal("show")
     })
    $("#btn_add_express").on('click',function () {
      $('#l_rec_name').text('收件人') 
      $('#l_rec_tel').text('收件人电话') 
      $('#l_rec_addr').text('收件人地址') 
      $('#l_send_name').text('发件人')
      $("#express_title").text('发起快递寄件申请')
      $('#choose_cutomer_addr_msg').text('选择收件人信息')
      $('#save_customer_add_msg').text('收件人信息存入系统')
      $("#customer_message_title").text("选择收件人信息")
      $("#l_created_send_at").text('发件时间')
      $("#created_send_at").val('')
      $('#btn_save_express').attr('send_or_rec','0')
      $('#btn_save_express').removeAttr('express_id') 
      $('#btn_save_express').attr('source',2)
      $('input[name=rec_file]').prop('checked', false)
      $('#other_rec_file').val('')
      $('#express_number').val('')
      $('#express_remark').val('')
      $("#er_rec_name").hide()
        $("#er_rec_tel").hide()
        $("#er_rec_addr").hide()
        $("#er_rec_company").hide()
        $('#er_express_number').hide()
        $("#er_send_name").hide()
        $("#delete_express").removeAttr('express_id')
        $("#delete_express").hide()
        $("#add_express_modal").modal("show")
     })
     $("#btn_add_express_rec").on('click',function () {
      $('#l_rec_name').text('寄件人') 
      $('#l_rec_tel').text('寄件人电话') 
      $('#l_rec_addr').text('寄件人地址') 
      $('#l_send_name').text('收件人')
      $("#express_title").text('发起快递收件申请')
      $('#choose_cutomer_addr_msg').text('选择寄件人信息')
      $("#customer_message_title").text("选择寄件人信息")
      $('#save_customer_add_msg').text('寄件人信息存入系统')
      $("#l_created_send_at").text('收件时间')
      $("#created_send_at").val('')
       $('#btn_save_express').attr('send_or_rec','1')
      $('#btn_save_express').removeAttr('express_id') 
      $('#btn_save_express').attr('source',2)
      $('input[name=rec_file]').prop('checked', false)
      $('#other_rec_file').val('')
      $('#express_number').val('')
      $('#express_remark').val('')
      $("#er_rec_name").hide()
      $("#er_rec_tel").hide()
      $("#er_rec_addr").hide()
      $("#er_rec_company").hide()
      $('#er_express_number').hide()
      $("#er_send_name").hide()
      $("#delete_express").removeAttr('express_id')
        $("#delete_express").hide()
        $("#add_express_modal").modal("show")
      })

$('#btn_confirm_express').on("click",function () {
    var express_number=$("#express_number").val()
    var send_at=$("#send_at").val()
    var express_id=$(this).attr('express_id')
    if(express_number==''){
      $('#er_express_number').text('快递单号不能为空')
      $('#er_express_number').show()
    }
    else if(send_at==''){
      $('#er_send_at').text('发件时间')
      $('#er_send_at').show()
    }
    else{
    $.post('/project?tag=confrim_express',
    { '_xsrf':_xsrf,
      'express_number':express_number,
      'send_at':send_at,
      'express_id':express_id
    },function (result) { 
      location.reload()
     })
    }
 })
 $("#btn_save_express").on("click",function(){
    var this_btn=$(this)
    var rec_name=$("#rec_name").val()
    var rec_tel=$("#rec_tel").val()
    var rec_addr=$("#rec_addr").val()
    var rec_company=$("#rec_company").val()
    var express_type_id=$("#express_type").val()
    var express_type_name=$("#express_type").find("option:selected").text()
    var send_name=$("#send_name").val()
    var payment_type_id=$("#payment_type").val()
    var payment_type_name=$("#payment_type").find("option:selected").text()
    var express_remark=$("#express_remark").val()
    var express_id=$(this).attr('express_id')
    var source=$(this).attr('source')
    var send_or_rec=$(this).attr('send_or_rec')
    var other_rec_file=$("#other_rec_file").val()
    var express_number=$("#express_number").val()
    var save_customer_add_msg=$('input[name=save_customer_add_msg]:checked').val()
    var created_send_at=$('#created_send_at').val()
    var type_ids=[]
    var type_names=[]
    $('input[name=rec_file]:checked').each(function () {
                type_ids.push($(this).val());
                type_names.push($(this).attr('income_name'))
           })
    type_ids=type_ids.join(',')
    type_names=type_names.join(',')
    if(rec_name==''){
      $('#rec_name').focus()
      if(send_or_rec=='0'){
      $('#er_rec_name').text('收件人不能为空')
      }else if(send_or_rec=='1'){
        $('#er_rec_name').text('寄件人不能为空')
      }
      $("#er_rec_name").show()
    }else if(rec_tel==''){
      $('#rec_tel').focus()
      if(send_or_rec=='0'){
        $('#er_rec_tel').text('收件人电话不能为空')
      }else if(send_or_rec=='1'){
        $('#er_rec_tel').text('寄件人电话不能为空')
      }
      $("#er_rec_tel").show()
    }
    else if(rec_addr==''){
      $('#rec_addr').focus()
      if(send_or_rec=='0'){
        $('#er_rec_addr').text('收件人地址不能为空')
      }else if(send_or_rec=='1'){
        $('#er_rec_addr').text('寄件人地址不能为空')
      }
     
      $("#er_rec_addr").show()
    }
    else if(type_ids=='' && other_rec_file.replace(/\r\n|\n|\s/g,'')==''){
      $('#er_other_rec_file').text('交接明细和其他资料需填其一')
      $("#er_other_rec_file").show()
    }
    else if(rec_company==''){
      $('#er_rec_company').text('公司名不能为空')
      $("#er_rec_company").show()
    }
    else if(express_number==''){
      $('#er_express_number').text('快递单号不能为空')
      $('#er_express_number').show()
    }else if(created_send_at=='' && send_or_rec=='0'){
      $('#er_created_send_at').text('发件时间不能为空')
      $('#er_created_send_at').show()
    }
    else if(created_send_at=='' && send_or_rec=='1'){
      $('#er_created_send_at').text('收件时间不能为空')
      $('#er_created_send_at').show()
    }
    else if(send_name==''){
      if(send_or_rec=='0'){
        $('#er_send_name').text('发件人不能为空')
      }else if(send_or_rec=='1'){
        $('#er_send_name').text('收件人不能为空')
      }
      $("#er_send_name").show()
    }else{
      $(this).text('保存中...')
      $(this).attr('disabled','disabled')
    $.post("/project?tag=express",{
      'source':source,
      'rec_name':rec_name,
      'rec_tel':rec_tel,
      'rec_addr':rec_addr,
      'rec_company':rec_company,
      'express_type_id':express_type_id,
      'express_type_name':express_type_name,
      'send_name':send_name,
      'payment_type_id':payment_type_id,
      'payment_type_name':payment_type_name,
      'express_remark':express_remark,
      'express_id':express_id,
      'other_rec_file':other_rec_file,
      'express_number':express_number,
      'rec_file_ids':type_ids,
      'rec_file':type_names,
      'save_customer_add_msg':save_customer_add_msg,
      'send_or_rec':send_or_rec,
      'created_send_at':created_send_at,
      '_xsrf':_xsrf
      },function (result) { 
     
        if(result=='-2'){
          alert('已审核不能修改')
          location.reload()
        }else if(result=='-3'){
          alert('寄件人不存在系统中')
          this_btn.text('保存')
          this_btn.removeAttr('disabled')
        }else{
          location.reload()
        }
        
       })
          }
 })
 $('#btn_check_express').on('click',function () { 
   var accept_state=$('#accept_state:checked').val()
   var accept_uid_remark=$('#accept_uid_remark').val()
   var express_id=$(this).attr('express_id')
  if(accept_state==undefined){
      $("#er_accept_state").text('请先选择')
      $("#er_accept_state").show()
  }else if(accept_state=='2' && accept_uid_remark==''){    
    $("#er_accept_uid_remark").text('不通过需要填写备注')
      $("#er_accept_uid_remark").show()
  }else{
    $.post('/project?tag=check_express',
    {
      '_xsrf':_xsrf,
      'accept_state':accept_state,
      'accept_uid_remark':accept_uid_remark,
      'express_id':express_id
    },function (result) { 
      location.reload()
     })
  }

  })
  $(".edit_express").on("click",function () {
    $('#created_send_at').val($(this).attr('created_send_at'))
    if('{{step}}'==1){
      $('#l_rec_name').text('寄件人') 
      $('#l_rec_tel').text('寄件人电话') 
      $('#l_rec_addr').text('寄件人地址') 
      $('#l_send_name').text('收件人')
      $('#save_customer_add_msg').text('寄件人信息存入系统')
      $("#l_created_send_at").text('收件时间')

    }
  $('input[name=rec_file]').prop('checked', false)
  type_ids_arr =$(this).attr('rec_file_ids').split(',')

  for (var i = 0; i < type_ids_arr.length; i++) {
    $('#rec_file_'+type_ids_arr[i]).prop('checked', true);

    } 
  $("#other_rec_file").val($(this).attr('other_rec_file'))
  $("#express_number").val($(this).attr('express_number'))
  $("#rec_name").val($(this).attr('rec_name'))
  $("#rec_tel").val($(this).attr('rec_tel'))
  $("#rec_addr").val($(this).attr('rec_addr'))
  $("#rec_file").val($(this).attr('rec_file'))

  $("#rec_company").val($(this).attr('rec_company'))

  $("#express_type").val($(this).attr('express_type_id'))
  $("#payment_type").val($(this).attr('payment_type_id'))

  $("#express_created_at").val($(this).attr('created_at'))
  $("#send_name").val($(this).attr('send_at_name'))
  $("#express_remark").val($(this).attr('remark'))
  $("#btn_save_express").attr('express_id',$(this).attr('id'))
  if($(this).attr('uid_name')!="{{name}}"  || ($(this).attr('uid_name')=="{{name}}" && $(this).attr('accept_at')!='None')){
    $("#er_express").show()
    $('#btn_save_express').hide()
  }else{
    $("#er_express").hide()
    $('#btn_save_express').show()
  }
  $("#btn_save_express").attr('source',$(this).attr('source'))
  $("#delete_express").attr('express_id',$(this).attr('id'))
  if($(this).attr('accept_at')=='None' && $(this).attr('uid_name')=='{{name}}'){
    $("#delete_express").show()
  }else{
    $("#delete_express").hide()
  }
  $("#add_express_modal").modal("show")
 })
 $(".confirm_send_express").on('click',function(){
  $.post('/project?tag=confirm_send_express',
    { '_xsrf':_xsrf,
      'express_id':$(this).attr('id')
    },function (result) { 
      location.reload()
     })
 })
 $("#delete_express").on('click',function () {
   var express_id=$(this).attr('express_id')
   if(confirm('确定删除？')){
    $.post('/project?tag=express',
   {
     '_xsrf':_xsrf,
     'delete_id':express_id
   },function (res) {
     if(res=='-1'){
       alert('已审核不能删除')
     } 
     location.reload()
    })
   } 
  })
 $('#confirm_send_express_all').on('click',function () { 
   var express_ids=[]
   $('input[name=check]:checked').each(function () { 
     express_ids.push($(this).val())
    })
    
   express_ids=express_ids.join(',')
   if(express_ids==''){
     alert('未选择')
   }
   else{
    $.post('/project?tag=confirm_send_express',
    { '_xsrf':_xsrf,
      'express_ids':express_ids
    },function (result) { 
      location.reload()
     })
   }
})


 $("#choose_cutomer_addr_msg").on('click',function(){
   $('#choose_customer_addr_msg_modal').modal('show')
 })
 $('#btn__save_customer_addr_msg').on('click',function(){
   var customer_name=$('input[name=choose_customer_addr]:checked').attr('c_name')
   var customer_addr=$('input[name=choose_customer_addr]:checked').attr('addr')
   var customer_tel=$('input[name=choose_customer_addr]:checked').attr('tel')
   $('#rec_name').val(customer_name)
   $('#rec_tel').val(customer_tel)
   $('#rec_addr').val(customer_addr)
   $('#choose_customer_addr_msg_modal').modal('hide')
   })
   $('#choose_customer_addr_msg_modal').on('hidden.bs.modal', function () {
    document.getElementsByTagName('body')[0].className = 'fixed-nav sticky-footer bg-dark modal-open';
});
$('#express_output').on('click',function () { 
  var step=$(this).attr('step')
  var todo=$(this).attr('todo')
  var params=$(this).attr('params')
  $.get('/project?tag=express_output',{
    'step':step,
    'todo':todo,
    'params':params
  },function (res) { 
    location.href=res['output_path']
   })
 })

 $('.cw_confirm_express').on('click',function () { 
    var id=$(this).attr('id')
    $.post('/project?tag=express'
    ,{
      '_xsrf':_xsrf,
      'cw_confirm_express_id':id
    },function (res) {
      location.reload()
      })

      
  })

 $('#confirm_cw_express_all').on('click',function () { 
   var express_ids=[]
   $('input[name=check]:checked').each(function () { 
     express_ids.push($(this).val())
    })
    
   express_ids=express_ids.join(',')
   if(express_ids==''){
     alert('未选择')
   }
   else{
    $.post('/project?tag=express',
    { '_xsrf':_xsrf,
      'cw_confirm_express_ids':express_ids
    },function (result) { 
      location.reload()
     })
   }
})
$("body").on('click','.delete_file',function () { 
  file_name=$(this).attr('file_name')
  express_id=$(this).attr('express_id')
  if(confirm('确认删除？')){
    $.post('/project?tag=delete_express_file',
    {
      '_xsrf':_xsrf,
      'file_name':file_name,
      'express_file_id':express_id
    },function (data) { 
      location.reload()
     }
  )
  }

 })
})
</script>
{%end%}
