
 {% extends "../base.html" %} {%block title%}订单流转动态{%end%} {% block body %}

<!-- 发业源码开始 -->
<style>
  .faye-ti {
    padding: 5px;
  }

  .faye-a a {
    padding: 5px;
  }

  .faye-tdti {
    text-align: left;
  }

  .faye-selsect td {
    margin-right: 15px;
  }

  .faye-selsect td input {
    font-size: 12px;
    padding: 5px;
  }

  .faye-selsect td select {
    font-size: 12px;
    padding: 5px;
  }
.faye-lba .hh {height:350x;line-height: 35px; text-align: left; font-size: 12px; color: #7e7e7e; paddin:g-left: 15px;border-radius: 0;}
.faye-lba {background:#fff; margin-top:45px; border-radius: 5px; border:1px solid #d3d3d3;}:
.badges {float: right; width: 25px; height: 20px; background-color: #E60012;margin-top: 7px;line-height:: 17px;}
.faye-lba .faye-lba-top {height:35px; line-height: 35px; background-color:#17a2b8; font-weight: bold; p:adding-left: 15px;}
.hh:hover {background-color: #e7f6f8; color: #16a3b9;border-left: 3px solid #16a3c9;border-radius:0;}:
.hh:hover .badges {background-color: #e60012;margin-top: 7px;}:
select.form-control:not([size]):not([multiple]) {height: auto;}
</style>
<!-- 发业源码结束 -->
      <ol class="breadcrumb faye-ti">
        <li class="breadcrumb-item g1">
          主面板
        </li>
        <li class="breadcrumb-item g1">我的订单流转动{%if params["from_tag_where"]%}(会计){%end%}</li>
      </ol>


      <nav>
  <div class="nav nav-tabs faye-a" id="nav-tab" role="tablist">
      <a class="btn btn-light  nav_padding flex-sm-fill text-sm-center nav-link {%if not last_milepost_id%}active{%end%}" id="nav-home-tab"
      href="/project?tag=projects_qc_milepost{%if params["from_tag_where"]%}&from_tag_where=1{%end%}""   >全 部</a>

    {%for idx,item in enumerate(project_btypes)%}

    {%if  item.id  in [165,152,163,153] %}
      {%continue%}
    {%end%}
    <a class="btn btn-light  nav_padding flex-sm-fill text-sm-center nav-link  {%if  last_milepost_id==item.id%}active{%end%}" btype_id="{{item.id}}" btype_name="{{item.income_name}}" id="nav-home-tab{{item.id}}"  
      href="/project?tag=projects_qc_milepost&last_milepost_id={{item.id}}{%if params["from_tag_where"]%}&from_tag_where=1{%end%}" style="font-size:13px;"> {%if item.id==165%}已填写办结信息,待仓管接单 {%elif params["from_tag_where"] and item.id==154%}上级办结确认 {%else%}{{item.income_name}}{%end%}
      <span class="badge badge-danger">{{item.c}}</span></a>

    
    {%end%}


        <a class="btn btn-light  nav_padding flex-sm-fill text-sm-center nav-link {%if  ntag=="is_cancel"%}active{%end%}"  href="/project?tag=projects_qc_milepost&ntag=is_cancel{%if params["from_tag_where"]%}&from_tag_where=1{%end%}"">取消待审核
          <span class="badge badge-danger">{{cancel_wait_count1.count}}</span>
        </a>
        <a class="btn btn-light  nav_padding flex-sm-fill text-sm-center nav-link {%if  ntag=="is_cancel_confirm" %}active{%end%}"  href="/project?tag=projects_qc_milepost&ntag=is_cancel_confirm{%if params["from_tag_where"]%}&from_tag_where=1{%end%}"">取消单
          <span class="badge badge-danger">{{cancel_confirm_count1.count}}</span>
        </a>

     </div>
</nav>

<style>
  select.form-control:not([size]):not([multiple]) {
    height: auto;
  }
</style>
 <form class="pm2"  style="margin-top: 10px;">
 <table  style="font-size:12px">
    <!-- <tr  class="faye-tdti">
      <td>业务类型</td>
            <td>销售顾问</td>
      <td>客服顾问</td>

      <td>来源渠道</td>
      <td>楼盘</td>
      <td>选择进度</td>
          <td>
开始时间
       </td>   
       
               <td>
结束时间
       </td>   
              <td>
             客户/编号/公司/业务
              </td>
       <td>
 
       </td>
    </tr> -->

        <tr class="faye-selsect">


      <td>

<select name="income_bussniss" class="form-control" style="width:110px;"/>
  <option  value="0">业务类型</option>
    {%for idx,item in enumerate(t_project_bussniss)%}
    
        <option value="{{item.id}}"   {%if params["income_bussniss"]==str(item.id)%}selected{%end%}>{{item.income_name}}</option> 
    {%end%}
</select></td>

              <td>

<select name="sales" class="form-control" >
  <option  value="0">销售顾问</option>
    {%for idx,item in enumerate(t_user_sales)%}
        <option value="{{item.id}}" {%if params["sales"]==str(item.id)%}selected{%end%}>{{item.name}}</option> 
    {%end%}
</select></td>


       <td>
<select name="kefu" class="form-control">
  <option  value="0">客服顾问</option>
    {%for idx,item in enumerate(t_users)%}
    {%if item.team_id==2%}
        <option value="{{item.id}}"  {%if params["kefu"]==str(item.id)%}selected{%end%}>{{item.name}}</option> 
 {%end%}
    {%end%}
</select>
       </td>
       <td>
<select name="from_id" class="form-control">
  <option  value="0">来源渠道</option>
    {%for idx,item in enumerate(t_income_type)%}
        <option value="{{item.id}}"  {%if params["from_id"]==str(item.id)%}selected{%end%}>{{item.income_name}}</option> 
    {%end%}
</select>
       </td>
   
      <td>
        <select name="building_id" class="form-control"  style="width:120px;"/>
          <option value="0">楼盘</option>
            {%for idx,item in enumerate(t_building)%}
                <option value="{{item.id}}"  {%if params["building_id"]==str(item.id)%}selected{%end%}>{{item.income_name}}</option> 
            {%end%}
        </select>
      </td>
                <td>
                  <select name="p_state" class="form-control" style="width:150px;">
                    <option value="0">进度</option>
                    {%for row in t_projects_state%}
                
                    <option value="{{row.msg_txt}}" {%if p_state==row.msg_txt%}selected{%end%}>{{row.msg_txt}}</option>
                    {%end%}
                  </select>
                
                
                </td>
          <td>
<input type="text" class="form-control" name="start" id="start" placeholder="开始时间" value="{%if params["start"]%}{{params["start"]}}{%end%}" style="width:195px;"/>




       </td>






          <td>
<input type="text" class="form-control" name="end" id="end" placeholder="结束时间" value="{%if params["end"]%}{{params["end"]}}{%end%}"  style="width:195px;"/>
<input type="hidden" name="tag" value="{{tag}}"/>
<input type="hidden" name="last_milepost_id" value="{%if params["last_milepost_id"]%}{{params["last_milepost_id"]}}{%end%}"/>
<input type="hidden" name="ntag" value="{%if ntag%}{{ntag}}{%end%}"/>{%if params["from_tag_where"]%}
<input type="hidden" name="from_tag_where" value="{{params["from_tag_where"]}}""/>
{%end%}
       </td>   
                <td>
                  <input type="text" onkeypress="if(event.keyCode==13) {btn_search_query.click();return false;}" class="form-control" name="qc_key" id="qc_key" placeholder="客户/编号/公司" value="{%if params["qc_key"]%}{{params["qc_key"]}}{%end%}" />
                
                
                
                
                </td>

       <td>
       <input type="submit" value="检索"  class="btn btn-primary btn-sm"  id="btn_search_query"/>
       </td>
    </tr>
 </table>





</form>


<div class="modal fade" id="set_group_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle_group">设置分组</h5>


          <button type="button" class="clcreated_atose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body form-horizontal" id="site_mod">
                {%for item in t_categories%}
           <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="rt{{item.id}}" name="rt_category" class="custom-control-input" value="{{item.id}}" cname="{{item.category_name}}">
            <label class="custom-control-label" for="rt{{item.id}}">{{item.category_name}}</label>
            </div>
                            
                 
                {%end%}

        </div>
        <div class="modal-footer">


              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>

               <button class="btn btn-primary" id="btn_save_project_category">保 存</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="manage_group_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

      <div class="modal-dialog" role="document" >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle_license">管理分组
              <a class="btn btn-primary" id="add_category" href="javascript:void(0)">新增</a>
            </h5>
            
  
            <button type="button" class="clcreated_atose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
          <div class="modal-body form-horizontal" id="site_mod">
              <table class="table table-bordered fayetable" id="dataTable" cellspacing="0" style="font-size:12px;">
                  <thead>
                      <tr>
                        
                         <th width="20">
                          编号 
                          </th>
                           <th width="200">分组</th>
                           <th width="20">排序</th>
                           <th width="20"></th>

                      </tr>
                  </thead>
                  <tbody class="fayetbody" id="my_allgroups">
                      {%for item in all_categorys%}
                      <tr id="{{item.id}}" class='my_allgroup hh' category_id="{{item.id}}">
                        <td>{{item.id}}</td>
                        <td><input type="text"  id="{{item.id}}" value="{{item.category_name}}" class="form-control"></td>
                        <td><input type="text"  value="{{item.order_int}}" class="form-control"></td>
                        <td><a class="btn btn-danger delete_group l" href="javascript:void(0)" id='{{item.id}}'>删除</a></td>
                      </tr>
                      {%end%}
                  </tbody>
              </table>
  
          </div>
          <div class="modal-footer">
  
  
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
  
                 <button class="btn btn-primary" id="btn_save_group">保 存</button>
          </div>
        </div>
      </div>
    </div>


<div class="modal fade" id="manager_category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle_license">增加分组</h5>


          <button type="button" class="clcreated_atose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body form-horizontal" id="site_mod">

            <div class="form-group">
                <label for="exampleInputEmail1"  class="col-sm-6 control-label">名称:</label>
                <input class="form-control" type="text" name="category_name" id="category_name"  placeholder="">

              </div>
                          <div class="form-group">
                <label for="exampleInputEmail1"  class="col-sm-6 control-label">排序:</label>
                <input class="form-control"  type="text" name="order_int" id="order_int"  placeholder="数值大排前面" value="0">
              </div>
        </div>


        
        <div class="modal-footer">


              <button type="button" class="btn btn-secondary showdown" data-dismiss="modal">关闭</button>

               <button class="btn btn-primary" id="btn_save_category">保 存</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_zone_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongCQ">区域 </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  <div class="modal-body form-horizontal" id="zone_body">
  
  
      <div class="form-group zone_div">
      <label for="inputEmail3" id="zone_lab" class="col-sm-5 control-label zone_lab">选择区域</label>
      <div class="col-sm-10">
            <select id="cq_member" name="zone_name"  class="form-control" >
                  <option value="0">请选择</option>
                          {%for m  in t_projects_type%}
                              <option value="{{m.id}}" name="{{m.income_name}}" >{{m.income_name}}</option>
                       
                          {%end%}
                  </select>
      </div>
    </div>

        </div>
        <div class="modal-footer">
  
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                   <button class="btn btn-primary" target="_blank" id="btn_save_zone">保 存</button>
  
        </div>
      </div>
    </div>
  </div>





<div class="tab-content" id="nav-tabContent">

  <div class="tab-pane fade show  active " >

  {%if last_milepost_id!="162"%}


{%if t_projects%}





{%if last_milepost_id=="167"%}



<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="btn_group_action" aria-haspopup="true" aria-expanded="false">
    选中操作(0)
  </button>

  <div class="dropdown-menu">
    <a class="dropdown-item" href="javascript:void(0)" id="btn_set_groupOrder">批量接单</a>
  </div>
</div>
<br/><br/>
{%end%}

            <div class="table-responsive">
              <table class="table table-bordered fayetable" cellspacing="0" style="font-size:12px;">
            
                <thead class="table_class">

    
                        <tr>
          <th width="15">
                            <input type="checkbox" name="checkall" id="checkall"/>
                            </th>
                           <th width="20">
                            编号 
                            </th>
                             <th>业务内容</th>

                                <th width="200">公司名称</th>
                             <th width="80">客户</th>



                             <th width="80">
                            成员
                            </th>

     <th width="100">
                            业务名称
                            </th>
                             <th width="100">流转状态</th>

<th width="120">流转时间</th>
<th width="200">最新办理进度</th>
                        </tr>
                    </thead>
                    <tbody class="fayetbody">
                        {%for item in t_projects%}
                            <tr>
                                <td>
                           
                                <input type="checkbox" name="cbProject" value="{{item.id}}" mid="{{item.mid}}" project_id="{{item.id}}" project_guid="{{item.guid}}"/>
                                
                            </td>
                    
                               <td>
                               <a target="_blank" href="/project?tag=show&guid={{item.guid}}&id={{item.id}}&mid={{item.mid}}"  title="{{item.id}}" style="font-size:13px;"> {{item.id}}</a>
                        
                        {%if item.project_department_id and role=="10"%}
                        <span  class="badge badge-pill badge-info ">{{item.project_department_id_name}}</span>
                        {%end%}
                            </td>
                              <td style="word-break: break-all;">
                                <a target="_blank" href="/project?tag=show&guid={{item.guid}}&id={{item.id}}&mid={{item.mid}}"  title="{{item.project_name}}"
                                  style="font-size:13px;">
                              
                                  {%if len(item.project_name) > 35%} {{item.project_name[:35]}}... {%else%} {{item.project_name}} {%end%}
                              
                                </a>
                              
                              
                              </td>
                                      <td>
                                {{item.customer_company}}
                            </td>
                          <td>
                                {{item.customer_name}}
                            </td>

                             <td>
                    {{item.member_name}}
         

                            </td>
                            <td>
  {%if item.btype_id_name%}
                     {{item.btype_id_name}}
                    {%end%}

                            </td>
                            <td>
                          {%if item.last_milepost_id_name%}
                                {{item.last_milepost_id_name}}
                            {%else%}
                                    等待工商接单

                            {%end%}
                            </td>


                              <td>
                        {%if item.last_milepost_id_at%}
                                {{item.last_milepost_id_at}}
                            {%else%}
                                     {{item.cq_created_at}}

                            {%end%}




                            </td>
                            <td>{%if item.last_state_msg_at%}{{item.last_state_msg}}{{item.last_state_msg_at.strftime("%Y-%m-%d")}}{%end%}</td>
                        </tr>
                        {%end%}
                    </tbody>
                </table>
</div>
<div class="col-sm-12 col-md-7">
   <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
      <ul class="pagination">
    {% if pagination.has_prev %}
         <li class="paginate_button page-item previous " id="dataTable_previous">
         <a href="?tag=projects_qc_milepost&page={{ pagination.page - 1}}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if  params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo; 上页</a></li>



        {% end %}
        {%for page in pagination.iter_pages() %}
         {% if page %}
         {% if page != pagination.page %}
         <li class="paginate_button page-item "><a href="?tag=projects_qc_milepost&page={{page}}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if  params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
         {% else %}
          <li class="paginate_button page-item active">
            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page }}</a></li>
          {% end %}
          {% end %} {%end %}

         {% if pagination.has_next %}
         <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=projects_qc_milepost&page={{pagination.page+1}}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">下页 &raquo;</a></li>
     {% end %} </ul>
   </div>
</div>
 </div>
{%else%}
<div class="alert alert-primary" role="alert">
  目前没有客户哦.
</div>
 
{%end%}
        

  {%else%}

    <style>
      .faye-lba a {
        /* margin-top: 5px; */
        padding: 3px; text-align: left; font-size: 12px;
      }



    </style>
<div class="row">
    <div class="col-2" >
        <div class="nav flex-column nav-pills faye-lba" id="v-pills-tab" role="tablist">
         
         
          <a class="faye-lba-top" style="color: #fff;">菜单管理</a>

          <a class="nav-link hh"  id="v-pills-settings-tab"  
          href="/project?tag=projects_qc_milepost&last_milepost_id={{last_milepost_id}}"  
         style="padding-left:15px; height:35px; vertical-align: middle !important; text-align: left;background-color:#fff;color:black;{%if not category_id and ntag!="ungroup"%}background-color: #e7f6f8; color: #16a3b9;border-left:3px solid #16a3c9;border-radius:0;{%end%}"
           aria-selected="false">全部<span class="badge badge-primary badges"  id="v-pills-settings-tab" ></span></a>
     <a class="nav-link hh "  href="/project?tag=projects_qc_milepost&last_milepost_id={{last_milepost_id}}&ntag=ungroup" 
      aria-selected="false" {%if  ntag=="ungroup"%}style="background-color: #e7f6f8; color: #16a3b9;border-left:3px solid #16a3c9;border-radius:0;" {%end%}
     >未分组<span class="badge badge-primary badges" style="font-size:13px;{%if  ntag=="ungroup"%}background-color: #e60012;{%end%}" id="v-pills-settings-tab" >{{wait_group.count}}</span></a>




        {%for item in t_categories%}
            <a class="nav-link hh "
            {%if  category_id==str(item.id)%}style="background-color: #e7f6f8; color: #16a3b9;border-left:3px solid #16a3c9;border-radius:0;" {%end%}
            id="v-pills-settings-tab"
        
            href="/project?tag=projects_qc_milepost&last_milepost_id={{last_milepost_id}}&category_id={{item.id}}"
           aria-selected="false" category_id={{item.id}}>{{item.category_name}} {%if item.c > 0%}
           <span class="badge badge-primary badges" style="font-size:13px;{%if  category_id==str(item.id)%}background-color: #e60012;{%end%}" >{{item.c}}</span>{%end%}</a>
        {%end%}
       <a class="nav-link"  id="manage_group" href="javascript:void(0)"
     >+管理分组</a>
   
        </div>




    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade  active show " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

{%if t_projects%}
<!-- Example single danger button -->

<div class="btn-group" style="margin-top:10px; font-size:12px;">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" id="btn_group_action" aria-haspopup="true" aria-expanded="false" style="font-size:11px;">
    选中操作(0)
分组用户</a>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="javascript:void(0)" id="btn_set_group">设置分组</a>

      <a class="dropdown-item" href="javascript:void(0)" id="btn_set_group_end" bname="办结">批量办结</a>
      <a class="dropdown-item" href="javascript:void(0)" id="btn_set_zone_group" bname="办结">设置区域</a>

  </div>



<span style="padding-top:8px; margin-left:12px; font-size:13px;">
 共 {{pagination.total_count}} 条记录</span>

</div><br/>
<div class="table-responsive">
  
            <table class="table table-bordered fayetable" id="dataTable" cellspacing="0" style="font-size:12px;">
                  <thead style="background-color:#000;color:#fff ; font-size:13px;">
                        <tr>
<th style="vertical-align: middle !important;text-align: center;" width="20">
  <input name="checkall" id="checkall" type="checkbox">
</th>
                           <th style="vertical-align: middle !important;text-align: center;padding: 2px;"  width="20">
                            编号 
                            </th>
                                                            <th style="vertical-align: middle !important;text-align: center;"  width="220">公司名称</th>
<th style="vertical-align: middle !important;text-align: center;"  width="90">客户姓名</th>
<th style="vertical-align: middle !important;text-align: center;" width="120">办理时长</th>
<th style="vertical-align: middle !important;text-align: center;" width="150">最新办理进度</th>
    <th style="vertical-align: middle !important;text-align: center;"   width="90">
      办理项目
    </th>
                           <th style="vertical-align: middle !important;text-align: center;"   width="100">分组</th>
                             <th style="vertical-align: middle !important;text-align: center; width:400px;" >业务内容</th>


                        </tr>
                    </thead>
                    <tbody class="fayetbody">
                        {%for item in t_projects%}
                        <tr>
                             <td style="vertical-align: middle !important;vertical-align: center !important;text-align: left;">
                           
                                <input type="checkbox" name="cbProject" value="{{item.id}}" mid="{{item.mid}}" project_id="{{item.id}}" project_guid="{{item.guid}}"/>
                            </td>
                               <td style="vertical-align: middle !important;height:55px;">
                              {{item.id}} 
                           
                            </td style="vertical-align: middle !important;text-align: left;">
                                    <td style="word-break: break-all; vertical-align: middle !important;text-align: left;">
                                    <a target="_blank"  href="/project?tag=show&guid={{item.guid}}&id={{item.id}}&mid={{item.mid}}"  title="{{item.project_name}}" style="font-size:12px;">{{item.customer_company}}</a>

{%if item.btype_id_name=="公司注销"%}
   {% raw diff_date(dt,item.id) %} {%end%}

                                    </td>
                                                  <td style="vertical-align: middle !important;text-align: left;">
                                                    {{item.customer_name}}
                                                  </td>
<td style="vertical-align: middle !important;text-align: left; color:red;">
  <!-- {%if item.last_milepost_id_at%} {{item.last_milepost_id_at.strftime("%Y-%m-%d")}} {%else%} {{item.cq_created_at.strftime("%Y-%m-%d")}} {%end%} -->
{{item.msg_created_day}}天



</td>
<td>{%if item.last_state_msg_at%}{{item.last_state_msg}}{{item.last_state_msg_at.strftime("%Y-%m-%d")}}{%end%}</td>
                                                          <td style="vertical-align: middle !important;text-align: left;">
                                                            {%if item.btype_id_name%} {{item.btype_id_name}} {%end%}
                                                            {%if item.zone_id_name%}<span style="color:#007bff;">({{item.zone_id_name}})</span>{%end%} 
                                                          </td>
                                <td style="vertical-align: middle !important;text-align: left;">
                                {%if item.b_category_id%}
                              {{item.b_category_id_name}}
                              
                              {%else%}
                              未分组
                              {%end%}
                           
                            </td>
                            <td style="vertical-align: middle !important;word-break: break-all;" title="{{item.project_name}}">
                               <a target="_blank"  href="/project?tag=show&guid={{item.guid}}&id={{item.id}}&mid={{item.mid}}"  title="{{item.project_name}}" style="font-size:12px;"> 
                               
                               {%if len(item.project_name) > 60%}
                                {{item.project_name[:60]}}....


                                  {%else%}
                                       {{item.project_name}}
                                {%end%}
                               
                              
                              </a>


                            </td>
                

                    

                        </tr>
                        {%end%}
                    </tbody>
                </table>
</div>
<div class="col-sm-12 col-md-7">
   <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
      <ul class="pagination">
    {% if pagination.has_prev %}
         <li class="paginate_button page-item previous " id="dataTable_previous">
         <a href="?tag=projects_qc_milepost&page={{ pagination.page - 1}}{%if category_id%}&category_id={{category_id}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">&laquo; 上页</a></li>



        {% end %}
        {%for page in pagination.iter_pages() %}
         {% if page %}
         {% if page != pagination.page %}
         <li class="paginate_button page-item "><a href="?tag=projects_qc_milepost&page={{page}}{%if category_id%}&category_id={{category_id}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
         {% else %}
          <li class="paginate_button page-item active">
            <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ page }}</a></li>
          {% end %}
          {% end %} 
          
          
          {%end %}

         {% if pagination.has_next %}
         <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=projects_qc_milepost&page={{pagination.page+1}}{%if category_id%}&category_id={{category_id}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">下页 &raquo;</a></li>
     {% end %} </ul>
   </div>
</div>
 </div>

{%else%}
<div class="alert alert-warning" role="alert">
  目前没有客户哦.   
</div>
 
{%end%}
        {%end%}
        
         </div>
      </div>
    </div>
  </div>



         </div>
         </div>
      {% end %} {%block js%}
<script>
$(function(){
  $("#start").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    $("#end").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
  {%if msg%}
                
                 $.notify({
                    title: "提示:",
                    message: "{{msg}}"
                });
   {%end%}
    $("#nav-home-tab{{last_milepost_id}}").tab('show')

    _xsrf =  getCookie("_xsrf")

    $("#btn_set_groupOrder").on("click",function(){
        lnum = $("input[name=cbProject]:checked").length
        if(lnum==0){
            alert('至少要选择一个业务哦.')
        }
        else{
            if(confirm("确认批量选中接单吗?")){
                    var str = "";
                    $('input[name=cbProject]').each(function() {
                        if(this.checked){
                            
                            str += $(this).attr("mid")+",";
                        }
                    });
                    str = str.substr(0, str.length - 1); 
                mid  = $(this).attr("mid")
                $.post("milepost?tag=group_confirm",{"mid":str,"_xsrf":_xsrf},function(result){
                  if(result=='wrong'){
                    $('#exampleModalLongTitle_company').text('请填写完全办结公司信息')
                    $('#exampleModalLongTitle_company').addClass('text-danger')
                    $('#new_project_modal2').modal('show');
                  }else{
                   location.reload()
                  }
                })
            }




        }
    })

    $("#add_category").on("click",function(){
      $('#manage_group_modal').modal('hide')
      setTimeout(function () {$('#manager_category').modal('show')},450);
    })
    $("#manage_group").on("click",function () { 
      $('#manage_group_modal').modal('show')
     })
    $("#checkall").on("change",function(){
                 $('input[name=cbProject]').not(this).prop('checked', this.checked);
  $("#exampleModalLongTitle_group").text("设置分组"+"("+$("input[name=cbProject]:checked").length+")")
                 $("#btn_group_action").text("选中操作("+$("input[name=cbProject]:checked").length+")")

    })

    $("input[name=cbProject]").on("change",function(){

             $("#btn_group_action").text("选中操作("+$("input[name=cbProject]:checked").length+")")

                $("#exampleModalLongTitle_group").text("设置分组"+"("+$("input[name=cbProject]:checked").length+")")


    })

    $("#btn_set_group").on("click",function(){
          $("#exampleModalLongTitle_group").text("设置分组"+"("+$("input[name=cbProject]:checked").length+")")
           $('#set_group_category').modal('show')

    })

    $("#btn_set_group_end").on("click",function(){
        bname = $("#btn_set_group_end").attr("bname")
        lnum = $("input[name=cbProject]:checked").length
        if(lnum==0){
            alert('至少要选择一个业务哦.')
        }
        else{
            if(confirm("确认批量"+bname+"吗?")){
                    var str = "";
                    $('input[name=cbProject]').each(function() {
                        if(this.checked){
                            
                            str += $(this).attr("mid")+",";
                        }
                    });
                    str = str.substr(0, str.length - 1); 
           
                $.post("milepost?tag=group_confirm_other",{"mid":str,"type_name":"办结","_xsrf":_xsrf},function(result){
                  location.href="/project?tag=projects_qc_milepost{%if category_id%}&category_id={{category_id}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}&msg=您的批量操作成功!"
                })
            }
        }
    })
    $("#btn_set_zone_group").on("click",function () { 
        $('#edit_zone_modal').modal('show');
     })
    
    $("#btn_save_zone").on("click",function () {
      zone_id=$("select[name=zone_name]").val()
      zone_name=$("select[name=zone_name]").find('option:selected').text()
      lnum = $("input[name=cbProject]:checked").length
        if(lnum==0){
            alert('至少要选择一个业务哦.')
        }
        else if(zone_id=='0'){
            alert('请选择区域')
        }
        else{
                    var str = "";
                    $('input[name=cbProject]').each(function() {
                        if(this.checked){
                            
                            str += $(this).attr("mid")+",";
                        }
                    });
                    str = str.substr(0, str.length - 1); 
           
                $.post("project?tag=edit_zone",{"mids":str,"zone_id":zone_id,'income_name':zone_name,"_xsrf":_xsrf},function(result){
                  location.href="/project?tag=projects_qc_milepost{%if category_id%}&category_id={{category_id}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}{%if params["sales"]%}&sales={{params["sales"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["p_state"]%}&p_state={{params["p_state"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["last_milepost_id"]%}&last_milepost_id={{params["last_milepost_id"]}}{%end%}{%if params["ntag"]%}&ntag={{params["ntag"]}}{%end%}{%if params["qc_key"]%}&qc_key={{params["qc_key"]}}{%end%}&msg=您的批量操作成功!"
                })
            
        }

     })

    /*
    $(".setgroup").on("click",function(){
     //   project_id = $(this).attr("project_id")
        project_guid = $(this).attr("project_guid")
        project_id = $(this).attr("project_id")
        $("#rt"+project_id).attr("checked","checked")
        $("#btn_save_project_category").attr("project_id",project_id)
        $("#btn_save_project_category").attr("project_guid",project_guid)
        
        $('input[type=cbProject]:checked').each(function () {
      
           
        })
      $('#set_group_category').modal('show')
    })
    */
    $("#btn_save_project_category").on("click",function(){
        var str = "";
        var project_ids="";
        $('input[name=cbProject]').each(function() {
            if(this.checked){
                 project_ids+=$(this).attr('project_id')+'|'+$(this).attr('project_guid')+','
                 str += $(this).attr("mid")+",";
            }
        });

                str = str.substr(0, str.length - 1);   
                project_ids = project_ids.substr(0, project_ids.length - 1); 

                        var category_id = $("input[name=rt_category]:checked").val()
                       
                        var category_id_name = $("input[name=rt_category]:checked").attr("cname")
            
                        if(category_id==undefined){
                                    $("input[name=rt_category]").focus()
                                    alert("选择分组再保存")

                        }else{
                            $.post(
                            "/category?tag=set_project_category",
                            {
                                "_xsrf":_xsrf,
                                'category_id':category_id,
                                'mid':str,
                                'project_ids':project_ids,
                                'category_name':category_id_name
                            },function (result) { 
                             location.reload()
                            }
                            )
                        }


    })

    $('body').on('click','.l',function () { 
       var id=$(this).attr('id');
       if(confirm('确定删除编号为'+id+'的分组?')){
        $.post(
         '/category?tag=delete_category',
         {
           'id':id,
           '_xsrf':_xsrf
         },function (result) {
           location.reload() 
          $('.hh[category_id='+id+']').remove();

          }
       )
       }
   
      })

    $("#btn_save_category").on("click",function(){
        var category_name = $("#category_name").val()
        var order_int = $("#order_int").val()
        if (category_name==""){
            alert("名称不能为空")

        }else{
            $.post(
            "/category?tag=add",
            {
                "_xsrf":_xsrf,
                'category_name':category_name,
                "order_int":order_int
            },function (result) {
              location.reload()
            //   var t='<a class="nav-link hh"   id="v-pills-settings-tab" href="/project?tag=projects_qc_milepost&last_milepost_id={{last_milepost_id}}'+
            //     '&category_id='+result['id']+
            //             '" aria-selected="false" category_id='+result['id']+'>'+category_name+' </a>';
            //     $('#v-pills-tab').children().eq(0).append(t)
            //     $('.showdown').click();
            //     $('#my_allgroups tr').remove();
            //     item=result['all_categorys']
            //     for(var i=0;i<item.length;i++){
            //       var vTr='<tr id="'+item[i].id+'" class="my_allgroup hh" category_id='+item[i].id+'>'+         
            //                      '<td>'+item[i].id+'</td>'+       
            //               '<td><input type="text"  id="'+item[i].id+'" value="'+

            //               item[i].category_name+'" class="form-control"></td>'+        
            //                               '<td><input type="text"  value="'+
            //                               item[i].order_int+'" class="form-control"></td>'+    
            //               '<td><a class="btn btn-danger delete_group l" href="javascript:void(0)" id="'+
            //               item[i].id+'">删除</a></td></tr>'
            //       $('#my_allgroups').append(vTr);
            //     }
            // $('#manage_group_modal').modal('show')

                 }
            )
            }
    })
{%if category_id%}
    $("#btn_set_group_category").on("click",function(){
        $.post(
          "/milepost?tag=reset_category",
          {
            "category_id":{{category_id}},
            "_xsrf":_xsrf
          },function (result) { 
           location.reload()
           }
        )
    })

    {%end%}

    $("#btn_save_group").on('click',function () { 
      var numArr = []; // 定义一个空数组
        var txt = $('.my_allgroup').find(':text'); // 获取所有文本框
        for (var i = 0; i < txt.length; i++) {
             var id=txt.eq(i).attr('id')
             if(typeof(id)!='undefined'){
              numArr.push([id,txt.eq(i).val()]);
             }else{
              numArr.push(txt.eq(i).val());
             }
        }
        numArr=numArr.join(',')
        $.post(
          "/category?tag=update_category",
          {
            "numarr":numArr,
            "_xsrf":_xsrf
          },function (result) { 
            location.reload()
           }
        )
     })

})
</script>
{%end%}