
 {% extends "../base.html" %} {%block title%}收入管理{%end%} {% block body %}


      <ol class="breadcrumb">
        <li class="breadcrumb-item g1">
         主面板
        </li>
        <li class="breadcrumb-item g1">业务搜索</li>
      </ol>
   <div class="card mb-3">
        <div class="card-body">
          <div class="table-responsive">
              <div class="alert alert-info" role="alert">您查找的关键词： <b>{{search_key}}</b> 找到{{len(t_projects)}}条记录</div>

   
                  <table class="table table-bordered fayetable" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table_class">
                        <tr>
                         <th width="70">编号</th>
                            <th>名称</th>
                            <th>公司名</th>
                     
                            <th width="120">客户</th>
                              {%if role!="12"%} <th width="120">联系电话</th>{%end%}
                               
                                          <th width="120">创建者</th>
                            <th width="100"></th>
                        </tr>
                    </thead>
                    <tbody class="fayetbody">
                        {%for item in t_projects%}
                        <tr id="{{item.id}}">
                               <td>
                                {{item.id}}
                            </td>   
                            <td>
                                {%if search_key in item.project_name%}
                                {{item.project_name.split(search_key)[0]}}<span class="text-info">{{search_key}}</span>{{item.project_name.split(search_key)[1]}}
                                {%else%}
                                {{item.project_name}}
                                {%end%}
                            </td>  
                            <td>
                                {%if search_key in item.customer_company%}
                                {{item.customer_company.split(search_key)[0]}}<span class="text-info">{{search_key}}</span>{{item.customer_company.split(search_key)[1]}}
                                {%else%}
                                {{item.customer_company}}
                                {%end%}
                            </td>
                   
                     
                            <td>
                                {%if search_key in item.customer_name%}
                                    {{item.customer_name.split(search_key)[0]}}<span class="text-info">{{search_key}}</span>{{item.customer_name.split(search_key)[1]}}
                                    {%else%}
                                    {{item.customer_name}}
                                    {%end%}
                            </td>
                                       {%if role!="12"%}  <td>
                                    {% if search_key in item.customer_tel %}
                                    {{item.customer_tel.split(search_key)[0]}}<span class="text-info">{{search_key}}</span>{{item.customer_tel.split(search_key)[1]}}
                                    {%else%}
                                    {{item.customer_tel}}
                                    {%end%}
                            </td>      {%end%}
         
                                   <td>
                            {%if role=='9'%}
                            {%if item.uid_name%}
                                  {{item.uid_name}}
                            {%end%}
                            {%else%}
                            {{item.uid_name}}
                            {%end%}
                            </td>
                            <td>
                                {%if role=="12"%}  
                                <a href="/project?tag=projects_simple_details&guid={{item.guid}}&id={{item.id}}" 
                                class="btn btn-primary btn-sm" title="{{item.id}}">查看</a>
                                {%else%}
                                <a href="/project?tag=show&guid={{item.guid}}&id={{item.id}}" 
                                class="btn btn-primary btn-sm" title="{{item.id}}">查看</a>
                                {%end%}
                            </td>
                        </tr>
                        {%end%}
                    </tbody>
                </table>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            {% if pagination.has_prev %}
                            <li class="paginate_button page-item previous " id="dataTable_previous"><a href="/project?tag=search&key={{search_key}}&page={{ pagination.page - 1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li class="paginate_button page-item ">
                                <a href="/project?tag=search&key={{search_key}}&page={{ page }}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% end %} {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=search&key={{search_key}}&page={{pagination.page+1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                            {% end %}
                        </ul>
                    </div>
                </div>
         </div>
        </div>
        <div class="card-footer small text-muted"></div>
      </div>
 {% end %} {%block js%}
<script>
       function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }
$(document).ready(function() {
    window.prettyPrint && prettyPrint();



})
</script>
{%end%}