{% extends "../base.html" %} {%block title%}收入管理{%end%} {% block body %}


      <ol class="breadcrumb">
        <li class="breadcrumb-item">
         主面板
        </li>
        <li class="breadcrumb-item active">业务记录
            <a href="javascript:void(0)" class="btn btn-info btn-sm" id="btn_add_recode" >新 建 </a>
        </li>

      </ol>

      <div class="card mb-3">
            <div class="card-body">

            <div class="table-responsive">


            <table class="table table-bordered" id="dataTable"  cellspacing="0">
            <thead style="background-color:#000;color:#fff">
                <tr>
                    <th width="250">业务记录</th>
                    <th width="100">合同金额</th>
                    <th width="100">合同订金</th>
                    <th width="100">创建时间</th>
                    <th width="20"></th>
                </tr>
            </thead>
            <tbody>
                {%for item in project_recode%}
                <tr>
                    <td>{{item.recode}}</td>
                    <td>{{item.money}}</td>
                    <td>{{item.dingjin}}</td>
                    <td>{{item.created_at}}</td>
                    <td><a class="btn btn-info change_recode" 
                        id="{{item.id}}"
                        recode="{{item.recode}}" 
                        money="{{item.money}}"
                        dingjin="{{item.dingjin}}"
                        rel_id="{{item.id}}"
                        >修改</a></td>
                </tr>
                {%end%}
            </tbody>
            </table>
         
            </div>
            {% if not project_recode%}
            <div class="container">
                <p class="text-center">还没有哦~</p>
            </div>
            
            {%end%}
        </div>
    </div>

    <div class="modal fade" id="add_project_recode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="income_title_type">业务记录
                <button class="btn btn-danger delete_recode">&times;</button>
        
              </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
        
        
                <div class="modal-body form-horizontal" id="site_mod">
                    <div class="form-group">
                    <div class="col-sm-10">
                        <label for="recode">业务记录</label>
                        <input class="form-control" name="recode" id="recode" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="money">合同金额</label>
                            <input class="form-control" name="money" id="money" type="text">
                        </div>
                        <div class="col-sm-6">
                            <label for="dingjin">合同定金</label>
                            <input class="form-control" name="dingjin" id="dingjin" type="text">
                        </div>
                        </div>
                </div>
        
        
                <div class="modal-footer">
                    <input type="hidden" value="0" id="is_other" name="is_other" />
                           <button class="btn btn-primary" target="_blank" id="btn_save_project_recode" rel_id='0'>保 存</button>
        
                </div>
              </div>
            </div>
          </div>
{%end%}

{%block js%}

<script>
 $(function () {
    _xsrf =  getCookie("_xsrf")
    $('#btn_add_recode').on("click",function(){
        $('.delete_recode').hide();
        $('#add_project_recode').modal('show')
    })
    $('#btn_save_project_recode').on('click',function () { 
        var recode=$('#recode').val();
        var money=$('#money').val();
        var dingjin=$('#dingjin').val();
        var rel_id=$(this).attr('rel_id');
        if(recode==''){
            alert('业务记录不能为空')
        
        }
        else{
            if(isNaN(money)| isNaN(dingjin)){
                alert('金额必须为数字！！！')
            }
            else{
            $.post(
                '/project?tag=add_recode',
                {
                    "_xsrf":_xsrf,
                    "recode":recode,
                    "money":money,
                    "dingjin":dingjin,
                    'rel_id':rel_id,
                    "project_id":{{project_id}}
                },
                function (result) { 
                    location.reload()
                 }
                )
            }
        }
     })
     $('.change_recode').on('click',function () {
        $('.delete_recode').show();
        $('#recode').val($(this).attr('recode')); 
        $('#money').val($(this).attr('money'));
        $('#dingjin').val($(this).attr('dingjin'));
        $('#btn_save_project_recode').attr('rel_id',$(this).attr('rel_id'))
        $('#add_project_recode').modal('show')

      })
      $(".delete_recode").on('click',function () { 
          var id= $('#btn_save_project_recode').attr('rel_id');
          $.post(
              '/project?tag=delete_recode',
              {
                  'id':id,
                  "_xsrf":_xsrf,
              },
              function (result) { 
                  location.reload()
               }
          )
       })
})
</script>
{%end%}
