{% extends "../base.html" %} {%block title%}{%if kz%}刻章供应商{%else%}地址供应商{%end%}{%end%} {% block body %}


      <ol class="breadcrumb">
        <li class="breadcrumb-item g1">
         主面板
        </li>
        <li class="breadcrumb-item g1">{%if kz%}刻章供应商{%else%}地址供应商{%end%}</li>
                {%if is_gy_manage=='1'%} 
                <li class="g1 g1-left">
                <a href="javascript:void(0)" class="btn btn-primary btn-sm" id="{%if kz%}btn_add_kz{%else%}btn_add_addr{%end%}" >新 建 </a></li>
            {%end%}

      </ol>
      <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="btn btn-light  nav_padding {%if not kz%}active{%end%}" id="nav-home-tab"
                href="/project?tag=provider_manage" >地址供应商管理</a>
              
              <a class="btn btn-light  nav_padding {%if kz%}active{%end%}"
                href="/project?tag=provider_manage&kz=1" style="font-size:13px;">刻章供应商管理</a>
               </div>
        </nav>
        <br>
      <div class="card mb-3">
            <div class="card-body">
            <div class="table-responsive">
            
            <table class="table table-bordered fayetable" id="dataTable"  cellspacing="0" style="width:2800px;">
            <thead class="table_class">
                <tr>
                    {% if kz%}
                    <th width="80">区域</th>
                    <th>刻章项目</th>
                    <th width="100">价格</th>
                    <th width="80">创建时间</th>
                    <th width="80">创建人</th>
                    <th width="100">报价历史</th>
                    {%if is_gy_manage=='1'%}
                    <th width="100"></th>
                    {%end%}
                    {%else%}
                    <th width="80">供应商</th>
                    <th width="80">区域</th>
                    <th width="120">类型</th>
                    
                    <th width="100">地址性质</th>
                    <th width="100">成本价格</th>
                    <th width="100">注册价格</th>

                    <th width="100">同区变更价格</th>
                    <th width="100">跨区变更价格</th>
                    <th width="100">详细地址</th>
                    <th width="100">经营范围限制</th>
                    <th width="100">发票限制</th>
                    <th width="100">受理材料</th>
                    <th width="80">是否能解锁</th>
                    <th width="80">是否可以续费</th>
                    <th width="100">担保事项</th>
                    <th width="80">创建人</th>
                    <th width="80">创建时间</th>
                    <th width="80"></th>
                    {%end%}
                </tr>
            </thead>
                <tbody class="fayetbody">

                        {% if kz%}
                            {% if kz_provider_manage %}
                            {%for item in kz_provider_manage%}
                            <tr>
                                    <td>{{item.area}}</td>
                                    <td>{{item.kz_project}}</td>
                                    <td>{{item.b}}</td>
                                    <td>{{item.created_at.strftime('%Y-%m-%d')}}</td>
                                    <td>{{item.uid_name}}</td>
                                    <td><a class="btn btn-primary btn-sm kz_detail_history" href="javascript:void(0);"
                                          kz_history="{{item.c}}">查看</a></td>
                                          {%if is_gy_manage=='1'%}
                                    <td><a class="btn btn-primary btn-sm change_kz" href="javascript:void(0);"
                                         id="{{item.id}}" kz_project="{{item.kz_project}}" 
                                         price="{{item.b}}" area="{{item.area}}">修改</a></td>
                                    {%end%}
                                    </tr>
                            {%end%}
                                {%else%}
                                <tr>
                                    <td colspan="10">
                                        还没有哦~
                                    </td>
                                </tr>
                                {%end%}
                        {%else%}
                        {% if addr_provider_manage %}
                       {% for item in addr_provider_manage%} 
                        <tr>
                            <td>{{item.provider}}</td>
                            <td>{{item.area}}</td>
                            <td>{{item.type}}</td>

                            <td>{{item.addr_nature}}</td>
                            <td>{{item.cost_price}}</td>

                            <td>{{item.register_price}}</td>
                            <td>{{item.same_area_change_price}}</td>
                            <td>{{item.dif_area_change_price}}</td>

                            <td>{{item.address}}</td>
                            <td>{{item.business_scope_limit}}</td>
                            <td>{{item.fp_limit}}</td>
                            <td>{{item.accept_material}}</td>

                            <td>{% if item.is_lock==1%}能{%elif item.is_lock==2%}不能{%end%}</td>
                            <td>{% if item.is_renew==1%}是{%elif item.is_renew==2%}否{%end%}</td>
                            <td>{{item.danbao_matter}}</td>
                            <td>{{item.uid_name}}</td>
                            <td>{{item.created_at.strftime('%Y-%m-%d')}}</td>
                           
                            
                                {%if is_gy_manage=='1'%}
                                {%end%}
                            <td><a class="btn btn-primary btn-sm change_addr" href="javascript:void(0);" id="{{item.id}}"
                                provider="{{item.provider}}" area="{{item.area}}" type="{{item.type}}" addr_nature="{{item.addr_nature}}"
                                cost_price="{{item.cost_price}}" register_price="{{item.register_price}}"  same_area_change_price="{{item.same_area_change_price}}"
                                dif_area_change_price="{{item.dif_area_change_price}}"  address="{{item.address}}" business_scope_limit="{{item.business_scope_limit}}"  
                                fp_limit="{{item.fp_limit}}" accept_material="{{item.accept_material}}" is_lock="{{item.is_lock}}" is_renew="{{item.is_renew}}"danbao_matter="{{item.danbao_matter}}"      
                                >查看</a></td>
                               
                        </tr>
                        {%end%}   
                        {%else%}
                        <tr>
                            <td colspan="10">
                                还没有哦~
                            </td>
                        </tr>
                        {%end%}   
                     
                       {%end%}
                  
                </tbody>
            </table>
            <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            {%if kz%}
                            {% if pagination1.has_prev %}
                            <li class="paginate_button page-item previous " id="dataTable_previous">
                            <a href="/project?tag=provider_manage&kz=1&page={{ pagination.page - 1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li class="paginate_button page-item ">
                                <a href="/project?tag=provider_manage&kz=1&page={{ page }}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% end %} {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                            {% end %} {%end %} {% if pagination1.has_next %}
                            <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=provider_manage&kz=1&page={{pagination.page+1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                            {%end%}
                            {%else%}
                            {% if pagination.has_prev %}
                            <li class="paginate_button page-item previous " id="dataTable_previous">
                            <a href="/project?tag=provider_manage&page={{ pagination.page - 1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                            <li class="paginate_button page-item ">
                                <a href="/project?tag=provider_manage&page={{ page }}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                            {% end %} {% else %}
                            <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                            {% end %} {%end %} {% if pagination.has_next %}
                            <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=provider_manage&page={{pagination.page+1}}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                            {% end %}
                            {%end%}
                        </ul>
                    </div>
                </div>


            </div>
  
        </div>
    </div>
<!-- <modal> -->
      
<div class="modal fade" id="add_addr_provider" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="provider_title"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                
                        <div class="modal-body" id="site_mod">
                            {%if kz%}
                            <div class="form-group">
                                    <div class="col-sm-10">
                                    <label for="recode">区域</label>
                                    <select id="kz_area" class="form-control">
                                            <option value="">选择区域</option>
                                            {%for item in area_type%}
                                            <option value="{{item.income_name}}">{{item.income_name}}</option>
                                            {%end%}
                                        </select>
                                        <div class="alert alert-danger" role="alert" id="save_to_kz_area" style="display:none;"></div>
                                        </div>
                                        </div>
                                        
                            <div class="form-group">
                                <div class="col-sm-10">
                                <label for="recode">刻章项目</label>
                                <input class="form-control" name="kz_project" id="kz_project" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_kz_project" style="display:none;"></div>
                                    </div>
                                    </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                <label for="recode">价格</label>
                                <input class="form-control" name="kz_price" id="kz_price" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_kz_price" style="display:none;"></div>
                                    </div>
                                    </div>
                            {%else%}
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">供应商</label>
                                    <input class="form-control" name="provider" id="provider" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_provider" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-sm-10">
                                    <label for="recode">区域</label>
                                    <select id="area" class="form-control">
                                            <option value="">选择区域</option>
                                            {%for item in area_type%}
                                            <option value="{{item.income_name}}">{{item.income_name}}</option>
                                            {%end%}
                                        </select>
                                    <div class="alert alert-danger" role="alert" id="save_to_area" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">类型</label>
                                    <input class="form-control" name="type" id="type" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_type" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">地址性质</label>
                                    <input class="form-control" name="addr_nature" id="addr_nature" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_addr_nature" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">成本价格</label>
                                    <input class="form-control" name="cost_price" id="cost_price" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_cost_price" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">注册价格</label>
                                    <input class="form-control" name="register_price" id="register_price" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_register_price" style="display:none;"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">同区变更价格</label>
                                    <input class="form-control" name="same_area_change_price" id="same_area_change_price" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_same_area_change_price" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">跨区变更价格</label>
                                    <input class="form-control" name="dif_area_change_price" id="dif_area_change_price" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_dif_area_change_price" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">详细地址</label>
                                    <input class="form-control" name="address" id="address" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_address" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="dingjin">经营范围限制</label>
                                    <input class="form-control" name="business_scope_limit" id="business_scope_limit" type="text">
                                    <div class="alert alert-danger" role="alert" id="save_to_business_scope_limit" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="col-sm-10">
                                    <label for="recode">发票限制</label>
                                    <input class="form-control" name="fp_limit" id="fp_limit" type="text">
                                        <div class="alert alert-danger" role="alert" id="save_to_fp_limit" style="display:none;"></div>
                                        </div>
                                        </div>
                            <div class="form-group">
                            <div class="col-sm-10">
                                <label for="recode">受理材料</label>
                                <input class="form-control" name="accept_material" id="accept_material" type="text">
                                <div class="alert alert-danger" role="alert" id="save_to_accept_material" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="money" class=" control-label">解锁:</label>
                                    <input  name="lock" id="lock" type="radio" value="1">能
                                    <input name="lock" id="lock" type="radio" value="2">不能
                                    <div class="alert alert-danger" role="alert" id="save_to_lock" style="display:none;"></div>
                                </div>
                            </div>
                           
                                <div class="form-group">
                                    <div class="col-sm-10">
                                            <label for="dingjin" class=" control-label" >续费:</label>
                                            <input name="renew" id="renew" type="radio" value="1" >是
                                    <input  name="renew" id="renew" type="radio" value="2">否
                                            <div class="alert alert-danger" role="alert" id="save_to_renew" style="display:none;"></div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                    <div class="col-sm-10">
                                            <label for="dingjin">担保事项</label>
                                            <textarea class="form-control" name="danbao_matter" id="danbao_matter" type="text"></textarea>
                                </div>
                            </div>
                      
                        {%end%}
                
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                         <button class="btn btn-primary" target="_blank" id="{%if kz%}btn_save_kz{%else%}btn_save_addr{%end%}">保 存</button>
                              </div>
                      </div>
                    </div>
            </div>
</div>
<div class="modal fade" id="price_history_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="income_title_type">历史报价
    
          </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    
    
            <div class="modal-body" id="site_mod">
                <div class="form-group">
                <div class="col-sm-10 price_box">
                    
                </div>
                </div>
          
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                  </div>
          </div>
        </div>
</div>
</div>      
{%end%}

{%block js%}

<script>
 $(function () {
    _xsrf =  getCookie("_xsrf")
    $("#proivde_end").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
    language: 'zh-CN',initialDate: new Date()});
    $('#btn_add_addr').on('click',function () { 
        $('#provider').val('')
        $('#area').val('') 
        $('#type').val('')
        $('#addr_nature').val('')
        $('#cost_price').val('')
        $('#register_price').val('')
        $('#same_area_change_price').val('')
        $('#dif_area_change_price').val('')
        $('#address').val('')
        $('#business_scope_limit').val('')
        $('#accept_material').val('')
        $('input[name=lock]').prop('checked',false)
        $('input[name=renew]').prop('checked',false)
        $('#danbao_matter').val('')
        $('#fp_limit').val('')
        $('#btn_save_addr').removeAttr('addr_id')
        $('#save_to_provider').hide()
        $('#save_to_area').hide()
        $('#save_to_lock').hide()
        $('#provider_title').text('新建地址供应商')
        $('#add_addr_provider').modal('show')
     })
     $('#btn_add_kz').on('click',function () {
          $('#kz_project').val('')
          $('#kz_price').val('')
          $('#save_to_kz_project').hide()
          $('#save_to_kz_price').hide()
          $('#save_to_kz_area').hide()
          $('#provider_title').text('新建刻章供应商')
        $('#add_addr_provider').modal('show')
     })
    $('#btn_save_kz').on('click',function () { 
        var kz_id=$(this).attr('kz_id')
        var kz_project=$('#kz_project').val()
        var kz_price=$('#kz_price').val()
        var kz_area=$('#kz_area').val()
        if(kz_area==''){
            $('#save_to_kz_area').html('请选择区域')
            $('#save_to_kz_area').show()
        }
        else if(kz_project==''){
            $('#save_to_kz_project').html('刻章项目不能为空')
            $('#save_to_kz_project').show()
        }
        else if(kz_price==''){
            $('#save_to_kz_price').html('价格不能为空')
            $('#save_to_kz_price').show()
        }
        else if(kz_price!='' & isNaN(kz_price)){
            $('#save_to_kz_price').html('需填写数字')
            $('#save_to_kz_price').show()
        }
        else{
        $.post(
            '/project?tag=provider_manage',
            {
                '_xsrf':_xsrf,
                'kz_project':kz_project,
                'kz_price':kz_price,
                'kz':1,
                'kz_id':kz_id,
                'kz_area':kz_area
            },function (result) { 
                location.reload()
             }
        )
        }
     })
     
    $('#btn_save_addr').on('click',function () {
       
         var provider=$('#provider').val()
         var area=$('#area').val()  
         var type=$('#type').val()
         var addr_nature=$('#addr_nature').val()
         var cost_price=$('#cost_price').val()
         var register_price=$('#register_price').val()
        var same_area_change_price=$('#same_area_change_price').val()
        var dif_area_change_price=$('#dif_area_change_price').val()
        var address=$('#address').val()
        var business_scope_limit=$('#business_scope_limit').val()
        var accept_material=$('#accept_material').val()
        var lock=$('input[name=lock]:checked').val()
        var renew=$('input[name=renew]:checked').val()
         var danbao_matter=$('#danbao_matter').val()
         var addr_id=$(this).attr('addr_id')
         var fp_limit=$('#fp_limit').val()
        if(provider==''){
            $('#save_to_provider').html('供应商不能为空')
            $('#save_to_provider').show()
         }
        else if(area==''){
            $('#save_to_area').html('区域不能为空')
            $('#save_to_area').show()
        }
        else if(lock==undefined){
            $('#save_to_lock').html('请选择')
            $('#save_to_lock').show()
        }
        else if(renew==undefined){
            $('#save_to_renew').html('请选择')
            $('#save_to_renew').show()
        }
         
         else{
         $.post(
             '/project?tag=provider_manage',
             {
                '_xsrf':_xsrf,
                'type':type,
                'addr_nature':addr_nature,
                'fp_limit':fp_limit,
                'provider':provider,
                'danbao_matter':danbao_matter,
                'cost_price':cost_price,
                'register_price':register_price,
                'same_area_change_price':same_area_change_price,
                'dif_area_change_price':dif_area_change_price,
                'address':address,
                'business_scope_limit':business_scope_limit,
                'accept_material':accept_material,
                'lock':lock,
                'renew':renew,
                'addr_id':addr_id,
                'area':area
             },function (result) { 
                 location.reload()
              }
             )
            }
      })
      $('.change_addr').on('click',function () { 
          var addr_id=$(this).attr('id')
          var provider=$(this).attr('provider')
          var area=$(this).attr('area')
          var type=$(this).attr('type')
          var addr_nature=$(this).attr('addr_nature')
          var cost_price=$(this).attr('cost_price')
          var register_price=$(this).attr('register_price')
          var same_area_change_price=$(this).attr('same_area_change_price')
          var dif_area_change_price=$(this).attr('dif_area_change_price')
          var address=$(this).attr('address')
          var business_scope_limit=$(this).attr('business_scope_limit')
          var accept_material=$(this).attr('accept_material')
          var is_lock=$(this).attr('is_lock')
          var is_renew=$(this).attr('is_renew')

          var fp_limit=$(this).attr('fp_limit')
          var danbao_matter=$(this).attr('danbao_matter')

          $('#addr_id').val(addr_id)
          $('#provider').val(provider)
          $('#area').val(area)
          $('#type').val(type)
          $('#addr_nature').val(addr_nature)

          $('#cost_price').val(cost_price)
          $('#btn_save_addr').attr('addr_id',addr_id)
          $('#fp_limit').val(fp_limit)
          $('#danbao_matter').val(danbao_matter)
          $('#register_price').val(register_price)

               $('#same_area_change_price').val(same_area_change_price)
               $('#dif_area_change_price').val(dif_area_change_price)
               $('#address').val(address)
               $('#business_scope_limit').val(business_scope_limit)
               $('#accept_material').val(accept_material)
               $('input[name=lock][value='+is_lock+']').prop('checked',true)
               $('input[name=renew][value='+is_renew+']').prop('checked',true)

          $('#provider_title').text('新建刻章供应商')
          $('#add_addr_provider').modal('show')
       })
    $('.change_kz').on('click',function () { 
        var kz_id=$(this).attr('id')
        var kz_project=$(this).attr('kz_project')
        var kz_price=$(this).attr('price')
        var kz_area=$(this).attr('area')
        $('#kz_project').val(kz_project)
        $('#kz_price').val(kz_price)
        $('#kz_area').val(kz_area)
        $('#btn_save_kz').attr('kz_id',kz_id)
        $('#provider_title').text('修改刻章供应商')
        $('#add_addr_provider').modal('show')
     })

    $('.addr_detail_history').on('click',function () { 
        var price_history=$(this).attr('addr_history')
        price_history=price_history.split(',')
        var text=''
        for(var i=0;i<price_history.length;++i){
            text+='<p>'+price_history[i]+'</p>'
        }
        $('.price_box').html(text)
        $('#price_history_modal').modal('show')
     })
     $('.kz_detail_history').on('click',function () { 
        var price_history=$(this).attr('kz_history')
        price_history=price_history.split(',')
        var text=''
        for(var i=0;i<price_history.length;++i){
            text+='<p>'+price_history[i]+'</p>'
        }
        $('.price_box').html(text)
        $('#price_history_modal').modal('show')
     })
})
</script>
{%end%}
