
 {% extends "../base.html" %} {%block title%}我的业务(关联){%end%} {% block body %}
<style>
    .faye-table {
        font-size: 12px;
    }

    .faye-table thead tr th {
        text-align: center;
    }

    .faye-table tbody tr td {
        text-align: center;
        padding: 0.3rem;
        height: 40px;
        box-sizing: border-box;
    }

.faye-ti {
padding: 0.5rem;
}
.faye-a a {
padding: 5px;
}
.faye-tdti {
text-align: center;
}
.faye-selsect td {
margin-right: 15px;
}
.faye-selsect td input {
font-size: 12px;
padding: 5px;
}
.faye-selsect td select {
font-size: 12px;
padding: 5px;
}
.faye-btn {padding: 0.1rem 0.2rem; background-color: #9ec6ef; margin-left: 20px; border-radius: 2px;}
select.form-control:not([size]):not([multiple]) {height: calc(2rem + 0px);}
</style>

 <ol class="breadcrumb">
   <li class="breadcrumb-item">
     主面板
   </li>
   <li class="breadcrumb-item active">我的业务(关联)</li>
 </ol><div class="table-responsive">     
 <form class="search_box">
        <table style="font-size:90%;">

        <tbody>
                <tr class="faye-selsect">
             <td>
       
       <select name="income_bussniss" class="form-control">
         <option  value="0">请选择业务类型</option>
           {%for idx,item in enumerate(t_project_bussniss)%}
           
               <option value="{{item.id}}"   {%if params["income_bussniss"]==str(item.id)%}selected{%end%}>{{item.income_name}}</option> 
           {%end%}
       </select></td>
       
             <td>
       <select name="cq" class="form-control" >
         <option  value="0">工商专员</option>
           {%for idx,item in enumerate(t_user_cq)%}
               <option value="{{item.id}}" {%if params["cq"]==str(item.id)%}selected{%end%}>{{item.name}}</option> 
           {%end%}
       </select>
             </td>
             <td>
                    <select name="xiaoshou" class="form-control">
                      <option  value="0">请选择销售顾问</option>
                        {%for idx,item in enumerate(t_users)%}
                        {%if item.team_id==1%}
                            <option value="{{item.id}}" 
                             {%if params["xiaoshou"]==str(item.id)%}selected{%end%}>{{item.name}}</option> 
                     {%end%}
                        {%end%}
                    </select>
                           </td>
              <td>
       <select name="kefu" class="form-control">
         <option  value="0">请选择在线客服</option>
           {%for idx,item in enumerate(t_users)%}
           {%if item.team_id==4%}
               <option value="{{item.id}}"  {%if params["kefu"]==str(item.id)%}selected{%end%}>{{item.name}}</option> 
        {%end%}
           {%end%}
       </select>
              </td>
              <td>
       <select name="from_id" class="form-control">
         <option  value="0">请选择来源渠道</option>
           {%for idx,item in enumerate(t_income_type)%}
               <option value="{{item.id}}"  {%if params["from_id"]==str(item.id)%}selected{%end%}>{{item.income_name}}</option> 
           {%end%}
       </select>
              </td>
          
             <td>
               <select name="building_id" class="form-control" >
                 <option value="0">请选择楼盘</option>
                   {%for idx,item in enumerate(t_building)%}
                       <option value="{{item.id}}"  {%if params["building_id"]==str(item.id)%}selected{%end%}>{{item.income_name}}</option> 
                   {%end%}
               </select>
             </td>
                 <td>
       <input type="text" name="start" id="start" placeholder="开始时间" value="{%if params["start"]%}{{params["start"]}}{%end%}" />
       
     
       <input type="hidden" name="tag" value="{{tag}}"/>

       
              </td>
              <td>
<input type="text" name="end" id="end" placeholder="结束时间" value="{%if params["end"]%}{{params["end"]}}{%end%}" />

              </td>
<td>
    <input type="text" name="key" id="key" placeholder="编号/业务/公司/电话/客户" value="{%if params["key"]%}{{params["key"]}}{%end%}" />

</td>
<td>
    <input type="submit" value="检索" class="btn btn-info" />

</td>
           </tr>
        </tbody>
        </table>
       
       
       
       
       
       
       
       
       
       
       </form>

   
<table class="table faye-table table-bordered" id="dataTable" cellspacing="0" style="font-size:12px;width:100%; margin-top:10px;">
            <thead style="background-color:#000;color:#fff ; ">
                   <tr>
                       <th width="50">编号</th> 
                       <th>业务名称</th> 
                       <th  width="200">公司名称</th>  
                        <th  width="60">客户</th>  
                       <th  width="100">联系方式</th> 
                        <th width="75">客服顾问</th>
                        <th width="75">销售顾问</th>
                        <th width="75">工商专员</th>
                        <th width="75">在线客服</th>
                         <th width="80">合同金额</th>
                        <th width="80">创建人</th>
                   <th width="80">创建时间</th>
                   </tr>
               </thead>
               <tbody>
                    {%if t_projects%}
                        {%for item in t_projects%}
                        <tr id="{{item.id}}">
       <td>
                                {{item.id}}

                            </td>  
                              <td title="{{item.project_name}}">
                              <a href="/project?tag=show&guid={{item.guid}}&id={{item.id}}"  title="{{item.project_name}}" >
                             {%if len(item.project_name) > 40%} {{item.project_name[:40]}}... {%else%} {{item.project_name}} {%end%}</a>

                            </td>  
                            <td title="{{item.customer_company}}">

                                {{item.customer_company}}
                            </td>  
                                    <td>
                                    {{item.customer_name}}
                                
                            </td>   
                          <td>
                                {{item.customer_tel}}
                            </td> 

                             <td>
                             {% for t in item.team_list.split(",")%}
                                {%if t.split('|')[1]=='36'%}
                                    <font color='blue'>{{t.split('|')[0]}}</font>
                                    {%end%}
                            {%end%}
                            </td> 
                            <td>
                                {% for t in item.team_list.split(",")%}
                                {%if t.split('|')[1]=='34'%}
                                    {{t.split('|')[0]}}
                                    {%end%}
                                {%end%}
                            </td>
                            <td>
                                    {% for t in item.team_list.split(",")%}
                                {%if t.split('|')[1]=='38'%}
                                    {{t.split('|')[0]}}
                                    {%end%}
                            {%end%}
                            </td>
                            <td>
                                    {% for t in item.team_list.split(",")%}
                                {%if t.split('|')[1]=='39'%}
                                    {{t.split('|')[0]}}
                                    {%end%}
                            {%end%}
                            </td>
                             <td>
                                    {{item.all_income}}
                            </td>
                          <td>
                            {{item.uid_name}}
                            </td>
                                <td>
                            {{item.created_at.strftime("%Y-%m-%d")}}
                            </td>
                        </tr>
                        {%end%}

    {%else%}
<tr>
 <td colspan="20">
    您还没有数据哦       </td>

 </tr>
                        {%end%}
                    </tbody>
           </table>
           <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
    
                        {% if pagination.has_prev %}
                        <li class="paginate_button page-item previous " id="dataTable_previous">
                        <a href="/project?tag=relation_projects&page={{ pagination.page - 1}}{%if params["xiaoshou"]%}&kefu={{params["xiaoshou"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">&laquo; 上页</a></li> {% end %} {%for page in pagination.iter_pages() %} {% if page %} {% if page != pagination.page %}
                        <li class="paginate_button page-item ">
                            <a href="/project?tag=relation_projects&page={{ page }}{%if params["xiaoshou"]%}&kefu={{params["xiaoshou"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                        {% else %}
                        <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">{{ page }}</a></li>
                        {% end %} {% else %}
                        <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">....</a></li>
                        {% end %} {%end %} {% if pagination.has_next %}
                        <li class="paginate_button page-item next" id="dataTable_next"><a href="/project?tag=relation_projects&page={{pagination.page+1}}{%if params["xiaoshou"]%}&kefu={{params["xiaoshou"]}}{%end%}{%if params["kefu"]%}&kefu={{params["kefu"]}}{%end%}{%if params["from_id"]%}&from_id={{params["from_id"]}}{%end%}{%if params["building_id"]%}&building_id={{params["building_id"]}}{%end%}{%if params["end"]%}&end={{params["end"]}}{%end%}{%if params["start"]%}&start={{params["start"]}}{%end%}{%if params["income_bussniss"]%}&income_bussniss={{params["income_bussniss"]}}{%end%}" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">下页 &raquo;</a></li>
                        {% end %}
                    </ul>
                </div>
            </div>
         </div>

<div class="modal fade" id="project_category_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

<div class="modal-dialog" role="document" >
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLongTitle_license">选择分组 </h5>
<button type="button" class="clcreated_atose" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-footer" style="margin-right: 20px;">
<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
         <button class="btn btn-primary btn_save_project_cagetory1">保 存</button>
</div>
</div>
</div>
</div>
 {% end %} {%block js%}
<script>
  function getCookie(name) {
       var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
       return r ? r[1] : undefined;
   }
   $(function () { 
     
    $("#start").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 00:00:00',
language: 'zh-CN',initialDate: new Date()});
    $("#end").datetimepicker({ minView: 2, pickTime: false,todayBtn: true,autoclose: true,format: 'yyyy-mm-dd 23:59:59',
language: 'zh-CN',initialDate: new Date()});

    })
</script>
{%end%}